<%
#スケジュールを研修ごとにグループ分け
@trainings = @items.group_by{|item| item.training_id}
@trainings.each do |training_title, schedules|
  schedules.each do |item|
%>
<tr class="<%= cycle '', 'cycle' %>">
<%
schedule_check = Gwsub::Sb01TrainingSchedule.schedule_link_check(item.schedule_id)
skd_link = "/gwsub/sb01/sb01_training_schedule_members/new?t_id=#{item.training_id}&p_id=#{item.id.to_s}&t_menu=entries"
if schedule_check == true
  entry_link = %Q(<a href="#{skd_link}">申込む</a>)
else
  entry_link = "申込む"
end
%>
  <td><a href="/gwsub/sb01/sb01_training_schedules/<%=item.id%>?t_id=<%=item.training_id%>&t_menu=entries">詳細</a></td>
  <td><%=entry_link%></td>
  <td><%=h item.training.title %></td>
  <td><%=h ass{item.from_start.strftime('%Y-%m-%d')} %></td>
  <td><%=h ass{item.from_start.strftime('%H:%M')} %></td>
  <td><%=h ass{item.from_end.strftime('%H:%M')} %></td>
  <td><%=h item.members_max %></td>
  <td><%=h item.members_current %></td>
  <td><%=h item.training.group_name %></td>
  <td><%=h ass{item.updated_at.strftime('%Y-%m-%d')}%></td>
</tr>
<%
  end
end
%>
