<%#*<p>Find me in app/views/gwsub/admin/sb01/sb01_training_schedule_members/new.html.erb</p>%>
<%
  state = Gwsub::Sb01TrainingSchedule.state_show(@item.state)
-%>

<table class="show leftSide">
<tr>
<th>状況</th>
<td><%= state%></td>
</tr>
<tr>
<th>研修名</th>
<td><%=h @item.title%></td>
</tr>
<tr>
<th>研修案内</th>
<td>
  <table style="width:100%">
    <tr><td><a href="#" onclick="chageDisp(this,'annai_text');return false;">案内を確認する▼</a></td></tr>
    <tr><td id="annai_text" style="display: none; border-color: #ffffff;"><%=raw(@item.body)%></td></tr>
  </table>
</td>
</tr>

<tr>
<th>企画所属</th>
<td><%=h @item.group_name %></td>
</tr>
<tr>
<th>企画者</th>
<td><%=h @item.member_name %></td>
</tr>
<tr>
<th>連絡先電話番号</th>
<td><%=h @item.member_tel %></td>
</tr>
<tr>
<th>最終更新日</th>
<td><%=h @item.updated_at.strftime('%Y-%m-%d') unless @item.updated_at.blank? %></td>
</tr>
</table>

<script type="text/javascript">
//<![CDATA[
  function chageDisp(obj,changeObjId) {
    var display = document.getElementById(changeObjId).style.display;
    if (display == '') {
      obj.innerHTML = '案内を確認する▼';
    } else if (display == 'none') {
      obj.innerHTML = '閉じる▲';
    }
    Element.toggle($(changeObjId));
  }
//]]>
</script>

