<%#*<p>Find me in app/views/gwsub/admin/sb01/sb01_training_entries/index.html.erb</p>%>
<div class="gwsub sb01">
<div class="pieceHeader">
<h2>研修申込・受付</h2>
</div>
<div class="pieceBanner">
<%= render :partial => 'gwsub/admin/sb01/sb01_level1_menu' %>
<%= render :partial => 'gwsub/admin/sb01/sb01_training_entries/level2_menu_header' %>
</div>
<div class="pieceBody">
<%=raw(div_notice)%>
<% if @items.blank? %>
  <div class="notice">表示する項目はありません。</div>
<%else%>
  <table class="index">
    <tbody>
      <tr>
        <th>詳細</th>
        <th>研修名</th>
        <th>企画所属 </th>
        <th>最終更新日</th>
      </tr>
  <% for item in @items %>
  <tr class="<%= cycle '', 'cycle' %>">
    <td><%= link_to '詳細', @public_uri + '/' + item.training_id.to_s %></td>
    <td>
<%
  doc_link = %Q(#{h item.training.title})
%>
    <%= doc_link %></td>
    <td><%=h item.training.group_name %></td>
    <td><%=h item.training.updated_at.strftime('%Y-%m-%d') unless item.training.updated_at.blank? unless item.training.blank?%></td>
  </tr>

  <% end %>
  </tbody></table>
  <%= paginate @items%>
<% end %>
<br/>
</div>
</div>