<%
#comm_params = "?h1_menu=#{@render_menu1}&h2_menu=#{@render_menu2}&h3_menu=#{@render_menu3}&ctrl=#{@ctrl}&l1_c=#{@l1_current}"
#comm_params << "&u_role=#{@u_role}"
#comm_params << "&ctrl=#{@ctrl}"
#comm_params << "&l1_c=#{@l1_current}"
#comm_params << "&l2_c=#{@l2_current}"     unless @l2_current.blank?
#comm_params << "&l3_c=#{@l3_current}"     unless @l3_current.blank?
#comm_params << "&ctrl_name=#{@ctrl_name}" unless @ctrl_name.blank?
#case params[:ctrl_name]
#when "sb06_assigned_conferences"
  #@c_cat_id   = params[:c_cat_id]
  #@kind_id    = params[:kind_id]
  #@help       = params[:help]
#else
#end
-%>
<%
limits = Gw.limit_select
fyears = Gw::YearFiscalJp.select_dd_markjp_id('all',10)
-%>
<%= form_tag('', :method => :get, :class => 'search', :name=>'frmSearch') do %>
<%= hidden_field_tag 'u_role',@u_role -%>
<%= hidden_field_tag 'ctrl',@ctrl -%>
<%= hidden_field_tag 'h1_menu',@render_menu1 -%>
<%= hidden_field_tag 'h2_menu',@render_menu2 -%>
<%= hidden_field_tag 'h3_menu',@render_menu3 -%>
<%= hidden_field_tag 'l1_c',@l1_current -%>
<%= hidden_field_tag 'l2_c',@l2_current unless @l2_current.blank? -%>
<%= hidden_field_tag 'l3_c',@l3_current unless @l3_current.blank? -%>
<%= hidden_field_tag 'ctrl_name',@ctrl_name unless @ctrl_name.blank? -%>
<% if @ctrl_name=='sb06_assigned_conferences' -%>
  <%= hidden_field_tag 'c_cat_id',@c_cat_id -%>
  <%= hidden_field_tag 'kind_id',@kind_id -%>
  <%= hidden_field_tag 'help',@help -%>
<% end -%>
<table>
<tr>
<td>表示行数</td>
<td><%= select_tag( 'limit',options_for_select( limits , @limit.to_i ) ) %></td>
<td>年度</td>
<td><%= select_tag( 'fy_id',options_for_select( fyears , @fy_id.to_i ) ) %></td>
<td>検索</td>
<td><%= text_field_tag "s_keyword", params[:s_keyword] ,:size=>40 %></td>
<td class="submitters">
<%= submit_tag '検索',     :name => :search %>
<%#= submit_tag 'リセット', :name => :reset  %>
</td>
</tr>
</table>
<!-- end form -->
<%end%>
<% unless (params[:reset] || !params[:search] ) %>
<div class="hit">検索結果<span class="count"><%= "#{@items.total_entries}" %></span>件</div>
<% end %>
