<%= f.hidden_field :class_id %>
<%= f.hidden_field :uid %>
<%= f.hidden_field :name %>
<%= f.hidden_field :type_name %>

<%= f.error_messages %>

<table class="show">
<tr>
  <th>掲示板ID<%= required %></th>
  <td><%= f.collection_select :options, @bbs_items, :id, :title, {:include_blank => true} if @bbs_items%></td>
</tr>
</table>

<div class="preserve">
<%= f.submit '保存する' %>
</div>
<br />
