<!--FAQ -->
<div class="piece gwfaq">
<div class="pieceHeader">
<h2>質問管理</h2>
<%if @is_faq_admin || @is_qa_admin %>
<div class="btsHeadeRight">
<span class="btManager"><%=link_to "管理者", "/gwfaq/controls"%></span>
</div>
<%end%>
</div>
<div class="pieceBody">
<%=render :partial => 'header'%>
<table class="index">
<tr class="items">
<td class="gwffaqTitle">FAQ形式</td>
<td class="explanation">説明</td>
<td class="manager">管理</td>
<td class="update">更新日時</td>
</tr>
<% for item in @faq_items %>
<tr class="<%= cycle 'article', 'article cycle' %>">
<td class="gwfaqTitle"><%=link_to h(item.title), gwfaq_docs_path({:title_id=>item.id}) %></td>
<td class="explanation"><%=raw(item.caption) %></td>
<td class="manager"><%=gwbd_admin_name(item.admingrps_json,item.adms_json, item.dsp_admin_name)%></td>
<td class="update"><%=item.docslast_updated_at.strftime('%y-%m-%d %H:%M').to_s unless item.docslast_updated_at.blank? %></td>
</tr>
<% end %>
</table>
<%=paginate @faq_items %>


<!-- QA -->

<%=render :partial => 'header'%>
<table class="index">
<tr class="items">
<td class="gwqaTitle">Q&amp;A形式</td>
<td class="explanation">説明</td>
<td class="manager">管理</td>
<td class="update" style="width: 80px;">更新日時</td>
</tr>
<% for item in @qa_items %>
<tr class="<%= cycle 'article', 'article cycle' %>">
<td class="gwqaTitle"><%=link_to h(item.title), gwqa_docs_path({:title_id=>item.id})  %></td>
<td class="explanation"><%=raw(item.caption) %></td>
<td class="manager"><%=gwbd_admin_name(item.admingrps_json,item.adms_json, item.dsp_admin_name)%></td>
<td class="update"><%=item.docslast_updated_at.strftime('%y-%m-%d %H:%M').to_s unless item.docslast_updated_at.blank? %></td>
</tr>
<% end %>
</table>
<%=paginate @qa_items %>
</div>
</div>

