<div class="menu">
<%= link_to system_users_path do %>
  <span class="<%= "current_menu" if controller_name == 'users' -%>">ユーザー管理</span>
<% end %>
<% if @role_admin %>
  <%= link_to system_groups_path(0) do %>
    <span class="<%= "current_menu" if controller_name.in?(['groups', 'users_groups']) -%>">グループ管理</span>
  <% end %>
  <%= link_to csvget_system_users_groups_csvdatas_path do %>
    <span class="<%= "current_menu" if controller_name == 'users_groups_csvdatas' -%>">CSV管理</span>
  <% end %>
<% end %>
</div>
