<%= form_tag '', :method => :get, :class => 'search' do %>
<table>
  <tr>
    <td colspan="2">
      表示行数<%= select_tag :limit, options_for_select(Gw.limit_select, params[:limit].to_i) %>
      LDAP<%= select_tag :ldap, options_for_select([['全て', 'all']] + System::User.ldap_options, params[:ldap]) %>
      状態<%= select_tag :state, options_for_select([['全て', 'all']] + System::User.state_options, params[:state]) %>
    </td>
  </tr>
  <tr>
    <th>検索条件 コード・名前・名前(英)・メールアドレス</th>
    <td><%= text_field_tag :s_keyword, params[:s_keyword], :size => 50 %></td>
    <td class="submitters">
      <%= submit_tag '検索', :name => :search %>
      <%= submit_tag 'リセット', :name => :reset %>
    </td>
  </tr>
</table>
<% end %>
