<div class="piece AdminSetting AdminUsersGroups">
<% csv_header = System::UsersGroupsCsvdata.csv_header %>
<%= render :partial => 'header' %>
  <div class="pieceBody">
    <%= render :partial => '/system/admin/users/header_menu' %>
    <%= render :partial => '/system/admin/users/csv_menu' %>
    <%= div_notice %>

    <table class="show">
      <tbody>
        <tr>
          <th><%= csv_header[:state] -%></th>
          <td><%= System::UsersGroup.state_show(@item.state) %></td>
        </tr>
        <tr>
          <th><%= csv_header[:data_type] -%></th>
          <td><%= System::UsersGroupsCsvdata.data_type_show(@item.data_type) %></td>
        </tr>
        <tr>
          <th><%= csv_header[:level] -%></th>
          <td><%= System::Group.level_show(@item.level_no) %></td>
        </tr>
        <tr>
          <th><%= csv_header[:parent_code] -%></th>
          <td><%= @item.parent_code %></td>
        </tr>
        <tr>
          <th><%= csv_header[:code] -%></th>
          <td><%= @item.code %></td>
        </tr>
        <tr>
          <th><%= csv_header[:ldap] -%></th>
          <td><%=System::UsersGroup.ldap_show(@item.ldap) %></td>
        </tr>
        <tr>
          <th><%= csv_header[:job_order] -%></th>
          <td><%= System::UsersGroup.job_order_show(@item.job_order) %></td>
        </tr>
        <tr>
          <th><%= csv_header[:name] -%></th>
          <td><%= @item.name %></td>
        </tr>
        <tr>
          <th><%= csv_header[:name_en] -%></th>
          <td><%= @item.name_en %></td>
        </tr>
        <tr>
          <th><%= csv_header[:kana] -%></th>
          <td><%= @item.kana %></td>
        </tr>
        <tr>
          <th><%= csv_header[:mobile_access] -%></th>
          <td><%= System::User.mobile_access_show(@item.mobile_access) %></td>
        </tr>
        <tr>
          <th><%= csv_header[:email] -%></th>
          <td><%= @item.email %></td>
        </tr>
        <tr>
          <th><%= csv_header[:official_position] -%></th>
          <td><%= @item.official_position %></td>
        </tr>
        <tr>
          <th><%= csv_header[:assigned_job] -%></th>
          <td><%= @item.assigned_job %></td>
        </tr>
        <tr>
          <th><%= csv_header[:start_at] -%></th>
          <td><%= Gw.date_str(@item.start_at) %></td>
        </tr>
        <tr>
          <th><%= csv_header[:end_at] -%></th>
          <td><%= Gw.date_str(@item.end_at) %></td>
        </tr>
      </tbody>
    </table>

    <div class="btReturn">
      <%=link_to '戻る', csv_system_users_path %>
    </div>
  </div>
</div>