<div class="piece AdminSetting AdminUsers">
<%= render :partial => 'header' %>
  <div class="pieceBody">
    <%= render :partial => '/system/admin/users/header_menu' %>
    <%= render :partial => '/system/admin/users/csv_menu' %>
    <%= div_notice %>
    <h3>CSV登録</h3>
    <div class="user_explanation user_attention">
      CSVデータを登録します。<br />
      この時点では、実際にデータは登録されません。CSV登録反映を実行すると反映されます。<br />
      なお、この操作を実行すると、現在のCSV仮データは全て削除されますので、ご注意ください。<br />
    </div>
    <%= form_tag csvup_system_users_path, {:method => :post, :multipart => true} do %>
    <%= hidden_field_tag('item[csv]','up') %>
    <table class="show">
      <tr>
        <th></th>
        <td>登録対象CSVファイルと文字コードを選択して実行してください</td>
      </tr>
      <tr>
        <th>文字コード</th>
        <td>
          <%= radio_button_tag('item[nkf]', 'utf8', false) %><label for="item_nkf_utf8">UTF8</label>
          <%= radio_button_tag('item[nkf]', 'sjis', true) %><label for="item_nkf_sjis" >SJIS</label>
        </td>
      </tr>
      <tr>
        <th>ファイル</th>
        <td><%= file_field_tag('item[file]' , :size=>80 , :accept=>'text/csv') %></td>
      </tr>
    </table>
    <div class="submitters">
      <%= submit_tag 'CSV登録' %>
    </div>
    <% end %>
  </div>
</div>