<div class="piece AdminSetting AdminMessage">
  <%= render :partial => 'header' %>

  <div class="pieceBody">
    <%= render :partial => '/system/admin/users/header_menu' %>
    <%= form_for :item, :url => "#{system_user_path(@item.id)}", :html => {:method => :put, :multipart => true} do |f| %>
      <%= f.error_messages %>
      <%= render :partial => 'form', :locals => {:f => f} %>
      <%= submit_for(f, {:caption => '保存'}) %>
    <% end %>

  </div>
</div>
