<div class="piece AdminSetting AdminMessage">
<%= render 'header' %>

<div class="pieceBody">
<%= render 'header_menu' %>

<%= form_for @item, as: :item, url: {action: :update}, html: {method: :put, multipart: true} do |f| %>
  <%= f.error_messages %>
  <%= render 'form', f: f %>
  <%= submit_for f, caption: '保存' %>
<% end %>

</div>
</div>
