<div class="piece AdminSetting AdminUsers">
<%= render :partial => 'header' %>
  <div class="pieceBody">
    <%= render :partial => '/system/admin/users/header_menu' %>
    <%= div_notice %>
    <div class="editingBox">
      <span class="btNew"><%= link_to '新規作成', new_system_user_path %></span>
    </div>
    <%= render :partial => 'navi' %>

    <%= form_tag '', :method => :get, :class => 'search' do %>
    <table>
      <tr>
        <td colspan=2>
        	表示行数<%= select_tag( 'limit' ,options_for_select(Gw.limit_select, @limit.to_i) ) %>
        	LDAP<%= filter_select_tag :ldap, 'system_users_ldaps', params, :default => :all %>
        	状態<%= filter_select_tag :state, 'system_states', params, :default => :enabled %>
        </td>
      </tr>
      <tr>
        <th>検索条件 コード・名前・名前(英)・メールアドレス</th>
        <td><%= text_field_tag('s_keyword', params[:s_keyword] , :size => 50 ) %></td>
        <td class="submitters">
          <%= submit_tag '検索',     :name => :search %>
          <%= submit_tag 'リセット', :name => :reset %>
        </td>
      </tr>
    </table>
    <% end %>
    <table class="index">
      <colgroup class="action"></colgroup>
      <colgroup class="code"></colgroup>
      <colgroup class="ldap"></colgroup>
      <colgroup class="state"></colgroup>
      <colgroup class="name"></colgroup>
      <colgroup class="name_en"></colgroup>
      <colgroup class="email"></colgroup>
      <colgroup class="official_position"></colgroup>
      <colgroup class="_groups"></colgroup>
      <tbody>
        <tr>
          <th></th>
          <th>ID</th>
          <th>LDAP</th>
          <th>状態</th>
          <th>名前</th>
          <th>名前(英)</th>
          <th>メールアドレス</th>
          <th>役職</th>
          <th>グループ</th>
        </tr>
        <% for item in @items %>
        <tr class="<%= cycle '', 'cycle' %>">
          <td>
            <a href="/system/users/<%= item.id -%>">詳細</a>
          </td>
          <td><%= item.code -%></td>
          <td><%= System::UsersGroup.ldap_show(item.ldap) -%></td>
          <td><%= System::UsersGroup.state_show(item.state) -%></td>
          <td><%= item.name -%></td>
          <td><%= item.name_en -%></td>
          <td><%= item.email -%></td>
          <td><%= item.official_position -%></td>
          <td><%= item.show_group_name -%></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <br />
    <%= paginate @items %>
  </div>
</div>