<div class="piece AdminSetting AdminUsers">
<%= render 'header' %>

<div class="pieceBody">
<%= render 'header_menu' %>

<div class="editingBox">
  <span class="btNew"><%= link_to '新規作成', {action: :new} %></span>
</div>
<%= render 'navi' %>
<%= render 'list_table' %>

</div>
</div>
