<%
options =  {
  'table_name'=>'gwsub_sb06_budget_assigns' ,
  :action=>'index_main' ,
  'link_to_show'    => 1
}
-%>
<div class="gwsub sb06">
<div class="pieceHeader">
<h2>予算担当登録</h2>
</div>
<div class="pieceBanner">
<%= render 'gwsub/admin/sb06/sb06_subfunction_select_menu' %>
<%= render 'gwsub/admin/sb06/sb0605menu/sb06_budget_admin_submenu' %>
<%= render 'gwsub/admin/sb06/sb06_budget_assign_mains/submenu' %>
</div>
<div class="pieceBody">
<%= render 'gwsub/admin/sb06/sb06_budget_assign_mains/search' %>
<%= table_to_index2(@items,options).html_safe %>
<%= paginate @items %>
</div>
</div>
