<div class="bbsDocList workflow">
<%= render :partial => 'piece_header' %>

<div class="pieceBody">
<br />
<%= div_notice %>
<%= form_for :item, :url => "/gwworkflow/custom_routes/sort", :html => {:method => :put} do |f| %>
<%= f.error_messages %>

  <table class="index">
  <colgroup style="width:100px;"></colgroup>
  <colgroup class="name"></colgroup>
  <colgroup style="width:200px;"></colgroup>
  <colgroup style="width:100px;"></colgroup>
  <colgroup style="width:80px;"></colgroup>
  <colgroup style="width:80px;"></colgroup>
<tr>
  <th>並び順<input id="item_submit" name="commit" type="submit" value="設定"/></th>
  <th>名称</th>
  <th>最終更新日時</th>
  <th>状態</th>
  <th></th>
  <th></th>
</tr>

<% for item in @items %>
<tr>
  <td><%= f.text_field "sort_no_#{item.id}", :value => item.sort_no, :class => 'string sort_no', :style => 'width: 40px;', :size => 5 , :maxlength => 4 %></td>
  <td><%= item.name %></td>
  <td><%= item.updated_at.strftime("%Y/%m/%d %H:%M") if !item.updated_at.blank? %></td>
  <td><%= item.state == 'enabled' ? '有効' : '無効' %></td>
  <td><%= link_to '編集', "/gwworkflow/custom_routes/edit/#{item.id}" %></td>
  <td><%= link_to '削除', "/gwworkflow/custom_routes/destroy/#{item.id}" %></td>
</tr>
<% end %>
</table>

<% end %>

<!--戻るボタン-->
<div class="btReturn">
  <%=link_to '設定へ戻る', "/gwworkflow/settings" %>
</div>

</div><!--pieceBody-->
</div><!--bbsDocList circular-->
