<div class="bbsDocList workflow">
<%= render :partial => 'piece_header', :locals => {:hide_new_action => true} %>

<div class="pieceBody">

<%# render :partial => 'header' %>
<%= form_for :item, :url => "/gwworkflow/custom_routes", :action => :custom_routes_update, :html => {:method => :put, :multipart => true, :id => 'itemForm'} do |f| %>

<%= f.error_messages %>
<div class="formTitle new">編集</div>
<%= render :partial => 'form', :locals => {:f => f} %>

<%= hidden_field_tag("id", @item.id, :id=>"item_id") %>
<div class="submitters">
<%= raw(submit_for_update(f, :js_submitter => "my_submit()", :caption => '変更する')) %>
</div>

<% end %>

</div><!--pieceBody-->
</div><!--bbsDocList workflow-->
