<div class="bbsDocList workflow">
<%= render :partial => 'piece_header', :locals => {:hide_new_action => true} %>

<div class="pieceBody">

<%# render :partial => 'header' %>
<%= form_for :item, :url => "/gwworkflow/custom_routes", :action => :custom_routes_create, :html => {:method => :post, :multipart => true, :id => 'itemForm'} do |f| %>

<%= f.error_messages %>
<div class="formTitle new">新規作成</div>
<%= render :partial => 'form', :locals => {:f => f} %>

<div class="submitters">
<%= raw(submit_for_update(f, :js_submitter => "my_submit()", :caption => '登録する')) %>
</div>

<% end %>

</div><!--pieceBody-->
</div><!--bbsDocList workflow-->
