<div class="bbsDocList workflow">
<%= render :partial => 'piece_header', :locals => {:hide_new_action => true} %>

<div class="pieceBody">
<br />
<%= form_for :item, :url => "/gwworkflow/update_notifying", :html => {:method => :put} do |f| %>
  <table class="show index">
    <tr>
      <th>メール通知</th>
      <td><%= select_tag('notify', options_for_select({'する'=>1, 'しない'=>2}, @notifying)) %></td>
    </tr>
  </table>
<div class="submitters"><%= submit_tag('保存') %></div>
<%end%>  


<!--戻るボタン-->
<div class="btReturn">
  <%=link_to '設定へ戻る', "/gwworkflow/settings" %>
</div>

</div><!--pieceBody-->
</div><!--bbsDocList workflow-->




  