<%= required_head %>
<table class="show">
  <tr>
    <th><%= @item.locale :name %><%= required('※') %></th>
    <td><%= f.text_field :name, size: 30, class: 'IMEoff' %></td>
  </tr>
  <tr>
    <th><%= @item.locale :product_type %><%= required('※') %></th>
    <td><%= f.text_field :product_type, size: 30, class: 'IMEoff' %></td>
  </tr>
  <tr>
    <th><%= @item.locale :sort_no %><%= required('※') %></th>
    <td><%= f.text_field :sort_no, size: 5, class: 'IMEoff' %></td>
  </tr>
  <tr>
    <th><%= @item.locale :product_synchro %><%= required('※') %></th>
    <td><%= f.radio_buttons :product_synchro, @item.product_synchros %></td>
  </tr>
  <tr>
    <th><%= @item.locale :sso %><%= required('※') %></th>
    <td><%= f.radio_buttons :sso, @item.ssos %></td>
  </tr>
  <tr>
    <th><%= @item.locale :sso_url %></th>
    <td><%= f.text_area :sso_url, cols: 80, rows: 2 %></td>
  </tr>
  <tr>
    <th><%= @item.locale :sso_url_mobile %></th>
    <td><%= f.text_area :sso_url_mobile, cols: 80, rows: 2 %></td>
  </tr>
</table>
