<div class="piece AdminSetting">
<%= render 'header_str' %>
<div class="pieceBody">
<%= render 'header' %>

<table class="index">
  <tr>
    <th class="action"></th>
    <th><%= System::Product.locale :name %></th>
    <th><%= System::Product.locale :product_type %></th>
    <th><%= System::Product.locale :product_synchro %></th>
    <th><%= System::Product.locale :sso %></th>
    <th><%= System::Product.locale :sort_no %></th>
  </tr>
  <% @items.each do |item| %>
  <tr class="<%= cycle('', 'cycle') %>">
    <td><%= link_to '詳細', action: :show, id: item.id %></td>
    <td><%= item.name %></td>
    <td><%= item.product_type %></td>
    <td><%= item.product_synchro_label %></td>
    <td><%= item.sso_label %></td>
    <td><%= item.sort_no %></td>
  </tr>
  <% end %>
</table>

<%= paginate @items %>

</div>
</div>
