<%= required_head %>
<table class="show">
<tr>
<th>状態</th>
<td><%= f.radio_buttons :state, @item.state_list, :class => 'state' %></td>
</tr>
<tr>
<th>所属管理者用画面</th>
<td><%= f.select :create_section, @item.use_section_admin , :class => 'select default_limit'%></td>
</tr>
</table>
<table class="show">
<tr>
<th>QAタイトル<%= required('※') %></th>
<td><%= f.text_field :title, :class => 'string title' %></td>
</tr>
<tr>
<th>一覧表示行数</th>
<td><%= f.select :default_limit, @item.default_limit_line , :class => 'select default_limit'%></td>
</tr>
</table>
<table class="show">
<tr>
<th>分類使用区分</th>
<td><%= f.radio_buttons :category, @item.use_states_list, :class => 'radio category' %></td>
</tr>
<tr>
<th>分類呼称設定</th>
<td><%= f.text_field :category1_name, :class => 'string category1_name' %></td>
</tr>
<tr>
<th>記事更新時連絡機能</th>
<td><%= f.radio_buttons :notification, @item.use_states_list, :class => 'radio notification' %></td>
</tr>
</table>
<table class="show">
<tr>
 <th>画像 総容量制限<%= required('※') %></th>
<td>
<%= f.text_field :upload_graphic_file_size_capacity, :size=>3 %>
<%= f.select :upload_graphic_file_size_capacity_unit, @item.size_unit_name %>
<%= @image_message%>
</td>
</tr>
<tr>
 <th>添付 総容量制限<%= required('※') %></th>
<td>
<%= f.text_field :upload_document_file_size_capacity, :size=>3 %>
<%= f.select :upload_document_file_size_capacity_unit, @item.size_unit_name %>
<%= @document_message%>
</td>
</tr>
<tr>
<th>画像サイズ制限<%= required('※') %></th>
<td><%= f.text_field :upload_graphic_file_size_max, :size=>3 %> MB</td>
</tr>
<tr>
<th>添付サイズ制限<%= required('※') %></th>
<td><%= f.text_field :upload_document_file_size_max, :size=>3 %> MB</td>
</tr>
</table>
<table class="show">
<tr>
<th>並び順指定</th>
<td><%= f.text_field :sort_no, :size=>6 %></td>
</tr>
<tr>
<th>タイトル一覧表示</th>
<td><%= f.select :view_hide, @item.list_view_name %></td>
</tr>
<tr>
<th>利用説明<br />(HTML形式可)</th>
<td><%= f.text_area :caption , :cols => 84, :rows => 2 , :class => 'string caption'%></td>
</tr>
</table>

<table class="show">
<tr>
<th>件数表示形式</th>
<td><%= f.select :left_index_pattern, @item.left_index_pattern_name %></td>
</tr>
<tr>
<th>分類件数表示</th>
<td><%= f.select :categoey_view, @item.list_view_name %></td>
</tr>
<tr>
<th>所属件数表示</th>
<td><%= f.select :group_view, @item.list_view_name %></td>
</tr>
<tr>
<th>月別件数表示</th>
<td><%= f.select :monthly_view, @item.list_view_name %></td>
</tr>
<tr>
<th>月別件数行数<br />(0で全件表示)</th>
<td><%= f.text_field :monthly_view_line, :size=>3 %></td>
</tr>
</table>

<%= render :partial => '/gwboard/admin/adms/form_s' %>
<%= render(:partial => 'notes', :locals => {:f => f}) %>
