<%= f.error_messages %>
<%= f.hidden_field :state -%>
<table class="show">
  <tr>
    <th>監視対象</th>
    <td><%= f.radio_buttons :conditions, Gw::MeetingMonitorSetting.conditions_select %></td>
  </tr>
  <tr>
    <th>平日通知</th>
    <td><%= f.radio_buttons :weekday_notice, Gw::MeetingMonitorSetting.weekday_select %></td>
  </tr>
  <tr>
    <th>休日通知</th>
    <td><%= f.radio_buttons :holiday_notice, Gw::MeetingMonitorSetting.holiday_select %></td>
  </tr>
  <tr>
    <th>種別</th>
    <td><%= f.select :monitor_type, options_for_select(Gw::MeetingMonitorSetting.system_select, @item.monitor_type) %></td>
  </tr>
  <tr>
    <th>名称／設置場所<%= required %></th>
  <td><%= f.text_field :name, :size => 100 %></td>
  </tr>
  <tr>
    <th>IPアドレス<%= required %></th>
    <td><%= f.text_field :ip_address, :size => 50, :class => 'IMEoff' %></td>
  </tr>
  <tr>
    <th>通知元メールアドレス</th>
    <td><%= f.text_field :mail_from, :size => 50, :class => 'IMEoff' %></td>
  </tr>
  <tr>
    <th>件名</th>
    <td><%= f.text_field :mail_title, :size => 50 %></td>
  </tr>
  <tr>
    <th>本文<br />(30分以上アクセスがない場合に通知するメールの本文)</th>
    <td><%= f.text_area :mail_body, :cols => 100, :rows => 4 %></td>
  </tr>
  <tr>
    <th>未開始通知本文<br />(8:30になっても監視が開始されていない場合に通知するメールの本文)</th>
    <td><%= f.text_area :notice_body, :cols => 100, :rows => 4 %></td>
  </tr>
</table>

<div class="preserve">
  <%= submit_for f, caption: '保存' %>
</div>
