<div class="piece mobile setting">
<%= render 'header_str' %>

<div class="pieceBody">
<div class="btReturn">
  <%= link_to '個人設定へ戻る', "/gw/config_settings/ind_settings?#{@qs}" %>
</div>

<%= form_for :user, url: {action: :password_updates}, html: {method: :put, multipart: true} do |f| %>
  <%= f.error_messages %>
  <%= render "password_form", f: f %>
  <%= submit_for f, caption: '保存' %>
<% end %>

</div>
</div>
