<div class="piece mobile setting">
<%= render :partial => 'header_str' %>

<div class="pieceBody">

<%= div_notice %>
<div class="btReturn">
  <%=link_to '個人設定へ戻る', "/gw/config_settings/ind_settings?#{@qs}" %>
</div>
<%= form_for :user, :url => url_for(:action => :password_updates) ,:action => :update, :html => {:method => :put, :multipart => true} do |f| %>
  <%= f.error_messages %>
  <%= render :partial => "password_form", :locals => {:f => f} %>
  <%= submit_for(f, {:caption => '保存'}) %>
<% end  %>

</div>
</div>
