<% 
text_style = 'width:10em;'
text_style1 = 'width:15em;'
%>

<table class="show">
  <caption>実績情報</caption>
  <tr>
    <th>出発時メーター <%= required %></th>
    <td><%= f.text_field :start_meter, class: "IMEoff", style: text_style %> km</td>
  </tr>
  <tr>
    <th>帰着時メーター <%= required %></th>
    <td><%= f.text_field :end_meter, class: "IMEoff", style: text_style %> km</td>
  </tr>
  <tr>
    <th>出発日時 <%= required %></th>
    <td><%= f.datetimepicker :start_at, {}, {stepMinute: 1} %></td>
  </tr>
  <tr>
    <th>帰着日時 <%= required %></th>
    <td><%= f.datetimepicker :end_at, {}, {stepMinute: 1} %></td>
  </tr>
  <tr>
    <th>請求先担当者 <%= required %></th>
    <td><%= f.select :driver_user_id, options_for_select(System::User.get_user_select(@item.driver_group_id), @item.driver_user_id), {include_blank: false} %></td>
  </tr>
  <tr>
    <th>請求先所属 <%= required %></th>
    <td><%= f.select :driver_group_id, options_for_select(Gwsub.grouplist4(nil, nil , true , nil), @item.driver_group_id.to_i), {}, {onchange: 'update_user_cand();'} %></td>
  </tr>
  <tr>
    <th>利用者</th>
    <td><%= f.text_field :user_uname, style: text_style1 %></td>
  </tr>
  <tr>
    <th>利用者所属</th>
    <td><%= f.text_field :user_gname, style: text_style1 %></td>
  </tr>
  <tr>
    <th>通行料</th>
    <td><%= f.text_field :toll_fee, class: "IMEoff", style: text_style %> 円</td>
  </tr>
  <tr>
    <th>ガソリン補給量</th>
    <td><%= f.text_field :refuel_amount, class: "IMEoff", style: text_style %> リットル</td>
  </tr>
  <tr>
    <th>行き先</th>
    <td><%= f.select :to_go, options_for_select(I18n.a("enum.common.municipality_code"), @item.to_go || 1) %></td>
  </tr>
  <tr>
    <th>使用目的</th>
    <td><%= f.text_field :title, style: text_style %></td>
  </tr>
</table>


<script language = "JavaScript" type="text/javascript">
<!--
  var end_cnt = -1;
  var ed_str = '';
  function get_user() {
    g_id_str  = "item_driver_group_id"
    u_id_str  = "item_driver_user_id"
    g_id = $(g_id_str).value;
    document.body.style.cursor = 'wait';
    end_cnt = 0;
    new Ajax.Request("<%= url_for({:action=>:index})%>/user_fields?g_id=" + g_id+"&sp=y", {method:'get', onComplete: function(x){
      $(u_id_str).update(x.responseText);
      end_cnt = end_cnt + 1;
      if (end_cnt == 1) {
          document.body.style.cursor = 'default';
      }
    }})
  }

  var update_user_cand = function () {
    var fr = $('item_driver_group_id');
    var g_id = fr.options[fr.selectedIndex].value;
    url = '/gw/schedule_users/user_fields?g_id=' + g_id;
    var to = $('item_driver_user_id');
    end_cnt = 0;
    new Ajax.Request(url, {method:'get', onComplete: function(x){
      $("item_driver_user_id").update(x.responseText);
      end_cnt = end_cnt + 1;
      if (end_cnt == 1) {
        document.body.style.cursor = 'default';
      }
    }})
  }
-->
</script>
