<%
link_s = %Q(<span class="current_menu">)
link_s_end = %Q(</span>)

lnks1 = (@hedder4lnk == 1 ? "#{link_s}実績一覧#{link_s_end}" : "<span>実績一覧</span>")
lnks2 = (@hedder4lnk == 2 ? "#{link_s}号車別実績一覧#{link_s_end}" : "<span>号車別実績一覧</span>")
lnks3 = (@hedder4lnk == 3 ? "#{link_s}所属別実績一覧#{link_s_end}" : "<span>所属別実績一覧</span>")
lnks4 = (@hedder4lnk == 4 ? "#{link_s}集計#{link_s_end}" : "<span>集計</span>")
lnks5 = (@hedder4lnk == 5 ? "#{link_s}請求データ出力#{link_s_end}" : "<span>請求データ出力</span>")
lnks6 = (@hedder4lnk == 6 ? "#{link_s}月別実績一覧#{link_s_end}" : "<span>月別実績一覧</span>")

%>
<div class="menu">
<!-- <p>実績管理</p> -->
<%=link_to lnks1.html_safe, "#{@uri_base}"%>
<%=link_to lnks2.html_safe, "#{@uri_base}?order=prop"%>
<%=link_to lnks3.html_safe, "#{@uri_base}?order=group"%>
<%=link_to lnks6.html_safe, "#{@uri_base}/show_month"%>
<%=link_to lnks4.html_safe, "#{@uri_base}/summarize"%>
<%=link_to lnks5.html_safe, "#{@uri_base}/csvput"%>
</div>

<%= render 'header_show_month' if controller_name == 'prop_extra_pm_rentcars' && action_name == 'show_month' %>
