<% if @items.blank? %>
<%= show_notice %>
<% else %>
<table class="index">
  <tr>
    <th class="action"></th>
    <th>号車</th>
  </tr>
  <% @items.each do |item| %>
    <tr class="<%= cycle '', 'cycle' %>">
      <td><%=link_to "詳細","/gw/prop_extra_pm_#{@genre}s/#{item.car_id}/show_group?mode=prop"%></td>
      <td><%=safe{item.rentcar.name}%></td>
    </tr>
  <% end %>
</table>
<%= paginate @items %>
<% end %>
