<%= render 'search' %>

<% if @items.blank? %>
<%= show_notice %>
<% else %>
<table class="index">
  <tr>
    <th class="action"></th>
    <th>予約状態</th>
    <th>請求状態</th>
    <th>帰着日時</th>
    <th>出発日時</th>
    <th>号車</th>
    <th>請求先所属</th>
  </tr>
  <% @items.each do |item| %>
  <tr class="<%= cycle '', 'cycle' %>">
    <td><%=link_to_show item.id%></td>
    <td><%= item.prop_state_show %></td>
    <td><%= item.bill_state_show %></td>
    <td><%=l item.end_at if item.end_at %></td>
    <td><%=l item.start_at if item.start_at %></td>
    <td><%= item.rentcar.name if item.rentcar %></td>
    <td><span style="<%= 'color:red;' unless item.driver_group %>"><%= item.driver_group_name %></span></td>
  </tr>
  <% end %>
</table>
<%= paginate @items %>
<% end %>
