<%
@sp_mode_extra_pm = @genre
@sp_mode_extra_pm_year = :index

@hedder2lnk = 3
@hedder3lnk = 3
@hedder4lnk = 1
@hedder4lnk = 2 if params[:order] == "prop"
@hedder4lnk = 3 if params[:order] == "group"
@hedder5lnk = 1 if params[:year].blank?
@hedder5lnk = 2 if params[:year] == "last"
%>

<div class="piece prop index">
<div class="pieceHeader">
<%= render 'piece_header' -%>
</div>
<div class="pieceBody">
<div class="pieceBodyHeader">
  <%= render '/gw/admin/schedule_props/bt_box', d: Date.today -%>
  <%= render '/gw/admin/prop_extras/header' %>
</div>
<div class="pieceBodyBody">
  <%= render 'index_st_at' if @s_order == 'st_at' %>
  <%= render 'index_group' if @s_order == 'group' %>
  <%= render 'index_prop' if @s_order == 'prop' %>
</div>
<div class="pieceBodyFooter"></div>
</div>
</div>
