<%
case @s_ctl
when 'u'
  title = '依頼日順データ(users)'
when 'r'
  title = '希望日順データ(requests)'
else
  title = ''
end
%>
<br />

<h4><%= title %> ＣＳＶ登録</h4>
<div>
登録対象ＣＳＶファイルを指定して実行してください
<br /><span style="color:red">登録済データを、すべて削除し、新規登録となります。</span>
</div>
<%= form_for :item, url: "#{@index_uri}csvup", html: {method: :post, multipart: true} do |f| %>
  <table class="show">
    <tr>
      <th>文字コード</th>
      <td><%= f.radio_buttons :encoding, @item.encoding_options %></td>
    </tr>
    <tr>
      <th>対象ファイル</th>
      <td><%= f.file_fields :file, size: 80, accept: 'text/csv' %></td>
    </tr>
  </table>
  <br />
  <%= f.submit 'CSV登録' %>
<% end %>
<br />
