<%
group_options = System::Group.where(state: 'enabled', level_no: 3).order(:sort_no).map{|g| ["(#{g.code})#{g.name}", g.id]}
user_options = System::User.get_user_select(@item.manager_group_id)
%>
<%= f.error_messages %>
<%= required_head %>
<table class="show">
  <tr>
    <th>状態</th>
    <td><%= f.radio_buttons :state, Gw::MeetingMonitorManager.state_select %></td>
  </tr>
  <tr>
    <th rowspan="3"><%= required %>通知先メールアドレス</th>
    <td><%= f.select :manager_group_id, options_for_select(group_options, @item.manager_group_id), {}, {onchange: "get_user();"} %></td>
  </tr>
  <tr>
    <td><%= f.select :manager_user_id, options_for_select(user_options, @item.manager_user_id), {include_blank: true}, {onchange: "get_user_addr();"} %></td>
  </tr>
  <tr>
    <td><%= f.text_field :manager_user_addr, :size => 50, :class => 'IMEoff' %></td>
  </tr>
</table>

<div class="preserve">
  <%= submit_for f, caption: '保存' %>
</div>

<script type="text/javascript">
//<![CDATA[
  var end_cnt = -1;
  var ed_str = '';
//ユーザー
  function get_user() {
    g_id = $("item_manager_group_id").value;
    document.body.style.cursor = 'wait';
    end_cnt = 0;
    new Ajax.Request("<%= url_for({:action=>:index})%>/user_fields?g_id=" + g_id, {method:'get', onComplete: function(x){
      $('item_manager_user_id').update(x.responseText);
      end_cnt = end_cnt + 1;
      if (end_cnt == 1) {
        document.body.style.cursor = 'default';
      }
    }})
  }

  //メールアドレス
  function get_user_addr() {
    g_id = $("item_manager_user_id").value;
    document.body.style.cursor = 'wait';
    end_cnt = 0;
    new Ajax.Request("<%= url_for({:action=>:index})%>/user_addr_fields?g_id=" + g_id, {method:'get', onComplete: function(x){
      var text = x.responseText
      if (text == '') {
        $('item_manager_user_addr').value = '';
      }
      else {
        $('item_manager_user_addr').value = text;
      }
      end_cnt = end_cnt + 1;
      if (end_cnt == 1) {
        document.body.style.cursor = 'default';
      }
    }})
  }
  //]]>
</script>
