<div class="piece AdminSetting">
<%= render 'header_str' %>
<div class="pieceBody">

<%= render 'menu' %>
<div class="editingBox">
  <span class="btEdit">
  <%= link_to '編集', {action: :edit} %>
  </span>
  <span class="btDestroy">
  <%= link_to '削除', {action: :destroy}, method: :delete, confirm: "削除してよろしいですか？" %>
  </span>
</div>
<table class="show">
  <tr>
    <th>状態</th>
    <td><span style="<%= 'color:red;' if @item.state != 'enabled' %>"><%= @item.state_label %></span></td>
  </tr>
  <tr>
    <th>通知先メールアドレス</th>
    <td><%= @item.manager_user_addr %></td>
  </tr>
  <tr>
    <th>作成日</th>
    <td><%=l @item.created_at if @item.created_at %></td>
  </tr>
  <tr>
    <th>更新日</th>
    <td><%=l @item.updated_at if @item.updated_at %></td>
  </tr>
</table>

<div class="btReturn">
  <%= link_to '一覧', {action: :index} -%>
</div>

</div>
</div>
