<table class="index">
  <tr>
    <th class="draft">状態</th>
    <th class="category">分類</th>
    <th class="division">区分</th>
    <th class="date">通知日</th>
    <th class="docName">文書名</th>
  </tr>
  <% @items.each do |item| %>
  <tr>
    <td class="draft"><%= item.ststus_name %></td>
    <td class="category"><%= link_to item.category.try(:name), "#{item.show_path}#{gwbbs_params_set}" %></td>
    <td class="division"><%= link_to item.inpfld_002, "#{item.show_path}#{gwbbs_params_set}" %></td>
    <td class="date"><%= link_to item.inpfld_006, "#{item.show_path}#{gwbbs_params_set}" %></td>
    <td class="docName"><%= link_to item.title, "#{item.show_path}#{gwbbs_params_set}" %></td>
  </tr>
  <% end %>
</table>
