<table class="index">
  <tr class="headIndex">
    <th class="date">通知日</th>
    <th class="division">区分</th>
    <th class="docName">文書名</th>
  </tr>
  <% brk_code = '' %>
  <% @items.each do |item| %>
    <% unless brk_code == item.inpfld_002.to_s %>
      <% brk_code = item.inpfld_002.to_s %>
      <tr>
        <th style="text-align: left;"><%= item.inpfld_002 %></th>
        <th style="text-align: left;"></th>
        <th style="text-align: left;"></th>
      </tr>
    <% end %>
    <tr class="<%= cycle 'article', 'article cycle' %><%=title_read_flag(@title, item)%>">
      <td class="date"><%= link_to item.inpfld_006, "#{item.show_path}#{gwbbs_params_set}" %></td>
      <td class="division"><%= link_to gwbd_category_name(@d_categories,item.category1_id), "#{item.show_path}#{gwbbs_params_set}" %></td>
      <td class="docName"><%= link_to item.title, "#{item.show_path}#{gwbbs_params_set}" %></td>
    </tr>
  <% end %>
</table>
