<table class="show">
  <tr><th>通知日</th></tr>
  <tr><td><%= Gwboard.fyear_to_namejp_ymd(@item.inpfld_006d) %></td></tr>
  <tr><th>文書番号</th></tr>
  <tr><td><%= @item.inpfld_001 %></td></tr>
  <tr><th>区分</th></tr>
  <tr><td><%= @item.inpfld_002 %></td></tr>
  <tr><th>文書名</th></tr>
  <tr><td><%= @item.title %></td></tr>
  <tr><th>摘要</th></tr>
  <tr><td><%= @item.inpfld_003 %></td></tr>
  <tr><th>備考</th></tr>
  <tr><td><%= @item.inpfld_004 %></td></tr>
  <tr><th>本文</th></tr>
  <tr><td><%= convert_for_mobile_body(@item.body, params[:_jgw_session]) %></td></tr>
  <tr><th>参考</th></tr>
  <tr><td><%= @item.inpfld_005 %></td></tr>
</table>
