<%
#cats    = Gwsub::Sb06AssignedConfCategory.sb06_assign_conf_cat_id_select(nil)
select_state  = Gwsub::Sb06AssignedConfCategory.select_list_status
%>
<%= hidden_field_tag 'limit', @limit %>
<%= f.error_messages %>
<%= required_head %>
<table class="show">
<tr><th>表示順<%= required %></th>
<td><%= f.text_field :cat_sort_no , :class=>'num' %></td>
</tr>
<tr><th>分類コード<%= required %></th>
<td><%= f.text_field :cat_code , :class=>'num' %></td>
</tr>
<tr><th>分類名<%= required %></th>
<td><%= f.text_field :cat_name , :class=>'name' %></td>
</tr>
<tr><th>選択肢表示</th>
<td><%= radio f , :select_list ,select_state , :class=>'state' %></td>
</tr>
</table>
<div class="preserve">
<%= f.submit '保存' %>
</div>
<%#= render 'gwsub/admin/sb04/sb04_common_info_form', f: f %>
