<div class="gwsub sb06">
<div class="pieceHeader">
<!-- <h2>担当者名等管理</h2> -->
<%= render 'gwsub/admin/sb06/sb0602_piece_header' %>
</div>
<div class="pieceBanner">
<%= render 'gwsub/admin/sb06/sb0602_subfunction_select_menu' %>
<%#= render 'gwsub/admin/sb06/sb0602_submenu' %>
<%= render 'gwsub/admin/sb06/sb06_level3menu_header' %>
</div>
<div class="pieceBody">
<%= render 'gwsub/admin/sb06/sb06_assigned_conf_categories/display_name' %>
<%#= render 'gwsub/admin/sb06/sb06_common_showMenu' %>
<div class="showMenu">
<%= link_to_edit @item.id %>
</div>
<%= table_to_show2(@item, { 'table_name' => 'gwsub_sb06_assigned_conf_categories' }).html_safe %>
<%#= render 'gwsub/admin/sb04/sb04_common_info_show' %>
</div>
</div>
