<div class="bbsDocList circular">
<div class="pieceHeader"><h2 class="pieceTitle"><%=@system_title%></h2></div>

<%= render :partial => 'header' %>

<%= render :partial => 'title_info' %>

<%unless @item.base.state == 'closed'%>
<div style="text-align: center;"><%= required('※まだページを閉じないでください。　詳細表示下部の「この回答を登録する」ボタンを押すと完了です。') %></div>
<%end%>
<%=render(:partial => 'show')%>

<%unless @item.base.state == 'closed'%>
<br />

<div align="center">
 <table><tr>
 <td><input type="button" value="内容を修正する" onClick="location = '<%=@item.edit_path%>'"></input></td>
 <td>　　</td>
 <td><input type="button" value="この回答を登録する" onClick="if (confirm('この内容で回答します。よろしいですか？')){location = '<%=@item.seal_path%>';return true;}else{return false;};"></input></td>
 </tr></table>
</div>
<%end%>

</div>