<%#*<h1>Gw::Public::PrefDirectors#index</h1>%>
<%#*<p>Find me in app/views/gw/admin/pref_directors/index.html.erb</p>%>
<%
  title_str = "所属幹部在庁表示"
  # スケジュラーメニューのパラメーター
  d=Time.now
  @st_date=Time.now.strftime('%Y%m%%d')
  mode='directors'
  view_mode="normal"
  view_state = Gw::UserProperty.find(:first,
  :conditions=>["name = ? and type_name = ?","pref_directors","admin"])
  if view_state.blank?
    view_mode="normal"
    view_str = ""
  else
    view_mode="admin"
    view_str = view_state.options
  end

%>
<div class="piece schedulePiece">
<div class="pieceHeader"><h2 class="pieceTitle">スケジュール</h2>
<div class="btsHeaderLeft">
<span class="btNew"><a href="/gw/schedules/new">新規作成</a></span>
</div>
</div>
<div class="pieceBody">

<div class="pieceBodyHeader">
<%= render :partial => "gw/admin/schedules/schedule_bt_box"  ,:locals=>{:d=>d , :mode=>mode} %>
<div class="scheduleTableTitle"><%= title_str %><span class="presentTime"><%= render :partial => "gw/admin/pref_directors/display_time"   %></span></div>
<%if view_mode == "normal"%>
<div class="pageLink">
<% @item_links.each do |l| %>
<a href="#<%= l.parent_g_code %>"><%= l.parent_g_name %></a>
<% end %>
</div>
<%end%>
</div><!--pieceBodyHeader-->

<div class="pieceBodyBody">
<%if view_mode == "normal"%>
<%=render(:partial => 'index' ,:locals=>{:d=>d , :mode=>mode} )%>
<%else%>
<%if @u_role==true%>
<%=render(:partial => 'index_prepare' ,:locals=>{:d=>d , :mode=>mode, :view_str => "現在工事中表示になっています。"} )%>
<%=render(:partial => 'index' ,:locals=>{:d=>d , :mode=>mode} )%>
<%else%>
<%=render(:partial => 'index_prepare' ,:locals=>{:d=>d , :mode=>mode, :view_str => view_str} )%>
<%end%>
<%end%>
</div><!--pieceBodyBody-->
</div><!--pieceBody-->
</div><!--schedulePiece-->
