<div class="piece prop index">
<div class="pieceHeader">
<%= render '/gw/admin/prop_genre_common/piece_header' -%>
</div>
<div class="pieceBody">
<div class="pieceBodyHeader">
  <%= render '/gw/admin/schedule_props/bt_box', d: Date.today -%>
  <%= render '/gw/admin/prop_genre_common/menu', title: @model.model_name.human -%>
  <%= render '/gw/admin/prop_genre_common/title_line' -%>
</div>
<div class="pieceBodyBody">

<%= form_for @item, :as => :item, :url => {action: :update}, :html => {method: :put, multipart: true, id: 'itemForm'} do |f| %>
  <%= f.error_messages %>
  <%= render 'gw/admin/prop_genre_common/form_rentcar', f: f if @genre == "rentcar" %>
  <%= render 'gw/admin/prop_genre_common/form_meetingroom', f: f if @genre == "meetingroom" %>
  <%= submit_for_create f %>
<% end %>

</div>
<div class="pieceBodyFooter"></div>
</div>
</div>
