<% 
text_style = 'width:30em;'
%>

<%= Gw.required_head %>
<table class="show">
  <tr>
    <th>予約</th>
    <td><%= f.radio_buttons :reserved_state, @item.reserved_state_select %></td>
  </tr>
  <tr>
    <th>表示順</th>
    <td><%= f.text_field :sort_no, :style => text_style %></td>
  </tr>
  <tr>
    <th>車名 <%= required %></th>
    <td><%= f.text_field :car_model, :style => text_style %></td>
  </tr>
  <tr>
    <th>号車 <%= required %></th>
    <td><%= f.text_field :name, :style => text_style %></td>
  </tr>
  <tr>
    <th>車種 <%= required %></th>
    <td><%= f.select :type_id, I18n.a("enum.gw/prop_rentcar.type_id"), :selected => @item.type_id %></td>
  </tr>
  <tr>
    <th>登録番号 <%= required %></th>
    <td><%= f.text_field :register_no, :style => text_style %></td>
  </tr>
  <tr>
    <th>排気量 <%= required %></th>
    <td><%= f.text_field :exhaust, :style => text_style %></td>
  </tr>
  <tr>
    <th>年式 <%= required %></th>
    <td><%= f.text_field :year_type, :style => text_style %></td>
  </tr>
  <%= f.fields_for :meter, @item.meter || @item.build_meter(travelled_km: 0) do |f2| %>
  <tr>
    <th>走行距離</th>
    <td><%= f2.text_field :travelled_km, :style => text_style %></td>
  </tr>
  <% end %>
  <tr>
    <th>備考</th>
    <td><%= f.text_field :comment, :style => text_style %></td>
  </tr>
  <% if @is_gw_admin %>
  <tr>
    <th>削除</th>
    <td><%= f.radio_buttons :delete_state, I18n.a("enum.gw/prop_rentcar.delete_state") %></td>
  </tr>
  <% end %>
</table>

<%= f.hidden_field :delete_state unless @is_gw_admin %>
<%= f.hidden_field :extra_flag %>
<%= f.hidden_field :gid %>
