<div class="piece prop index">
<div class="pieceHeader">
<%= render '/gw/admin/prop_genre_common/piece_header' -%>
</div>
<div class="pieceBody">
<div class="pieceBodyHeader">
  <%= render '/gw/admin/schedule_props/bt_box', d: Date.today -%>
  <%= render '/gw/admin/prop_genre_common/menu', title: @model.model_name.human -%>
  <%= render '/gw/admin/prop_genre_common/title_line' -%>
</div>
<div class="pieceBodyBody">
  <%= render 'index_meetingroom' if @genre == "meetingroom" %>
  <%= render 'index_rentcar' if @genre == "rentcar" %>
</div>
<div class="pieceBodyFooter"></div>
</div>
</div>
