<% if @items.blank? %>
  <%= show_notice %>
<% else %>
  <table class="index">
    <tr>
      <th class="action"></th>
      <th>予約</th>
      <th>表示順</th>
      <th>区分</th>
      <th>会議室等名称</th>
      <th>場所</th>
      <th>内線番号</th>
      <th>収容可能人数</th>
      <th>机の数</th>
      <th>椅子の数</th>
      <th>管理所属</th>
      <% if @is_admin %>
      <th>削除</th>
      <% end %>
    </tr>
    <% @items.each do |item| %>
    <tr class="<%= cycle '', 'cycle' %>">
      <td><%= link_to "詳細", {:action => :show, :id => item.id} %></td>
      <td><%= item.reserved_state_show %></td>
      <td><%= item.sort_no %></td>
      <td><%= item.type_id_show %></td>
      <td><%= item.name %></td>
      <td><%= item.position %></td>
      <td><%= item.tel %></td>
      <td><%= item.max_person %></td>
      <td><%= item.max_tables %></td>
      <td><%= item.max_chairs %></td>
      <td><%= item.gname %></td>
      <% if @is_admin %>
      <td><%= item.delete_state_show %></td>
      <% end %>
    </tr>
    <% end %>
  </table>
  <%= paginate @items %>
<% end %>
