<div class="menu">
  <a href="/gw/prop_<%= @genre %>s?cls=<%= params[:cls] %>"><span class="<%= controller_path == "gw/admin/prop_#{@genre}s" ? "current_menu" : "" %>"><%= title %>マスタ</span></a>
  <% if @genre == 'rentcar' %>
  <a href="/gw/prop_extra_group_rentcars/"><span>レンタカー所属別実績一覧</span></a>
  <% end %>
  <% if @is_pm_admin %>
  <a href="/gw/prop_extras?s_genre=<%= @genre %>&cls=<%= params[:cls]%>"><span><%= title %>管理</span></a>
  <a href="/gw/schedule_props/show_guard?s_genre=<%= @genre %>&cls=<%= params[:cls] %>">
    <span class="<%= 'current_menu' if action_name == "show_guard" %>">
      <%= @genre == 'rentcar' ? "#{title}車庫用画面" : "#{title}衛視用画面" %>
    </span>
  </a>
  <% end %>
  <% prop_remarks(@genre).each do |r| %><%= link_to "<span>#{r.title}</span>".html_safe, r.url, target: "_blank" %><% end %>
</div>
