<%
@is_admin = Gw::ScheduleProp.is_admin? @genre, @item.extra_flag

images_t = ''
images_s = ''
if @genre == 'rentcar'
  @item.images.each do |img|
    images_s += image_tag(img.path, alt: img.note)
  end
else
  @item.images.each_with_index do |img, i|
    if i == 0
      images_t += image_tag(img.path, alt: img.note)
    else
      images_s += image_tag(img.path, alt: img.note)
    end
  end
end
%>

<div class="piece prop show">
<div class="pieceHeader">
<%= render '/gw/admin/prop_genre_common/piece_header' -%>
</div>
<div class="pieceBody">
<div class="pieceBodyHeader">
  <%= render '/gw/admin/schedule_props/bt_box', d: Date.today -%>
  <%= render '/gw/admin/prop_genre_common/menu', title: @model.model_name.human -%>
  <%= render '/gw/admin/prop_genre_common/title_line' -%>
</div>
<div class="pieceBodyBody">

<% if @is_admin %>
<div class="editingBox">
  <span class="btEdit">
    <%= link_to '編集', {action: :edit} %>
  </span>
  <span class="btDestroy">
    <%= link_to '削除', {action: :destroy}, method: :delete, confirm: '削除してよろしいですか？' %>
  </span>
  <span class="btAttach">
    <%= link_to '添付', {action: :upload} %>
  </span>
</div>
<% end %>

<div class="imgBox"><%= images_s.html_safe %></div>
<div class="tableBox">
  <%= render "gw/admin/prop_genre_common/show_meetingroom" if @genre == "meetingroom" %>
  <%= render "gw/admin/prop_genre_common/show_rentcar" if @genre == "rentcar" %>
</div>
<div class="imgBox2"><%= images_t.html_safe %></div>

<div class="btReturn">
  <%= link_to "一覧へ戻る", {action: :index} %>
</div>

</div>
</div>
