<div class="piece prop show">
<div class="pieceHeader">
<%= render '/gw/admin/prop_genre_common/piece_header' -%>
</div>
<div class="pieceBody">
<div class="pieceBodyHeader">
  <%= render '/gw/admin/schedule_props/bt_box', d: Date.today -%>
  <%= render '/gw/admin/prop_genre_common/menu', title: @model.model_name.human -%>
  <%= render '/gw/admin/prop_genre_common/title_line' -%>
</div>
<div class="pieceBodyBody">

<table class="index">
  <tr><th>設備名称</th></tr>
  <tr><td><%= @item.name %></td></tr>
</table>

<p>この設備に画像を添付します。</p>
<%= form_for @image_item, :as => :item, :url => {action: :image_create}, :html => {method: :post, multipart: true, id: 'itemForm'} do |f|%>
  <%= f.error_messages %>
  <label for="item_upload">ファイル指定:</label>
  <%= f.file_field :file %>
  <p>
  <label for="item_note">ファイル備考:</label>
  <%= f.text_field :note, :size => '60' %>
  </p>
  <p>
  <%= f.submit 'アップロード' %>
  </p>
<% end %>

<hr />
<table class="index">
  <tr>
    <th class="action"></th>
    <th>画像</th>
    <th>ファイル名</th>
    <th>備考</th>
    <th>ファイル種別</th>
    <th>サイズ</th>
  </tr>
  <% @item.images.reject(&:new_record?).each do |item| %>
    <tr class="<%= cycle '', 'cycle' %>">
      <td><%= link_to '削除', {action: :image_destroy, image_id: item.id, cls: params[:cls]}, method: :delete, confirm: "削除してよろしいですか。" %></td>
      <td><%= item.path %></td>
      <td><%= item.orig_filename %></td>
      <td><%= item.note %></td>
      <td><%= item.content_type %></td>
      <td>
        <% info = item.image_size_info %>
        <%= "#{number_to_human_size(info[:size])} (#{info[:width]}x#{info[:height]})" if info %>
      </td>
    </tr>
  <% end %>
</table>
<hr />

<%= render "gw/admin/prop_genre_common/show_meetingroom" if @genre == "meetingroom" %>
<%= render "gw/admin/prop_genre_common/show_rentcar" if @genre == "rentcar" %>

<div class="btReturn">
 <%= link_to "詳細へ戻る", {action: :show} %>
</div>

</div>
</div>
</div>
