<div class="bbsDocList">
<div class="pieceHeader">
  <h2>画像アップローダー</h2>
</div><!--pieceHeader-->
<!--カラム用タグ-->
<div class="pieceBanner">
  <h3><%= @sub_title %>一覧</h3>
  <%
  params[:st] = '2' if params[:st].blank?
  s_params = "?st=#{params[:st]}"
  new_f = false
  new_f = true if @share_mode.to_s < '2'   #所属は無条件新規OK
  new_f = true if Gwbbs::Control.is_sysadm? #管理者は新規OK
  %>
  <% if new_f %>
    <span class="btNew"><%= link_to '新規',"#{new_gwboard_file_path()}#{s_params}" %></span>
  <% end %>
  <div class="helpBox"></div>
</div>
<div class="pieceBody">
<%= render 'header' %>

<table class="index">
  <tr>
    <th>画像説明</th>
    <th style="width:100px; text-align: left;">利用範囲</th>
    <% if @share_mode.to_s < '2' %>
    <th style="width:200px; text-align: left;">管理所属</th>
    <% end %>
    <th style="width:120px; text-align: left;">最終更新日時</th>
  </tr>
  <% @items.each do |item| %>
    <tr class="<%= cycle '', 'cycle' %>">
      <td style="text-align: left;">
        <%= link_to image_tag(item.file_path, size: item.regulate_width, alt: item.memo), item.show_path %>
        <%= link_to "#{item.memo}（#{item.width.to_s} x #{item.height.to_s}）", item.show_path %>
      </td>
      <td style="text-align: left;"><%=item.name_rou%></td>
      <% if @share_mode.to_s < '2' %>
      <td style="text-align: left;"><%=item.section_name%></td>
      <% end %>
      <td style="text-align: left;"><%=item.latest_updated_at.strftime('%y-%m-%d %H:%M').to_s %></td>
    </tr>
  <% end %>
</table>
<%= paginate @items %>
</div>
</div><!--piece gwbbs-->
