<%
params[:st] = '2' if params[:st].blank?
s_params = "?st=#{params[:st]}"
%>
<div class="bbsDocList">
<div class="pieceHeader">
<h2>画像アップローダー</h2>
</div><!--pieceHeader-->
<!--カラム用タグ-->
<div class="pieceBanner">
<h3><%=@sub_title%>新規登録</h3>
<div class="helpBox">
</div>
</div>
<div class="pieceBody">
<%= render 'header' %>

<%= form_for :item, :url => "#{gwboard_files_path()}#{s_params}", :html => {:multipart => true} do |f| %>
<%= f.error_messages %>
<%= render 'form', f: f %>
<div class="submitters"><%= submit_tag '登録する' %></div>
<% end %>

</div>
</div><!--piece gwbbs-->
