<div class="gwsub sb04">
<%= render 'gwsub/admin/sb04/sb04_piece_header' %>
<div class="pieceBanner">
<%= render 'gwsub/admin/sb04/sb04_subfunction_select_menu' %>
<%= render 'gwsub/admin/sb04/sb04_level3menu_header' %>
</div>
<div class="pieceBody">
<br/>
<% @action = "create" -%>
<% @create_path = "/gwsub/sb04/04/sb04_editable_dates?#{@qs}" -%>
<%= form_for :item, :url => @create_path ,:action=>:create ,:method=>:post , :html => {:multipart => true} do |f| %>
  <%= render 'form', f: f %>
<% end %>
</div>
</div>
