<div class="gwsub sb06">
<div class="pieceHeader">
<h2>予算担当 ＣＳＶ出力</h2>
</div>
<%
today = Date.today
putyear =today.year
putdate = today.month.to_s+today.day.to_s
-%>
<div class="pieceBanner">
<%= render 'gwsub/admin/sb06/sb06_subfunction_select_menu' %>
<%= render 'gwsub/admin/sb06/sb0605menu/sb06_budget_admin_submenu' %>
</div>
<%#= render 'gwsub/admin/sb06/search_with_fyear' %>
<div class="pieceBody">
<div class="explain">
出力ファイル名を指定して実行してください。（出力する文字コードはSJISです。）<br />
<span style="color:blue">保存先は、ダウンロード時に指定できます。</span>
<%= error_messages_for @item %>
</div>
<%= form_for :item, url: {action: :index}, html: {method: :get, multipart: true} do |f| %>
  <%= f.hidden_field :encoding %>
  <table class="show">
    <tr>
      <th>ファイル名</th>
      <td><%= text_field_tag 'item[extras][name]', "tantou_#{putyear}_#{putdate}" %>.csv</td>
    </tr>
  </table>
  <div class="preserve">
    <%= f.submit 'CSV出力' %>
  </div>
<% end %>
</div>
</div>