<%= raw(gw_js_include_full) %>
<%= required_head %>

<table class="show">
  <tr>
    <th>タイトル<%= required('※') %></th>
    <td><%= f.text_field :title, :class => 'string title' %></td>
  </tr>
  <tr>
    <th>種別<%= required('※') %></th>
    <td>
      <% if @is_sysadm %>
        <%= radio f, :admin_setting , @item.admin_setting_name , :class => 'state' %>
      <% else %>
        <%= f.hidden_field :admin_setting %>
        <%= @item.admin_setting_status %>
      <% end %>
    </td>
  </tr>
</table>

<%= hidden_field_tag("item[state]", @item.state, :id=>"item_state") %>

<script type="text/javascript">
  //<![CDATA[
  var my_submit = function(state) {
    var st = $('item_state');
    st.value = state;
    $('itemForm').submit();
  }
  //]]>
</script>
