<div class="bbsDocList circular">

  <div class="pieceHeader">
    <h2 class="pieceTitle"><%=@system_title%></h2>
    <div class="btsHeaderLeft">
      <%= render :partial => 'header_button' %>
    </div>
  </div>
  <div class="pieceBody">
    <%= render :partial => 'header' %>
    <%= div_notice %>
    <table class="index">
      <tr>
        <th style="width: 40px; text-align: center;">状態</th>
        <th style="width: 120px; text-align: center;">種別</th>
        <th style="width: 120px; text-align: center;">作成所属</th>
        <th>タイトル</th>
        <th style="width: 40px; text-align: center;">設問</th>
        <th style="width: 100px; text-align: center;"></th>
        <th style="width: 120px;">最終更新日</th>
      </tr>
      <%for item in @items %>
        <tr class="<%= cycle '', 'cycle' %>">
          <td style="text-align: center;"><%=item.state_name%></td>
          <td><%= item.admin_setting_status%></td>
          <td style="text-align: center;"><%= item.createrdivision if item.admin_setting_status.to_i == 0%></td>
          <td style="text-align: left;"><%=link_to(item.manage_title, questionnaire_template_path(item)) %></td>
          <td style="text-align: center;">
            <%if item.admin_setting== 1 %>
              <% form_fields_value = @is_sysadm ? '登録' : '詳細' %>
              <%= link_to form_fields_value, questionnaire_template_form_fields_path(item) %>
            <%else%>
              <%= link_to '登録', questionnaire_template_form_fields_path(item)  %>
            <%end%>
          </td>
          <td style="text-align: center;"><%= link_to 'プレビュー', new_questionnaire_template_preview_path(item) %></td>
          <td style="text-align: left;"><%=item.updated_at.strftime('%Y-%m-%d %H:%M')%></td>
        </tr>
      <%end %>
    </table>
    <%= paginate @items %>
    <div class="btReturn"><%=link_to('アンケート管理へ戻る', '/questionnaire/') %></div>

  </div>



</div>
