<%
if @item.state == "public"
  state_link = "close"
  lnk_str    = "作成中に戻す　"
  opne_class = "btRevocationPublish"
else
  state_link = "open"
  lnk_str    = "公開する　"
  opne_class = "btPublish"
end

%>
<div class="bbsDocList circular">
  <div class="pieceHeader">
    <h2 class="pieceTitle"><%=@system_title%></h2>
    <div class="btsHeaderLeft">
      <%= render :partial => 'header_button' %>
    </div>
  </div>

  <div class="pieceBody">
    <%= render :partial => 'header' %>
    <%= div_notice %>
    <div class="editingBox">
      <%if @item.admin_setting== 1 %>
        <%if @is_sysadm%>
          <span class="btEdit"><%=link_to('編集', edit_questionnaire_template_path(@item)) %></span>
          <span class="btDestroy"><%=link_to '削除', questionnaire_template_path(@item), :confirm => '削除をすると元に戻せません。削除しますか', :method => :delete %></span>
          <span class="<%= opne_class -%>"><%= link_to lnk_str, "/questionnaire/templates/#{@item.id}/#{state_link}" %></span>　
          <span class="docLink"><%= link_to '設問登録 >>', questionnaire_template_form_fields_path(@item) %></span>
        <% end %>
      <%else%>
        <span class="btEdit"><%=link_to('編集', edit_questionnaire_template_path(@item)) %></span>
        <span class="btDestroy"><%=link_to '削除', questionnaire_template_path(@item), :confirm => '削除をすると元に戻せません。削除しますか', :method => :delete %></span>
        <span class="<%= opne_class -%>"><%= link_to lnk_str,"/questionnaire/templates/#{@item.id}/#{state_link}" %></span>　
        <span class="docLink"><%= link_to '設問登録 >>', questionnaire_template_form_fields_path(@item) %></span>
      <%end%>
 
    </div>

    <table class="show">
      <tr><th>状態</th>
        <td><%= @item.state_name%></td></tr>
      <tr><th>種別</th>
        <td><%= @item.admin_setting_status%></td></tr>
      <tr><th>タイトル</th>
        <td><%= h @item.manage_title%></td></tr>
      <tr><th>概要説明</th>
        <td><%= h @item.title%></td></tr>
    </table>

    <div class="btReturn"><%=link_to('テンプレート一覧へ戻る', questionnaire_templates_path) %></div>

  </div>
</div>