<div class="gwsub sb04">
<%= render :partial => 'gwsub/admin/sb04/sb04_piece_header' %>
<div class="pieceBanner">
<%= render :partial => 'gwsub/admin/sb04/sb04_subfunction_select_menu' %>
<%= render :partial => 'gwsub/admin/sb04/sb04_level3menu_header' %>
<%= render :partial => 'gwsub/admin/sb04/sb04assignedjobs/display_name' %>
<%= render :partial => 'gwsub/admin/sb04/sb04_index_csv_confirm' %>
</div>
<div class="pieceBody">
<%= render :partial => 'gwsub/admin/sb04/search_check_view' %>
<%= div_notice %>
<% if @items.size == 0 %>
  <div class="notice">表示する項目はありません。</div>
<% else %>
<table class="index">
  <tr>
    <th></th>
    <th>年度</th>
    <th>所属コード</th>
    <th>所属名</th>
    <th>担当コード</th>
    <th>担当名</th>
    <th>担当電話</th>
    <th>担当住所</th>
    <th>備考</th>
  </tr>
  <% @items.each do |item|  %>
  <tr class="<%= cycle '', 'cycle' %>">
    <td><%= link_to '詳細' , "#{@csv_base_url}/#{item.id}/show_csv?#{@qs}" %></td>
    <td><%= item.fyear_markjp %></td>
    <td><%= item.section_code %></td>
    <td><%= item.section_name %></td>
    <td><%= item.code %></td>
    <td><%= item.name %></td>
    <td><%= item.tel %></td>
    <td><%= item.address %></td>
    <td><%= item.remarks %></td>
  </tr>
  <% end %>
</table>
<% end %>
<%= paginate @items %>
</div>
</div>
