<%
groups    = Gwsub.grouplist4(nil, nil , true , nil)
%>
<%= f.error_messages %>
<%= required_head %>

<table class="show">
<tbody>
<tr><th>管理所属</th>
<td><%=@item.section_name%></td></tr>
<tr><th>登録番号</th>
<td><%=sprintf('%06d',@item.new_registedno)%></td></tr>
<tr><th>H20まで登録番号</th>
<td><%=@item.registedno%></td></tr>
<tr><th>登録日</th>
<td><%=@item.registed_at.strftime('%Y-%m-%d') unless @item.registed_at.blank? %></td></tr>
<tr><th>製品名</th>
<td><%=@item.equipmentname%></td>
</tr><tr><th>容量</th>
<td><%=@item.capacity%></td></tr>
<tr><th>単位</th>
<td><%=@item.capacityunitset.name unless @item.capacityunitset.blank?%></td></tr>
<!--<tr><th>送付状況</th>
<td><%=@item.sendstate_status[@item.sendstate.to_s]%></td></tr>-->
</tbody>
</table>

<table class="show">
<tr>
<th>保有者</th>
<td>
<% users = System::User.get_user_select(@item.section_id, nil, :ldap=>1) %>
<%= f.select :user_id , options_for_select(users , @item.user_id.to_i ) , {:include_blank=>'指定なし'} %>※選択項目を優先<br/>
<%= f.text_field :user, :class=>'name', :style => 'width:100%;' %>
</td>
</tr>

<tr>
<th>分類</th>
<td><%= f.collection_radio_buttons :categories, @item.categories_status, :first, :last %></td>
</tr><tr>
<th>使用中止年月日</th>
<td><%= f.datepicker :ending_at %>
</td>
</tr><tr>
<th>備考　※50文字以内</th>
<td><%= f.text_field :remarks ,:class=>'name', :style => 'width:100%;' %></td>
</tr>
</table>
<br />
<div class="preserve">
<%= f.submit '保存' %>
</div>
<br />
