<% groups = Gwsub.grouplist4(nil, nil , true , nil) %>
<%= f.error_messages %>
<%= required_head %>
<%= f.hidden_field :sendstate ,:value=>'none' %>

<table class="show">
  <tr>
    <th>管理所属<%= required %></th>
    <td><%= f.select :section_id, options_for_select(groups, @item.section_id.to_i), {include_blank: '所属を選択してください'}, {onchange: "get_user();"} %><%= @section_name %></td>
  </tr>
  <tr>
    <th>登録番号</th>
    <td><%= f.text_field :new_registedno, class: 'name' %>半角数字のみ</td>
  </tr>
  <tr>
    <th>H20まで登録番号</th>
    <td><%= f.text_field :registedno, class: 'name' %>半角英数字と半角ハイフンのみで20文字以内</td>
  </tr>
  <tr>
    <th>媒体区分<%= required %></th>
    <td><%= f.select :externalmediakind_id, Gwsub::Externalmediakind.where(kind: 'USB').order(sort_order: :asc, kind: :asc).all.map{|k| [k.name, k.id]} %></td>
  </tr>
  <tr>
    <th>登録年月日<%= required %></th>
    <td><%= f.datepicker :registed_at %></td>
  </tr><tr>
    <th>製品名<%= required %></th>
    <td><%= f.text_field :equipmentname, class: 'name' %>※80文字以内</td>
  </tr>
  <tr>
    <th>容量</th>
    <td>
      <%= f.text_field :capacity, class: 'num' %>
      <%= f.select :capacityunit_id, Gwsub::Capacityunitset.order(code: :asc).map{|c| [c.name, c.id]}, {include_blank: true} %>
    </td>
  </tr>
  <!--<tr>
  <th>送付状況</th>
  <td><%#= f.collection_radio_buttons :sendstate, @item.sendstate_status, :first, :last %></td>
  </tr>-->
  <tr>
    <th>保有者</th>
    <td>
      <% users = System::User.get_user_select(@item.section_id, nil, :ldap=>1) %>
      <%= f.select :user_id, options_for_select(users, @item.user_id.to_i), {include_blank: '指定なし'} %>※選択項目を優先<br/>
      <%= f.text_field :user, style: 'width:100%;' %>
    </td>
  </tr>
  <tr>
    <th>分類</th>
    <td><%= f.collection_radio_buttons :categories, @item.categories_status, :first, :last %></td>
  </tr>
  <tr>
    <th>使用中止年月日</th>
    <td><%= f.datepicker :ending_at %>
  </td>
  </tr>
  <tr>
    <th>備考　※50文字以内</th>
    <td><%= f.text_field :remarks, class: 'name', style: 'width:100%;' %></td>
  </tr>
</table>
<br />
<div class="preserve">
<%= f.submit '保存' %>
</div>
<br />

<script type="text/javascript">
<!--
  var end_cnt = -1;
  var ed_str = '';
  function get_user() {
    g_id_str  = "item_section_id"
    u_id_str  = "item_user_id"
      g_id = $(g_id_str).value;
      document.body.style.cursor = 'wait';
      end_cnt = 0;
      new Ajax.Request("<%= url_for(action: :user_fields, format: :csv) %>" + "?g_id=" + g_id+"&sp=y", {method:'get', onComplete: function(x){
        $(u_id_str).update(x.responseText);
        end_cnt = end_cnt + 1;
        if (end_cnt == 1) {
          document.body.style.cursor = 'default';
        }
      }})
  }
-->
</script>
