<%
s_scn01 = ''
s_scn01 = "?scn=#{URI.encode(params[:scn])}" unless params[:scn].blank?
_inherit_qs_s = ''
_inherit_qs_s = "&scn=#{URI.encode(params[:scn])}" unless params[:scn].blank?

t01 = %Q(<span>登録番号順</span>)
if @l3_current=='01'
  t01 = %Q(<span class="gwsub_current_menu">登録番号順</span>) if @t01_current == '01'
end
m01 = "#{url_for(action: :index)}#{s_scn01}"

t012 = %Q(<span>製品名順</span>)
if @l3_current=='01'
  t012 = %Q(<span class="gwsub_current_menu">製品名順</span>) if @t01_current == '02'
end
m012 = url_for(action: :index)+ "?sort=e#{_inherit_qs_s}"

t013 = %Q(<span>登録年月日順</span>)
if @l3_current=='01'
  t013 = %Q(<span class="gwsub_current_menu">登録年月日順</span>) if @t01_current == '03'
end
m013 =url_for(action: :index) + "?sort=c#{_inherit_qs_s}"

t02 = %Q(<span>登録</span>)
if @l3_current=='02'
  t02 = %Q(<span class="gwsub_current_menu">登録</span>)
end
m02 = url_for(action: :new) + "#{s_scn01}"

t05 = %Q(<span>管理者用</span>)
m05 = '/gwsub/sb12/externalusbs/admin_index?sort=A'

%>
<div class="menu">
<%= link_to  t01.html_safe, url_for(m01)  -%>
<%= link_to t012.html_safe, url_for(m012) -%>
<%= link_to t013.html_safe, url_for(m013) -%>
<%= link_to  t02.html_safe, url_for(m02) if !t02.blank? && @u_role==true -%>
<%= link_to  t05.html_safe, url_for(m05) if !t05.blank? && @u_role==true -%>
</div>
