<div class="piece AdminMessage">
<%= render 'header' %>

<div class="pieceBody">
<%= render 'menu' %>

<%= form_for :item, :url => {:action => :create}, :html => {:name => 'form'} do |f| %>
  <%= f.error_messages %>
  <%= render 'form', f: f %>
  <%= submit_for_create f %>
<% end %>

</div>
</div>
