<div class="piece AdminMessage">
<%= render 'header' %>

<div class="pieceBody">
<%= render 'menu' %>

<script type="text/javascript">
//<![CDATA[
window.onload = function() {
  setInterval('location.reload()',1000*30);
}
//]]>
</script>

<div class="editingBox">
  <span class="btEdit">
    <%= link_to :edit, url_for(:action => :edit) if @item.editable? %>
  </span>
  <span class="btDestroy">
    <%= link_to :destroy, url_for(:action => :destroy), :method => :delete, :confirm => '削除してよろしいですか？' %>
  </span>
</div>

<table class="show">
  <tr>
    <th>状態</th>
    <td><%= @item.state_label %></td>
  </tr><tr>
    <th>同期予定日時</th>
    <td><%= @item.start_at.strftime('%Y-%m-%d %H:%M') if @item.start_at %></td>
  </tr><tr>
    <th>同期対象プロダクト</th>
    <td><%=raw @item.products.map(&:name).join('<br />') rescue nil %></td>
  </tr>
  <% if @item.product_synchros.size > 0 %>
  <tr>
    <th>バージョン</th>
    <td><%= @item.product_synchros[0].version %></td>
  </tr>
  <% end %>
</table>

<% if @item.product_synchros.size > 0 %>
<table class="index">
  <tr>
    <th style="width: 100px; text-align: center;">プロダクト名</th>
    <th style="width: 80px; text-align: center;">状態</th>
    <th style="text-align: center;">中間結果</th>
    <th style="text-align: center;">保管結果</th>
    <th style="text-align: center;">同期結果</th>
    <th style="width: 120px; text-align: center;">更新日</th>
  </tr>
  <% @item.product_synchros.each do |item| %>
  <tr>
    <td><%= item.product.name rescue '' %></td>
    <td style="text-align: center;"><%= item.state_label %></td>
    <td><%=br item.remark_temp %></td>
    <td><%=br item.remark_back %></td>
    <td><%=br item.remark_sync %></td>
    <td style="text-align: center;"><%= item.updated_at.strftime('%Y-%m-%d %H:%M:%S') rescue '' %></td>
  </tr>
  <% end %>
</table>
<% end %>

</div>
</div>
