<%# 自治研修センター 研修案内 -%>
<table class="index">
<%brk_code = ''%>
<% @items.each do |item|
  i = 0
  flg = false
  label_str = case params[:state]
    when "GROUP"
      unless brk_code == item.section_name.to_s
        flg =true
        brk_code = item.section_name.to_s
      end
    when "CATEGORY"
      unless brk_code == item.category1_id.to_s
        flg = true
        brk_code = item.category1_id.to_s
        gwbd_category_name(@d_categories,item.category1_id)
      end
    else # when "DATE"
      unless brk_code == item.latest_updated_at.strftime('%Y-%m-%d').to_s
        flg = true
        brk_code = item.latest_updated_at.strftime('%Y-%m-%d').to_s
      end
      item.latest_updated_at.strftime('%Y-%m-%d').to_s
    end
  %>
  <% if flg %>
  <tr>
    <th style="text-align: left;"><%= label_str %></th>
    <th class="startDate">研修開始日</th>
    <th class="closeDate">申込締切日</th>
    <th class="unit">単位</th>
  </tr>
  <% end %>
  <tr class="<%= cycle 'article', 'article cycle' %>">
    <td class="<%=title_read_flag(@title, item)%>"><%= link_to item.title, "#{item.show_path}#{gwbbs_params_set}" %></td>
    <td class="startDate"><%= item.inpfld_001 %></td>
    <td class="closeDate"><%= item.inpfld_002 %></td>
    <td class="unit"><%= item.inpfld_004 %></td>
  </tr>
<% end %>
</table>
