<div class="inner">
<% unless params[:state] == 'DATE' %>
  <%= render 'folder_name' unless params[:state] == 'DRAFT' if params[:kwd].blank? %>
<% end %>
<% if @title.is_writable? %>
<div class="editingBox">
  <span class="btNewFile"><%= link_to "新規作成", new_digitallibrary_doc_path(title_id: @title, cat: params[:cat]) %></span>
  <%
  unless params[:state] == 'DATE'
  %>
    <span class="btNewFolder"><%= link_to "フォルダ新規作成", new_digitallibrary_folder_path(title_id: @title, cat: params[:cat]) %></span>
    <% if @parent && @parent.folder_editable? %>
      <span class="btEditFolder"><%= link_to "フォルダ編集", edit_digitallibrary_folder_path(@parent, title_id: @title, cat: params[:cat]) %></span>
      <% if @parent.deletable? %>
        <span class="btDestroy"><%= link_to '削除する', digitallibrary_folder_path(@parent, title_id: @title), confirm: '削除をすると元に戻せません。削除しますか', method: :delete %></span>
      <% end %>
    <% end %>
  <% end %>
</div>
<% end %>
</div><!--inner-->

<%
  tab_draft = ''
  tab_public = ''
  tab_draft = 'current' if params[:state] == 'DRAFT'
  tab_public = 'current' unless params[:state] == 'DRAFT'
%>
<% if @title.is_writable? %>
<div class="tabBox">
<table class="tabtable">
  <tbody>
    <tr>
      <td class="spaceLeft"></td>
      <td class="tab <%= tab_public %>"><%= link_to '公開中', digitallibrary_docs_path(title_id: @title.id) %></td>
      <td class="spaceCenter"></td>
      <td class="tab <%= tab_draft %>"><%= link_to '下書き', digitallibrary_docs_path(title_id: @title.id, state: "DRAFT") %></td>
      <td class="spaceRight"></td>
    </tr>
  </tbody>
</table>
</div>
<% end %>
