<%
  strparam = "?title_id=#{params[:title_id]}&cat=#{params[:cat]}"
%>
<div class="inner">
<%unless params[:state] == 'DATE'%>
<%= render(:partial => 'folder_name') unless params[:state] == 'DRAFT' if params[:kwd].blank? %>
<%end%>

<%if @is_writable%>
<div class="editingBox">
  <span class="btNewFile"><%=link_to("新規作成", "#{@title.item_home_path}docs/new#{strparam}") %></span>
<%
  unless params[:state] == 'DATE'
    params_cat = ''
    params_cat = "&cat=#{params[:cat]}" unless params[:cat].blank?
    folder_path = ''
    folder_path = "#{@title.item_home_path}folders/#{params[:cat]}/edit?title_id=#{@title.id}&cat=#{params[:cat]}" unless params[:cat].to_s == '1'  unless params[:cat].blank?
%>
  <span class="btNewFolder"><%=link_to("フォルダ新規作成", "#{@title.item_home_path}folders/new?title_id=#{@title.id}#{params_cat}") %></span>
  <%unless folder_path.blank?%>
   <span class="btEditFolder"><%=link_to("フォルダ編集", "#{folder_path}")%></span>
   <% if @parent.children.size == 0%>
    <span class="btDestroy"><%=link_to('削除する', "#{@parent.delete_path}", :confirm => '削除をすると元に戻せません。削除しますか', :method => :delete) %></span>
   <%end unless @parent.blank? %>
  <%end %>
<%end %>
</div>
<%end%>
</div><!--inner-->
<%
  tab_draft = ''
  tab_public = ''
  tab_draft = 'current' if params[:state] == 'DRAFT'
  tab_public = 'current' unless params[:state] == 'DRAFT'
%>
<%if @is_writable%>
<div class="tabBox">
<table class="tabtable">
<tbody>
<tr>
<td class="spaceLeft"></td>
<td class="tab <%=tab_public%>">
<%=link_to('公開中', digitallibrary_docs_path({:title_id=>@title.id})) %>
</td>
<td class="spaceCenter"></td>
<td class="tab <%=tab_draft%>">
<%=link_to('下書き', digitallibrary_docs_path({:title_id=>@title.id,:state=>"DRAFT"})) %>
</td>
<td class="spaceRight">
</td>
</tr>
</tbody>
</table>
</div>
<%end%>
