<%
style = 'width:30em;'
%>
<%= raw(Gw.required_head) -%>
<table class="show">
  <tr>
    <th>年月日<%= raw(required) -%></th>
    <td><%= raw(date_picker7 f, 'st_at', :errors=>@item.errors, :mode=>:date, :value=>@item.st_at) -%></td>
  </tr>
  <tr>
    <th>休日名<%= raw(required) -%></th>
    <td><%= f.text_field("title", :style => style) -%></td>
  </tr>
</table>


