<%= required_head -%>
<table class="show">
  <tr>
    <th>年月日<%= required -%></th>
    <td><%= f.date_select_with_picker :st_at %></td>
  </tr>
  <tr>
    <th>休日名<%= required -%></th>
    <td><%= f.text_field :title, :style => 'width:30em;' -%></td>
  </tr>
</table>
