<div class="piece schedulePiece form">
  <div class="pieceHeader">
    <%= render :partial => '/gw/admin/schedules/piece_header' %>
  </div>
  <div class="pieceBody">
    <div class="pieceBodyBody">
      <div class="titleLine">
        <span class="title">休日管理</span>
      </div>
      <%= div_notice %>
      <%= form_for :item, :url => "/gw/holidays/#{@item.id}", :html => {:method => :put, :multipart => true, :id => 'itemForm'} do |f| %>
      <%= f.error_messages %>
      <%= render(:partial => 'form', :locals => {:f => f}) %>
      <%= raw(submit_for(f, {:caption => '保存'})) %>
      <% end %>
    </div>
  </div>
</div>