<div class="piece schedulePiece setting">
<div class="pieceHeader">
<%= render '/gw/admin/schedules/piece_header' -%>
</div>
<div class="pieceBody">
<div class="pieceBodyBody">
<div class="titleLine">
  <span class="title">休日管理</span>
</div>
<div class="editingBox">
  <div class="btEdit">
    <%= link_to '編集', {action: :edit} %>
  </div>
  <div class="btDestroy">
    <%= link_to '削除', {action: :destroy}, confirm: '削除してよろしいですか？', method: :delete %>
  </div>
</div>

<table class="show">
  <tbody>
    <tr>
      <th>年月日</th>
      <td><%= @item.st_at.strftime("%Y-%m-%d") -%></td>
    </tr>
    <tr>
      <th>休日名</th>
      <td><%= @item.title -%></td>
    </tr>
  </tbody>
</table>

<div class="btReturn">
  <%= link_to '一覧に戻る', {action: :index} %>
</div>
</div>
</div>
</div>
