<%
  privs = System::PrivName.find_by_priv_name('developer')
  user_id = Site.user.id
  group_id = Site.user_group.id
  if @item.class_id.to_i == 1
    unless @item.uid.blank?
      user_id = @item.uid
      if @item.group_id.blank?
        user_group = System::UsersGroup.find_by_user_id(@item.uid)
        group_id = user_group.group_id
      else
        group_id = @item.group_id
      end
    end
  elsif @item.class_id.to_i == 2
    unless @item.uid.blank?
      user_id = nil
      group_id = @item.uid
    end
  end
  users = System::User.get_user_select(group_id)
  groups = System::Group.find(:all, :conditions=>"state='enabled' and level_no = 3", :order => [:level_no,:code].join(',') )

%>
<%= required_head %>
<table class="show">
  <tr>
    <th>機能名<%= required %></th>
    <td>
      <%= f.collection_select :role_name_id, System::RoleName.find(:all, :order => :sort_no), :id, :display_name ,{ :include_blank => true} %>
    </td>
  </tr>
  <tr>
    <th>対象権限<%= required %></th>
    <td>
      開発者
      <%= f.hidden_field :priv_user_id, :value => @item.priv_user_id.nil? ? privs.id : @item.priv_user_id %>
    </td>
  </tr>
  <tr>
    <th>優先順位<%= required %></th>
    <td><%= f.text_field :idx, :class => 'num', :style => 'width: 200px;', :class=>"IMEoff" %></td>
  </tr>
  <tr>
    <th>種別<%= required %></th>
    <td><%= radio f, 'class_id', @item.class_id_no, :onClick => 'sel_class();' %></td>
  </tr>
  <tr>
    <th>グループ</th>
    <td><%= select_tag("item[gid_raw]", Gw.options_for_select(groups.collect{|x| ["(#{x.code})#{x.name}", x.id]}, group_id) ,:onchange=>'get_user();') %></td>
  </tr>
  <tr>
    <th>ユーザ</th>
    <td>
    <%= select_tag("item[uid_raw]", Gw.options_for_select(users, user_id)) %></td>
  </tr>
  <tr>
    <th>許可<%= required %></th>
    <td><%= radio f, 'priv', @item.priv_no %></td>
  </tr>
</table>
<div id="pp"></div>
<%#= observe_field "item_gid_raw", :function => "get_user();" %>
<script type="text/javascript">
//<![CDATA[
  var end_cnt = -1;
  var ed_str = '';
  function get_user() {
    g_id = $("item_gid_raw").value;
    document.body.style.cursor = 'wait';
    end_cnt = 0;
    new Ajax.Request("/system/roles/user_fields.csv?g_id=" + g_id, {method:'get', onComplete: function(x){
      $('item_uid_raw').update(x.responseText);
      end_cnt = end_cnt + 1;
      if (end_cnt == 1) {
        document.body.style.cursor = 'default';
      }
    }})
  }
  var sel_class = function() {
    //pp(arguments.callee.toString())
    //pp(radio_selected('item[class_id]'))
    //pp(gdbn('item[class_id]')[radio_selected('item[class_id]')])
    idx = arguments.length == 1 ? arguments[0] : radio_selected('item[class_id]')
    switch (idx) {
    case 0:
      $('item_uid_raw').disabled = true;
      $('item_gid_raw').disabled = true;
      break;
    case 1:
      $('item_uid_raw').disabled = false;
      $('item_gid_raw').disabled = false;
      break;
    case 2:
      $('item_uid_raw').disabled = true;
      $('item_gid_raw').disabled = false;
      break;
    }
  }
  sel_class();
//]]>
</script>
