<%= required_head %>
<table class="show">
  <tr>
    <th>機能名<%= required %></th>
    <td><%= f.select :role_name_id, options_for_select(@item.role_name_options, @item.role_name_id), include_blank: true %></td>
  </tr>
  <tr>
    <th>対象権限<%= required %></th>
    <td>開発者 <%= f.hidden_field :priv_user_id %></td>
  </tr>
  <tr>
    <th>優先順位<%= required %></th>
    <td><%= f.text_field :idx, class: 'num', style: 'width: 200px;', class: "IMEoff" %></td>
  </tr>
  <tr>
    <th>種別<%= required %></th>
    <td><%= f.radio_buttons :class_id, @item.class_id_no %></td>
  </tr>
  <tr>
    <th>グループ</th>
    <td><%= f.select :group_id, options_for_select(System::Group.enabled_group_options, @item.group_id) %></td>
  </tr>
  <tr>
    <th>ユーザ</th>
    <td><%= f.select :uid, options_for_select(System::User.get_user_select(@item.group_id), @item.uid) %></td>
  </tr>
  <tr>
    <th>許可<%= required %></th>
    <td><%= f.radio_buttons :priv, @item.priv_no %></td>
  </tr>
</table>

<script type="text/javascript">
(function($) {
  $(function() {
    $('#item_group_id').on('change', function() {
      $.get('<%= url_for(controller: :roles, action: :user_fields) %>', {g_id: $(this).val()}, function(data) {
        $('#item_uid').html(data);
      });
    });
    $('input[name="item[class_id]"]').on('change', function() {
      switch ($(this).val()) {
      case '0':
        $('#item_group_id').attr('disabled', 'disabled');
        $('#item_uid').attr('disabled', 'disabled');
        break;
      case '1':
        $('#item_group_id').removeAttr('disabled');
        $('#item_uid').removeAttr('disabled');
        break;
      case '2':
        $('#item_group_id').removeAttr('disabled');
        $('#item_uid').attr('disabled', 'disabled');
        break;
      }
    });
  });
})(jQuery);
</script>
