<div class="piece AdminMessage">
<%= render 'header' %>
<div class="pieceBody">
<%= render 'system/admin/roles/header_menu' %>

<div class="editingBox">
 <span class="btEdit"><%= link_to "編集", {action: :edit} if @item.editable? %></span>
 <span class="btDestroy"><%= link_to "削除", {action: :destroy}, confirm: "削除してよろしいですか？", method: :delete if @item.deletable? %></span>
</div>

<table class="show">
  <tr>
    <th>機能名</th>
    <td><%= @item.role_name.display_name if @item.role_name %></td>
  </tr>
  <tr>
    <th>対象権限</th>
    <td><%= @item.priv_user.display_name if @item.priv_user %></td>
  </tr>
  <tr>
    <th>優先順位</th>
    <td><%= @item.idx %></td>
  </tr>
  <tr>
    <th>種別</th>
    <td><%= @item.class_id_label %></td>
  </tr>
  <tr>
    <th>ユーザ/グループ</th>
    <td><%= @item.uid_label %></td>
  </tr>
  <tr>
    <th>許可</th>
    <td><%= @item.priv_label %></td>
  </tr>
</table>

<!--戻るボタン-->
<div class="btReturn">
  <%= link_to '戻る', {action: :index} %>
</div>

</div>
</div>
