<%#*<h1>Gw::Public::PrefExecutives#index</h1>%>
<%#*<p>Find me in app/views/gw/admin/pref_executives/index.html.erb</p>%>
<%
  title_str = "ジョールリ市幹部在庁表示"
  fyear = Gw::YearFiscalJp.get_record(Time.now)
  display_time  = '(' + fyear.namejp.to_s + '年' + Time.now.strftime('%m月%d日 %H:%M 現在') + ')'
  # スケジュラーメニューのパラメーター
  d=Time.now
  @st_date=Time.now.strftime('%Y%m%%d')
  mode='executives'
%>
<div class="piece schedulePiece">
<div class="pieceHeader"><h2 class="pieceTitle">スケジュール</h2>
<div class="btsHeaderLeft">
<span class="btNew"><a href="/gw/schedules/new">新規作成</a></span>
</div>
</div>
<div class="pieceBody">

<div class="pieceBodyHeader">
<%= render :partial => "gw/public/schedules/schedule_bt_box"  ,:locals=>{:d=>d , :mode=>mode} %>
<div class="scheduleTableTitle"><%= title_str %><span class="presentTime"><%= display_time %></span></div>
</div><!--pieceBodyHeader-->

<div class="pieceBodyBody">

<% if @items1.size > 0 %>
<%# 知事・副知事・政策監・政策監補　の４名分までの予定 %>
<div class="unit">
<% @items1.each do |item| %>
<div class="scheduleUser <%= item.state if item.state=='off'%> ">
<div class="leftHeader userIcon1  ">
<%
swith_enable = false
swith_enable = true if @u_role == true
swith_enable = true if Site.user_group.id == item.gid
%>
<%if swith_enable == true%>
  <a class="userIcon" href="<%= %Q(#{@pulic_uri}/#{item.uid}/state_change?p_state=#{item.state}) %>">
  <%=Gw::PrefExecutive.state_show(item.state)%>
  </a>

<%else%>
<span class="userIcon"><%=Gw::PrefExecutive.state_show(item.state)%></span>
<%end%>
<div class="title"><%= item.title %></div>
<div class="username">
<span><%= item.u_name %></span>
<%
  td_s = d.strftime("%Y%m%d")
  td_s = params[:s_date] if !params[:s_date].blank?
  td1 = Date.new(d.year, d.month, 1)
  td1_s = td1.strftime("%Y%m%d")
  link_uid = item.uid
  day   = "/gw/schedules/#{td_s}?uid=#{link_uid}"
  week  = "/gw/schedules/?s_date=#{td_s}&amp;uid=#{link_uid}"
  month = "/gw/schedules/show_month?s_date=#{td1_s}&amp;uid=#{link_uid}"
%>
<span class="linkBox">
<a href="<%= day %>" class="dayLink">日表示</a>
<a href="<%= week %>" class="weekLink">週表示</a>
<a href="<%= month %>" class="monthLink">月表示</a>
</span>
</div><!--username-->
</div><!--leftHeader-->
</div><!--scheduleUser-->
<% end %>
</div><!--unit-->
<% end %>

<% if @items2.size > 0 %>
<div class="unit">
<% @items2.each do |item| %>
<div class="scheduleUser <%= item.state if item.state=='off'%>">
<div class="leftHeader userIcon2  ">
<%
swith_enable = false
swith_enable = true if @u_role == true
swith_enable = true if Site.user_group.id == item.gid
%>
<%if swith_enable == true %>
  <a class="userIcon" href="<%= %Q(#{@public_uri}/#{item.uid}/state_change?p_state=#{item.state}) %>">
  <%=Gw::PrefExecutive.state_show(item.state)%>
  </a>
<%else%>
<span class="userIcon"><%=Gw::PrefExecutive.state_show(item.state)%></span>
<%end%>
<div class="title"><%= item.title %></div>
<div class="username">
<span><%= item.u_name %></span>
<%
  td_s = d.strftime("%Y%m%d")
  td_s = params[:s_date] if !params[:s_date].blank?
  td1 = Date.new(d.year, d.month, 1)
  td1_s = td1.strftime("%Y%m%d")
  link_uid = item.uid
  day   = "/gw/schedules/#{td_s}?uid=#{link_uid}"
  week  = "/gw/schedules/?s_date=#{td_s}&amp;uid=#{link_uid}"
  month = "/gw/schedules/show_month?s_date=#{td1_s}&amp;uid=#{link_uid}"
%>
<span class="linkBox">
<a href="<%= day %>" class="dayLink">日表示</a>
<a href="<%= week %>" class="weekLink">週表示</a>
<a href="<%= month %>" class="monthLink">月表示</a>
</span>
</div><!--username-->
</div><!--leftHeader-->
</div><!--scheduleUser-->
<% end %>
</div><!--unit-->
<% end %>

</div><!--pieceBodyBody-->
</div><!--pieceBody-->
</div><!--schedulePiece-->
