<%
# スケジュラーメニューのパラメーター
d = Time.now
@st_date = Time.now.strftime('%Y%m%%d')
mode = 'executives'
view_mode = "normal"
dislapy_view = Gw::PrefConfig.display_view(mode)
view_state = Gw::PrefConfig.where(:state => "enabled", :option_type => mode, :name => "admin").first
if view_state.blank?
  view_mode = "normal"
  view_str = ""
else
  view_mode = "admin"
  view_str = view_state.options
end
%>
<div id="contentBody">
<div class="piece schedulePiece">
<div class="pieceHeader"><h2 class="pieceTitle">スケジュール</h2>
<div class="btsHeaderLeft">
<span class="btNew"><a href="/gw/schedules/new">新規作成</a></span>
</div>
</div>
<div class="pieceBody">

<div class="pieceBodyHeader">
<%= render "gw/admin/schedules/schedule_bt_box", d: d, mode: mode %>
<div class="scheduleTableTitle"><%= Site.title %>幹部在庁表示<span class="presentTime"><%= render "gw/admin/pref_directors/display_time" %></span></div>
</div><!--pieceBodyHeader-->

<div class="pieceBodyBody">
<% if view_mode == "normal" %>
  <%= render 'index', d: d, mode: mode %>
<% else %>
  <% if @u_role %>
    <%= render 'index_prepare', d: d, mode: mode, view_str: "#{view_str}(現在工事中表示になっています)" %>
    <%= render 'index', d: d, mode: mode %>
  <% else %>
    <%= render 'index_prepare', d: d, mode: mode, view_str: view_str %>
  <% end %>
<% end %>
</div><!--pieceBodyBody-->

</div><!--pieceBody-->
</div><!--schedulePiece-->
</div><!--contentBody-->
