<!DOCTYPE html>
<html lang="ja">
<head>
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<meta http-equiv="content-style-type" content="text/css" />
<title><%= Page.title %></title>
</head>
<body>

<script type="text/javascript">
//<![CDATA[
window.onload = function() {
  document.form.submit();
}
//]]>
</script>

<%= form_tag @admin_uri, :name => 'form' do %>
  <% if params[:path] %>
    <%= hidden_field_tag :path, params[:path] %>
  <% end %>

  <% if params[:item] && params[:item].is_a?(Hash) %>
    <% params[:item].each do |key, value| %>
      <% if params[:flat] %>
        <%= hidden_field_tag key, value %>
      <% else %>
        <%= hidden_field_tag "item[#{key}]", Base64.decode64(value).force_encoding('utf-8') %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
グループウェアに転送しています。しばらくお待ちください。
</body>
</html>
