<%= f.hidden_field :wiki, :value => 0 %>
<table class="show">
  <tr>
    <th>事務の名称<%= required('※') %></th>
    <td><%= f.text_field :title, :size => "60" %></td>
  </tr>
  <tr>
    <th>保有課名<%= required('※') %></th>
    <td><%= f.text_field :body, :size => "60" %></td>
  </tr>
</table>

<% if @title.use_old_upload_system? %>
  <%= gwboard_attach_form(f, @item) %>
<% else %>
  <%= gwboard_attachments_form(f, @item) %>
<% end %>
