<div class="piece headLine">
<div class="pieceBody">
<% @items.each_with_index do |item, idx| %>
  <% item.opened_children.each_with_index do |level3_item, idx3| %>
    <% next if @portal_mode.options == '2' && level3_item.mode == 3 %>
    <% next if @portal_mode.options == '3' && level3_item.mode == 2 %>
    <% if level3_item.has_display_auth? %>
      <% if idx3 >= 1 %>
      <div class="borderbox2 <%= 'emergency' if @portal_mode.options == '3' && level3_item.mode == 3 %>">
      <% end %>
      <% level3_options = level3_item.link_options %>
      <div class="<%= level3_options[:css_class] %>">
        <h3 class="<%= level3_options[:icon_class] %>">
          <span class="repeat">
            <% if level3_options[:url].blank? %>
              <%= link_to level3_item.name.to_s.html_safe, '#' %>
            <% else %>
              <% if level3_options[:icon_path] %>
                <%= link_to "#{image_tag(level3_options[:icon_path])} #{level3_item.name}".html_safe, level3_options[:url], :target => level3_options[:target] %>
              <% else %>
                <%= link_to level3_item.name.to_s.html_safe, level3_options[:url], :target => level3_options[:target] %>
              <% end %>
            <% end %> 
          </span>
        </h3>
      </div>
      <% if idx3 == 0 %>
      <div class="borderbox2">
      <% end %>
      <ul class="headline-1">
      <% level3_item.opened_children.each_with_index do |level4_item, idx4| %>
        <% if level4_item.has_display_auth? %>
          <% level4_options = level4_item.link_options %>
          <li class="<%= level4_options[:disabled] %> <%= level4_options[:css_class] %> <%= level4_options[:icon_class] %>">
            <% if level4_options[:icon_path] %>
              <%= link_to "#{image_tag(level4_options[:icon_path])} #{level4_item.name}".html_safe, level4_options[:url], :target => level4_options[:target] %>
            <% else %>
              <%= link_to level4_item.name.to_s.html_safe, level4_options[:url], :target => level4_options[:target] %>
            <% end %>
          </li>
        <% end %>
      <% end %>
      </ul>
      </div>
    <% end %>
  <% end %>
<% end %>
</div>
</div>