<div class="sb06_assigned_conference_form602">
<%#= render "/gwsub/admin/sb06/sb06_assigned_conferences/show602_header" -%>
<%= render "/gwsub/admin/sb06/sb06_assigned_conferences/form602/show602_header" %>
<div class="sb06_assigned_conference_markNo"><%= @item.conf_mark %>第　<%= @item.conf_no %>号</div>
<div class="sb06_assigned_conference_date">
  <%= Gwsub.fyear_to_namejp2(@item.conf_at) %>
  <%= %Q(　　　　年　　　月　　　日) if @item.conf_at.blank?%>
</div>
<div class="sb06_assigned_conference_group_to"><%= @item.c_kind.conf_to_name + '　殿' unless @item.c_kind.conf_to_name.blank? %></div>
<div class="sb06_assigned_conference_group_from">所属長　<%= @item.group_name %></div>
<div class="sb06_assigned_conference_title"><%= @item.c_kind.conf_title %></div>
<div class="left">会計規則第５条第２項の規定による報告事項は次のとおりです。</div>
<!-- table width="60%" align="center" border="1" -->
<% unless @members.blank? %>
<table class="index">
<tr>
<td style="text-align:center;" width="20%">出納員・会計職員<br />種別</td>
<td style="text-align:center;" width="20%">補職名<br />（役職）</td>
<td style="text-align:center;" width="20%">氏名</td>
<td style="text-align:center;" width="20%">任命年月日</td>
<td style="text-align:center;" width="20%">備考</td>
</tr>
<% @members.each do |item| %>
<tr>
  <td>
  <div><%= item.c_item.item_title unless item.conf_item_id==0 %></div>
  </td>
  <td>
    <%= item.official_title_name %>
  </td>
  <td>
    <%= item.user_name %>
  </td>
  <td>
    <%= Gw.date_str(item.start_at).gsub("-","/") unless item.start_at.to_s.blank? %>
  </td>
  <td>
    <%= item.remarks %>
  </td>
</tr>
<% end %>
</table>
<% end %>
<div style="margin-top:1em;">
<div class="left">備考
<br />
１　各所属における出納員及び会計職員を全て入力し、会計規則第５条第１項ただし書きの規定どおりの者となっているか、再確認すること。
<br />
２　必ず、当該出納員等本人が本書を確認し、決裁後、所属に備え置くこと。
<br />
３　このページへの入力により、会計規則第５条第２項に定める会計管理者への「出納員等報告書」の送付に代えることができる。
</div>
</div>
</div>
