<div class="piece AdminSetting">
<%= render :partial => 'header_str' %>

<div class="pieceBody">
<%= render :partial => '/gw/admin/edit_link_pieces/menu', :locals => {:d => @st_date, :mode => 'month'} %>
<div class="editingBox">
  <div class="btNew">
  <%= link_to '登録', "/gw/edit_link_piece_csses/new" %>
  </div>
</div>

<div class="titleLine">
  <span class="title">適用CSS</span>
  <span class="linkSpace">
  </span>
</div>

<div class="pieceBodyBody">
<%= div_notice %>
<% if @items.count == 0 %>
  <div class="notice">表示する項目はありません。</div>
<% else %>
<table class="index">
<tr>
  <th class="show"></th>
  <th class="state">状態</th>
  <th class="css_name">css表示名</th>
  <th class="css_sort_no">並び順</th>
  <th class="css_class">cssクラス</th>
  <th class="css_type">css種別</th>
  <th class="created_user">作成者</th>
  <th class="created_group">作成者所属</th>
</tr>
<% @items.each do |item| %>
<%
  if item.state == 'enabled'
    item_state_color = ''
  else
    item_state_color = 'class="required"'
  end
%>
<tr class="<%= cycle '', 'cycle' %>">
  <td><%= link_to '詳細' , "/gw/edit_link_piece_csses/#{item.id}" %></td>
  <td><span <%=raw item_state_color %> ><%= Gw::EditLinkPieceCss.state_show(item.state) %></span></td>
  <td><%= item.css_name %></td>
  <td><%= item.css_sort_no %></td>
  <td><%= item.css_class  %></td>
  <td><%= Gw::EditLinkPieceCss.css_type_show(item.css_type) %></td>
  <td><%= item.created_user  %></td>
  <td><%= item.created_group %></td>
</tr>
<% end %>
</table>
<% end %>
</div>

</div>
</div>
