<div class="piece AdminSetting AdminGroups">
<%= render :partial => 'header' %>
  <div class="pieceBody">
    <%= render :partial => 'navi' %>
<% if @items.blank? %>
<div class="notice">表示対象がありません</div>
<% else %>
<table class="index">
  <tr>
    <th style="width: 30px;"></th>
    <th>開始日</th>
  </tr>
  <%for item in @items%>
  <tr>
    <td><%= link_to :show, url_for(:action => :show, :id => item) %></td>
    <td><%=safe{item.start_at.strftime("%Y-%m-%d")}%></td>
  </tr>
  <% end %>
</table>
<%= paginate @items %>
<% end %>

</div></div>