<%= f.hidden_field :state -%>
<%= f.error_messages %>
<%= required_head %>
<table class="show">
  <tr>
    <th>状態<%= required %></th>
    <td><%= f.radio_buttons :state, Gw::PrefAssemblyMember.state_select %></td>
  </tr>
  <tr>
    <th>会派表示順<%= required %></th>
    <td><%= f.text_field :g_order, :size => 30, :class => 'IMEoff' %></td>
  </tr>
  <tr>
    <th>会派<%= required %></th>
    <td><%= f.text_field :g_name, :size => 80 %></td>
  </tr>
  <tr>
    <th>議員表示順<%= required %></th>
    <td><%= f.text_field :u_order, :size => 30, :class => 'IMEoff' %></td>
  </tr>
  <tr>
    <th>氏名<%= required %></th>
    <td>姓：<%= f.text_field :u_lname, :size => 50 %></td>
  </tr>
  <tr>
    <th></th>
    <td>名：<%= f.text_field :u_name, :size => 50 %></td>
  </tr>
</table>

<div class="preserve">
<%= submit_for f, caption: '保存', id: 'assemblySubmit' %>
</div>


<script type="text/javascript">
(function($) {
  $(function() {
    $('#assemblySubmit').on('click',function(){
      var g_order = $("#item_g_order").val();
      if(g_order==null){
        return true;
      }
      if(g_order==10 || g_order==20 || g_order > 20){
        return true;
      }
      if((g_order >= 1 && g_order <= 9) || (g_order >= 11 && g_order <= 19)){
        if(!confirm('議員在庁表示に表示させるには会派並び順を21以降に設定してください。このまま登録しますか。')){
          return false;
        }else{
          return true;
        }
      }else{
        return true;
      }
      return false;
    });
  });
})(jQuery);
</script>

