<%
  @action = "create"
  @create_path = "#{@public_uri}/"
%>

<div class="piece AdminSetting">

<%= render :partial => 'header_str' %>

<div class="pieceBody">
  <%= render :partial => 'header_new_botton' %>
  <%= raw(%Q(<div class="notice">#{flash[:notice]}</div>)) unless flash[:notice].blank? %>
  <%= form_for :item, :url => @create_path ,:action=>:create ,:method=>:post , :html => {:id => "itemForm", :multipart => true} do |f| %>
    <%= render :partial => 'form', :locals => {:f => f} %>
  <% end  %>
</div>

</div>
