<div class="piece memo index">
<div class="pieceHeader">
<%= render '/gw/admin/schedule_todos/piece_header' %>
</div>
<div class="pieceBody">
<div class="pieceBodyHeader">
</div>
<div class="pieceBodyBody">
<%= render 'search' %>
<div id="contentTable">
<% if @items.length== 0 %>
  <%= show_notice -%>
<% else %>
  <table class="index">
    <tr>
      <th class="is_finished">状態</th>
      <th class="ed_at">期限</th>
      <th class="finished"></th>
    </tr>
    <% @items.each do |item| -%>
      <tr>
        <td rowspan="2"><%= item.is_finished_label %></td>
        <td><span style="<%= 'color:red;' if item.over_deadline? %>"><%= item.todo_ed_at_label %></td>
        <td><%= link_to item.is_finished? ? '未完了に戻す' : '完了する', {action: :finish, id: item.id} %></td>
      </tr>
      <tr>
        <td colspan="2"><%= link_to item.schedule.title, "/gw/schedules/#{item.schedule_id}/show_one" %></td>
      </tr>
      <% end %>
  </table>
<% end %>
<%= paginate(@items) %>

</div>
</div>
<div id="loadImg" style="display: none;">Now Loading...</div>
</div>
</div>
