<hr class="borderDash"/>
<p class="mobileTodo"><img src="/_common/themes/gw/files/mobile/ic-mobile-todo.gif">
<%= link_to "新規作成", "/gw/schedules/new?link=todo"%></p>
<hr  class="borderDash"/>
<p class="leftPad2">
<% case params[:s_finished] %>
<% when '1' %>
未完了  |
<%= link_to '完了', {action: :index, s_finished: 2} -%> |
<%= link_to '両方', {action: :index, s_finished: 3} -%>
<% when '2' %>
<%= link_to '未完了', {action: :index, s_finished: 1} -%> |
完了 |
<%= link_to '両方', {action: :index, s_finished: 3} -%>
<% else %>
<%= link_to '未完了', {action: :index, s_finished: 1} -%> |
<%= link_to '完了', {action: :index, s_finished: 2} -%> |
両方
<% end %>
</p>

<hr  class="borderDash"/>
<% if @items.length== 0 %>
  <%= show_notice -%>
<% else %>
  <% @items.each do |item| -%>
    <p class="mobileTodo">
      <img src="/_common/themes/gw/files/mobile/ic-mobile-todo.gif">
      <%= item.is_finished_label %>　<%= link_to item.is_finished? ? '未完了に戻す' : '完了する', {action: :finish, id: item.id} -%>
    </p>
    <p class="leftPad2">
    <span style="<%= 'color:red;' if item.over_deadline? %>"><%= item.todo_ed_at_label %></span><br />
    <%= link_to item.schedule.title, "/gw/schedules/#{item.schedule_id}/show_one" %>
    </p><br />
  <% end %>
<% end %>

<%= paginate(@items) %>
