<% states = Gw::AdminMessage.state_select %>
<%= required_head %>
<table class="show">
  <tr>
    <th>表示モード<%= required('※') %></th>
    <td><%= radio f, :mode, @item.modes, :class => 'state' %></td>
  </tr>
  <tr>
    <th>表示<%= required('※') %></th>
    <td><%= radio f, :state, states, :class => 'state' %></td>
  </tr>
  <tr>
    <th>表示順<%= required('※') %></th>
    <td><%= f.text_field :sort_no, :size => 5, :class => 'IMEoff' %></td>
  </tr>
  <tr>
    <th>メッセージ<%= required('※') %></th>
    <td><%= f.text_area :body, :cols => 80, :rows => 5 %></td>
  </tr>
</table>
