<%
  @edit_path = "/system/role_names/#{@item.id}"
%>
<div class="piece AdminMessage">
<%= render :partial => 'header' %>

<div class="pieceBody">
<%= form_for :item, :url => @edit_path, :html => {:method => :put, :multipart => true, :id => 'itemForm'} do |f| %>
  <%= f.error_messages %>
  <%= render :partial => 'form', :locals => {:f => f} %>
  <%= submit_for(f, {:caption => '保存'}) %>
<% end %>
</div>
</div>
