<div class="piece AdminMessage">
<%= render :partial => 'header' %>

<div class="pieceBody">
<div class="editingBox">
  <span class="btNew"><%= link_to '新規作成', "/system/role_names/new?#{@qs}" %></span>
  <span class="docLink"><%= link_to '管理者権限設定', "/system/roles"%></span>
</div>

<table class="index">
  <tbody>
    <tr>
      <th style="width: 60px;"></th>
      <th>機能名</th>
      <th>機能コード</th>
      <th style="width: 40px; text-align: center;">表示順</th>
    </tr>
    <% for item in @items %>
    <tr class="<%= cycle '', 'cycle' %>">
      <td style="text-align: center;"><%= link_to '詳細', "/system/role_names/#{item.id}?#{@qs}"  %></td>
      <td><%= item.display_name %></td>
      <td><%= item.table_name %></td>
      <td style="text-align: center;"><%= item.sort_no %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br/>
<%= paginate @items %>
<br/>

</div>
</div>