<%
  @create_path = "/system/role_names"
%>
<div class="piece AdminMessage">
<%= render :partial => 'header' %>

<div class="pieceBody">
<%= form_for :item, :url => @create_path do |f| %>
  <%= f.error_messages %>
  <%= render :partial => 'form', :locals => {:f => f} %>
  <%= submit_for(f, {:caption => '保存'}) %>
<% end %>
</div>
</div>
