<%
#conf_states = Gwsub::Sb06AssignedConference.conference_states({:all=>'all'})
conf_states = [['すべて',0]]+Gwsub::Sb06AssignedConference.proposal_status
conf_states += [['確認済',5]]
conf_cats    = Gwsub::Sb06AssignedConfCategory.sb06_assign_conf_cat_id_select({:all=>'all'})
fy_group    = "fyear_id"
fy_order    = "fyear_markjp DESC , cat_sort_no ASC"
fyear1      = Gwsub::Sb06AssignedConfGroup.order(fy_order).group(fy_group).collect{|x| [x.fyear_markjp,x.fyear_id]}
fyears      = fyear1

conf_kind_options = {:c_cat_id=>@c_cat_id,:all=>'all', :fyear_id=>@fy_id}
conf_kinds  = Gwsub::Sb06AssignedConfKind.sb06_assign_conf_kind_id_select(conf_kind_options)

limits      = Gw.limit_select
groups      = Gwsub.grouplist4(@fy_id, 'all' , true , nil, nil, {:fyear => true, :through_state => true})
%>
<%= form_tag('', :method => :get, :class => 'search', :name=>'frmSearch') do %>
<%= hidden_field_tag 'pre_fy_id'     , @fy_id  %>
<%= hidden_field_tag 'pre_c_cat_id'  , @c_cat_id  %>
<table>
<tr>
<td>状況</td>
<td><%= select_tag( 'c_state' , options_for_select(conf_states , @c_state.to_i)   ,:onchange => 'document.frmSearch.submit()' ) %></td>
<td>分類</td>
<td><%= select_tag( 'c_cat_id'  , options_for_select( conf_cats , @c_cat_id.to_i )    ,:onchange => 'document.frmSearch.submit()' ) %></td>
<td>申請書種別</td>
<td><%= select_tag( 'kind_id'     , options_for_select( conf_kinds , @kind_id.to_i )   ,:onchange => 'document.frmSearch.submit()' ) %></td>
</tr>
<tr>
<td>表示行数</td>
<td><%= select_tag( 'limit'       , options_for_select( limits , @limit.to_i )         ,:onchange => 'document.frmSearch.submit()' ) %></td>
<td>年度</td>
<td><%= select_tag( 'fy_id'       , options_for_select( fyears ,@fy_id.to_i )          ,:onchange => 'document.frmSearch.submit()' ) %></td>
<td>申請所属</td>
<td><%= select_tag( 'group_id'    , options_for_select( groups , @group_id.to_i )      ,:onchange => 'document.frmSearch.submit()' ) %></td>
</tr>
</table>
<%end%>
<!-- end form -->
<%# unless (params[:reset] || !params[:search] ) %>
<div class="hit">検索結果<span class="count"><%= "#{@items.total_entries}" %></span>件</div>
<%# end %>
