<%
#p_state_602 = Gwsub::Sb06AssignedConference.assigned_status_602
#p_state = Gwsub::Sb06AssignedConference.proposal_status
#form_no = @item.c_kind.conf_form_no
#render_new_str = "/gwsub/admin/sb06/sb06_assigned_conferences/form#{form_no}"
#render_show_str = "/gwsub/admin/sb06/sb06_assigned_conferences/show#{form_no}"
fyear_order = "published_at DESC"
fyears = Gwsub::Sb04EditableDate.order(fyear_order).collect{|x| [x.fy_rel.markjp,x.fyear_id]}
location = url_for({:action => :csvput})
@action = "create"
@create_path = "#{url_for({:action => :index})}"
%>
<div class="gwsub sb06">
<div class="pieceHeader">
<h2>担当者名等管理</h2>
</div>
<div class="pieceBanner">
<%= render 'gwsub/admin/sb06/sb0602_subfunction_select_menu' %>
<%= render 'gwsub/admin/sb06/sb06_assigned_conferences/submenu' %>
<%= render 'gwsub/admin/sb06/sb06_assigned_conferences/submenu_l3' unless (@help && @help=='admin') %>
<%#= render 'gwsub/admin/sb06/sb06_assigned_conferences/submenu_l4' unless @help %>
</div>
<div class="pieceBody">
<%= form_tag location, {:method=>:get , :multipart => true} do %>
<%= hidden_field_tag('fy_id',@fy_id) %>
<%= hidden_field_tag('kind_id',@kind_id) %>
<%= hidden_field_tag('c_cat_id',@c_cat_id) %>
<%= hidden_field_tag('item[csv]','put') %>
<%= hidden_field_tag('item[c_cat_id]',@c_cat_id) %>
<%= hidden_field_tag('item[kind_id]',@kind_id) %>
<div class="explain">
<span style="color:blue">
担当者名一覧のデータを、指定の文字コードで出力します。<br />保存先は、ダウンロード時に指定できます。<br />課に関係なく、全データを出力します。
</span>
</div>
<table class="show">
<tr><th></th><td>出力条件を選択して実行してください</td></tr>
<tr><th>年度</th><td><%= select_tag( 'item[fyed_id]',options_for_select( fyears ,@fyed_id.to_i ) ) %></td></tr>
<tr>
<th>文字コード</th>
<td><%= radio_button_tags 'item[nkf]', [['SJIS','sjis'],['UTF8','utf8']], 'sjis' %></td>
</tr>
</table>
<div class="preserve">
<%= submit_tag '出力' %>
</div>
<% end %>
</div>
</div>

<script type="text/javascript">
//<![CDATA[
  var end_cnt = -1;
  function get_selects() {
    // start_at
    fyed_id    = $("item_fyed_id").value
    if (end_cnt == -1) {
      document.body.style.cursor = 'wait';
      end_cnt = 0;
    }
    new Ajax.Request("<%= url_for({:action => :index})%>/section_fields?fyed_id=" + fyed_id, {method:'get', onComplete: function(x){
      $('item_grped_id').update(x.responseText);
      end_cnt = end_cnt + 1;
      if (end_cnt == 1) {
        document.body.style.cursor = 'default';
      }
    }})
  }
// 使用者　設定欄
  var set_cols = function() {
    idx =  radio_selected('item[select]')
    switch (idx) {
    case 0:
      $('select_cols').setStyle("display : none;");
      break;
    case 1:
      $('select_cols').setStyle("display : inline;");
      break;
    }
  }
  set_cols();
//]]>
</script>
