<%
p_state_602 = Gwsub::Sb06AssignedConference.assigned_status_602
p_state = Gwsub::Sb06AssignedConference.proposal_status
form_no = @item.c_kind.conf_form_no
#render_edit_str = "/gwsub/admin/sb06/sb06_assigned_conferences/form#{form_no}"
#render_show_str = "/gwsub/admin/sb06/sb06_assigned_conferences/show#{form_no}"
render_edit_str = "/gwsub/admin/sb06/sb06_assigned_conferences/form#{form_no}/form#{form_no}"
render_show_str = "/gwsub/admin/sb06/sb06_assigned_conferences/form#{form_no}/show#{form_no}"
form_class = "sb_form sb06_form#{form_no}"
@action = "edit"
editables_options = {
  :role=>@u_role,
  :group_id => Core.user_group.id
}
managers  = Gwsub::Sb06AssignedConference.managers?(@item,editables_options)
%>
<div class="gwsub sb06">
<div class="pieceHeader">
<h2>担当者名等管理</h2>
</div>
<div class="pieceBanner">
<%= render 'gwsub/admin/sb06/sb0602_subfunction_select_menu' %>
<%= render 'gwsub/admin/sb06/sb06_assigned_conferences/submenu' %>
<%= render 'gwsub/admin/sb06/sb06_assigned_conferences/submenu_l3' unless (@help && @help=='admin') %>
<%= render 'gwsub/admin/sb06/sb06_assigned_conferences/submenu_l4' unless @help %>
</div>
<div class="pieceBody">
<div class="showMenu">
<%= link_to_show @item.id %>
</div>
<%= form_for :item, :url => {action: :update}, :html => {method: :put, multipart: true, class: form_class} do |f| %>
  <%= render 'gwsub/admin/sb06/sb06_assigned_conferences/hidden_field_tags'  %>
  <%= render render_edit_str, f: f, is_manager: managers %>
  <%= render 'form_ajax' %>
  <%= render 'gwsub/admin/sb06/sb0602_admin_group_form', f: f, is_manager: managers %>
  <div id="recognizer_list">
  </div>
  <table class="show">
    <tr>
      <th>保存状況</th>
      <td><%= radio f, :state, p_state, class: 'state', onclick: 'sel_class()' %></td>
    </tr>
  </table>
  <div class="preserve">
    <%= f.submit '保存' %>
  </div>
<% end %>
<%= render render_show_str unless @item.blank? %>
</div>
</div>
<script type="text/javascript">
//<![CDATA[
// 使用者　設定欄
  var sel_class = function() {
    idx =  radio_selected('item[state]')
    switch (idx) {
    case 0:
      $('recognizer_list').setStyle("display : none;");
      break;
    case 1:
      $('recognizer_list').setStyle("display : none;");
      break;
    case 2:
      $('recognizer_list').setStyle("display : none;");
      break;
    case 3:
      $('recognizer_list').setStyle("display : none;");
      break;
    }
  }
  sel_class();
  //]]>
</script>
