<%
if @results_flg
  form_post_action = "results_delete_list"
else
  form_post_action = "list"
end
%>

<% if @items.present? %>
<form id="listForm" method="post" enctype="multipart/form-data" action="/gw/prop_extras/<%= form_post_action %><%= @prop_params %>">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token if params[:s_genre] == 'meetingroom' %>
  <table>
    <tr>
      <td>
        <% if @results_flg %>
          <input id="results_delete_list" name="results_delete_list" type="submit" value="　予約削除　" />
        <% else %>
          <input id="confirm_submit" name="confirm_submit" type="submit" value="　選択承認　" />
        <% end %>
      </td>
      <td>
        <%= link_to '全選択', "javascript:List_Form.checkAll('listForm', 'ids', 1);" %><br />
        <%= link_to '全解除', "javascript:List_Form.checkAll('listForm', 'ids', 0);" %>
      </td>
    </tr>
  </table>

  <table class="index">
    <tr>
      <th class="check"></th>
      <th></th>
      <% unless @results_flg %>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <% end %>
      <th>会議室等名称</th>
      <th>設備の状態</th>
      <th>件名（用務名等）</th>
      <% unless @results_flg %>
      <th>庁内</th>
      <th>庁外</th>
      <% end %>
      <th>所属</th>
      <th>利用責任者</th>
      <th>開始日</th>
      <th>終了日</th>
      <% unless @results_flg %>
      <th>登録日</th>
      <% end %>
    </tr>
    <% @items.each do |item| %>
      <%
      prop_stat = nz(item.prop_stat, "0").to_i
      confirmed_url = "/gw/prop_extras/#{item.id}/confirm" + @prop_params
      rent_url = "/gw/prop_extras/#{item.id}/rent" + @prop_params
      return_url = "/gw/prop_extras/#{item.id}/return" + @prop_params
      pm_url = "/gw/prop_extras/#{item.id}/pm_create" + @prop_params
      cancel_url = "/gw/prop_extras/#{item.id}/cancel" + @prop_params
      schedule_item = item.schedule
      
      st_at = item.st_at.to_datetime
      ed_at = item.ed_at.to_datetime
      created_at = schedule_item.created_at.to_datetime
      
      case prop_stat
      when 0
        confirmed_str = "承認"
        rent_str = ""
        return_str = ""
        pm_str = ""
        cancel_str = "キャンセル"
      when 1
        confirmed_str = "承認<br />取消"
        rent_str = "貸出"
        return_str = ""
        pm_str = "実績作成"
        cancel_str = "キャンセル"
      when 2
        confirmed_str = ""
        rent_str = "貸出<br />取消"
        return_str = "返却"
        pm_str = ""
        cancel_str = ""
      when 3
        confirmed_str = ""
        rent_str = ""
        return_str = "返却"
        pm_str = ""
        cancel_str = ""
      when 4, 5
        confirmed_str = ""
        rent_str = ""
        return_str = ""
        pm_str = ""
        cancel_str = ""
      when 900
        confirmed_str = ""
        rent_str = ""
        return_str = ""
        pm_str = ""
        cancel_str = "キャンセル<br />取消"
      end
      %>
      <tr class="<%= cycle '', ' cycle' %>">
        <td><%= check_box_tag "ids[]", "#{item.id}" %></td>
        <td><a href="/gw/schedules/<%= item.schedule_id %>/show_one">詳細</a></td>
    
        <% unless @results_flg %>
        <td><%= link_to(confirmed_str.html_safe, "#{confirmed_url}") if !confirmed_str.blank? %></td>
        <td>
        <% if (schedule_item.schedule_events.blank? || schedule_item.schedule_events.approved_or_opened? == false) && nz(schedule_item.guide_state, 0) <= 1 %>
        <%= link_to(cancel_str.html_safe, "#{cancel_url}", :confirm => "キャンセル#{"取消" if prop_stat == 900}します。よろしいでしょうか？") if !cancel_str.blank? %>
        <% end %>
        </td>
        <td><%= link_to(rent_str.html_safe, "#{rent_url}") if !rent_str.blank? %></td>
        <td><%= link_to(return_str.html_safe, "#{return_url}") if !return_str.blank? %></td>
        <td><%= link_to(pm_str.html_safe, "#{pm_url}", :confirm => "実績を作成します。よろしいでしょうか？") if !pm_str.blank? %></td>
        <% end %>
    
        <td><%= item.prop.name %></td>
        <td><%= item.prop_stat_s %></td>
    
        <td><%= schedule_item.title %></td>
        <% unless @results_flg %>
        <td><%= nz(schedule_item.participant_nums_inner,0) %></td>
        <td><%= nz(schedule_item.participant_nums_outer,0) %></td>
        <% end %>
        <td><%= schedule_item.owner_gname %></td>
        <td><%= schedule_item.owner_uname %></td>
    
        <td><%= st_at.strftime('%Y-%m-%d') + ' （' + @wdays[st_at.wday] + '） ' + st_at.strftime('%H:%M') %></td>
        <td><%= ed_at.strftime('%Y-%m-%d') + ' （' + @wdays[ed_at.wday] + '） ' + ed_at.strftime('%H:%M') %></td>
        <% unless @results_flg %>
        <td><%= created_at.strftime('%Y-%m-%d') + ' （' + @wdays[created_at.wday] + '） ' + created_at.strftime('%H:%M') %></td>
        <% end %>
      </tr>
    <% end %>
  </table>

  <table>
    <tr>
      <td>
        <% if @results_flg %>
          <input id="results_delete_list" name="results_delete_list" type="submit" value="　予約削除　" />
        <% else %>
          <input id="confirm_submit" name="confirm_submit" type="submit" value="　選択承認　" />
        <% end %>
      </td>
      <td>
        <%= link_to '全選択', "javascript:List_Form.checkAll('listForm', 'ids', 1);" %><br />
        <%= link_to '全解除', "javascript:List_Form.checkAll('listForm', 'ids', 0);" %>
      </td>
    </tr>
  </table>
</form>
<% end %>
