<%
@hedder2lnk = 3 if @history.blank?
@hedder2lnk = 4 if @history == '1'
@hedder2lnk = 5 if @history == '2'
@hedder2lnk = 8 if params[:s_genre] == @genre && @genre == "other"

@sp_mode = :prop
@sp_mode_extra = @genre

@hedder3lnk = 1
@hedder3lnk = 2 if nz(params[:order], 'st_at') == 'group' && @genre == 'rentcar'
@hedder3lnk = 4 if @results == "make"
today = Date.today
@wdays = ["日", "月", "火", "水", "木", "金", "土"]
%>

<div class="piece prop index">
<div class="pieceHeader">
<%= render 'piece_header' -%>
</div>
<div class="pieceBody">
<div class="pieceBodyHeader">
  <%= render '/gw/admin/schedule_props/bt_box', d: Date.today -%>
  <%= render 'header' -%>
</div>
<div class="pieceBodyBody">

<% case params[:s_genre] %>
<% when 'meetingroom' %>
  <%= render 'search_meetingroom' %>
<% when 'rentcar' %>
  <%= render 'search_rentcar' %>
<% when 'other' %>
  <%= render 'search_other' %>
<% end %>

<% unless @results_flg %>
<div class="functionBox">
  <%= link_to "CSV出力", "/gw/prop_extras/csvput#{@prop_params}", :class => "borderButton" %>
</div>
<% end %>

<%= page_entries_info @items %>

<% case params[:s_genre] %>
<% when 'meetingroom' %>
  <%= render 'index_meetingroom' %>
<% when 'rentcar' %>
  <%= render 'index_rentcar' %>
<% when 'other' %>
  <%= render 'index_other' %>
<% end %>

<%= paginate @items %>

<script type="text/javascript">
//<![CDATA[

/**
 * List Utility.
 */
function List_Form() {
}

/**
 * Methods.
 */
List_Form.checkAll   = _List_Form_checkAll;

/**
 * Checks the checkbox.
 */
function _List_Form_checkAll(formId, itemId, value) {
  form = document.getElementById(formId);
  for (var i = 0; i < form.elements.length; i++) {
    pattern = new RegExp('^' + itemId + '\\[.*\\]');
    if(form.elements[i].name.match(pattern)) {
      form.elements[i].checked = value;
    }
  }
}
//]]>
</script>

</div>
<div class="pieceBodyFooter"></div>
</div>
</div>
