<%

################
##### 表示する予定表の「最初の時刻」と「最後の時刻」の範囲を決定
prop_schedules = Hash::new
@props.each do |prop|
  key = "prop_#{prop.id}"
  prop_schedules[key] = Hash::new
  prop_schedules[key][:schedules] = Array.new
  prop_schedules[key][:allday_flg] = false
  prop_schedules[key][:allday_cnt] = 0

  @schedules.each do |schedule|
    participant = false
    schedule.schedule_props.each do |schedule_prop|
      break if participant
      participant = schedule_prop.prop_id == prop.id
    end
    if participant
      prop_schedules[key][:schedules] << schedule
      if schedule.allday == 1 || schedule.allday == 2
        prop_schedules[key][:allday_flg] = true
        prop_schedules[key][:allday_cnt] += 1
      end
    end
  end

  prop_schedules[key][:schedule_len] = prop_schedules[key][:schedules].length

  if prop_schedules[key][:schedule_len] == 0
    prop_schedules[key][:trc] = "scheduleTableBody"
    prop_schedules[key][:row] = 1
  else
    if prop_schedules[key][:allday_flg] == true
      prop_schedules[key][:trc] = "alldayLine"
      prop_schedules[key][:row] = (prop_schedules[key][:schedule_len] * 2) - ((prop_schedules[key][:allday_cnt] * 2) - 1)
    else
      prop_schedules[key][:trc] = "scheduleTableBody categoryBorder"
      prop_schedules[key][:row] = prop_schedules[key][:schedule_len] * 2
    end
  end
end
show_day_header = render(:partial => '/gw/admin/schedules/show_day_header')
%>

<div class="piece schedulePiece dayview">
  <div class="pieceHeader">
    <%= render :partial => '/gw/admin/schedules/piece_header', :locals=>{:d=>@st_date, :mode=>'day'} %>
  </div>
  <div class="pieceBody">
    <div class="pieceBodyHeader">
      <%= render(:partial => '/gw/admin/schedules/schedule_header', :locals=>{:d=>@st_date, :mode=>'day', :show_flg => @show_flg}) -%>
      <%= render(:partial => '/gw/admin/schedule_props/other_group_select') -%>
    </div>

    <div class="pieceBodyBody">
      <table summary="スケジュール詳細" class="scheduleTable">
        <tbody>
          <% if @show_flg %>

          <% @props.each_with_index do |prop, p_id| %>
          <%
          key = "prop_#{prop.id}"
          schedule_data = prop_schedules[key]
          genre_class_s = " #{prop.get_type_class}"

          parent_groups = Gw::PropOther.get_parent_groups
          admin_first_id = prop.get_admin_first_id(parent_groups)
          group  = System::GroupHistory.find_by_id(admin_first_id)
          caption_main_s = "#{prop.name}(#{group.name if !group.blank?})"

          if @is_gw_admin || (@prop_edit_ids.index(prop.id) && prop.reserved_state == 1 && prop.delete_state == 0) # 権限があるかどうか確認
            is_prop_edit = true
          else
            is_prop_edit = false
          end
          #if prop.reserved_state == 0 || prop.delete_state == 1
          #  is_prop_edit = false
          #end
          %>
          <% if @header_each == 0 && p_id == 0 || @header_each != 0 && p_id % @header_each == 0 %>
          <%= show_day_header -%>
          <% end %><%# header End %>

          <tr class="<%= schedule_data[:trc] -%>">
            <th rowspan="<%= schedule_data[:row] -%>" class="scheduleUser">

              <div class="username<%= genre_class_s -%>">
                <span>
                  <a href="/gw/prop_others/<%= prop.id -%>"><%= caption_main_s -%></a>
                  <% if is_prop_edit %>
                  <%= show_schedule_edit_icon(@calendar_first_day, :prop_id=>prop.id, :s_genre => "other") -%>
                  <% end %>
                </span>
                <span class="linkBox">
                  <a href="/gw/schedule_props/show_week?s_genre=other&s_date=<%= @calendar_first_day.strftime("%Y%m%d") -%>&prop_id=<%= prop.id -%>" class="weekLink">週表示</a>
                  <a href="/gw/schedule_props/show_month?s_genre=other&s_date=<%= @calendar_first_day.strftime("%Y%m%d") -%>&prop_id=<%= prop.id -%>" class="monthLink">月表示</a>
                </span>
              </div>
            </th>

            <% if schedule_data[:schedule_len] == 0 %>
            <% (@calendar_end_time - @calendar_first_time + 1).times do %>
            <td colspan="2" class="scheduleData">
              <!-- 予定無し -->
            </td>
            <% end %>
            <% else %>
            <% participant_schedule_cnt = 0 %>
            <% schedule_data[:schedules].each do |schedule| %>
            <%
              schedule_id = "sche#{schedule.id}_#{prop.id}"
              participant = false
              schedule.schedule_props.each do |schedule_prop|
                break if participant
                participant = schedule_prop.prop_id == prop.id
              end

              public =  schedule.is_public_auth?(@is_gw_admin)
            %>

            <%= render(:partial => '/gw/admin/schedules/show_day_one',
              :locals=>{:schedule => schedule, :schedule_data => schedule_data,
                :participant_schedule_cnt => participant_schedule_cnt, :public => public, :schedule_id => schedule_id}) -%>

              <% participant_schedule_cnt += 1 %>
              <% end %><%# if @schedules.each_with_index end%>
            <% end %><%# if user_schedule[:schedule_len] == 0 end%>

          <% end %><%# @prop.each end%>

          <%= show_day_header -%>
          <% else %><%# if @show_flg %>
            <%= Gw.div_notice('表示する項目はありません。') -%>
          <% end %><%# if @show_flg %>
        </tbody>
      </table>
    </div>

    <div class="pieceBodyFooter">
      <%= render(:partial => '/gw/admin/schedules/schedule_footer', :locals=>{:d=>@st_date, :mode=>'day', :show_flg => @show_flg}) -%>
    </div>
  </div>
</div>

<%= raw(gw_js_ind_popup) %>
<script type="text/javascript">
//<![CDATA[
  var my_load = function() {
    gw_js_ind_popup();
  }
  window.onload = my_load;
//]]>
</script>