<%
@format ||= "%_d"
week_first_day = @calendar_first_day
%>
<div class="piece schedulePiece monthview">
<div class="pieceHeader">
  <%= render '/gw/admin/schedules/piece_header', d: @month_first_day, mode: 'month' -%>
</div>
<div class="pieceBody">
<div class="pieceBodyHeader">
  <%= render '/gw/admin/schedules/schedule_header', d: @st_date, mode: 'month' -%>
</div>

<div class="pieceBodyBody">
<% if @read -%>
<table class="<%= @genre %>">
  <tbody>
    <tr class="scheduleTableHead weekdayHead">
      <% 7.times do |i| %>
        <% wday = (@calendar_first_day + i).wday %>
        <th class="scheduleData <%= Gw.weekday(wday, 'eh') -%>"><span class="nobr"><%= Gw.weekday(wday) %></span></th>
      <% end %>
    </tr>
    <% @calendar_first_day.step(@calendar_end_day, 7) do |week_first_day| %>
      <tr class="scheduleTableHead dayHead">
        <% 7.times do |i| %>
          <%
          week_add_day = week_first_day + i
          %>
          <th class="<%= create_month_class(week_add_day, @st_date, @holidays, params) %>">
            <span class="nobr"><%= link_to date_format(@format, week_add_day), "/gw/schedule_props/#{(week_add_day).strftime('%Y%m%d')}?s_genre=#{@genre}&cls=#{@cls}&prop_id=#{params[:prop_id]}&type_id=#{params[:type_id]}" %></span>
          </th>
        <% end %>
      </tr>
      <tr class="scheduleTableBody lineNo1">
        <% 7.times do |i| %>
          <%
          week_add_day = week_first_day + i
          schedule_props = @schedule_props.select {|sp| sp.date_between?(week_add_day) }
          holidays = @holidays.select {|h| h.ed_at && h.ed_at.to_date == week_add_day }
          %>
          <td class="<%= create_month_class(week_add_day, @st_date, @holidays, params) %>">
            <!-- schedules -->
            <%= render '/gw/admin/schedules/show_week_one', schedules: schedule_props.map(&:schedule), week_add_day: week_add_day, display_prop: @prop if schedule_props.present? %>
            <!-- holidays -->
            <% holidays.each do |holiday| %>
              <div title="<%= holiday.title -%>" class="ind" id="holiday<%= holiday.id -%>">
                <span class="title"><%= holiday.title -%></span>
              </div>
            <% end %>
            <!-- edit icon -->
            <%= show_schedule_edit_icon(week_add_day, prop_id: params[:prop_id], s_genre: params[:s_genre]) if @is_gw_admin || (@edit && @prop.reserved_state != 0 && @prop.delete_state != 1) -%>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
  <%= show_notice %>
<% end %>
</div>
<div class="pieceBodyFooter">
  <%= render '/gw/admin/schedules/schedule_footer', d: @calendar_first_day, mode: 'month' %>
</div>
</div>
</div>
