<div class="piece digitalLibrary">
<div class="pieceHeader">
<h2>電子図書</h2>
</div>
<div class="pieceBody">
<div class="pieceBodyBody">
<div class="editingBox cabinets">
<span class="btEdit"><%=link_to '編集', edit_digitallibrary_cabinet_path(@item) %></span>
<span class="btDestroy"><%=link_to '削除', digitallibrary_cabinet_path(@item), :confirm => '削除をすると元に戻せません。削除しますか', :method => :delete %></span>
<span class="docLink"><%=link_to '公開画面へ >>', digitallibrary_docs_path({:title_id=>@item.id, :cat=>"1"})%></span>
</div>
<table class="show cabinets">
 <tr>
<th>状態</th>
<td><%=@item.states[@item.state]%></td>
 </tr>
</table>
<table class="show cabinets">
 <tr>
<th>書庫名</th>
<td><%= h @item.title%></td>
 </tr>
 <tr>
<th>一覧表示行数</th>
<td><%=@item.default_limit%></td>
 </tr>
</table>

<table class="show cabinets">
<tr>
<th>管理部門</th>
<td>
<% for admingrp in @admingrps %>
<%=%Q[#{admingrp[2]}]%><br />
<%end if @admingrps%>
</td>
</tr>
<tr>
<th>管理者</th>
<td>
<% for adm in @adms %>
<%=%Q[#{adm[2]}]%><br />
<%end if @adms%>
</td>
</tr>
<tr>
<th>編集部門設定</th>
<td>
<% for editor in @editors %>
<%=%Q[#{editor[2]}]%><br />
<%end if @editors%>
</td>
</tr>
<tr>
<th>編集者設定</th>
<td>
<% for sueditor in @sueditors %>
<%=%Q[#{sueditor[2]}]%><br />
<%end if @sueditors%>
</td>
</tr>
<tr>
<th>閲覧部門設定</th>
<td>
<% for reader in @readers %>
<%=%Q[#{reader[2]}]%><br />
<%end if @readers%>
</td>
</tr>
<tr>
<th>閲覧者設定</th>
<td>
<% for sureader in @sureaders %>
<%=%Q[#{sureader[2]}]%><br />
<%end if @sureaders%>
</td>
</tr>
</table>
<div class="btReturn">
<%=link_to '管理一覧へ戻る', digitallibrary_cabinets_path %>
</div>
</div>
</div>
</div>