<div class="piece digitalLibrary">
<div class="pieceHeader">
  <h2>電子図書</h2>
</div>
<div class="pieceBody">
<div class="pieceBodyBody">

<div class="editingBox cabinets">
  <span class="btEdit"><%= link_to '編集', edit_digitallibrary_cabinet_path(@item) %></span>
  <span class="btDestroy"><%= link_to '削除', digitallibrary_cabinet_path(@item), confirm: '削除をすると元に戻せません。削除しますか', method: :delete %></span>
  <span class="docLink"><%= link_to '公開画面へ >>', digitallibrary_docs_path(title_id: @item.id) %></span>
</div>

<table class="show cabinets">
  <tr>
    <th>状態</th>
    <td><%= @item.states[@item.state] %></td>
  </tr>
</table>

<table class="show cabinets">
  <tr>
    <th>書庫名</th>
    <td><%= @item.title %></td>
  </tr>
  <tr>
    <th>一覧表示行数</th>
    <td><%= @item.default_limit %></td>
  </tr>
</table>

<%= render '/gwboard/admin/adms/show' %>

<div class="btReturn">
  <%= link_to '管理一覧へ戻る', digitallibrary_cabinets_path %>
</div>

</div>
</div>
</div>
