<%
groups            = Gwsub.grouplist4(nil, nil , true , nil)
group_role = @u_role || is_manager
groups2             = Gwsub.section_manager_names(nil, nil , group_role , nil)  #差出人
sections  = Gwsub::Sb00ConferenceSectionManagerName.get_g_names(@item.group_id.to_i)  #差出人
title_options     = {:code=>0}
official_titles   = Gwsub::Sb06AssignedOfficialTitle.sb06_official_title_id_select(title_options)
conf_item_options = {:c_kind_id=>@kind_id}
conf_items        = Gwsub::Sb06AssignedConfItem.sb06_assign_conf_item_id_select(conf_item_options)
#users             = System::User.get_user_select(@item.group_id)
conf_kinds        = Gwsub::Sb06AssignedConfKind.find(@kind_id)  unless @kind_id.to_i==0
conf_kinds        = nil if  @kind_id.to_i==0
%>
<%# 申請書共通 %>
<%= f.hidden_field :fyear_id %>
<%= f.hidden_field :categories_id %>
<%= f.hidden_field :conf_kind_id %>
<%= f.hidden_field :conf_mark   %>
<%= f.hidden_field :conf_no %>
<%= f.hidden_field :conf_kind_place %>
<%# 担当者共通 %>
<%= f.hidden_field :work_name %>
<%= f.hidden_field :work_kind %>
<%= f.hidden_field :extension %>
<%= f.hidden_field :user_mail %>
<%= f.hidden_field :user_job_name %>
<%= f.hidden_field :start_at %>
<%= f.hidden_field :remarks %>

<%= f.error_messages %>
<%= required_head %>
<div class="frame">
<div class="sb06_assigned_conference_date">
<%= required %><%= f.datepicker :conf_at %>
</div>
<div class="sb06_assigned_conference_group_to"><%= @item.c_kind.conf_to_name + '　殿' unless @item.c_kind.conf_to_name.blank? %></div>
<div class="sb06_assigned_conference_group_from"><%= required %><%= f.select :group_id, options_for_select(groups2, @item.group_id.to_i) %></div>
<div class="sb06_assigned_conference_group_from"><%= f.select :section_manager_id, options_for_select(sections, @item.section_manager_id) %></div>
<div class="sb06_assigned_conference_title"><%= @item.c_kind.conf_title %></div>
<div style="margin-top:3em;" class="left"><%=br @item.c_kind.conf_body %></div>
<br/>
<table class="index">
  <tr>
    <th>所属・氏名<%= required %></th><th>連絡先</th>
  </tr>
  <% @members.each_with_index do |member, idx| %>
  <tr>
    <td>
      <%= f.hidden_field :id, {value: nz(member.id, 0), index: idx}  %>
      <%= f.hidden_field :conf_item_id, value: member.conf_item_id, index: idx %>
      <%= f.hidden_field :sort_no, size: 5, value: member.sort_no, index: idx %>
      <div>
        <%= f.select :user_section_id , options_for_select(groups,member.user_section_id.to_i), {include_blank: true}, index: idx, onchange: "get_user(#{idx});" %><br />
        <% users = System::User.get_user_select(member.user_section_id, nil, ldap: 1) %>
        <%= f.select :user_id, ('<option value="-1">[指定なし]</option>' + options_for_select(users, member.user_id.to_i)).html_safe, {include_blank: false}, index: idx %>
      </div>
    </td>
    <td><%= f.text_field :extension, class: 'IMEoff', index: idx %></td>
  </tr>
  <% end %>
</table>
<br/>
</div>

<script type="text/javascript">
//<![CDATA[
  var end_cnt = -1;
  var ed_str = '';
  function get_user(idx) {
//    g_id = $("item_group_id").value;
    g_idx = idx
    g_id_str  = "item_"+g_idx+"_user_section_id"
    u_id_str  = "item_"+g_idx+"_user_id"
//      g_id = $("item_0_user_section_id").value;
      g_id = $(g_id_str).value;
      document.body.style.cursor = 'wait';
      end_cnt = 0;
      new Ajax.Request("<%= url_for({:action => :index})%>/user_fields?g_id=" + g_id+"&sp=y", {method:'get', onComplete: function(x){
//        $('item_0_user_id').update(x.responseText);
        $(u_id_str).update(x.responseText);
        end_cnt = end_cnt + 1;
        if (end_cnt == 1) {
          document.body.style.cursor = 'default';
        }
      }})
  }
//]]>
</script>
