<div class="bbsDocList circular">
<div class="pieceHeader"><h2 class="pieceTitle"><%= Page.title %></h2></div>

<div class="pieceBody">
<%= render 'header' %>
<%= render 'title_info' %>

<%= form_for :item, :url => {:action => :update}, :html => {:method => :put, :multipart => true, :id => 'itemForm'} do |f| %>
  <%= f.error_messages %>
  <%= render 'form', f: f %>
  <%= submit_for f, {:caption=>'回答する'} %>
<% end %>

</div>
</div>
