<table class="show bbsText">
<tr><th colspan="2">アンケート作成</th></tr>
<tr><th>形式選択</th><td><%= text_field_tag :help_0, @array_help[0], :size => '100' %></td></tr>
<tr><th>記事管理設定</th><td><%= text_field_tag :help_1, @array_help[1], :size => '100' %></td></tr>
<tr><th>一覧に表示</th><td><%= text_field_tag :help_2, @array_help[2], :size => '100' %></td></tr>
<tr><th>注意事項　表示</th><td><%= text_field_tag :help_5, @array_help[5], :size => '100' %></td></tr>
<!--<tr><th>配信先設定</th><td><%#= text_field_tag :help_6, @array_help[6], :size => '100' %></td></tr>-->
<tr><th colspan="2">設問登録</th></tr>
<tr><th>設問形式</th><td><%= text_field_tag :help_3, @array_help[3], :size => '100' %></td></tr>
<tr><th>投稿許可設定 </th><td><%= text_field_tag :help_4, @array_help[4], :size => '100' %></td></tr>
</table>

