<div class="piece gwfaq">
<%= render :partial => 'header_str' %>
<div class="pieceBody">

<%= form_for :item, :url => gwfaq_category_path(@item,{:parent_id=>params[:parent_id],:title_id=>params[:title_id]}), :html => {:method => :put} do |f| %>

<%= f.error_messages %>

<%= render :partial => 'form', :locals => {:f => f} %>

<%= submit_for(f,{:caption=>'編集する'}) %>
<% end %>

</div><!--pieceBody-->
</div><!--piece gwfaq-->
