<%
limits        = Gw.limit_select
budget_roles  = Gwsub::Sb06BudgetRole.sb06_budget_roles_id_select('all')
m_states      =  Gwsub::Sb06BudgetAssignMain.main_state('all')
a_states      =  Gwsub::Sb06BudgetAssignAdmin.admin_state('all')
if @budget_admin==true
  groups        = Gwsub.grouplist4( nil ,'all',@budget_admin,nil,nil)
else
  if @budget_main==true
    groups        = Gwsub.grouplist4( nil ,'all',@budget_main,nil,Core.user_group.parent_id)
  else
    groups        = Gwsub.grouplist4( nil ,'all',nil,nil,nil)
  end
end
#options   = {:all=>'all',:role1=>@u_b_admin,:role2=>@u_b_main}
#groups    = Gwsub::Sb06BudgetAssign.grouplist(options)
%>
<%= form_tag('', :method => :get, :class => 'search', :name=>'frmSearch') do %>
<table>
<tr>
<td>権限</td>
<td><%= select_tag( 'b_role_id',options_for_select( budget_roles , @b_role_id.to_i ) ) %></td>
<td>主管課承認</td>
<td><%= select_tag( 'm_state',options_for_select( m_states,@m_state.to_i ) ) %></td>
<td>所属</td>
<td><%= select_tag( 'group_id',options_for_select( groups , @group_id.to_i ) ) %></td>
</tr>
<tr>
<td>表示行数</td>
<td><%= select_tag( 'limit',options_for_select( limits , @limit.to_i ) ) %></td>
<td>管理者承認</td>
<td><%= select_tag( 'a_state',options_for_select( a_states,@a_state.to_i ) ) %></td>
<td>兼務</td>
<td><%= select_tag( 'multi_group_id',options_for_select( groups , @multi_group_id.to_i ) ) %></td>
</tr>
<tr>
<td></td><td></td><td></td><td></td>
<td>検索</td>
<td><%= text_field_tag "s_keyword", params[:s_keyword] ,:size=>40 %></td>
<td class="submitters">
<%= submit_tag '検索',     :name => :search %>
<%= submit_tag 'リセット', :name => :reset  %>
</td>
</tr>
</table>
<!-- end form -->
<%end%>
<% unless (params[:reset] || !params[:search] ) %>
<div class="hit">検索結果<span class="count"><%= "#{@items.total_entries}" %></span>件</div>
<% end %>
