<%
budget_roles  = Gwsub::Sb06BudgetRole.sb06_budget_roles_id_select('all')
limits        = Gw.limit_select
%>
<%= form_tag('', :method => :get, :class => 'search', :name=>'frmSearch') do %>
<table>
<tr>
<td>権限</td>
<td><%= select_tag( 'b_role_id',options_for_select( budget_roles , @b_role_id.to_i ) ) %></td>
<td>表示行数</td>
<td><%= select_tag( 'limit',options_for_select( limits , @limit.to_i ) ) %></td>
<td>検索</td>
<td><%= text_field_tag "s_keyword", params[:s_keyword] ,:size=>40 %></td>
<td class="submitters">
<%= submit_tag '検索',     :name => :search %>
<%= submit_tag 'リセット', :name => :reset  %>
</td>
</tr>
</table>
<!-- end form -->
<%end%>
<% unless (params[:reset] || !params[:search] ) %>
<div class="hit">検索結果<span class="count"><%= "#{@items.total_entries}" %></span>件</div>
<% end %>
