<%
# メニュータイトル
link_str1 = %Q(<span>一覧</span>)
link_str2 = nil
link_str4 = nil
link_str5 = nil
# url
link_url1 = url_for({:action => :index})
link_url2 = url_for({:action => :new})
link_url4 = '/gwsub/sb06/sb06_budget_assigns?do=recognize_main'
link_url5 = '/gwsub/sb06/sb06_budget_assigns?do=recognize_admin'
# メニュータイトル設定、選択位置判定
if @l2_current  ==  '01'
  link_str1 = %Q(<span class="gwsub_current_menu">一覧</span>)
end
# 登録権限判定
# ログインユーザーに編集権限があること
# システム管理者は常時true、その他ユーザーは編集期間内であること
editable  = Gwsub::Sb06BudgetRole.budget_editable?( Core.user.id , Time.now )
if editable == true
  link_str2 = %Q(<span>登録</span>)
  if @l2_current  ==  '02'
    link_str2 = %Q(<span class="gwsub_current_menu">登録</span>)
  end
end
# 予算主管課一括承認の権限判定
#  if Gwsub::Sb06BudgetRole.budget_main?( Core.user.id ) == true
recognize_main  = Gwsub::Sb06BudgetRole.budget_recognizable?( 'main',Core.user.id )
if recognize_main == true
  link_str4= %Q(<span>主管課一括承認</span>)
  if @l2_current  ==  '04'
    link_str4 = %Q(<span class="gwsub_current_menu">主管課一括承認</span>)
  end
else
  link_str4= %Q(<span style="color:gray">　主管課一括承認　|</span>)
end
# 予算管理者一括承認の権限判定
recognize_admin  = Gwsub::Sb06BudgetRole.budget_recognizable?( 'admin',Core.user.id )
if recognize_admin == true
  link_str5 = %Q(<span>管理者一括承認</span>)
  if @l2_current  ==  '05'
    link_str5 = %Q(<span class="gwsub_current_menu">管理者一括承認</span>)
  end
else
  link_str5 = %Q(<span style="color:gray;">　管理者一括承認　|</span>)
end
%>
<div class="menu">
<%= link_to link_str1.html_safe , link_url1  unless link_str1.blank? -%>
<%= link_to link_str2.html_safe , link_url2  unless link_str2.blank? -%>
<%= link_to link_str4.html_safe , link_url4,:confirm=>'主管分をすべて承認します。よろしいですか？'  if recognize_main == true -%>
<%= link_str4.html_safe unless recognize_main == true -%>
<%= link_to link_str5.html_safe , link_url5,:confirm=>'登録分をすべて承認します。よろしいですか？'  if recognize_admin == true -%>
<%= link_str5.html_safe unless recognize_admin == true -%>
</div>
