<%
editable  = Gwsub::Sb06BudgetRole.budget_editable?(Core.user.id,Time.now,@item)
#  @budget_role = @u_role || @u_b_admin || @u_b_main  || @u_b_editor
@budget_role = @u_role || @budget_admin || @budget_main
option_show   = {'table_name'=>'gwsub_sb06_budget_assigns',:action=>'show'}
option_state  = {'table_name'=>'gwsub_sb06_budget_assigns',:action=>'show_state'}
-%>
<div class="gwsub sb06">
<div class="pieceHeader">
<h2>予算担当登録</h2>
</div>
<div class="pieceBanner">
<%= render 'gwsub/admin/sb06/sb06_subfunction_select_menu' %>
<%= render 'gwsub/admin/sb06/sb06_budget_assigns/submenu' %>
</div>
<div class="pieceBody">
<% if @item.user_code == "sys10" || @item.user_code == "sys11" || @item.user_code == "sys12" || @item.user_code == "sys13" || @item.user_code == "sys14" || @item.user_code == "sys15" || @item.user_code == "sys16" %>
<% if @budget_admin %>
<div class="showMenu">
<%= link_to_edit(@item.id)      if editable == true -%>
<%= link_to_destroy(@item.id)   if @u_role==true -%>
</div>
<% end %>
<% else %>

<div class="showMenu">
<%= link_to_edit(@item.id)      if editable == true -%>
<%= link_to_destroy(@item.id)   if @u_role==true -%>
</div>

<% end %>
<%= table_to_show2(@item,option_show).html_safe %>
<%= table_to_show2(@item,option_state).html_safe %>
</div>
</div>
