<%
# 共通必須
comm_params = "?h1_menu=#{@render_menu1}&l1_c=#{@l1_current}"
comm_params << "&u_role=#{@u_role}"
comm_params << "&ctrl=#{@ctrl}"
comm_params << "&ctrl_name=#{@ctrl_name}"
# 共通任意
comm_params << "&h2_menu=#{@render_menu2}"  unless @render_menu2.blank?
comm_params << "&l2_c=#{@l2_current}"       unless @l2_current.blank?
comm_params << "&h3_menu=#{@render_menu3}"  unless @render_menu3.blank?
comm_params << "&l3_c=#{@l3_current}"       unless @l3_current.blank?
# 個別必須
if @ctrl_name=="sb06_assigned_conferences"
  comm_params << "&fy_id=#{@fy_id}&c_cat_id=#{@c_cat_id}&kind_id=#{@kind_id}&help=#{@help}"
end
# 適用クラス
#comm_class = @ctrl_name.split('_')
%>

<div class="gwsub <%= @comm_class_no %>">
<div class="pieceHeader">
<h2><%= @ctrl_title%></h2>
</div>
<div class="pieceBanner">
<%= render '/gwsub/admin/sb00/sb00_conference_references/menu' %>
</div>
<div class="pieceBody">
<%= render 'gwsub/admin/sb00/sb00_conference_references/display_name' %>

<%#= table_to_index2(@items,options) %>
<% if @items.blank? %>
<% else %>
<table class="index">
  <tr>
    <th></th>
    <th>年度</th>
    <th>種別コード</th>
    <th>種別名称</th>
    <th>表示文字列</th>
    <th>対象所属</th>
  </tr>
  <% @items.each do |item| %>
  <tr class="<%= cycle '', 'cycle' %>">
    <td><%= link_to '詳細' ,url_for("#{@index_uri}#{item.id}#{comm_params}") %></td>
    <td><%= item.fy.markjp %></td>
    <td><%= item.kind_code %></td>
    <td><%= item.kind_name %></td>
    <td><%= item.title %></td>
    <td><%= item.grp.name %></td>
  </tr>
  <% end %>
</table>
<% end %>
<br/>
<%= paginate @items %>
<br/>
</div>
</div>
