<%= hidden_field_tag 'limit', @limits %>

<%= f.error_messages %>
<%= required_head %>
<table class="show">
<tr><th>職名コード<%= required %></th>
<td><%= f.text_field :official_title_code    ,:class=>'num' %></td>
</tr>
<tr><th>職名<%= required %></th>
<td><%= f.text_field :official_title_name    ,:class=>'name' %></td>
</tr>
<tr><th>表示順</th>
<td><%= f.text_field :official_title_sort_no ,:class=>'num' %></td>
</tr>
</table>
<div class="preserve">
<%= f.submit '保存' %>
</div>
<%#= render 'gwsub/admin/sb04/sb04_common_info_form', f: f %>
