<%
label=["","","","","","","","","",""]
enable  =["","","","","","","","","",""]
main_title = ["",""]
answers   = ["","","","","","","","","",""]
remarks   = ["","","","","","","","","",""]
unless @title.form_configs.blank?
  configs = JSON.parse(@title.form_configs)
  main_title = configs[0]
  enable = configs[1]
  label = configs[2]
end
%>

<table class="index">
  <tr>
    <th style="width: 70px;">状態</th>
    <th style="width: 200px;">配信先</th>
    <th style="width: 100px;">回答者</th>
    <th>回答</th>
    <th style="width: 60px;">添付</th>
  </tr>
  <% @items.each do |item| %>
  <tr class="<%= cycle 'article', 'article cycle' %>">
    <td style="width:70px;text-align: center;"><%=raw item.status_name_show %></td>
    <td><%= link_to "#{item.target_user_name}#{item.target_user_code}", item.result_show_path %></td>
    <td><%= item.editor %></td>
    <td>
    <%
      body_str = ""
      unless item.body.blank?
      answer_sets = JSON.parse(item.body)
      answers = answer_sets[0]
      remarks = answer_sets[1]
      body_str=%Q(項目名：#{main_title[0]}（#{main_title[1]}）／)
      10.times { |i|
        next if enable[i]!="enabled"
        if remarks[i].blank?
          remark_str = ""
        else
          remark_str = remarks[i].to_s.gsub(/\r\n|\r|\n/, "")
        end
        body_str+= %Q(#{label[i]}：#{answers[i]}（#{remark_str}）　)
      }
      
      body_str = "#{body_str.slice(/.{90}/)}…" if body_str.split(//).length > 90
      end
      %>
      <%= body_str %>
    </td>
    <td class="bbsAttach"><%=raw item.str_attache_span if item.str_attache_span.present? %></td>
  </tr>
  <% end %>
</table>
<%= paginate @items -%>
