<div class="bbsDocList circular">
  <div class="pieceHeader"><h2 class="pieceTitle"><%=@system_title%></h2></div>

  <div class="pieceBody">
    <%= render :partial => 'header' %>

    <%= render :partial => 'title_info' %>

    <table class="index">
      <tr>
        <th style="width: 40px; text-align: center;"></th>
        <th style="width: 40px; text-align: center;">状態</th>
        <th style="width: 50px; text-align: center;">並び順</th>
        <th style="width: 10px; text-align: center;"></th>
        <th style="width: 120px; text-align: left;">設問形式</th>
        <th>設問内容</th>
      </tr>
      <%for item in @items %>
        <tr class="<%= cycle '', 'cycle' %>">
          <td style="text-align: center;"><%= link_to '詳細', questionnaire_template_form_field_path(@title,item) %></td>
          <td style="text-align: center;"><%= item.state_name%></td>
          <td style="text-align: center;"><%= item.sort_no %></td>
          <td style="text-align: center;"><%= item.group_code %></td>
          <td style="text-align: left;"><%= item.question_type_name %></td>
          <td style="text-align: left;"><%= item.title %></td>
        </tr>
      <%end %>
    </table>
    <%= paginate @items %>

<%#if @title.answer_count.blank?%>
    <br />
    <table>
      <tr>
        <td style="width: 60px; text-align: center;">&nbsp;</td>
        <td>
          <%= button_to("設問追加",new_questionnaire_template_form_field_path(@title), {:method => :get}) if @item_edit_flg %>
        </td>
      </tr>
    </table>
<%#end%>

    <div align="center">
      <table>
        <tr>
          <td><div class="btReturn"><%=link_to('設問詳細へ戻る', questionnaire_template_path(@title)) %></div></td>
          <td>&nbsp;&nbsp;</td>
          <td><div class="btReturn"><%= link_to 'プレビューへ進む >>', new_questionnaire_template_preview_path(@title) %></div></td>
        </tr>
      </table>
    </div>

  </div>
</div>
