<%
@edit_path = "#{@index_uri}#{@user.id}"
@action = "edit"
%>
<div class="gwsub sb05">
<%= render 'gwsub/admin/sb05/sb05_piece_header' %>
<div class="pieceBanner">
<%= render 'gwsub/admin/sb05/sb05_users/menu' %>
</div>
<div class="pieceBody">

<div class =" showMenu">
<%= link_to '詳細', url_for("#{@index_uri}#{@user.id}") %>
</div>
<%= form_for :user, :url => @edit_path ,:action=>:update, :html => {:method => :put, :multipart => true} do |f| %>
  <%= render 'form', f: f %>
<% end %>
</div>
</div>
