<%
options = {
  'table_name'    =>  'gwsub_sb05_users' ,
  :action         =>  'show',
  'link_to_show'  =>  1
}
options['field_td_criteria'] = {
  'telephone' => Proc.new{|item|
    item.telephone=='未登録' ? %Q(<div style="color:red">#{item.telephone}</div>) :item.telephone },
  'org_display' => Proc.new{|item|
    item.org_display=='0' ? %Q(<div style="color:red">#{item.org_display}</div>) :item.org_display }
}

# 広報依頼記事がある場合、連絡先は削除不可
deletable             = false
r_count               = Gwsub::Sb05Request.where(sb05_users_id: @user.id).count
deletable             = true if r_count==0
%>

<div class="gwsub sb05">
<%= render 'gwsub/admin/sb05/sb05_piece_header' %>
<div class="pieceBanner">
<%= render 'gwsub/admin/sb05/sb05_users/menu' %>
</div>
<div class="pieceBody">
<% if (@u_role==true || @role_edit_grp==@user.org_code) %>
<div class="editingBox">
  <span class="btEdit"><%= link_to '編集', url_for("#{@index_uri}#{@user.id}/edit")  %></span>
  <span class="btDestroy"><%= link_to '削除', url_for("#{@index_uri}#{@user.id}") , :confirm=>'削除してよろしいですか？' , :method => :delete if deletable==true %></span>
</div>
<% end %>

<%#= render 'gwsub/admin/sb05/sb05_requests_user' %>
<%= table_to_show2(@user,options) %>
</div>
</div>
