<%#3 兼務者登録 %>
<%
# 担当割当
name_jp = nil
fyear = Gw::YearFiscalJp.find(@item.fyear_id)
name_jp = fyear.namejp unless fyear.blank?
if name_jp.blank?
  header_str = nil
else
  header_str = "#{name_jp}年度　電子職員録詳細"
end
@add_path = "#{@csv_base_url}/add_update?#{@qs}"
@action = "add"
-%>

<div class="gwsub sb04">
<%= render :partial => 'gwsub/admin/sb04/sb04_piece_header' %>
<div class="pieceBanner">
<%= render :partial => 'gwsub/admin/sb04/sb04_submenu' %>
</div>

<div class="pieceBody">
<%= div_notice %>
<% unless @items.blank? %>
  <div class="btReturn">
  <%= link_to '詳細に戻る',"#{@csv_base_url}/#{@items[0].id}?#{@qs}" %>
  </div>
<% end %>
<%= form_for :item, :url => @add_path ,:action=>:update, :html => {:method => :put, :multipart => true} do |f| %>
  <%= render :partial => 'add_form', :locals => {:f => f} %>
<% end %>
<div><h4><%= h header_str %></h4></div>
<%= render :partial => 'gwsub/admin/sb04/sb04divideduties/show' ,:locals=>{:base_url=>"#{@csv_base_url}"} %>
</div>
</div>
