<%
  name_jp = nil
  fyear = Gw::YearFiscalJp.find(@items[0].fyear_id)
  name_jp = fyear.namejp unless fyear.blank?
  if name_jp.blank?
    header_str = nil
  else
    header_str = "#{name_jp}年度　電子職員録詳細"
  end
  @action = "edit"
-%>

<div class="gwsub sb04">
<%= render :partial => 'gwsub/admin/sb04/sb04_piece_header' %>
<div class="pieceBanner">
<%= render :partial => 'gwsub/admin/sb04/sb04_submenu' %>
<div class="btReturn">
  <%= link_to '詳細に戻る',"#{@csv_base_url}/#{@item.id}?#{@qs}" %>
</div>
</div>
<div class="pieceBody">
<%= div_notice %>
<%= form_for :assigned_job, :url => "#{@csv_base_url}/#{@items[0].id}/assigned_job_update?#{@qs}" ,:action=>:update, :html => {:method => :put, :multipart => true} do |f| %>
  <%= render :partial => 'assigned_job_form', :locals => {:f => f} %>
<% end %>
<div><h4><%= h header_str %></h4></div>
<%= render :partial => 'gwsub/admin/sb04/sb04divideduties/show'  ,:locals=>{:base_url=>"#{@csv_base_url}"} %>
</div>
</div>
