<%
  section = nil
  assigned_jobs = nil
  headline_at = '4月1日'
  unless @items.blank?
#    fyear = @items[0].fy_rel
    fyear = Gw::YearFiscalJp.find_by_id(@items[0].fyear_id)
    if fyear.blank?
    else
      fyear_namejp = fyear.namejp
      editable_date = Gwsub::Sb04EditableDate.find_by_fyear_id(fyear.id)
      headline_at = "#{editable_date.headline_at.month}月#{editable_date.headline_at.day}日" if !editable_date.blank? && !editable_date.headline_at.blank?
    end
  end
-%>

<div class="gwsub sb04">
<%= render :partial => 'gwsub/admin/sb04/sb04_piece_header' %>
<div class="pieceBanner">
<%= render :partial => 'gwsub/admin/sb04/sb04_submenu' %>
</div>

<div class="pieceBody">
<%= render(:partial => 'gwsub/admin/sb04/sb04divideduties/search') %>
<%= render(:partial => 'gwsub/admin/sb04/sb04divideduties/select_with_fyear') %>
<%= div_notice %>
<% if @items.blank? %>
  <div class="notice">表示する項目はありません。</div>
<% else %>
  <h4>電子事務分掌表（<%= fyear_namejp %>年<%= headline_at -%>現在）</h4>
  <table class="index">
  <tr>
  <th colspan="2" style="text-align:center;"><h5>分掌事務</h5></th>
  <th style="text-align:center;">職名</th>
  <th style="text-align:center;">氏名</th>
  <th style="text-align:center;">内線</th>
  <th >備考</th>
  </tr>
  <%  @items.each do |d| %>
    <%# section line %>
    <% unless section == d.section_code -%>
      <%
      if d.section_id.to_i==0
          sect = Gwsub::Sb04section.find(:first, :conditions=>"fyear_id= #{d.fyear_id} and code = '#{d.section_code}'" , :order=>"fyear_markjp DESC ,code ASC")
          unless sect.blank?
            sect_bbs_url = sect.bbs_url
            d.section_id = sect.id
          else
            sect_bbs_url = nil
          end
      else
        sect = Gwsub::Sb04section.find(:first, :conditions=> "id = '#{d.section_id}'")
        unless sect.blank?
          sect_bbs_url = sect.bbs_url
        else
          sect_bbs_url = nil
        end
      end
      section = d.section_code
      assigned_jobs = '-1'
      %>
      <% if Gwsub::Sb04SeatingList.bbs_docs_link_check(sect_bbs_url)==false %>
        <%# リンクチェックで記事が無いとき %>
        <tr><th colspan="7" align="left"><%=  d.section_name %></th></tr>
      <% else %>
        <%# リンクチェックで記事があるとき %>
        <tr>
          <th colspan="7" align="left"><%=  d.section_name %>　　<a href=<%="#{sect_bbs_url}"%> target="_blank" title=<%="#{@bbs_link_title}"%> >事務分掌表・座席表</a></th>
        </tr>
      <% end %>
    <% end %>
    <%# assigned_jobs line %>
    <% unless assigned_jobs == d.assignedjobs_code %>
      <%
        assigned_jobs = d.assignedjobs_code
        if d.assignedjobs_id==0
          a_cond  = "fyear_markjp='#{d.fyear_markjp}' and section_code='#{d.section_code}' and code='#{d.assignedjobs_code}'"
          a_order = "fyear_markjp DESC , section_code ASC , code ASC "
          assigned_job  = Gwsub::Sb04assignedjob.find(:first , :conditions=>a_cond , :order=>a_order )
          if assigned_job.blank?
            jobs_name     = d.assignedjobs_name
            jobs_address  = d.assignedjobs_address
            jobs_tel      = d.assignedjobs_tel
          else
            d.assignedjobs_id = assigned_job.id
            jobs_name     = assigned_job.name
            jobs_address  = assigned_job.address
            jobs_tel      = assigned_job.tel
          end
        else
          assigned_job  = Gwsub::Sb04assignedjob.find_by_id(d.assignedjobs_id)
          unless assigned_job.blank?
            jobs_name     = assigned_job.name
            jobs_address  = assigned_job.address
            jobs_tel      = assigned_job.tel
          else
            jobs_name     = d.assignedjobs_name
            jobs_address  = d.assignedjobs_address
            jobs_tel      = d.assignedjobs_tel
          end
        end
        if jobs_address.blank?
          job_addr_tel = %Q(#{jobs_tel})
        else
          if jobs_tel.blank?
            job_addr_tel = %Q(#{jobs_address})
          else
            job_addr_tel = %Q(#{jobs_tel}\n#{jobs_address})
          end
        end
      %>
      <tr>
      <td><%= link_to '詳細',"#{@csv_base_url}/#{d.id}?#{@qs}" %></td>
      <th style="text-align:center;"><%= h jobs_name %></th>
      <th colspan="5" align="center" ><%= br job_addr_tel %></th>
      </tr>
    <% end %>
    <tr>
    <td></td>
    <td style="width:43%;"><%= hbr d.divide_duties %></td>
    <td style="width:12%;"><%= h d.official_title_name %></td>
    <td style="width:10%;"><%= d.name %></td>
    <td style="width:05%;"><%= h d.extension %></td>
    <td style="width:20%;"><%= h d.remarks %></td>
    </tr>
  <% end %>
  </table>
  <%= paginate @items %>
<% end %>
</div>
</div>
