<%
name_jp = nil
fyear = Gw::YearFiscalJp.find(@item.fyear_id)
headline_at = '4月1日'

unless fyear.blank?
  name_jp = fyear.namejp
  editable_date = Gwsub::Sb04EditableDate.find_by_fyear_id(fyear.id)
  headline_at = "#{editable_date.headline_at.month}月#{editable_date.headline_at.day}日" if !editable_date.blank? && !editable_date.headline_at.blank?
end
if name_jp.blank?
  header_str = nil
else
  header_str = "電子事務分掌表　詳細（#{name_jp}年#{headline_at}現在）"
end
%>
<div class="gwsub sb04">
<%= render :partial => 'gwsub/admin/sb04/sb04_piece_header' %>
<div class="pieceBanner">
<%= render :partial => 'gwsub/admin/sb04/sb04_submenu' %>
</div>

<div class="pieceBody">
<%= div_notice %>
<div><h4><%= h header_str %></h4></div>
<%= render :partial => 'gwsub/admin/sb04/sb04divideduties/show',:locals=>{:base_url=>"#{@csv_base_url}"} %>
  <div class="btReturn">
  <%= link_to '一覧に戻る',"#{@csv_base_url}?#{@qs}" %>
  </div>
</div>
</div>
