<%
grouplist4 = Gwsub.grouplist4(nil, nil , true , nil)
userlist = System::User.get_user_select(params[:gid], nil, {})
%>
<%= form_for :item, :url => "#{gw_schedule_lists_path}/user_add#{@params_set}" ,:action=>:search ,:method=>:post ,
  :html => {:id => "listForm", :style => 'border:2px solid #FF0000;margin: 15px; padding: 15px;', :multipart => true} do |f| %>
<table class="noBorderTable">
  <tr>
    <td>
      <% @ids.each do |id| %>
      <%= hidden_field_tag('ids[]', id) %>
      <% end %>
      <%= hidden_field_tag(:uid, params[:uid]) %>
      <%= hidden_field_tag(:s_year, params[:s_year]) %>
      <%= hidden_field_tag(:s_month, params[:s_month]) %>
      <%= select_tag(:add_group_id , options_for_select( grouplist4, @gid ), :onchange=>"update_grouplist()" ) %>
    </td>
    <td>
      <%= select_tag(:add_user_id , options_for_select( userlist, @uid ) ) %> を、以下の予定の参加者に追加します。
    </td>
    <td>
      <%= submit_tag '追加', {:onclick=>"return confirm('ユーザーを追加します。よろしいですか？');", :name =>:add_submit} %>
    </td>
    <td>
      <%= submit_tag 'キャンセル', {:name =>:cancel} %>
    </td>
  </tr>
</table>
<% end %>
<script language = "JavaScript" type="text/javascript">
<!--
  var update_grouplist = function () {
    var fr = $('add_group_id');
    var gid = fr.options[fr.selectedIndex].value;
    url = '/gw/schedule_lists/user_fields.csv?gid=' + gid;
    var to = $('add_user_id');
    end_cnt = 0;
    new Ajax.Request(url, {method:'get', onComplete: function(x){
      to.update(x.responseText);
      end_cnt = end_cnt + 1;
      if (end_cnt == 1) {
        document.body.style.cursor = 'default';
      }
    }})
  }


-->
</script>
