<%
cats    = Gwsub::Sb06AssignedConfCategory.sb06_assign_conf_cat_id_select(nil)
select_state  = Gwsub::Sb06AssignedConfKind.select_list_status
fyears = Gw::YearFiscalJp.select_dd_markjp_id( nil , 5)
require 'cgi'
if @s_keyword.blank?
  s_k = nil
else
  s_k = CGI.unescape(@s_keyword)
end
%>
<%= hidden_field_tag 'limit', @limit %>
<%= hidden_field_tag 'fyear_id', @fyear_id %>
<%= hidden_field_tag 'cat_id', @cat_id %>
<%= hidden_field_tag 's_keyword', s_k %>

<%= f.error_messages %>
<%= required_head %>
<table class="show">
<tr><th>年度<%= required %></th>
<td><%= f.select(:fyear_id, options_for_select(fyears ,@fyear_id.to_i )  ) %></td>
</tr>
<tr><th>分類<%= required %></th>
<td><%= f.select(:conf_cat_id, options_for_select(cats ,@cat_id.to_i )  ) %></td>
</tr>
<tr><th>種別コード<%= required %></th>
<td><%= f.text_field :conf_kind_code , :class=>'num' %></td>
</tr>
<tr><th>種別名称<%= required %></th>
<td><%= f.text_field :conf_kind_name , :size=>50 %></td>
</tr>
<tr><th>メニュー表示名<%= required %></th>
<td><%= f.text_field :conf_menu_name , :size=>50 %></td>
</tr>
<tr><th>種別表示順</th>
<td><%= f.text_field :conf_kind_sort_no , :class=>'num' %></td>
</tr>
<tr><th>宛先名称</th>
<td><%= f.text_field :conf_to_name , :size=>50 %></td>
</tr>
<tr><th>タイトル<%= required %></th>
<td><%= f.text_field :conf_title , :size=>50 %></td>
</tr>
<tr><th>本文<%= required %></th>
<td><%= f.text_area  :conf_body , :cols=>50 ,:rows=>3 %></td>
</tr>
<tr><th>フォーム番号<%= required %></th>
<td><%= f.select :conf_form_no , options_for_select(@item.form_no_select, @item.conf_form_no), :class=>'num' %></td>
</tr>
<tr><th>最大明細数<%= required %></th>
<td><%= f.text_field :conf_max_count , :class=>'num' %></td>
</tr>
<tr><th>選択肢表示</th>
<td><%= radio f , :select_list ,select_state , :class=>'state' %></td>
</tr>
</table>
<div class="preserve">
<%= f.submit '保存' %>
</div>
<%#= render 'gwsub/admin/sb04/sb04_common_info_form', f: f %>
