<%
cats    = Gwsub::Sb06AssignedConfCategory.sb06_assign_conf_cat_id_select({:all=>'all'})
fyears = Gw::YearFiscalJp.select_dd_markjp_id( 'all' , 5)
#fyears = Gw::YearFiscalJp.select_dd_markjp_id('all')
#group_options = {:fy_id=>@fy_id,:all=>'all'}
#groups = Gwsub::Sb06AssignedConfGroup.sb06_assign_conf_group_id_select(group_options)
limits = Gw.limit_select

require 'cgi'
if @s_keyword.blank?
  s_k = nil
else
  s_k = CGI.unescape(@s_keyword)
end
%>
<%= form_tag('', :method => :get, :class => 'search', :name=>'frmSearch') do %>
<table>
  <tr>
    <td>表示行数</td>
    <td>年度</td>
    <td>分類</td>
    <td>検索（種別名称、メニュー名、宛先名称、タイトル）</td>
    <td></td>
  </tr>
  <tr>
    <td><%= select_tag( 'limit',options_for_select( limits , @limit.to_i ) ) %></td>
    <td><%= select_tag( 'fyear_id',options_for_select( fyears ,@fyear_id.to_i )) %></td>
    <td><%= select_tag( 'cat_id',options_for_select( cats ,@cat_id.to_i )) %></td>
    <td><%= text_field_tag "s_keyword",s_k  ,:size=>40 %></td>
    <td class="submitters">
    <%= submit_tag '検索',     :name => :search %>
    <%= submit_tag 'リセット', :name => :reset  %>
    </td>
  </tr>
</table>
<!-- end form -->
<% end %>
<% unless (params[:reset] || !params[:search] ) %>
<div class="hit">検索結果<span class="count"><%= "#{@items.total_entries}" %></span>件</div>
<% end %>
