<%
d = @st_date
@view = "month"
@hide_user_col = true
@piece_head_title = Page.title
%>
<div class="piece schedulePiece meetings">
<div class="pieceHeader">
<%= render '/gw/admin/schedules/piece_header', d: d, mode: 'week' -%>
</div>
<div class="pieceBody">
<div class="pieceBodyHeader">
<%= render '/gw/admin/schedules/schedule_bt_box', d: d, mode: 'week' -%>
<div class="titleLine">
  <span class="title">会議等案内表示</span>
  <span class="linkSpace">
    <% if params[:mode] == 'admin' %>
      <%= link_to "一覧画面", {action: :guide, mode: nil}, :class => "borderButton", :style => "margin-right:10px;" if @u_role -%>
    <% else %>
      <%= link_to "承認設定", {action: :guide, mode: 'admin'}, :style => "margin-right:10px;", :class => "borderButton" if @u_role -%>
    <% end %>
    <%= link_to "プレビュー", "/gw/meetings_previews?s_date=#{@st_date.strftime('%Y%m%d')}", :target => "_blank", :style => "margin-right:10px;", :class => "borderButton" -%>
  </span>
</div>
<%= render '/gw/admin/schedules/schedule_line_box', d: d, mode: 'week', move_mode: :header -%>
<input id="my_url" name="my_url" type="hidden" value="/gw/meetings/guide?s_date=%d&mode=<%= params[:mode] -%>" />
</div>

<div class="pieceBodyBody">
<% if @items.length== 0 %>
  <%= show_notice -%>
<% else %>
  <%= form_tag url_for(action: :select), {method: :post, id: "listForm", multipart: true} do %>
    <% if @admin_screen_role %>
      <table>
        <tr>
          <td><%= submit_tag '承認', {name: :guide_state_2_submit} %></td>
          <td><%= submit_tag '承認取消', {name: :guide_state_1_submit} %></td>
        </tr>
      </table>
    <% end %>
    <table class="index">
      <tr>
        <% if @admin_screen_role %>
        <th style="text-align:center;"><%= check_box_tag :idall, "all", false, {:onclick=>"all_check('listForm', 'ids', this);"} -%></th>
        <% end %>
        <th class="state" style="width:50px;">状態</th>
        <th class="title">件名</th>
        <th class="time">時刻</th>
        <th class="place">場所</th>
      </tr>
      <% @items.each do |item| -%>
        <%
          # 時間
          if item.guide_ed_at == 1
            ed_at = ''
          else
            ed_at = item.ed_at.strftime('%H:%M')
          end
          if item.allday == 1
            time = '―'
          elsif item.allday == 2
            time = '―'
          else
            time = "#{item.st_at.strftime('%H:%M')} - #{ed_at}"
          end
        -%>
        <tr>
          <% if @admin_screen_role %>
          <td align="center"><%= check_box_tag "ids[]", item.id %></td>
          <% end %>
          <td><span style="<%= 'color:red;' unless item.guide_state_approved? -%>"><%= item.guide_state_label -%></span></td>
          <td><%= link_to item.title, "/gw/schedules/#{item.id}/show_one?sh=sh" -%></td>
          <td><%= time -%></td>
          <td><%= item.guide_place -%></td>
        </tr>
      <% end %>
    </table>
    <% if @admin_screen_role %>
      <table>
        <tr>
          <td><%= submit_tag '承認', {name: :guide_state_2_submit} %></td>
          <td><%= submit_tag '承認取消', {name: :guide_state_1_submit} %></td>
        </tr>
      </table>
    <% end %>
  <% end %>
<% end %>
</div>
<%= paginate @items %>

<div class="pieceBodyFooter">
  <input id="my_url" name="my_url" type="hidden" value="/gw/meetings/guide?s_date=%d&mode=<%= params[:mode] -%>" />
  <%= render '/gw/admin/schedules/schedule_line_box', d: d, mode: 'week', move_mode: :footer -%>
</div>

</div>
</div>

<script type="text/javascript">
//<![CDATA[
var all_check = function(formId, itemId, obj) {
  form = document.getElementById(formId);
  for (var i = 0; i < form.elements.length; i++) {
    pattern = new RegExp('^' + itemId + '\\[.*\\]');
    if (form.elements[i].name.match(pattern)) {
      form.elements[i].checked = obj.checked;
    }
  }
}
//]]>
</script>
