<%
location = "#{@index_uri}csvup"
-%>
<div class="explain">

<h3>ＣＳＶ登録</h3>
登録対象ＣＳＶファイルを指定して実行してください
<br /><span style="color:red">登録済データを、すべて削除し、新規登録となります。</span>
<br /><span style="color:black">Excel編集では、所属コードの前ゼロが消える場合があります。登録前にテキストエディタで、前ゼロを確認してください。</span>
<br />
</div>
<%= form_tag location , {:method=>:post , :multipart => true} do %>
<%= hidden_field_tag('item[csv]','up') %>
<table class="show">
  <tr>
    <th>文字コード</th>
    <td><%= radio_button_tags 'item[nkf]', [['SJIS','sjis'],['UTF8','utf8']], 'sjis' %></td>
  </tr>
  <tr>
    <th>対象ファイル</th>
    <td><%= file_field_tag('item[file]' , :size=>80 , :accept=>'text/csv') %></td>
  </tr>
</table>
<br />
<div class="submitters">
<%= submit_tag 'CSV登録' %>
</div>
<% end %>
<br />
