<%
options = {
  'table_name' => 'gwsub_sb00_conference_section_manager_names',
  :action=>'index',
  'link_to_edit'    => nil,
  'link_to_destroy' => nil,
  'link_to_show'    => 0
}
options['field_td_criteria']={
  'id' => Proc.new{|item|
    %Q(<a href="#{@index_uri}#{item.id}?#{@qs}">詳細</a>)
  },
  'id2' => Proc.new{|item|
    %Q(<a href="#{@index_uri}#{item.id}/edit?#{@qs}">編集</a>)
  },
  'state' => Proc.new{|item|
    if item.state=='enabled'
      %Q(<span>#{Gwsub::Sb00ConferenceSectionManagerName.state_show(item.state)}</span>)
    else
      %Q(<span class=required>#{Gwsub::Sb00ConferenceSectionManagerName.state_show(item.state)}</span>)
    end
    }
}
-%>
<div class="piece AdminMessage">
<%= render 'header' %>
<div class="pieceBanner">
<%= render 'menu' %>
</div>
<div class="pieceBody">
<%= render 'search' %>
<% if @items.blank? %>
<div class="notice">表示する項目はありません。</div>
<% else %>
<%= table_to_index2 @items,options %>
<% end %>
<%= paginate @items %>
</div>
</div>
