<div class="piece prop index">
<div class="pieceHeader">
<%= render 'piece_header' -%>
</div>
<div class="pieceBody">
<div class="pieceBodyHeader">
<%= render '/gw/admin/prop_others/prop_master_menu' %>
<%= render 'titleline' %>
</div>
<div class="pieceBodyBody">

<%= form_for :user_item, :url => {:action => :create}, :html => {:id => 'itemForm'} do |f| %>
  <table class="show">
    <tr><th>名称</th><td><%= text_field_tag :user_name %></td></tr>
    <tr><th>コード</th><td><%= text_field_tag :user_code %></td></tr>
  </table>
  <div class="preserve">
    <%= f.submit '追加する' %>
  </div>
<% end -%>

<% if @items.blank? -%>
  <%= show_notice -%>
<% else -%>
  <table class="index">
    <tr>
      <th>ユーザ名</th>
      <th>コード</th>
      <th>削除</th>
    </tr>
    <% @items.each do | item| -%>
      <tr class="<%= cycle '', 'cycle' -%>">
        <td><%= safe{item.user.name} -%></td>
        <td><%= safe{item.user.code} -%></td>
        <td><%= link_to_destroy item.id, "削除" %></td>
      </tr>
    <% end %>
  </table>
<% end -%>
</div>
<%= paginate(@items) %>

</div>
</div>
