<%# app/views/gw/public/piece/schedules/index_mobile.html.erb %>
<%wdays = ["日", "月", "火", "水", "木", "金", "土"]%>
<p class="mobileSchedule"><%=@st_date.strftime('%Y年%m月%d日') unless @st_date.blank?%>(<%=wdays[@st_date.wday]%>)の予定</p>
<%= render :partial => 'gw/admin/schedules/show_day_mobile' %>
<hr class="borderDash"/>
<%
sche_date = Time.now.strftime('%Y%m%d')
cg_link = "/gw/schedules/?s_date=#{sche_date}&dis=group&cgid=" + (@first_custom_group.blank? ? "#{@cgid}" : "#{@first_custom_group.id}" )
%>
<p class="mobileSchedule"><%= link_to  "スケジュール" ,"/gw/mobile_schedules/ind_list" -%></p>
└&nbsp;<%= link_to  "個人（週表示）" ,"/gw/schedules?s_date=#{sche_date}&dis=week" -%><br />
└&nbsp;<%= link_to  "グループ（日表示）" ,"/gw/schedules/?s_date=#{sche_date}&dis=group&gid=#{Site.user_group.id}" -%><br />
└&nbsp;<%= link_to  "カスタム（日表示）" ,cg_link -%><br />