<div class="piece AdminSetting">
<%= render 'header' %>
<div class="pieceBody">

<div class="editingBox">
  <span class="btNew"><%= link_to '新規作成', {:action => :new} %></span>
</div>

<table class="index">
  <tbody>
    <tr>
      <th style="width:60px;"></th>
      <th>状態</th>
      <th>拡張子</th>
      <th>備考</th>
      <th>並び順</th>
    </tr>
    <% @items.each do |item| %>
      <tr class="<%= cycle '', 'cycle' %>">
        <td><%= link_to '詳細', {:action => :show, :id => item.id} -%></td>
        <td><%= item.state_label -%></td>
        <td><%= item.extension -%></td>
        <td><%= item.remark -%></td>
        <td><%= item.sort_no -%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @items %>

</div>
</div>
