<div class="piece AdminSetting">
<%= render 'header' %>
<div class="pieceBody">

<%= form_for :item, :url => {:action => :create}, :html => {:method => :post, :id => "itemForm", :multipart => true} do |f| %>
  <%= f.error_messages %>
  <%= render 'form', f: f %>
  <div class="submitters">
    <%= f.submit '保存' %>
  </div>
<% end %>

<div class="btReturn">
  <%= link_to '一覧', {:action => :index} -%>
</div>

</div>
</div>
