<div class="piece AdminSetting">
<%= render 'header' %>
<div class="pieceBody">

<div class="editingBox">
 <span class="btEdit"><%= link_to '編集', {:action => :edit} if @item.editable? %></span>
 <span class="btDestroy"><%= link_to '削除', {:action => :destroy}, :confirm => "削除して、よろしいですか？", :method => :delete if @item.deletable? %></span>
</div>

<table class="show">
  <tr>
    <th>状態</th>
    <td><%= @item.state_label -%></td>
  </tr>
  <tr>
    <th>拡張子</th>
    <td><%= @item.extension -%></td>
  </tr>
  <tr>
    <th>備考</th>
    <td><%= @item.remark -%></td>
  </tr>
  <tr>
    <th>並び順</th>
    <td><%= @item.sort_no -%></td>
  </tr>
</table>

<!--戻るボタン-->
<div class="btReturn">
  <%= link_to '戻る', :action => :index %>
</div>

</div>
</div>
