<%
#cond = "media_code = '#{@media.media_code}' and categories_code='#{@media.categories_code}' "
#notice = Gwsub::Sb05Notice.find(:first,:conditions=>cond)
span_str = %Q(rowspan="4" style="vertical-align: top;")
%>
<%= render 'gwsub/admin/sb05/sb05_requests/form_hiddens', f: f %>
<%= f.error_messages %>
<%= required_head %>
<%#*<div class="mock">広報依頼：新聞</div> -%>
<table class="show">
<tr>
  <th>媒体・分類</th>
  <td><%= @req1.m_rel.media_name %>(<%= @req1.m_rel.categories_name %>)</td>
  <td <%= span_str.html_safe %>><%=hbr @notice.blank? ? '注意事項準備中':@notice.sample %></td>
</tr>
<tr>
  <th>希望日<%= required %></th>
  <td><%= f.text_field :start_at, :value=> Gw.date_str(@req1.start_at), :class => 'datepicker_with_desired_date' %></td>
</tr>
<tr>
  <th>タイトル<%= required %></th>
  <td><%= f.text_field :title , :size=>50 %></td>
</tr>
<tr>
  <th>本文<%= required %></th>
  <td><%= f.text_area :body1 , :cols=>30 , :rows=>20 %></td>
</tr>
</table>
<% if @u_role==true%>
<%= render 'gwsub/admin/sb05/sb05_requests/form_admin', f: f %>
<% end %>

<%= render 'gwsub/admin/sb05/sb05_requests/form_cal_js', f: f %>
