<%
#pp params
count=0
if params[:controller]
  if params[:controller].index('sb05_requests') != nil
    count = @requests.total_entries
  else
    if params[:controller].index('sb05_users') != nil
      count = @users.total_entries
    end
  end
end
%>
<%
medias    = Gwsub::Sb05MediaType.select_dd_media_group('all','code')
#medias    = Gwsub::Sb05MediaType.select_dd_categories_id(nil,'all')
r_status  = Gwsub::Sb05Request.select_dd_status( 'all' )
groups    = Gwsub.grouplist4( nil ,'all')
limits    = Gw.limit_select
m_status  = Gwsub::Sb05Request.select_dd_m_status( 'all' )
%>
<%# pp @s_ctl %>
<%= form_tag('', :method => :get, :class => 'search' , :name=>'frmSearch') do %>
<%= hidden_field_tag 'v' , @view %>
<table>
  <tr>
    <th>媒体</th><td><%= select_tag( 'media_code',options_for_select( medias ,@media_code.to_i )) %></td>
    <th>処理</th><td><%= select_tag( 'r_status',options_for_select( r_status ,@r_status.to_i ) ) %></td>
    <th>所属</th><td><%= select_tag( 'org_id',options_for_select( groups ,@org_id.to_i ) ) %></td>
  </tr>
  <tr>
    <th>表示行数</th><td><%= select_tag( 'limit',options_for_select( limits , @limit.to_i ) ) %></td>
    <th>確認</th><td><%= select_tag( 'm_status',options_for_select( m_status ,@m_status.to_i ) ) %></td>
    <th>検索</th><td colspan ="3"><%= text_field_tag "s_keyword", params[:s_keyword] ,:size=>50 %></td>
    <td class="submitters">
    <%= submit_tag '検索',     :name => :search %>
    <%= submit_tag 'リセット', :name => :reset  %>
    </td>
  </tr>
</table>
<% end %>
<% unless (params[:reset] || !params[:search] ) %>
<div class="hit">検索結果<span class="count"><%= count %><%#= "#{@items.total_entries}" %></span>件</div>
<% end %>
