<%
options1={
  'table_name'=>'gwsub_sb05_requests_show'
}
options2={
  'table_name'=>'gwsub_sb05_requests_show',
  :action=>'admin1'
}
options3={
  'table_name'=>'gwsub_sb05_requests_show',
  :action=>'admin2'
}
if @u_role==true
span_str = %Q(rowspan="2")
else
span_str = nil
end
%>
<%#= table_to_show2 @req1 %>
<br />
<table class="index">
<tr>
<th class="item"></th>
<th class="categories">媒体<br />分類</th>
<th class="title">詳細</th>
<th class="remarks">注意事項</th>
</tr>
<% @requests.each do |r| %>
  <% next if r.id==@req1.id %>
<%#unless r.mm_image_state =='0' %><%#r.mm_image_state==nullの場合でも詳細表示をする(データ移行後にフィールドmm_image_stateを追加したため)%>
<%
case r.media_code.to_s
when '1'
  options1[:action]='np'
when '2'
  options1[:action]='rd'
when '3'
  options1[:action]='led'
when '4'
  if r.categories_code == '1'
    options1[:action]='mm1'
  else
    options1[:action]='mm2'
  end
  options1['field_td_criteria']={'magazine_url'=>Proc.new{ |item|
    %Q(<a href="#{item.magazine_url}" ,target="_blank">#{item.magazine_url}</a>)
  }}
else
end
n_cond    = "media_code=#{r.media_code} and categories_code=#{r.categories_code}"
notice    = Gwsub::Sb05Notice.where(n_cond).first
if @l2_current  ==  '01'
  # 依頼登録から詳細に遷移する時は、希望日順空の遷移として扱う
  show_url  = "#{@index_uri}#{r.id}?l2_c=02&sb05_users_id=#{r.sb05_users_id}"
  show_url  << "&media_code=#{@media_code}" unless @media_code.blank?
else
  show_url  = "#{@index_uri}#{r.id}?l2_c=#{@l2_current}&sb05_users_id=#{r.sb05_users_id}"
  show_url  << "&media_code=#{@media_code}" unless @media_code.blank?
end

if r.media_code==4 && r.categories_code == 2
  if r.mm_image_state == '2'
    item = Gwsub::Sb05File.new
    item.and :parent_id, r.id
    @items = item.find(:all)
  end
end

%>
<tr>
<td <%= span_str %>>
<%= link_to '詳細' ,url_for(show_url) %>
</td>
<td><%= r.media_name%><br /><%= r.categories_name%></td>
<td><%= table_to_show2(r,options1)  %>
<%if r.media_code == 4 && r.categories_code == 2 && r.mm_image_state == '2'%>
  <br />
  <table class="show">
    <tr>
    <th style="width: 24px; text-align: center;"></th>
    <th style="text-align: left;">ファイル名</th>
    </tr>
  <% @items.each do |i| %>
    <tr>
    <td><%= link_to("","/_admin/gwsub/receipts/#{i.id}/download_object?parent_id=#{@req1.id}&system=#{@system}",:class => i.icon_type ) %></td>
    <td><%= link_to(%Q[#{i.filename} (#{i.eng_unit})],"/_admin/gwsub/receipts/#{i.id}/download_object?parent_id=#{@req1.id}&system=#{@system}") %></td>
    </tr>
  <%end%>
  </table>
<%end%>
</td>
<td><%=hbr notice.remarks unless notice.blank? %></td>
</tr>
  <% if @u_role == true %>
  <tr>
  <td>管理者欄</td>
  <td colspan="2">
    <table class="show">
      <tr>
        <th>編集期限基準日</th>
        <td><%=Gw.date_str(r.base_at)%></td>
      </tr>
      <%if r.media_code=='4' %>
      <tr>
        <th>掲載状況</th>
        <td><%=Gwsub::Sb05Request.magazine_state(r.magazine_state)%></td>
      </tr>
      <%end%>
      <tr>
        <th>確認</th>
        <td><%=Gwsub::Sb05Request.display_m_state(r.m_state)%></td>
      </tr>
      <tr>
        <th>処理</th>
        <td><%=Gwsub::Sb05Request.display_state(r.r_state)%></td>
      </tr>
      <tr>
        <th>管理者メモ</th>
        <td><%=r.admin_remarks%></td>
      </tr>
    </table>
  </td>
  </tr>
  <% end %>
 <%# end %>
<% end unless @requests.blank? %>
</table>
<%= paginate @requests %>
<br/>
