<table border="1" id="selected_directors">
  <tr>
    <th>並び順<%= required %></th>
    <th>Gwに表示</th>
    <th>役職<%= required %></th>
    <th>氏名</th>
    <th>削除</th>
  </tr>
  <% ([Gw::PrefDirector.new] + @item.group_directors).each_with_index do |director, i| %>
    <%= f.fields_for :group_directors, director do |f2| %>
      <tr data-user-id="<%= director.uid if i != 0 %>" <%=raw %(id="template" style="display:none;") if i == 0 %>">
        <td><%= f2.text_field :u_order, size: 2, maxlength: 10 %><%= f2.hidden_field :uid %></td>
        <td><%= f2.check_box :is_governor_view %><%= f2.label :is_governor_view, '表示' %></td>
        <td><%= f2.text_field :title, size: 25, maxlength: 20 %></td>
        <td class="u_name"><%= "#{director.u_name} (#{director.u_code})" %></td>
        <td><%= f2.check_box :_destroy_flag %><%= f2.label :_destroy_flag, '削除' %></td>
      </tr>
    <% end %>
  <% end %>
</table>
</div>
