<% hidden_users_json_s = hidden_field_tag('init[schedule_users_json]', nz(@users_json) ) %>
<!--<%=@users_json%>-->
<%= hidden_users_json_s %>

<%
  u = Site::user
  ucls = 1
  uid = u.id
  uname = u.name
%>

<%= hidden_field_tag('init[ucls]', ucls) %>
<%= hidden_field_tag('init[uid]', uid) %>
<%= hidden_field_tag('init[uname]', uname) %>

<%= f.fields_for :schedule_users do |schedule_user| %>
<table border="0" id="schedule_users_table">
<tr>
<td class="userChange">
  <%= select_tag 'item[schedule_users][user_type_id]', Gw.options_for_select(System::Group.get_group_select('','group_', {:add_conditions=>'parent_id='+@parent_gid.to_s}), '', :title=>1), :size=>1,  :style => 'width:300px;', :onchange => 'update_user_cand();', :multiple => false %>
<br />
  <%= select_tag 'item[schedule_users][uid]', Gw.options_for_select(System::User.get_user_select(@current_gid), Site.user.id, :title=>1), :size=>10, :style => 'width:300px;', :multiple => true %>
</td>
<td class="roleChange">
  <%= submit_to_remote "", "追加 ↓",:update => "item_schedule_users_add_buf_list" ,:before => "add_users();set_users_json();",	:submit => "schedule_users_table", :url => "/gw/pref_director_admins/get_users.xml" %>
<br />
</td>
<td><br />
  <%= select_tag 'item[schedule_users_add_buf]', '', :size=>10, :style => 'width:200px;display:none;', :multiple => true %>
  <%= hidden_field_tag 'item[schedule_users_json]', '' %>
</td>
</tr>
<tr>
<td colspan="3">
  <%= render(:partial => 'form_users_table') %>
</td>
</tr>
</table>
<% end %>