  <table class="index">
    <tr>
    <th style="width: 90px; align: center;"><%# 詳細 %></th>
	<!--
    <th class="sort" colspan="2" >表示順</th>
	-->
    <th>所属名</th>
    <th style="width: 90px; align: center;"><%# 詳細 %></th>
    </tr>
    <% @items.each_with_index do |item, cnt| -%>
    <%#for item in @items%>
    <%
      cond_up   = true
      cond_down = true
      if length == 1
        cond_up   = false
        cond_down = false
      else
        if cnt == 0
          cond_up = false
        else
          if cnt == length - 1
            cond_down = false
          end
        end
      end
    %>
    <tr class="<%= cycle '', 'cycle' %>">
      <td><%= link_to '展開' , "#{@public_uri}/?g_cat=#{item.parent_g_order}" %></td>
	<!--
      <td class="up" ><%= link_to '▲'   , "#{@public_uri}/g_updown?order=up&gid=#{item.id}"   if cond_up   == true %></td>
      <td class="down" ><%= link_to '▼'   , "#{@public_uri}/g_updown?order=down&gid=#{item.id}" if cond_down == true %></td>
	  -->
      <td><%= item.parent_g_name %></td>
      <td><%= link_to '編集' , "#{@public_uri}/#{item.id}/edit?g_cat=#{item.parent_g_order}" %></td>
    </tr>
    <% end -%>
  </table>

