
<%#if @is_gw_admin == true%>
<div class="editingBox">
  <%if @items.blank?%>
    <span class="btNew"><%= link_to '新規作成', '/gw/pref_director_admins/new' %></span>
  <%else%>
    <span class="btEdit"><%= link_to '編集', "/gw/pref_director_admins/#{@items[0].id}/edit" %></span>
  <%end%>
</div>
<%#end %>

<%= form_for :item, :url => "/gw/pref_director_admins/sort_update?g_cat="+@g_cat, :html => {:method => :put} do |f| %>

<table class="index">
<tr>
  <th style="width: 80px;">並び順<input id="item_submit" name="commit" type="submit" value="更新" /></th>
  <th>職名</th>
  <th>氏名</th>
  <th>状態</th>
</tr>

  <% @items.each_with_index do |item, cnt| -%>
  <%#for item in @items%>
  <%
    cond_up   = true
    cond_down = true
    if length == 1
      cond_up   = false
      cond_down = false
    else
      if cnt == 0
        cond_up = false
      else
        if cnt == length - 1
          cond_down = false
        end
      end
    end
  %>
  <tr class="<%= cycle '', 'cycle' %>">
	<td><%= f.text_field "sort_no_#{item.id}", :value => item.u_order, :class => 'string sort_no', :style => 'width: 40px;', :size=>5 , :maxlength=>4 %></td>
    <td><%= item.title %></td>
	<td><%= item.u_name %></td>
	<!--
    <td><%= '表示' if item.is_governor_view == 1 %></td>
	-->
	<td><%= Gw::PrefDirector.state_show(item.state) %></td>
  </tr>
  <% end -%>
</table>


<% end %>
