
<table class="index">
  <tr>
    <th style="width: 80px;">並び順</th>
    <th>職名</th>
    <th>氏名</th>
    <th style="width: 120px;">Gwに表示</th>
    <th style="width: 80px;">状態</th>
  </tr>
  <% @items.each do |item| -%>
  <tr class="<%= cycle '', 'cycle' %>">
    <td><%= item.u_order %></td>
    <td><%= item.title %></td>
    <td><%= item.u_name %></td>
    <td><%= '表示' if item.is_governor_view == 1 %></td>
    <td><%= item.state_label %></td>
  </tr>
  <% end -%>
</table>
