<p class="bgAsh" >コメント</p>
<%@i = 0%>
<% for item in @comments %>
 <%@i = @i + 1%>
  <p class="leftPad2">
    <%=item.body%>
  </p>
  <p class="leftPad1">
  <%=item.editordivision %>
  <%=' : ' %>
  <%=item.editor %>
  （<%= item.created_at.strftime('%Y-%m-%d %H:%M') %>）
  </p>
<% end %>
