<%
  if @item.blank?
    mce_base_url = ''
  else
    mce_base_url = '/_common/modules/gwbbs/' + sprintf("%06d", @item.title_id) + '/' + @item.name + "/" unless @item.name.blank?
  end
%>
<%= raw(tool_tiny_mce(mce_base_url, {:leftbar_mode=>true})) %>
<%= raw(gw_js_include_full) %>

<% unless @title.one_line_use == 0 %>
<table class="bbsComment">
  <tr>
    <th>1行コメント</th>
    <td><%= f.select :one_line_note, @item.one_line_states , :class => 'select one_line_note'%></td>
  </tr>
</table>
<% end %>
<table class="show">
  <tr>
    <th>公開開始日時<%= required('※') %></th>
    <td>
      <%
        dd = Gw.date8_to_date(params[:able_date], :default=>'')
        d_load_org = params[:able_date].nil? ? nil : dd == '' ? nil : Gw.datetime_str(dd)
        d_load = Gw.datetime_str(d_load_org.blank? ? @item.able_date : d_load_org)
      %>
      <%= f.calendar_date_select :able_date, :value => d_load, :popup => "force", :time => true, :style => 'width:140px;' %>
    </td>
    <th>公開終了日時<%= required('※') %></th>
    <td>
      <%
        dd = Gw.date8_to_date(params[:expiry_date], :default=>'')
        d_load_org = params[:expiry_date].nil? ? nil : dd == '' ? nil : Gw.datetime_str(dd)
        d_load = Gw.datetime_str(d_load_org.nil? ? @item.expiry_date : d_load_org)
      %>
      <%= f.calendar_date_select :expiry_date, :value => d_load, :popup => "force", :time => true, :style => 'width:140px;' %>
    </td>
  </tr>
  <tr>
    <th>記事管理課<%= required('※') %></th>
    <td colspan="3">
      <%= f.select(:section_code, Gwboard::Group.level3_all.collect{|i|
        [i.name, i.code]}, :include_blank => '記事の管理課を選択してください') %>
    </td>
  </tr>

<% if @title.category == 1 %>
  <tr>
    <th>
      <%= @title.category1_name unless @title.category1_name.blank? %><%= required('※') %>
    </th>
    <td colspan="3">
      <%= f.select(:category1_id, @categories1.collect{|i|
        [i.name, i.id]}, :include_blank => '分類を選択してください') %>
    </td>
  </tr>
<% end %>
<% if @title.importance == 1 %>
  <tr>
    <th>ステータス</th>
    <td colspan="3"><%= f.radio_buttons :importance, @item.importance_states_select, :class => 'state'  %></td>
  </tr>
<% end %>
</table>


<script type="text/javascript">
//<![CDATA[
  function chageDisp(obj,changeObjId) {
    var display = document.getElementById(changeObjId).style.display;
    if (display == '') {
      obj.innerHTML = '開く▼';
    } else if (display == 'none') {
      obj.innerHTML = '閉じる▲';
    }
    Element.toggle($(changeObjId));
  }
//]]>
</script>

<script type="text/javascript">
//<![CDATA[
  var supressBeforeUnload = false;

  window.onbeforeunload = function( event ) {
    if (!supressBeforeUnload) {
      event = event || window.event;
      event.returnValue = "保存していない場合、編集中の内容は失われます";
      return "保存していない場合、編集中の内容は失われます";
    }
  }
//]]>
</script>
