<%
str_tab1_class = 'tab'
str_tab2_class = 'tab'
str_tab3_class = 'tab'
str_tab4_class = 'tab'

str_tab1_class += ' current' if params[:state].blank?
str_tab1_class += ' current' if params[:state] == 'TODAY'
str_tab1_class += ' current' if params[:state] == 'DATE'
str_tab1_class += ' current' if params[:state] == 'GROUP'
str_tab1_class += ' current' if params[:state] == 'CATEGORY'

str_tab2_class += ' current' if params[:state] == 'DRAFT'
str_tab3_class += ' current' if params[:state] == 'NEVER'
str_tab4_class += ' current' if params[:state] == 'VOID'

%>
<%#= render :partial => 'header_help' %>
<!--掲示板タブ-->
<div class="tabBox">
<table class="tabtable">
<tbody>
<tr>
<td class="spaceLeft">
</td><td class="<%=str_tab1_class%>"><%=link_to "公開記事一覧", gwbbs_docs_path({:title_id=>@title.id}) %></td>
<%if @is_writable%>
  <td class="spaceCenter"></td>
  <td class="<%=str_tab2_class%>"><%=link_to "下書一覧", gwbbs_docs_path({:title_id=>@title.id,:state=>"DRAFT"}) %></td>
  <td class="spaceCenter">
  </td><td class="<%=str_tab3_class%>"><%=link_to "公開前一覧", gwbbs_docs_path({:title_id=>@title.id,:state=>"NEVER"}) %></td>
  <td class="spaceCenter">
  </td><td class="<%=str_tab4_class%>"><%=link_to "期限切れ", gwbbs_docs_path({:title_id=>@title.id,:state=>"VOID"}) %></td>
<%end%>
<td class="spaceRight">
</td></tr>
</tbody>
</table>
</div><!--tabBox-->