<% form_tag '', :method => :get, :class => 'changelimit' do %>
<%= hidden_field_tag(:title_id, params[:title_id]) unless params[:title_id].blank? %>
<%= hidden_field_tag(:state, params[:state]) unless params[:state].blank? %>
<%= hidden_field_tag(:cat, params[:cat]) unless params[:cat].blank? %>
<%= hidden_field_tag(:gcd, params[:gcd]) unless params[:gcd].blank? %>
<%= hidden_field_tag(:grp, params[:grp]) unless params[:grp].blank? %>
<%= hidden_field_tag(:p_id, params[:p_id]) unless params[:p_id].blank? %>
<%= hidden_field_tag(:yyyy, params[:yyyy]) unless params[:yyyy].blank? %>
<%= hidden_field_tag(:mm, params[:mm]) unless params[:mm].blank? %>
<%= hidden_field_tag(:page, params[:page]) unless params[:page].blank? %>
<span>表示行数</span>
<%=select_tag('limit', options_from_collection_for_select([[10,'10行'],[20,'20行'],[30,'30行'],[50,'50行'],[100,'100行']],:first,:last, params['limit'].to_i), :onchange => 'submit();')%>
<!-- end .search -->
<% end %>
