<%
  if Time.now <= @item.expiry_date
    is_editable_dates = true
  else
    is_editable_dates = false
  end
%>

<%= render :partial => 'header' %>
<div class="editingBox">
<% if @is_editable %><!--編集権限あり-->
  <% unless @title.edit_forbidden %>
    <% if @is_admin || (is_editable_dates && @is_editable) %>
      <% unless @title.use_recognize %><%#承認機能使用しない%>
        <span class="btEdit"><%= link_to '編集', "#{edit_gwbbs_doc_path(@item,{:title_id=>@item.title_id})}#{gwbbs_params_set}" %></span>
      <% else %>
        <% if @item.category4_id == 1 %>
          <span class="btAppEdit"><%= link_to '承認あり編集', "#{edit_gwbbs_doc_path(@item,{:title_id=>@item.title_id})}#{gwbbs_params_set}" %></span>
        <% else %>
          <span class="btEdit"><%= link_to '編集', "#{edit_gwbbs_doc_path(@item,{:title_id=>@item.title_id})}#{gwbbs_params_set}" %></span>
        <% end %>
      <% end %>
    <% end %>
  <% end %><!--edit_forbidden-->
<% end %><!--編集権限あり-->

<% if @is_writable %><!--掲示板に書込権があれば、どの記事でも複製可能-->
  <% unless @title.addnew_forbidden %>
    <span class="btReproduce rightSide"><%= link_to '複製', "#{clone_gwbbs_doc_path(@item,{:title_id=>@item.title_id})}#{gwbbs_params_set}", :confirm => 'この記事を複製しますか' %></span>
  <% end %>
<% end unless @title.id == 1 %>

<% if @is_editable %><!--編集権限あり-->
  <% unless @title.delete_forbidden %>
   <% if @title.id != 17 || ( @title.id == 17 && @is_admin ) %>
      <span class="btDestroy"><%= link_to '削除', "#{gwbbs_doc_path(@item,{:title_id=>@item.title_id})}#{gwbbs_params_set}", :confirm => '削除をすると元に戻せません。削除しますか', :method => :delete %></span>
    <% end %>
  <% end %><!--delete-->
<% end %><!--編集権限あり-->

<% if @is_recognize %>
 <span class="btRecognize"><%= link_to '承認', "#{recognize_update_gwbbs_doc_path(@item,{:title_id=>@item.title_id})}#{gwbbs_params_set}" %></span>
<%end%>

<% if @is_publish %>
  <span class="btPublish"><%= link_to '公開', "#{publish_update_gwbbs_doc_path(@item,{:title_id=>@item.title_id})}#{gwbbs_params_set}" %></span>
<% end %>
</div>

<div class="docsInnerBox">

<table class="bbsExpirydate">
  <tr>
    <td>公開終了日 : </td>
    <td class="space"></td>
    <td><%= @item.expiry_date.strftime('%Y-%m-%d') unless @item.expiry_date.blank? %></td>
  </tr>
</table>

<table class="bbsCreator">
  <tr>
    <th style="width: 80px; text-align: left;">記事管理課 :</th>
    <td style="text-align: left;"><%= @item.section_name %></td>
  </tr>
</table>

<% if @title.importance == 1 or @title.category == 1 %>
  <table class="bbsImportance">
    <tr>
      <% if @title.importance == 1 %>
        <th style="width: 80px; text-align: left;">ステータス : </th>
        <td style="text-align: left;"><%= @item.importance_name %></td>
      <% end %>
     </tr>
     <tr>
      <% if @title.category == 1 %>
        <th style="width: 50px; text-align: left;"><%= @title.category1_name unless @title.category1_name.blank? %> : </th>
        <td style="text-align: left;"><%= gwbd_category_name(@d_categories, @item.category1_id) %></td>
      <% end %>
    </tr>
  </table>
<% end %>

<div class="bbsCreatorInf">
<table>
<tr>
<td>作成 : &nbsp;</td>
<td><%= @item.createrdivision %></td>
<td class="space"></td>
<td><%= @item.creater %></td>
<td class="space"></td>
<td><%= @item.createdate %></td>
</tr>
<tr>
<td>編集 : &nbsp;</td>
<td><%= @item.editordivision %></td>
<td class="space"></td>
<td><%= @item.editor %></td>
<td class="space"></td>
<td><%= @item.editdate %></td>
</tr>
</table>
</div>
<%= render :partial => @title.gwbbs_form_name + 'show' %>
<% if attach_use_old%>
  <%= render :partial => '/gwboard/admin/docs/upload_index' %>
<% else %>
  <%= render :partial => '/gwboard/admin/docs/library_index' if @title.attachfile_index_use %>
<% end %>
</div>
<%= render :partial => 'comment_index' if @item.one_line_note == 1 %>

<% if @title.use_recognize %>
<%= render :partial => 'recognize_users' if @item.state == 'draft' %>
<%= render :partial => 'recognize_users' if @item.state == 'recognize' %>
<%= render :partial => 'recognize_users' if @item.state == 'recognized' %>
<% end %>

<% if !@previous.blank? || !@next.blank? %>
<%#ページ移動データあり -------------------------------------------------------------------------------------- -%>
<div class="docsPageMove">
  <% unless @title.use_other_system %>
    <%#他シスリンクなし%>
    <% unless @previous.blank? %>
<span class="left"><%= link_to '< 前のページ', "#{@previous.show_path}&pp=#{@prev_page}#{gwbbs_params_set}" %></span>
    <% else %>
<span class="left">先頭ページ</span>
    <% end %>

<span class="center">|</span>
    <% unless @next.blank? %>
<span class="right"><%= link_to "次のページ >", "#{@next.show_path}&pp=#{@next_page}#{gwbbs_params_set}" %></span>
    <% else %>
<span class="right">最終ページ</span>
    <% end %>
  <% end %>
</div>
<% end %>