<%= render 'header' %>
<div class="editingBox">
  <% if @item.is_editable? %><!--編集権限あり-->
    <% unless @title.edit_forbidden %>
      <% if @title.is_admin? || (Time.now <= @item.expiry_date) %>
        <% unless @title.use_recognize? %><%#承認機能使用しない%>
          <span class="btEdit"><%= link_to '編集', "#{edit_gwbbs_doc_path(@item,{:title_id=>@item.title_id})}#{gwbbs_params_set}" %></span>
        <% else %>
          <% if @item.category4_id == 1 %>
            <span class="btAppEdit"><%= link_to '承認あり編集', "#{edit_gwbbs_doc_path(@item,{:title_id=>@item.title_id})}#{gwbbs_params_set}" %></span>
          <% else %>
            <span class="btEdit"><%= link_to '編集', "#{edit_gwbbs_doc_path(@item,{:title_id=>@item.title_id})}#{gwbbs_params_set}" %></span>
          <% end %>
        <% end %>
      <% end %>
    <% end %><!--edit_forbidden-->
  <% end %><!--編集権限あり-->

  <% if @title.is_writable? %><!--掲示板に書込権があれば、どの記事でも複製可能-->
    <% unless @title.addnew_forbidden %>
      <span class="btReproduce rightSide"><%= link_to '複製', "#{clone_gwbbs_doc_path(@item,{:title_id=>@item.title_id})}#{gwbbs_params_set}", :confirm => 'この記事を複製しますか' %></span>
    <% end %>
  <% end unless @title.id == 1 %>

  <% if @item.is_editable? %><!--編集権限あり-->
    <% unless @title.delete_forbidden %>
     <% if @title.id != 17 || (@title.id == 17 && @title.is_admin?) %>
        <span class="btDestroy"><%= link_to '削除', "#{gwbbs_doc_path(@item,{:title_id=>@item.title_id})}#{gwbbs_params_set}", :confirm => '削除をすると元に戻せません。削除しますか', :method => :delete %></span>
      <% end %>
    <% end %><!--delete-->
  <% end %>

  <% if @item.is_recognizable? && @item.state == 'recognize' %>
    <span class="btRecognize"><%= link_to '承認', "#{recognize_update_gwbbs_doc_path(@item,{:title_id=>@item.title_id})}#{gwbbs_params_set}" %></span>
  <% end %>
  <% if @item.is_publishable? && @item.state == 'recognized' %>
    <span class="btPublish"><%= link_to '公開', "#{publish_update_gwbbs_doc_path(@item,{:title_id=>@item.title_id})}#{gwbbs_params_set}" %></span>
  <% end %>
  <%- if @item.read_flags.present? -%>
    <span class="btUnread"><%= link_to '既読に戻す', "#{unread_gwbbs_doc_path(@item,{:title_id=>@item.title_id})}#{gwbbs_params_set}", :confirm => 'この記事を未読の状態に戻しますか？' %></span>
  <%- end -%>
</div>

<%= show_prev_next_link = render 'show_prev_next_link' %>

<div class="docsInnerBox">

<table class="bbsExpirydate">
  <tr>
    <td>公開終了日 : </td>
    <td class="space"></td>
    <td><%= @item.expiry_date.strftime('%Y-%m-%d') unless @item.expiry_date.blank? %></td>
  </tr>
</table>

<table class="bbsCreator">
  <tr>
    <th style="width: 80px; text-align: left;">記事管理課 :</th>
    <td style="text-align: left;"><%= @item.section_name %></td>
  </tr>
</table>

<% if @title.importance == 1 or @title.category == 1 %>
  <table class="bbsImportance">
    <tr>
      <% if @title.importance == 1 %>
        <th style="width: 80px; text-align: left;">ステータス : </th>
        <td style="text-align: left;"><%= @item.importance_name %></td>
      <% end %>
     </tr>
     <tr>
      <% if @title.category == 1 %>
        <th style="width: 50px; text-align: left;"><%= @title.category1_name unless @title.category1_name.blank? %> : </th>
        <td style="text-align: left;"><%= gwbd_category_name(@d_categories, @item.category1_id) %></td>
      <% end %>
    </tr>
  </table>
<% end %>

<div class="bbsCreatorInf">
<table>
  <tr>
    <td>作成 : &nbsp;</td>
    <td><%= @item.createrdivision %></td>
    <td class="space"></td>
    <td><%= @item.creater %></td>
    <td class="space"></td>
    <td><%= @item.createdate %></td>
  </tr>
  <tr>
    <td>編集 : &nbsp;</td>
    <td><%= @item.editordivision %></td>
    <td class="space"></td>
    <td><%= @item.editor %></td>
    <td class="space"></td>
    <td><%= @item.editdate %></td>
  </tr>
</table>
</div>

<%= render @title.gwbbs_form_name + 'show' %>
<% if @title.use_old_upload_system? %>
  <%= render '/gwboard/admin/docs/upload_index', files: @item.files %>
<% else %>
  <%= render '/gwboard/admin/docs/library_index', files: @item.files if @title.attachfile_index_use %>
<% end %>
</div>
<%= render 'comment_index' if @item.one_line_note == 1 %>

<% if @title.use_recognize? %>
<%= render 'recognize_users' if @item.state.in?(%w(draft recognize recognized)) %>
<% end %>

<div class="docListFunctions">
  <% if @link_to_hcs_url %>
  <div class="link_to_hss"><%= link_to '福利厚生ポータルへ', @link_to_hcs_url %></div>
  <% end %>
  <div class="link_to_clip">
    <a href="javascript:void(0)" onclick="copy_clip(); return false;">お知らせリンク作成</a>
  </div>
  <% if @item.files.present? %>
  <div class="link_export_file">
    <%= link_to "添付ファイル一括ダウンロード(ファイル数：#{@item.files.length})", "#{@item.file_exports_path}#{gwbbs_params_set}" -%>
  </div>
  <% end %>
</div>

<script type="text/javascript">
//<![CDATA[
var copy_clip = function() {
  var ua = "";
  ua = navigator.userAgent.toLowerCase();
  url = "機能名：掲示板\n件名：<%= @item.title -%>\nURL：<%= request.url -%>";
  if(ua.indexOf("msie") != -1) {
    clipboardData.setData('Text', url);
    alert("記事の情報をクリップボードにコピーしました。");
  } else {
    alert(url);
  }
}
//]]>
</script>

<%= show_prev_next_link %>
