<table class="show">
<tr>
<th>公開</th>
<td><%=f.radio_buttons :state, @item.status_select, :class => 'state' %></td>
</tr>
</table>

<table class="show">
<tr>
<th>見出し（階層）</th></tr><tr>
<td>
<%=required('見出しが登録されていません') if @tree_list == []%>
<%=f.select(:chg_parent_id, @tree_list, :include_blank => false) unless @tree_list == []%>
</td>
</tr>
<tr>
<th>フォルダの順</th></tr><tr>
<td>
<%=required('記事が登録されていません') if @position == []%>
<%= f.select(:seq_no, @position, :include_blank => false) unless @position == []%>
</td>
</tr>
<tr>
<th class="titleTop">ツリーの並び順　<%=required('※通常は変更しないでください')%></th></tr><tr>
<td><%= f.text_field :display_order, :size => '5'%></td>
</tr>
</table>
<table class="show">
<tr>
<th>見出し <%= required %></th>
<td><%= f.text_field :title, :class => 'string name' %></td>
</tr>
</table>
<%=render :partial => 'digitallibrary/admin/docs/hidden_form' %>
