<table class="show">
  <tr>
    <th>公開</th>
    <td><%= f.radio_buttons :state, @item.status_select %></td>
  </tr>
</table>

<table class="show">
  <tr>
    <th>見出し（階層）</th></tr><tr>
    <td>
      <%
      if @item.new_record?
        folder_options = @title.folders.root.folder_options
      else
        folder_options = @item.folder_options
      end
      %>
      <% if folder_options.blank? %>
        <%= required '見出しが登録されていません' %>
      <% else %>
        <%= f.select :chg_parent_id, folder_options, :include_blank => false %>
      <% end %>
    </td>
  </tr>
  <tr>
    <th>フォルダの順</th></tr><tr>
    <td>
      <% seq_no_options = @item.seq_no_options %>
      <% if seq_no_options.blank? %>
        <%= required '記事が登録されていません' %>
      <% else %>
        <%= f.select :seq_no, seq_no_options, :include_blank => false %>
      <% end %>
    </td>
  </tr>
  <tr>
    <th class="titleTop">ツリーの並び順　<%= required '※通常は変更しないでください' %></th></tr><tr>
    <td><%= f.text_field :display_order, :size => '5'%></td>
  </tr>
</table>
<table class="show">
  <tr>
    <th>見出し <%= required %></th>
    <td><%= f.text_field :title, :class => 'string name' %></td>
  </tr>
</table>

<%= render 'digitallibrary/admin/docs/hidden_form' %>
