<%= required_head %>
<table class="show">
  <tr>
    <th>分類 <%= required %></th>
    <td><%= f.select :prop_class_id, options_for_select(I18n.a('enum.gw/prop_extra_pm_remark.prop_class_id'), @item.prop_class_id) %></td>
  </tr>
  <tr>
    <th>表示 <%= required %></th>
    <td><%= f.radio_buttons :state, @item.state_options %></td>
  </tr>
  <tr>
    <th>表示順 <%= required %></th>
    <td><%= f.text_field :sort_no, size: 5, class: 'IMEoff' %></td>
  </tr>
  <tr>
    <th>タイトル <%= required %></th>
    <td><%= f.text_field :title, size: 80 %></td>
  </tr>
  <tr>
    <th>URL <%= required %></th>
    <td><%= f.text_field :url, size: 80 %></td>
  </tr>
</table>
