<div class="piece AdminSetting">
<div class="pieceHeader">
<%= render 'piece_header' -%>
</div>
<div class="pieceBody">
<div class="pieceBodyHeader">
<%= render 'header' %>
<%= render 'search' %>
</div>
<div class="pieceBodyBody">
<% if @items.blank? -%>
  <%= show_notice -%>
<% else -%>
  <table class="index">
    <tr>
      <th></th>
      <th>分類</th>
      <th>表示</th>
      <th>表示順</th>
      <th>タイトル</th>
      <th>URL</th>
      <th>更新日</th>
    </tr>
    <% @items.each do |item| -%>
      <tr class="<%= cycle '', 'cycle' -%>">
        <td><%= link_to_show item %></td>
        <td><%= item.kind_label %></td>
        <td><%= item.state_label -%></td>
        <td><%= item.sort_no -%></td>
        <td><%=raw item.title %></td>
        <td><%= link_to item.url, item.url -%></td>
        <td><%=l item.updated_at if item.updated_at %></td>
      </tr>
    <% end %>
  </table>
<% end -%>
</div>
<%= paginate @items %>
</div>
</div>
