<%= required_head %>

<table class="show">
  <tr>
    <th>ステータス<%= required %></th>
    <td><%= radio f, 'state', @item.state_no %></td>
  </tr>
  <tr>
    <th>権限対象名<%= required %></th>
    <td><%= f.text_field :display_name, :style => 'width: 200px;' %></td>
  </tr>
  <tr>
    <th>権限コード<%= required %></th>
    <td><%= f.text_field :priv_name, :style => 'width: 200px;', :class => "IMEoff" %></td>
  </tr>
  <tr>
    <th>表示順<%= required %></th>
    <td><%= f.text_field :sort_no, :style => 'width: 200px;', :class => "IMEoff" %></td>
  </tr>
</table>
