<%
  _form_id = 'item_body'  #デフォルト値
  _form_id = params[:form_id].to_s unless params[:form_id].blank?
%>
<%= form_for :item, :url => {:action => :create}, :html => {:multipart => true, :name => 'itemForm'} do |f| %>
  <%= f.error_messages %>
  <p>
  <label for="item">ファイル指定::</label>
  <%= f.file_field :upload %>
  <%= submit_tag 'ファイルを登録する', :type => 'button', :onclick => 'check_extension()' %>
  <%= render 'gwboard/admin/ajaxuploads/form', wiki: params[:wiki], system: @title.system_name, title_id: @title.id, parent_id: @parent_id %>
  </p>
  <input type="hidden" name="title_id" value='<%="#{params[:title_id]}"%>' />
<% end -%>

<hr />

<script type="text/javascript">
//<![CDATA[
  function mceInsertContent(value) {
    parent.tinyMCE.execInstanceCommand('<%= _form_id %>', 'mceInsertContent', true, value);
  }
  function ckeInsertContent(value) {
    if (parent.CKEDITOR) {
      if (parent.CKEDITOR.currentInstance) {
        parent.CKEDITOR.currentInstance.insertHtml(value);
      } else {
        for (var i in parent.CKEDITOR.instances) {
          var instance = parent.CKEDITOR.instances[i];
          if (instance.container.isVisible()) {
            instance.insertHtml(value);
            break;
          }
        }
      }
    } else {
      parent.setText(parent.document.getElementById('item_body'), value);
    }
  }

  function selectAction() {
    var filesForm = document.filesForm;
    var selectFile;
    for (var i=0; i<filesForm.elements.s_item.length; i++) {
      if (filesForm.elements.s_item[i].checked == true) {
        var element = document.getElementById("link_attach" + filesForm.elements.s_item[i].value);
        alert(element.getAttribute("onclick"));
      }
    }
  }

  function check_extension() {
    <% if (extensions = Gw::AdminCheckExtension.enabled_extensions).size > 0 %>
    var filename = document.getElementById("item_upload").value;
    if (filename.match(/\.(<%= extensions.join('|') -%>)$/i)) {
      if (!window.confirm('<%=t 'gw.admin.admin_check_extensions.messages.extension_warning' -%>')) {
        return false;
      }
    }
    <% end %>
    document.itemForm.submit();
  }
//]]>
</script>

<table class="list" id="uploadedList">
<tr>
  <th style="width: 25px; text-align: center;"></th>
  <th style="text-align: left;">ファイル名</th>
  <th style="width: 120px; text-align: center;">サイズ（幅x高さ）</th>
  <% if false %>
  <th style="width: 40px; text-align: center;">添付</th>
  <th style="width: 60px; text-align: center;">画像貼付</th>
  <% end %>
  <th style="width: 40px; text-align: center;">削除</th>
</tr>
<% @items.each do |item| %>
<tr>
<%= render 'gwmonitor/admin/attachments/file_template', item: item, system_name: @title.system_name, wiki_state: false%>
<% end %>
</table>
