<table class="show">
  <tr>
    <th>管理部門</th>
    <td><%=raw @item.group_roles_with_admin.map(&:group_name).join('<br />') %></td>
  </tr>
  <tr>
    <th>管理者</th>
    <td><%=raw @item.user_roles_with_admin.map(&:user_name).join('<br />') %></td>
  </tr>
  <tr>
    <th>編集部門設定</th>
    <td><%=raw @item.group_roles_with_write.map(&:group_name).join('<br />') %></td>
  </tr>
  <tr>
    <th>編集者設定</th>
    <td><%=raw @item.user_roles_with_write.map(&:user_name).join('<br />') %></td>
  </tr>
  <tr>
    <th>閲覧部門設定</th>
    <td><%=raw @item.group_roles_with_read.map(&:group_name).join('<br />') %></td>
  </tr>
  <tr>
    <th>閲覧者設定</th>
    <td><%=raw @item.user_roles_with_read.map(&:user_name).join('<br />') %></td>
  </tr>
</table>
