<%= required_head %>
<table class="show">
  <tr>
    <th>状態<%= required %></th>
    <td><%= f.radio_buttons :state, @item.state_select %></td>
  </tr>
  <tr>
    <th>管理用タイトル<%= required %></th>
    <td><%= f.text_field :title, :size => 80 %></td>
  </tr>
  <tr>
    <th>グループ表示順<%= required %></th>
    <td><%= f.text_field :group_id, :size => 3 %></td>
  </tr>
  <tr>
    <th>表示形式</th>
    <td><%= f.select :pattern, options_for_select(@item.pattern_select, @item.pattern), :class => 'state' %></td>
  </tr>
  <tr>
    <th>表示場所</th>
    <td><%= f.select :place, options_for_select(@item.place_select, @item.place), :class => 'state' %></td>
  </tr>
</table>

<div class="titleLine">
<span class="title">広告選択</span>
</div>

<table class="index">
  <tr>
    <th></th>
    <th>公開</th>
    <th style="width: 170px;">画像</th>
    <th>掲載期間</th>
    <th>タイトル</th>
    <th>並び順</th>
  </tr>
  <% @adds.each do |add| %>
    <% pattern = @item.group_patterns.detect{|p| p.add_id == add.id} || 
                 @item.group_patterns.build(add_id: add.id, sort_no: add.sort_no).tap(&:mark_for_destruction)
    %>
    <%= f.fields_for :group_patterns, pattern do |f2| %>
      <tr class="<%= cycle '', 'cycle' %>">
        <td>
          <%= f2.check_box :_destroy, {checked: !pattern._destroy}, false, true %>
          <%= f2.hidden_field :add_id %>
        </td>
        <td><span style="<%= add.published_display_style %>"><%= add.published_label %></span></td>
        <td><img src="<%= add.file_path -%>?<%= add.updated_at.to_i %>" width="100" /></td>
        <td><%= add.publish_start_at.strftime('%Y年%m月%d日') %>　～　<%= add.publish_end_at.strftime('%Y年%m月%d日') %></td>
        <td><%= add.title %></td>
        <td><%= f2.text_field :sort_no, size: 2, maxlength: 10 %></td>
      </tr>
    <% end -%>
  <% end -%>
</table>

<div class="preserve">
<%= submit_for f, caption: '保存' %>
</div>
