<%#*<p>Find me in app/views/gwsub/admin/sb01/sb01_training_schedule_props/show.html.erb</p>%>
<%
#申込ボタンのリンクチェック
schedule_check = Gwsub::Sb01TrainingSchedule.schedule_link_check(@item.schedule_id)
skd_link  = "/gwsub/sb01/sb01_training_schedule_members/new?t_id=#{@item.training_id}&p_id=#{@item.id.to_s}&t_menu=entries"
edit_path = "/gwsub/sb01/sb01_training_schedules/#{@item.id.to_s}/edit?t_id=#{@item.training_id}&t_menu=plans"
editor_role = Gwsub::Sb01Training.is_editor?(@item1.group_code.slice(0,6),Site.user_group.code)
docs_editor = editor_role || @u_role
preparable = false
preparable = true if @item.members_current.to_i==0
@doc_check = nil
limit = false
limit = true if @item.members_max == @item.members_current
closed = false
closed = true if @item.state == '3'
#開催日が過ぎているか判定
expiry = false
today = Time.now
if @item.from_start.blank? || today.blank?
;
else
  if @item.from_start < today and @item.state == '2'
    expiry = true
  end
end

if @top_menu == 'entries'
show_path = "/gwsub/sb01/sb01_training_entries/#{@item1.id}"
else
show_path = "/gwsub/sb01/sb01_training_plans/#{@item1.id}"
end
member_new   = "/gwsub/sb01/sb01_training_schedule_members/new?t_id=#{@t_id}&p_id=#{@item.id}&t_menu=#{@top_menu}"
prop_close   = "/gwsub/sb01/sb01_training_schedules/#{@item.id}/closed?t_id=#{@t_id}&t_menu=#{@top_menu}"
prop_prepare = "/gwsub/sb01/sb01_training_schedules/#{@item.id}/prepared?t_id=#{@t_id}&t_menu=#{@top_menu}"
member_csv   = "/gwsub/sb01/sb01_training_schedules/csvput?t_id=#{@t_id}&p_id=#{@item.id}"
members = Gwsub::Sb01TrainingScheduleMember.find(:all,:conditions=>"training_schedule_id=#{@item.id}")
-%>
<div class="gwsub sb01">
<div class="pieceHeader">
<h2>研修申込・受付</h2>
</div>
<div class="pieceBanner">
<%= render :partial => 'gwsub/admin/sb01/sb01_level1_menu' %>
<% if @top_menu=='entries' -%>
<%= render :partial => 'gwsub/admin/sb01/sb01_training_entries/level2_menu_header' %>
<%else%>
<%= render :partial => 'gwsub/admin/sb01/sb01_training_plans/level2_menu_header' %>
<%end%>
</div>
<div class="pieceBody">
<br />
<%= raw(%Q(<div class="notice">#{flash[:notice]}</div>)) unless flash[:notice].blank? %>
<div class="titleLine"><p class="date_title">研修内容</p></div>
<%if expiry == true and docs_editor == true and @top_menu=='plans' %>
  <span class="required">開催日時を過ぎています。この開催日を締切にしてください。</span><br /><br />
<%end%>
<div class="editingBox leftSide">
<%#= link_to '開催日一覧' ,url_for(show_path) %>
  <% if @top_menu=='entries' -%>
  <%if closed == true%>
    <span class="required">この開催日は締め切られているため申込できません。</span>
  <%elsif expiry == true%>
    <span class="required">この開催日は開催日を過ぎているため申込できません。</span>
  <%elsif limit == true%>
    <span class="required">この開催日は定員に達しているため申込できません。</span>
  <%else%>
    <span class="btProp"><%= link_to '申し込む' , url_for(member_new) if limit==false and @item.state=='2' and schedule_check == true-%></span>
  <%end%>
  <% else -%>
  <%if docs_editor == true%>
      <span class="btEdit"><%= link_to '編集'    , url_for(edit_path)-%></span>
      <span class="btDestroy"><%= link_to_destroy @item.id%></span>
      <%if @item.state=='3' %>
      <span class="btReturnReceipt"><%= link_to '締切解除'    , url_for(prop_close)   ,:confirm=>"この開催日を受付中に戻します。よろしいですか？" -%></span>
    <%else%>
      <span class="btStartReceipt"><%= link_to '受付開始'    , url_for(prop_prepare) ,:confirm=>"この開催日の受付を開始します。よろしいですか？"    if @item.state=='1' and @doc_check == true-%></span>
      <span class="btPrepare"><%= link_to '準備中に戻す' , url_for(prop_prepare) ,:confirm=>"この開催日を準備中に戻します。よろしいですか？"    if @item.state=='2' and preparable==true and expiry == false-%></span>
      <span class="btClosed"><%= link_to '締切'        , url_for(prop_close)   ,:confirm=>"この開催日の受付を締め切ります。よろしいですか？"  if @item.state=='2' -%></span>
    <%end%>
  <%end%>
<% end -%>
</div>
<%= render :partial => 'gwsub/admin/sb01/sb01_training_schedules/training_show' %>
<br />
<div class="titleLine"><p class="date_title">受講者一覧</p></div>
<%  if @top_menu=='plans' %>
<div class="editingBox leftSide">
  <span class="btOutputCsv "><%= link_to 'CSV出力'    , url_for(member_csv) unless members.blank?-%></span>
</div>
<%end%>
<table class="index">
  <colgroup class="id"></colgroup>
  <colgroup class="training_user_id"></colgroup>
  <colgroup class="training_group_id"></colgroup>  
  <tbody>
	<tr>
	  <th>詳細</th>
	  <th>受講者</th>
	  <th>受講者所属</th>
	</tr>
<% members.each do |member| %>
	<tr>
	  <td><%= link_to '詳細', "/gwsub/sb01/sb01_training_schedule_members/#{member.id}?t_id=#{@t_id}&p_id=#{@item.id}&t_menu=#{@top_menu}" %></td>
	  <td><%= member.training_user_name %></td>
	  <td><%= member.training_user_group_name %></td>
	</tr>
<% end %>
  </tbody>
</table>

<div class="btReturn">
  <%= link_to '開催日程一覧に戻る'    , url_for(show_path)-%>
</div>
</div>
</div>
