<%
# 詳細表示オプション
options1={
  'table_name'=>'gwsub_sb05_requests'
}
#pp ['_show1',@req1]
case @req1.media_code.to_s
when '1'
  options1[:action]='np'
when '2'
  options1[:action]='rd'
when '3'
  options1[:action]='led'
when '4'
  if @req1.categories_code == 1
    options1[:action]='mm1'
  else
    options1[:action]='mm2'
  end
  options1['field_td_criteria']={
      'magazine_url'=>Proc.new{ |item|
      %Q(<a href="#{item.magazine_url}" ,target="_blank">#{item.magazine_url}</a>)
      },
      'magazine_url_mobile'=>Proc.new{ |item|
      %Q(<a href="#{item.magazine_url_mobile}" ,target="_blank">#{item.magazine_url_mobile}</a>)
      }
    }
else
end
#pp ['_show1',options1]
# 管理者ステータス（メルマガ以外）
options2={
  'table_name'=>'gwsub_sb05_requests',
  :action=>'admin1'
}
# 管理者ステータス（メルマガ）
options3={
  'table_name'=>'gwsub_sb05_requests',
  :action=>'admin2'
}
# 編集・削除　可否判定
finished_url = "#{@index_uri}#{@req1.id}/finished?l2_c=#{@l2_current}&sb05_users_id=#{@req1.sb05_users_id}"
finished_off_url = "#{@index_uri}#{@req1.id}/finished_off?l2_c=#{@l2_current}&sb05_users_id=#{@req1.sb05_users_id}"
# 添付ファイル取得
if @req1.media_code==4 && @req1.categories_code == 2
  if @req1.mm_image_state == '2'
    item = Gwsub::Sb05File.new
    item.and :parent_id, @req1.id
    @items = item.find(:all)
  end
end
-%>
<br />

<div class="showMenu">
<%= link_to '処理済にする' ,url_for(finished_url)     if @req1.r_state.to_i==4 and @req1.m_state.to_i==2  %>
<%= link_to '未処理に戻す' ,url_for(finished_off_url) if @req1.r_state.to_i==5 and @req1.m_state.to_i==2  %>
</div>
<table class="index">
<%# 見出し行 -%>
<tr>
<th class="categories">媒体・分類</th>
<th class="title">詳細</th>
</tr>

<tr>
<td><%= @req1.media_name%>(<%= @req1.categories_name%>)</td>
<td>
  <%= table_to_show2(@req1,options1)  %>
  <%#  添付ファイル表示 -%>
  <%if @req1.media_code == 4 && @req1.categories_code == 2 && @req1.mm_image_state == '2'%>
    <% unless @items.blank? %>
    <br />
    <table class="show">
          <tr>
          <th style="width: 24px; text-align: center;"></th>
          <th style="text-align: left;">ファイル名</th>
    <!--      <th style="width: 200px; text-align: left;">備考</th> -->
          </tr>
        <% @items.each do |i| %>
          <tr>
          <td><%= link_to("","/_admin/gwsub/receipts/#{i.id}/download_object?parent_id=#{@req1.id}&system=#{@system}",:class => i.icon_type ) %></td>
          <td><%= link_to(%Q[#{i.filename} (#{i.eng_unit})],"/_admin/gwsub/receipts/#{i.id}/download_object?parent_id=#{@req1.id}&system=#{@system}") %></td>
    <!--       <td><%#=i.memo%></td> -->
          </tr>
        <%end%>
    </table>
    <% end %>
  <%end%>
</td>
</tr>
  <%# 管理者用ステータス表示 -%>
  <% if @u_role == true %>
  <tr>
  <td>管理者欄</td>
  <td colspan="2">
    <%= table_to_show2(@req1,options2) unless @req1.media_code==4 %>
    <%= table_to_show2(@req1,options3) if     @req1.media_code==4 %>
  </td>
  </tr>
  <% end %>
</table>
