<div class="contentMenu">
<%if @is_sysadm%>
<span class="btNew "><%=link_to('掲示板を作成する', new_gwbbs_maker_path)%></span>
<%end%>
</div>

<div class="tabBox">
<table class="tabtable">
<tbody>
<tr>
<td class="spaceLeft"></td>
<td class="tab<%= ' current' unless params[:state] == 'SECTION' unless params[:state] == 'HIDE'%>"><%=link_to '管理可能掲示板', gwbbs_makers_path %></td>
<td class="spaceCenter"></td>
<td class="tab<%= ' current' if params[:state] == 'HIDE'%>"><%=link_to '管理可能掲示板（非表示）', gwbbs_makers_path({:state=>"HIDE"}) %></td>
<%if @is_sysadm%>
<td class="spaceCenter"></td>
<td class="tab<%= ' current' if params[:state] == 'SECTION'%>"><%=link_to '所属課作成掲示板', gwbbs_makers_path({:state=>"SECTION"}) %></td>
<%end%>
<td class="spaceCenter"></td>
<td class="tab"><%=link_to '掲示板一覧', '/gwbbs' %></td>
<td class="spaceRight"></td>
</tr>
</tbody>
</table>
</div>


