<div class="piece gwfaq">
<div class="pieceHeader">
<h2>質問管理</h2>
</div>
<div class="pieceBody">
<%= render :partial => 'faq_header' %>
<table class="index">
<tr>
<th style="width: 60px; text-align: right;">管理番号</th>
<th>タイトル</th>
<th style="width: 60px; text-align: center;">　</th>
<th style="width: 60px; text-align: center;">　</th>
<th style="width: 85px; text-align: center;">更新日</th>
<th style="width: 55px; text-align: center;">並び順</th>
<th style="width: 75px; text-align: center;">ステータス</th>
<th style="width: 95px; text-align: center;">　</th>
</tr>

<% for item in @faq_items %>
<tr class="<%= cycle '', 'cycle' %>">
<td style="text-align: right;"><%=h item.id %></td>
<td style="text-align: left;"><%=h item.title %></td>
<td style="text-align: center;"><%= link_to '詳細確認', gwfaq_maker_path(item,{:state=>params[:state]})%></td>
<% if item.category == 1 %>
<td style="text-align: center;"><%= link_to '分類編集', gwfaq_categories_path({:title_id=>item.id}) %></td>
<% else %>
<td></td>
<% end %>
<td style="text-align: center;"><%=item.updated_at.strftime('%Y-%m-%d').to_s %></td>
<td style="text-align: center;"><%=item.sort_no %></td>
<td style="text-align: center;"><%= item.status_show %></td>
<td style="text-align: center;"><%= link_to '公開画面 >> ', gwfaq_docs_path({:title_id=>item.id}) %></td>
</tr>
<% end %>
</table>
<br />
<%= paginate @faq_items %>

<%= render :partial => 'qa_header' %>

<table class="index">
<tr>
<th style="width: 60px; text-align: right;">管理番号</th>
<th>タイトル</th>
<th style="width: 60px; text-align: center;">　</th>
<th style="width: 60px; text-align: center;">　</th>
<th style="width: 85px; text-align: center;">更新日</th>
<th style="width: 55px; text-align: center;">並び順</th>
<th style="width: 75px; text-align: center;">ステータス</th>
<th style="width: 95px; text-align: center;">　</th>
</tr>

<% for item in @qa_items %>
<tr class="<%= cycle '', 'cycle' %>">
<td style="text-align: right;"><%=h item.id %></td>
<td style="text-align: left;"><%=h item.title %></td>
<td style="text-align: center;"><%= link_to '詳細確認', gwqa_maker_path(item,{:state=>params[:state]})%></td>
<% if item.category == 1 %>
<td style="text-align: center;"><%= link_to '分類編集', gwqa_categories_path({:title_id=>item.id})%></td>
<% else %>
<td></td>
<% end %>
<td style="text-align: center;"><%=item.updated_at.strftime('%Y-%m-%d').to_s %></td>
<td style="text-align: center;"><%=item.sort_no %></td>
<td style="text-align: center;"><%= item.status_show %></td>
<td style="text-align: center;"><%= link_to '公開画面 >> ', gwqa_docs_path({:title_id=>item.id}) %></td>
</tr>
<% end %>
</table>
<br />
<%= paginate @qa_items %>
</div>
</div><!--piece gwfaq-->

