<%= render :partial => 'header' %>
<table class="index">

  <tr>
    <th style="width: 60px; text-align: center;">　</th>
    <th style="width: 60px; text-align: left;">和暦</th>
    <th style="width: 60px; text-align: left;">年</th>
    <th style="width: 60px; text-align: left;">月</th>
    <th style="width: 60px; text-align: left;">その</th>
    <% if @title.form_name == 'form002' -%>
      <th style=" text-align: left;">タイトル</th>
    <% else -%>
    <th>　</th>
    <% end -%>
  </tr>

  <% for item in @items %>
  <tr class="<%= cycle '', 'cycle' %>">
    <td style="text-align: center;"><%= link_to '詳細', item.show_path %></td>
    <td><%=h item.wareki %></td>
    <td><%=h item.nen %></td>
    <td><%=h item.gatsu %></td>
    <td><%=h item.sono %></td>
    <% if @title.form_name == 'form002' -%>
      <td><%=h item.filename%></td>
    <% else -%>
    <td>　</td>
    <% end -%>
  </tr>
  <% end %>

</table>

<%= paginate @items %>
