<div class="editingBox">
  <%#link_to '一覧へ戻る', @item.docs_path + doclib_params_set %>
  <span class="btEdit">
    <%= link_to '編集', @item.edit_path %>
  </span>
  <span class="btDestroy">
    <%= link_to '削除', @item.delete_path, :confirm => '削除をすると元に戻せません。削除しますか', :method => :delete %>
  </span>
</div>

<table class="docCreator">
  <tr>
    <th style="width: 50px; text-align: left;">作成者</th>
    <td style="width: 150px; text-align: left;"><%= @item.createdate %></td>
    <td style="text-align: left;"><%= @item.createrdivision %></td>
    <td style="width: 150px; text-align: left;"><%= @item.creater %></td>
  </tr>
  <tr>
    <th style="width: 50px; text-align: left;">編集者</th>
    <td style="width: 150px; text-align: left;"><%= @item.editdate %></td>
    <td style="text-align: left;"><%= @item.editordivision %></td>
    <td style="width: 150px; text-align: left;"><%= @item.editor %></td>
  </tr>
</table>

<table class="docformBody">
  <tr>
    <th style="width: 50px; text-align: left;">和暦</th>
    <td>
      <%=h(@item.wareki)%>
    </td>
  </tr>
  <tr>
    <th style="width: 50px; text-align: left;">年</th>
    <td>
      <%=h(@item.nen)%>
    </td>
  </tr>
  <tr>
    <th style="width: 50px; text-align: left;">月</th>
    <td>
      <%=h(@item.gatsu)%>
    </td>
  </tr>
  <tr>
    <th style="width: 50px; text-align: left;">その</th>
    <td>
      <%=h(@item.sono)%>
    </td>
  </tr>
</table>
<%if attach_use_old%>
 <%=render(:partial => '/gwboard/admin/docs/upload_index')%>
<%else%>
 <%=render(:partial => '/gwboard/admin/docs/library_index')%>
<%end%>
