<%
@item.sort_no = 0 if @item.sort_no.blank?
@item.state = 'enabled' if @item.state.blank?
fyears = Gw::YearFiscalJp.select_dd_markjp_id(nil,10)
@item.fyear_id = 0 if @item.fyear_id.blank? #年度を廃止したのでダミーで0を設定する
help_kinds  = Gwsub::Sb06AssignedHelp.help_kind_dd(nil)
conf_cats_option  ={}
conf_cats = Gwsub::Sb06AssignedConfCategory.sb06_assign_conf_cat_id_select(conf_cats_option)
conf_kinds_option  ={:cat_id=>@c_cat_id.to_i, :fyear_id=>@fy_id}
conf_kinds = Gwsub::Sb06AssignedConfKind.sb06_assign_conf_kind_id_select(conf_kinds_option)
state_name = {'enabled' => '有効', 'disabled' => '無効'}
-%>
<%= hidden_field_tag 'limit'      , @limits   -%>
<%= hidden_field_tag 'help'       , @help     -%>
<%= hidden_field_tag 'fy_id'      , @fy_id    -%>
<%= hidden_field_tag 'c_cat_id'   , @c_cat_id -%>
<%= hidden_field_tag 'kind_id'    , @kind_id  -%>
<%= f.hidden_field     :conf_group_id ,:value=>@item.conf_group_id -%>
<%= f.error_messages %>
<%= required_head %>
<div>
<table class="show">
  <tr>
    <th>説明種別<%= required %></th>
    <td><%= radio f, :help_kind, help_kinds, class: 'state', onclick: 'sel_class();' %></td>
  </tr>
</table>
</div>
<table class="show">
  <tr>
    <th>状態<%= required%></th>
    <td><%= radio f, :state, state_name, class: 'state' %><%= hidden_field_tag :fyear_id, @item.fyear_id %></td>
  </tr>
</table>
<table class="show">
  <tr>
    <th>並び順<%= required %></th>
    <td><%= f.text_field :sort_no, size: 5 %></td>
  </tr>
</table>
<div id="cat">
<table class="show">
  <tr>
    <th>申請分類<%= required %></th>
    <td><%= f.select :conf_cat_id, options_for_select(conf_cats, @item.conf_cat_id), {}, {onchange: "get_kinds();"} %></td>
  </tr>
</table>
</div>
<div id="kind">
<table class="show">
  <tr>
    <th>申請種別<%= required%></th>
    <td><%= f.select :conf_kind_id, options_for_select(conf_kinds, @item.conf_kind_id) %></td>
  </tr>
</table>
</div>

<table class="show">
  <tr>
    <th>見出し<%= required %></th>
    <td><%= f.text_field :title, size: 67 %></td>
  </tr>
  <tr>
    <th>説明 掲示板記事URL<%= required %></th>
    <td><%= f.text_field :bbs_url, size: 67 %></td>
  </tr>
  <tr>
    <th>備考</th>
    <td><%= f.text_field :remarks, size: 67 %></td>
  </tr>
</table>

<div class="preserve">
<%= f.submit '保存' %>
</div>

<script type="text/javascript">
//<![CDATA[
// 使用者　設定欄
  var sel_class = function() {
    idx =  radio_selected('item[help_kind]')
    switch (idx) {
    case 0:
      $('cat').setStyle("display : none;");
      $('kind').setStyle("display : none;");
      break;
    case 1:
      $('cat').setStyle("display : inline;");
      $('kind').setStyle("display : inline;");
      break;
    case 2:
      $('cat').setStyle("display : none;");
      $('kind').setStyle("display : none;");
      break;
    }
  }
  sel_class();

// 分類変更時の種別絞込
  var end_cnt = -1;
  function get_kinds() {
    cat_id = $("item_conf_cat_id").value;
    if (end_cnt == -1) {
      document.body.style.cursor = 'wait';
      end_cnt = 0;
    }
    new Ajax.Request("<%= url_for({:action => :index})%>/kind_fields?c_cat_id=" + cat_id, {method:'get', onComplete: function(x){
      $('item_conf_kind_id').update(x.responseText);
      end_cnt = end_cnt + 1;
      if (end_cnt == 1) {
        document.body.style.cursor = 'default';
      }
    }})
  }
  //]]>
</script>
