<%-
options =  {'table_name' => 'gwsub_sb06_assigned_helps' }
case @help
when 'admin'
  options[:action]='show_admin'
else
  options[:action]='show'
end
case @help
when 'admin'
  s_param = "help=#{@help}&pre_fy_id=#{@fy_id}&fy_id=#{@fy_id}"
  param = "?help=#{@help}&pre_fy_id=#{@fy_id}&fy_id=#{@fy_id}"
when 'main_admin'
  s_param = "?help=#{@help}&pre_fy_id=#{@fy_id}&fy_id=#{@fy_id}&pre_c_cat_id=#{@c_cat_id}&c_cat_id=#{@c_cat_id}&kind_id=#{@kind_id}"
  param = "?help=#{@help}&pre_fy_id=#{@fy_id}&fy_id=#{@fy_id}&pre_c_cat_id=#{@c_cat_id}&c_cat_id=#{@c_cat_id}&kind_id=#{@kind_id}"
else
  s_param = "?help=#{@help}&pre_fy_id=#{@fy_id}&fy_id=#{@fy_id}&pre_c_cat_id=#{@c_cat_id}&c_cat_id=#{@c_cat_id}&kind_id=#{@kind_id}"
  param = "?help=#{@help}&pre_fy_id=#{@fy_id}&fy_id=#{@fy_id}&pre_c_cat_id=#{@c_cat_id}&c_cat_id=#{@c_cat_id}&kind_id=#{@kind_id}"
end
%>
<div class="gwsub sb06">
<div class="pieceHeader">
<!-- <h2>担当者名等管理</h2> -->
<%= render 'gwsub/admin/sb06/sb0602_piece_header' %>
</div>
<div class="pieceBanner">
<%= render 'gwsub/admin/sb06/sb0602_subfunction_select_menu' %>
<%= render 'gwsub/admin/sb06/sb06_assigned_conferences/submenu'     unless @help=='admin' %>
<%= render 'gwsub/admin/sb06/sb06_assigned_conferences/submenu_l3'  unless @help=='admin' %>
<%= render 'gwsub/admin/sb06/sb06_assigned_helps/submenu_l4' %>
</div>
<div class="pieceBody">
<div class="showMenu">
<a href="/gwsub/sb06/sb06_assigned_helps/<%=@item.id%>/edit<%=param.html_safe%>">編集</a>
<%= link_to_destroy(@item.id, nil, {:qs=>s_param}) -%>
<%#= link_to_destroy(@item.id) if @u_role==true -%>
</div>

<table class="show">
<tbody>
  <tr><th>ヘルプ分類</th><td><%=@item.assigned_help_kind[@item.help_kind]%></td></tr>
  <tr><th>状態</th><td><%=@item.state_name[@item.state]%></td></tr>
  <tr><th>並び順</th><td><%=@item.sort_no%></td></tr>
  <tr><th>見出し</th><td><%=@item.title%></td>
  </tr><tr><th>説明</th><td><%=@item.bbs_url%></td></tr>
  <tr><th>備考</th><td><%=@item.remarks%></td></tr>
</tbody>
</table>

</div>
</div>