
<div class="notice"><%= flash[:notice] %></div>

<table class="show bbsText">
<tr>
  <th>状態<%= required %></th>
  <td><%= radio f, :state, @item.states, :class => 'state' %></td>
</tr>
<tr>
  <th>並び順<%= required %></th>
  <td><%= f.text_field :sort_no, :class => 'sort_no', :size => 5, :maxlength => 5 %></td>
</tr>
<tr>
  <th>名称<%= required %></th>
  <td><%= f.text_field :name, :class => 'name', :size => 30, :maxlength => 30 %></td>
</tr>
</table>

<%= render :partial => 'form_groups' %>

