<div class="bbsDocList circular setting">
<div class="pieceHeader">
<h2 class="pieceTitle"><%= @system_title %> 配信先グループ個人設定</h2>
<div class="btsHeaderLeft">
<span class="btNew"><a href="/gwmonitor/custom_groups/new">新規作成</a></span>
</div>
</div><!--pieceHeader-->
<!--カラム用タグ-->
<div class="pieceBanner">
</div>
<div class="pieceBody">

<%= div_notice %>
<%= form_for :item, :url => "/gwmonitor/custom_groups/sort_update", :html => {:method => :put} do |f| %>
<%= hidden_field_tag :page, params[:page] %>
<%= hidden_field_tag :limit, params[:limit] %>
<%= f.error_messages %>
  <table class="index">
  <colgroup style="width:100px;"></colgroup>
  <colgroup class="name"></colgroup>
  <colgroup style="width:200px;"></colgroup>
  <colgroup style="width:100px;"></colgroup>
  <colgroup style="width:80px;"></colgroup>
  <colgroup style="width:80px;"></colgroup>
<tr>
  <th>並び順<input id="item_submit" name="commit" type="submit" value="更新" /></th>
  <th>名称</th>
  <th>最終更新日時</th>
  <th>状態</th>
  <th></th>
  <th></th>
</tr>
<% for item in @items %>
<tr>
  <td><%= item.sort_prefix%>&nbsp;<%= f.text_field "sort_no_#{item.id}", :value => item.sort_no, :class => 'string sort_no', :style => 'width: 40px;', :size => 5 , :maxlength => 4 %></td>
  <td><%= item.name %></td>
  <td><%= item.updated_at.strftime("%Y/%m/%d %H:%M") if !item.updated_at.blank? %></td>
  <td><%= item.state == 'enabled' ? '有効' : '無効' %></td>
  <td><%= link_to_edit item.id %></td>
  <td><%= link_to_destroy item.id %></td>
</tr>
<% end %>
</table>

<% end %>

<%= paginate @items %>

<!--戻るボタン-->
<div class="btReturn">
  <%= link_to "照会・回答システム 機能設定へ戻る", "/gwmonitor/settings" %>
</div>

</div><!--pieceBody-->
</div><!--piece gwbbs-->
