<div id="portal_reminder_part">
<%
icon_clses = Gw::Reminder.where(state: 'enabled').order(sort_no: :asc).map{|x| [x.name, x.css_name]}

reminds = []
%w(memo schedule_todo).each do |mod|
  begin
    reminds += eval("Gw::Model::#{mod.capitalize}.remind.map{|x| x[:c]='#{mod}'; x}")
  rescue => e
    dump e
  end
end
%>

<% if reminds.blank? %>
リマインダーに表示する内容はありません。
<% else %>
<div class="pieceBody">
<table>
<% reminds.sort{|a, b| b[:date_d] <=> a[:date_d]}.each do |x| %>
  <tr>
    <td>
      <%
      icon_cls1 = icon_clses.assoc(x[:c]).try(:last)
      title = x[:title].gsub(/'/,'"')
      uri   = title.gsub(/<a .*?href="(.*?)".*?>.*?<\/a>/iom, '\1')
      label = title.sub(/(<a .*?href=".*?".*?>)(.*?)(<\/a>)/i, '\2')
      %>
      <%= link_to uri do %>
        <span class="date_ste"><%= x[:date_str] %></span>
        <span class="cls <%= icon_cls1 %>"><%= x[:cls] %></span>
        <span class="span">：</span>
        <span class="title"><%= label %></span>
      <% end %>
    </td>
  </tr>
<% end %>
</table>
</div>
<% end %>
</div>
