<%# app/views/gw/admin/piece/reminder/index_mobile.html.erb %>
<%
todos = []
memos = []
  %w(memo  todo ).each{|mod|
    if mod == "todo"
      todos += eval("Gw::Model::#{mod.capitalize}.remind.collect{|x| x[:c]='#{mod}'; x}")
    else
      memos += eval("Gw::Model::#{mod.capitalize}.remind.collect{|x| x[:c]='#{mod}'; x}")
    end
  }
%>
<p class="mobileRem">リマインダー</p>
<hr class="borderDash"/>
<%if todos.blank?%>
<p class="mobileTodo"><%= link_to  "Todo" ,"/gw/todos" -%></p>
<p class="leftPad1">表示する内容はありません。</p>
<%else%>
<p class="mobileTodo"><%= link_to  "Todo（#{todos.size.to_s}件）" ,"/gw/todos" -%></p>
<%for todo in todos%>
<%
uri   = todo[:title].gsub(/<a .*?href="(.*?)".*?>.*?<\/a>/iom, '\1')
label = todo[:title].sub(/(<a .*?href=".*?".*?>)(.*?)(<\/a>)/i, '\2')%>
<p class="leftPad2">・<%= link_to  label ,uri -%></p>
<%end%>
<%end%>
<%if memos.blank?%>
<p class="mobileMemo"><%= link_to  "連絡メモ" ,"/gw/memos" -%></p>
<p class="leftPad1">表示する内容はありません。</p>
<%else%>
<p class="mobileMemo"><%= link_to  "連絡メモ（#{memos.size.to_s}件）" ,"/gw/memos" -%></p>
<%for memo in memos%>
<%
uri   = memo[:title].gsub(/<a .*?href="(.*?)".*?>.*?<\/a>/iom, '\1')
label = memo[:title].sub(/(<a .*?href=".*?".*?>)(.*?)(<\/a>)/i, '\2')%>
<p class="leftPad2">・<%= link_to  label ,uri -%></p>
<%end%>
<%end%>