<div class="gwsub sb06">
<div class="pieceHeader">
<!-- <h2>担当者名等管理</h2> -->
<%= render 'gwsub/admin/sb06/sb0602_piece_header' %>
</div>
<div class="pieceBanner">
<%= render 'gwsub/admin/sb06/sb0602_subfunction_select_menu' %>
<%#= render 'gwsub/admin/sb06/sb0602_submenu' %>
<%= render 'gwsub/admin/sb06/sb06_level3menu_header' %>
</div>
<div class="pieceBody">
<%= render 'gwsub/admin/sb06/sb06_assigned_conf_items/display_name' %>
<%= render 'gwsub/admin/sb06/sb06_common_showMenu' %>
<table class="show">
  <tr>
    <th>年度</th>
    <td><%=@item.fyear_markjp%></td>
  </tr>
  <tr>
    <th>申請書種別</th>
    <td>
      <%=safe{@item.c_kind1.conf_kind_name}%>
    </td>
  </tr>
  <tr>
    <th>項目表示順</th>
  <td><%=@item.item_sort_no%></td>
  </tr>
  <tr>
    <th>項目見出し</th>
    <td><%=@item.item_title%></td>
  </tr>
  <tr>
    <th>項目最大数</th>
    <td><%=@item.item_max_count%></td>
  </tr>
  <tr>
    <th>選択肢表示</th>
    <td><%=@item.class.select_list_show(@item.select_list)%></td>
  <tr>
</table>
<%#= render 'gwsub/admin/sb04/sb04_common_info_show' %>
</div>
</div>
