<div class="piece gwfaq">
<%= render :partial => 'header_str' %>
<div class="pieceBody">

<%= form_for :item, :url => gwqa_category_path(@item,{:title=>params[:title],:parent_id=>params[:parent_id]}), :html => {:method => :put} do |f| %>

<%= f.error_messages %>

<%= render :partial => 'form', :locals => {:f => f} %>

<%= submit_for(f,{:caption=>'編集する'}) %>
<% end %>

</div><!--pieceBody-->
</div><!--piece gwfaq-->
