<div class="piece gwfaq">
<%= render :partial => 'header_str' %>
<div class="pieceBody">

<%= form_for :item, :url => gwqa_categories_path({:title=>params[:title],:parent_id=>params[:parent_id]}), :html => {:method => :post} do |f| %>

<%= f.error_messages %>

<%= render :partial => 'form', :locals => {:f => f} %>

<%= submit_for(f,{:caption=>"登録する"}) %>
<% end %>

</div><!--pieceBody-->
</div><!--piece gwfaq-->
