<div class="unitBox">
<% if @items1.size > 0 %>
<div class="unit">
  <div class="unitHeader"><%= @items1[0].g_name.to_s %></div>
  <div class="scheduleUser <%= @items1[0].state if @items1[0].state=='off'%> ">
    <div class="leftHeader userIcon1">
      <%
      swith_enable = @u_role
      swith_enable = false if defined?(disable_switch) && disable_switch
      %>
      <% if swith_enable %>
        <a class="userIcon" href="<%= %Q(#{@public_uri}/#{@items1[0].id}/state_change?p_state=#{@items1[0].state}) %>">
        <%= Gw::PrefAssemblyMember.state_show(@items1[0].state) %>
        </a>
      <% else %>
        <span class="userIcon"><%=Gw::PrefAssemblyMember.state_show(@items1[0].state)%></span>
      <% end %>
      <div class="username">
      <span><%= @items1[0].u_lname %><%= @items1[0].u_name %></span>
      </div><!--username-->
    </div><!--leftHeader-->
  </div><!--scheduleUser-->
</div><!--unit-->
<% end %>

<% if @items2.size > 0 %>
<div class="unit">
  <div class="unitHeader"><%= @items2[0].g_name.to_s %></div>
  <div class="scheduleUser <%= @items2[0].state if @items2[0].state=='off'%> ">
    <div class="leftHeader userIcon2">
      <%
      swith_enable = @u_role
      swith_enable = false if defined?(disable_switch) && disable_switch
      %>
      <% if swith_enable %>
        <a class="userIcon" href="<%= %Q(#{@public_uri}/#{@items2[0].id}/state_change?p_state=#{@items2[0].state}) %>">
        <%= Gw::PrefAssemblyMember.state_show(@items2[0].state) %>
        </a>
      <% else %>
      <span class="userIcon"><%= Gw::PrefAssemblyMember.state_show(@items2[0].state) %></span>
      <% end %>
      <div class="username">
      <span><%= @items2[0].u_lname %><%= @items2[0].u_name %></span>
      </div><!--username-->
    </div><!--leftHeader-->
  </div><!--scheduleUser-->
</div><!--unit-->
<% end %>
</div><!--unitBox-->

<% if @items3.size > 0 %>
<% @items3.group_by(&:g_name).each do |g_name, items3| %>
  <div class="unit">
  <div  class="unitHeader"><%= g_name %></div>
  <% items3.each do |item| %>
    <div class="scheduleUser <%= item.state if item.state == 'off'%>">
    <div class="leftHeader userIcon2">
      <%
      swith_enable = @u_role
      swith_enable = false if defined?(disable_switch) && disable_switch
      %>
      <% if swith_enable %>
        <a class="userIcon" href="<%= %Q(#{@public_uri}/#{item.id}/state_change?p_state=#{item.state}) %>">
        <%= Gw::PrefAssemblyMember.state_show(item.state) %>
        </a>
      <% else %>
        <span class="userIcon"><%=Gw::PrefAssemblyMember.state_show(item.state)%></span>
      <% end %>
      <div class="username">
      <span><%= item.u_lname %><%= item.u_name %></span>
      </div><!--username-->
    </div><!--leftHeader-->
  </div><!--scheduleUser-->
  <% end %>
  </div><!--unit-->
<% end %>
<% end %>
