<%#*<p>Find me in app/views/gw/admin/year_fiscal_jps/show.html.erb</p>%>
<%
  options={:table_name=>"gw_year_fiscal_jps",:action=>"show"}
%>

<div class="piece YearFiscalJp">

<%= render :partial => 'header_str' %>

<div class="pieceBody">

 <div class="editingBox">
 <span class="btEdit"><%=link_to('編集', "/gw/year_fiscal_jps/#{@item.id}/edit?#{@qs}")%></span>
 <span class="btDestroy"><%=  link_to '削除', "/gw/year_fiscal_jps/#{@item.id}?#{@qs}", :confirm => '削除をすると元に戻せません。削除しますか', :method => :delete %></span>
 <span class=""><%=  link_to '管理者設定へ >>', "/gw/admin_settings" %></span>
 </div>
<%= raw(table_to_show2 @item,options) %>

<!--戻るボタン-->
<div class="btReturn">
  <%=link_to '年度一覧へ戻る', "/gw/year_fiscal_jps?#{@qs}"  %>
</div>


</div>


</div><!--piece admin_messages-->
