<%
  if @item.blank?
    mce_base_url = ''
  else
    mce_base_url = '/_common/modules/gwqa/' + sprintf("%06d", @item.title_id) + '/' + @item.name + "/" unless @item.name.blank?
  end
%>
<%= init_ckeditor baseHref: mce_base_url %>

<table class="show">
  <tr><th>編集可能課</th></tr>
  <tr>
    <td colspan="3">
    <%= f.select(:section_code, Gwboard::Group.level3_all.collect{|i|
      [i.name, i.code]}, :include_blank => '記事の管理課を選択してください') %>
    </td>
  </tr>
</table>
<table class="show">
  <tr>
    <th>記事入力方式</th></tr><tr>
    <td>
      <%= f.radio_buttons :wiki, Gwqa::Doc.wiki_options, {}, {onclick: 'change_body_table();'} %>
      <span style="<%= 'display: none;' unless @item.wiki_enabled? -%>" class="help" id="wiki_help"><%=sanitize Digitallibrary::Property::HelpLink.first.try(:wiki_help_link) -%></span>
    </td>
  </tr>
</table>
<table class="show" id="nomal_body_table" style="<%= 'display: none;' if @item.wiki_enabled? -%>">
  <tr><th>回答本文</th></tr>
  <tr>
    <td class="mceEditor"><%= f.text_area :body, :class => 'mceEditor body ckeditor', :style => 'width:100%' %></td>
  </tr>
</table>

<table class="show" id="wiki_body_table" style="<%= 'display: none;' unless @item.wiki_enabled? -%>">
  <tr>
    <th>回答本文</th></tr><tr>
    <td class="wikiEditor">
      <%= f.text_area :wiki_body, {:rows => 20, :cols=>40, :class => 'wikiEditor', :style => 'width:100%'} %>
    </td>
  </tr>
</table>

<script type="text/javascript">
//<![CDATA[
  function chageDisp(obj,changeObjId) {
    var display = document.getElementById(changeObjId).style.display;
    if (display == '') {
      obj.innerHTML = '開く▼';
    } else if (display == 'none') {
      obj.innerHTML = '閉じる▲';
    }
    Element.toggle($(changeObjId));
  }
//]]>
</script>

<%= render '/gwboard/admin/docs/script_change_body_table' %>
<%= render '/gwboard/admin/docs/script_wiki_attach_insert' %>

<% if @title.use_old_upload_system? %>
  <%= gwboard_image_form(f, @item, 'item_body') %>
  <%= gwboard_attach_form(f, @item) %>
<% else %>
  <%= gwboard_attachments_form(f, @item) %>
<% end %>

<input type="hidden" name="title_id" value="<%= params[:title_id] %>" />
<input type="hidden" name="p_id" value="<%= params[:p_id] %>" />
<input type="hidden" name="limit" value="<%= params[:limit] %>" />
<input type="hidden" name="cat1" value="<%= params[:cat1] %>" />
<%= f.hidden_field :doc_type, :value => @item.doc_type %>
