<%
mode = ''
mode = 'date' unless @title.categoey_view
mode = 'date' if @title.category == 0
%>
<table class="index">
  <tr class="headIndex">
    <th class="docTitle">記事タイトル</th>
    <th class="item">回答数</th>
    <th class="item">状況</th>
    <% if mode.blank? %>
    <th class="category"><%= @title.category1_name %></th>
    <% end %> 
    <th class="group">回答最終更新日時</th>
  </tr>
  <% brk_key = nil %>
  <% @items.each do |item| %>
    <% if item.latest_updated_at && brk_key != item.latest_updated_at.to_date %>
    <tr class="subIndex">
      <th class="docTitle">■ <%=l item.latest_updated_at, format: :date if item.latest_updated_at %></th>
      <th class="item"></th>
      <th class="item"></th>
      <% if mode.blank? %>
      <th class="category"></th>
      <% end %>
      <th class="group"></th>
    </tr>
    <% end %>
    <tr class="<%= cycle 'article', 'article cycle' %>">
      <td class="docTitle"><%= link_to hbr(item.title), gwqa_doc_path(item, title_id: item.title_id) + gwqa_params_set %></td>
      <td class="qaAnswer"><%=raw "<span>#{item.answer_count}</span>" if item.answer_count.to_i > 0 %></td>
      <td class="qaSettled"><%=raw "<span>解決済</span>" if item.content_state == "resolved" %></td>
      <% if mode.blank? %>
      <td class="category"><%= item.category.try(:name) %></td>
      <% end %>
      <td class="group"><%=l item.latest_answer if item.latest_answer %></td>
    </tr>
    <% brk_key = item.latest_updated_at.to_date if item.latest_updated_at %>
  <% end %>
</table>
