
<div class="docsInnerBox">
<div class="questionDivision">
<div>
<%if @title.category == 1%>
 <%= @title.category1_name + ' : ' unless @title.category1_name.blank? %>
 <%= gwbd_category_name(@d_categories,@reference_item.category1_id) %>
<%end %>
</div>
</div>
<div class="questionPerson">
 <div>
 質問者 : <%=@reference_item.editordivision || @reference_item.createrdivision%> <%=@reference_item.editor || @reference_item.creater%>
 <span class="questionDay"><%=@reference_item.latest_updated_at.strftime('%Y-%m-%d %H:%M')%></span>
 </div>
</div>
<table class="questionArea">
 <tbody>
 <tr><th>
<span><%=
  if @reference_item.content_state != "resolved"
   "質問　"
  else
   "【解決しました】"
  end
%>
</span>
 質問者 : <%=@reference_item.editordivision || @reference_item.createrdivision%> <%=@reference_item.editor || @reference_item.creater%>
</th>
</tr>
<tr><td class="questionTitle"><%=@reference_item.title%></td></tr>
<tr><td class="questionText" <%= @reference_item.body %></td></tr>
</tbody>
</table>
<%= render :partial => 'question_file_index' %>

<div class="questionAnswer">
</div>
<%unless @reference_answers.blank? %>
 <div class="answerSort"></div>
 <div class="answerArea">
 <% for @reference_answer in @reference_answers %>
 <div class="answerBox">
 <div class="answerhead">
 <div>
 <span class="answerPerson">
 </span>
 <span class="answerDay">
 <%= @reference_answer.updated_at.strftime('%Y-%m-%d %H:%M') %>
 </span>
 </div>
 </div>
 <table class="bbsUserformBody">
 <tbody>
 <tr><th>
 <div class="answerTitle"><span>回答</span>
  回答者 : <%=@reference_answer.editordivision || @reference_answer.createrdivision%> <%=@reference_answer.editor || @reference_answer.creater%>
 </div></th></tr>
 <tr><td class="answerText"><%= raw(@reference_answer.body) %></td></tr>
 </tbody>
 </table>
 </div>
 <%= render :partial => 'answer_file_index' %>
 <% end %>
 </div>
<%end%>
</div>
