<div class="bbsDocList circular">
<div class="pieceHeader">
<h2 class="pieceTitle"><%=@system_title%></h2>
<div class="btsHeadeRight"><%=raw(gwmonitor_settings)%></div>
</div><!--pieceHeader-->
<div class="pieceBody">

<%= form_for :item, :url => gwmonitor_builder_path(@item.id), :html => {:method=>:put , :multipart => true, :id => 'itemForm'} do |f| %>
  <%= f.error_messages %>
  <%= render :partial => 'form', :locals => {:f => f} %>

<div class="submitters">
<%
  is_public_only = false
  is_public_only = true unless @item.state == 'draft'
  is_public_only = false if @item.state == 'preparation'
%>
<%if is_public_only%>
  <%= raw(submit_for_update(f, :js_submitter => "my_submit('public')",:caption=>'保存')) -%>
<%else%>
 <div align="center">
 <table>
 <tr>
 <td><%= raw(submit_for_update(f, :js_submitter => "my_submit('public')",:caption=>'配信')) -%></td>
 <td><%= raw(submit_for_update(f, :js_submitter => "my_submit('draft')",:caption=>'下書き')) %></td>
 </tr>
 </table>
 </div>
<%end%>
</div>

<%end%>

</div><!--pieceBody-->
</div><!--piece-->
