<%= render 'search' %>

<% if @items.blank? %>
<%= show_notice %>
<% else %>
<table class="index">
  <tr>
    <th class="action"></th>
    <th>予約状態</th>
    <th>返却日時</th>
    <th>貸出日時</th>
    <th>会議室等</th>
    <th>所属</th>
    <th>担当者</th>
  </tr>
  <% @items.each do |item| %>
    <tr class="<%= cycle '', 'cycle' %>">
      <td><%= link_to_show item.id %></td>
      <td><%= item.prop_state_show %></td>
      <td><%=l item.end_at if item.end_at %></td>
      <td><%=l item.start_at if item.start_at %></td>
      <td><%= item.meetingroom.name if item.meetingroom %></td>
      <td><span style="<%= 'color:red;' unless item.driver_group %>"><%= item.driver_group_name %></span></td>
      <td><%= item.driver_user_name %></td>
    </tr>
  <% end %>
</table>
<%= paginate @items %>
<% end %>
