<% if @items.blank? %>
<%= show_notice %>
<% else %>
<table class="index">
  <tr>
    <th class="action"></th>
    <th>所属</th>
  </tr>
  <% @items.each do |item|%>
    <tr class="<%= cycle '', 'cycle' %>">
      <td><%= link_to "詳細", "/gw/prop_extra_pm_#{@genre}s/#{item.driver_group_id}/show_group" %></td>
      <td><span style="<%= 'color:red;' unless item.driver_group %>"><%= item.driver_group_name %></td>
    </tr>
  <% end %>
</table>
<%= paginate @items %>
<% end %>
