<%
@sp_mode_extra_pm = @genre
@sp_mode_extra_pm_group = :group

@hedder2lnk = 3
@hedder3lnk = 3
@hedder4lnk = 2 if @s_order == "prop"
@hedder4lnk = 3 if @s_order == "group"
@hedder5lnk = 1
@hedder5lnk = 2 if params[:year] == "last"
settings = Gw::Schedule.load_system_settings
  is_pm_restrict_time = lambda{|part|
    return [nil,nil] if nf(settings["restrict_regist_with_pm_by_#{part}_time"]).blank?
  settings["restrict_regist_with_pm_#{part}_time"].scan(/^(\d{1,2}:\d{1,2})-(\d{1,2}:\d{1,2})$/)
  [$1, $2].each{|x| raise ApplicationError, '' if !Gw.validates_datetime(x)}
    return [Gw.to_time($1), Gw.to_time($2)]
  }
  restrict_reservation_st, restrict_reservation_ed = is_pm_restrict_time.call :reservation
  hours_per_day = (restrict_reservation_ed.to_i - restrict_reservation_st.to_i).to_f / 3600.to_f
%>

<div class="piece prop index">
<div class="pieceHeader">
<%= render 'piece_header' -%>
</div>
<div class="pieceBody">
<div class="pieceBodyHeader">
  <%= render '/gw/admin/schedule_props/bt_box', d: Date.today -%>
  <%= render '/gw/admin/prop_extras/header' %>
</div>
<div class="pieceBodyBody">
  <% if @items.present? %>
  <table class="index">
  <% case @s_order %>
  <% when 'group'%>
    <tr>
      <th class="action"></th>
      <th>年月</th>
      <th>利用時間（h）</th>
    </tr>
    <% @items.each do |item|-%>
    <tr class="<%= cycle '', 'cycle' %>">
      <td><%= link_to "明細", "/gw/prop_extra_pm_#{@genre}s/#{@gid}/show_group_month?s_ym=#{item._end_at_ym}&mode=#{@s_order}" %></td>
      <td><%= item._end_at_ym -%></td>
      <td><%= item._time_sum -%></td>
    </tr>
    <% end %>
  <% when 'prop'-%>
    <tr>
      <th class="action"></th>
      <th>年月</th>
      <th>利用時間（h）</th>
      <th>稼働率（％）</th>
    </tr>
    <% @items.each do |item|
      d = Gw.ym_to_time(item._end_at_ym.sub(/-/, '/')) rescue nil
      if d.blank?
        util_ratio = nil
      else
        weekdays, holidays = Gw.extract_holidays((d.to_date..d.end_of_month.to_date).to_a)
        util_ratio = (item._time_sum.to_f / (weekdays.length * hours_per_day) * 100).round(1)
      end
    -%>
    <tr class="<%= cycle '', 'cycle' %>">
      <td><%= link_to "明細", "/gw/prop_extra_pm_#{@genre}s/#{@gid}/show_group_month?s_ym=#{item._end_at_ym}&mode=#{@s_order}" %></td>
      <td><%= item._end_at_ym %></td>
      <td><%= item._time_sum %></td>
      <td><%= util_ratio %></td>
    </tr>
    <% end %>
  <% end %>
  </table>
  <%= paginate @items %>
  <% end %>
</div>
<div class="pieceBodyFooter"></div>
</div>
</div>
