<% if @items.blank? %>
  <%= Gw.div_notice('本日ご案内する催事はございません') -%>
<% else %>
<div id="main">
  <% @items.each do |item| -%>
    <table>
      <tbody>
        <tr>
          <td class="title"><%= item.title -%></td>
          <% if item.allday == 1 || item.allday == 2 %>
            <td class="time" style="text-align: center;"><span class="separate">‐</span></td>
          <% else %>
            <td class="time">
              <span class="start"><%= item.st_at.strftime('%H:%M') if item.st_at %></span>
              <span class="separate">～</span>
              <span class="end"><%= item.ed_at.strftime('%H:%M') if item.ed_at && item.guide_ed_at != 1 %></span>
            </td>
          <% end %>
          <td class="place"><%= item.guide_place -%></td>
        </tr>
      </tbody>
    </table>
  <% end %>
</div>
<% end %>
<%= paginate @items %>
