<div class="piece gadget bbs syntheses" style="<%= 'margin-right: 210px;' if Gw::Property::PortalAddDispOption.display_right? %>">
<div class="pieceHeader"><h3>記事更新情報</h3></div>
<div class="pieceBody" style="<%= 'min-height: 55px;' %>">
<% if @none_dsp %>
  <div style="color: #080;">表示する内容はありません。</div>
<% else %>
  <table cellspacing="0" cellpadding="0" class="index">
    <tr>
    <% if @bbs_docs != 0 %>
      <td style="width: 60px;"><%= link_to "掲示板(#{@bbs_docs}件)", "/syntheses?system=gwbbs" %></td>
    <% end %>
    <% if @faq_docs != 0 %>
      <td style="width: 60px;"><%= link_to "ＦＡＱ(#{@faq_docs}件)", "/syntheses?system=gwfaq" %></td>
    <% end %>
    <% if @qa_docs != 0 %>
      <td style="width: 60px;"><%= link_to "Ｑ＆Ａ(#{@qa_docs}件)", "/syntheses?system=gwqa" %></td>
    <% end %>
    <% if @doclib_docs != 0 %>
      <td style="width: 60px;"><%= link_to "書庫(#{@doclib_docs}件)", "/syntheses?system=doclibrary" %></td>
    <% end %>
    <% if @digitallib_docs != 0 %>
      <td style="width: 60px;"><%= link_to "電子図書(#{@digitallib_docs}件)", "/syntheses?system=digitallibrary" %></td>
    <% end %>
  </table>
<% end %>
</div>
</div>