<div class="sideMenu">
<div class="menuBody">
<%=render(:partial => 'search')%>
<%=raw @title.other_system_link unless @title.other_system_link.blank? %>
 <%unless @title.left_index_use == '0' %>
  <%#所属の時は、所属-分類-月別%>
  <%if params[:state] == "GROUP"%>
    <%=render(:partial => 'groups')     if @title.group_view %>
    <%=render(:partial => 'categories') if @title.categoey_view %>
    <%=render(:partial => 'monthlies')  if @title.monthly_view %>
  <%end%>
  <%#分類の時は、分類-所属-月別%>
  <%if params[:state] == "CATEGORY"%>
    <%=render(:partial => 'categories') if @title.categoey_view %>
    <%=render(:partial => 'groups')     if @title.group_view %>
    <%=render(:partial => 'monthlies')  if @title.monthly_view %>
  <%end%>
  <%#上記以外の時は、最新10件-月別-分類%>
  <%unless params[:state] == "GROUP"%>
    <%#render(:partial => 'normal')%>
    <%=render(:partial => 'monthlies')  if @title.monthly_view %>
    <%=render(:partial => 'categories') if @title.categoey_view %>
    <%=render(:partial => 'groups')     if @title.group_view %>
  <%end unless params[:state] == "CATEGORY"%>
<!--</div>-->

 <%end%>
</div>
</div>