<%= form_for :item, url: {action: :csvup}, html: {method: :post, multipart: true} do |f| %>
  <div class="explain">
    登録対象ＣＳＶファイルを指定して実行してください<br />
    <span style="color:red">登録済データを、すべて削除し、新規登録となります。</span>
    <%= f.error_messages %>
  </div>
  <table class="show">
    <tr>
      <th>文字コード</th>
      <td><%= f.radio_buttons :encoding, @item.encoding_options %></td>
    </tr>
    <tr>
      <th>対象ファイル</th>
      <td><%= f.file_field :file, size: 80, accept: 'text/csv' %></td>
    </tr>
  </table>
  <div class="preserve">
  <%= f.submit 'CSV登録' %>
  </div>
<% end %>

