<table class="show">
<tr><th colspan="6">編集・登録情報</th></tr>
<tr>
<th>更新日</th><td><%= date_common(@item.updated_at) unless @item.updated_at.blank?  %></td>
<th>編集者</th><td><%= @item.updated_user unless @item.updated_user.blank? %></td>
<th>編集者所属</th><td><%= @item.updated_group unless @item.updated_group.blank? %></td>
</tr>
<tr>
<th>登録日</th><td><%= date_common(@item.created_at) unless @item.created_at.blank? %></td>
<th>登録者</th><td><%= @item.created_user unless @item.created_user.blank? %></td>
<th>登録者所属</th><td><%= @item.created_group unless @item.created_group.blank? %></td>
</tr>
</table>
