<%
  array_help = get_enquete_help
  if @item.group_code.blank?
    sort_display   = ""
    g_sort_display = "display: none;"
  else
    if @item.question_type == "group"
      sort_display   = ""
      g_sort_display = "display: none;"
    else
      sort_display   = "display: none;"
      g_sort_display = ""
    end
  end
%>
<%= raw(gw_js_include_full) %>
<%= required_head %>
<table class="show bbstext">
<tr><th>状態</th>
<td><%=raw(radio f, :state, @item.states, :class => 'state') %></td></tr>
<tr><th>設問内容<br /><%= required('ラベルテキスト以外必須※') %></th>
<td><%= f.text_area :title, :cols=>"80", :rows=>"4" %></td></tr>
<tr  id="item_sort_no_tr" style="<%=sort_display%>"><th>並び順<%= required('※') %></th>
<td><%= text_field_tag "n_sort_no", @item.sort_no ,:size=>5 %></td></tr>
<tr><th>設問形式</th>
<td><%= f.select(:question_type,  @item.form_field_type , :class => 'admin_setting') %><span class="help"><%=show_enquete_help(3,array_help)%></span></td></tr>
</table>

<div id="item_option_group" style="display:inline;" >
<table class="show bbstext">
<tr><th>グループ番号</th>
<td><%= f.select(:group_code, @item.group_number_states, {:include_blank => true}) %></td></tr>
<tr  id="item_group_sort_no_tr"  style="<%=g_sort_display%>"><th>並び順<%= required('※') %></th>
<td><%= text_field_tag "g_sort_no", @item.sort_no ,:size=>5 %></td></tr>
</table>
</div>

<div id="item_option_group_repeat" style="display:inline;" >
<table class="show bbstext">
<tr><th>グループ行数</th>
<td><%= f.select(:group_repeat, @item.group_number_states, {:include_blank => true}) %></td></tr>
</table>
</div>

<div id="item_option_text" style="display:inline;" >
<table class="show bbstext">
<tr><th>テキスト枠の長さ</th>
<td><%= f.text_field :field_cols, :size => 5 %> テキスト枠の長さを設定します。</td></tr>
</table>
</div>

<div id="item_option_textarea" style="display:inline;" >
<table class="show bbstext">
<tr><th>表示行数</th>
<td><%= f.text_field :field_rows, :size => 5 %>テキストエリアの行数を設定します。</td></tr>
</table>
</div>

<div id="item_option_post_permit" style="display:inline;" >
<table class="show bbstext">
<tr><th>入力必須チェック</th>
<td><%= f.select(:required_entry, @item.required_entry_states) %>
</td></tr>
<tr><th>
投稿許可設定
</th>
<td>
<%=link_to("設問構成一覧を開く", questionnaire_menu_form_fields_path(@title), {:target=>"_blank",:class=>'btText'})%><br />
<%= f.select(:post_permit, @permit_select, {:include_blank => true}) %> 許可する値<%= f.text_field :post_permit_value, :size => 10 %>
<span class="help"><%=show_enquete_help(4,array_help)%></span>
</td></tr>
</table>
</div>

<div id="item_option_select" style="display:none;" >
<%= option_form f, @item %>
</div>

<%= observe_field "item_question_type", :function => " check_option_display();" %>
<script type="text/javascript">
//<![CDATA[
  var browser = navigator.appName;
  function check_option_display() {
    question_type = $("item_question_type").value;
    option_display(question_type);
    // alert(question_type );
  }

  function option_display(idx) {
    group_code = $("item_group_code").value;
    if (idx == "text" || idx == "radio" || idx == "select"){
      if (group_code == ""){
        if(browser == "Microsoft Internet Explorer") {
          $('item_sort_no_tr').setStyle("display : block;");
        }else {
          $('item_sort_no_tr').setStyle("display : table-row;");
        }
        $('item_group_sort_no_tr').setStyle("display : none;");
        $('n_sort_no').disabled = false;
        $('g_sort_no').disabled = true;
      }else{
        if(browser == "Microsoft Internet Explorer") {
          $('item_group_sort_no_tr').setStyle("display : block;");
        }else {
          $('item_group_sort_no_tr').setStyle("display : table-row;");
        }
        $('item_sort_no_tr').setStyle("display : none;");
        $('n_sort_no').disabled = true;
        $('g_sort_no').disabled = false;
      }
    }else{
      if(browser == "Microsoft Internet Explorer") {
        $('item_sort_no_tr').setStyle("display : block;");
      }else {
        $('item_sort_no_tr').setStyle("display : table-row;");
      }
      $('item_group_sort_no_tr').setStyle("display : none;");
      $('n_sort_no').disabled = false;
      $('g_sort_no').disabled = true;
    }
    switch (idx) {
    case 'text':
      $('item_option_text').setStyle("display: inline;");
      $('item_option_group').setStyle("display: inline;");
      $('item_option_group_repeat').setStyle("display: none;");
      $('item_option_textarea').setStyle("display: none;");
      $('item_option_select').setStyle("display: none;");
      if (group_code == "") {
        $('item_option_post_permit').setStyle("display: inline;");
      }else{
        $('item_option_post_permit').setStyle("display: none;");
      }
      break;
    case 'textarea':
      $('item_option_text').setStyle("display: inline;");
      $('item_option_group').setStyle("display: none;");
      $('item_option_group_repeat').setStyle("display: none;");
      $('item_option_textarea').setStyle("display: inline;");
      $('item_option_select').setStyle("display: none;");
      $('item_option_post_permit').setStyle("display: inline;");
      break;
    case 'radio':
      $('item_option_text').setStyle("display: none;");
      $('item_option_group').setStyle("display: inline;");
      $('item_option_group_repeat').setStyle("display: none;");
      $('item_option_textarea').setStyle("display: none;");
      $('item_option_select').setStyle("display: inline;");
      if (group_code == "") {
        $('item_option_post_permit').setStyle("display: inline;");
      }else{
        $('item_option_post_permit').setStyle("display: none;");
      }
      break;
    case 'checkbox':
      $('item_option_text').setStyle("display: none;");
      $('item_option_group').setStyle("display: none;");
      $('item_option_group_repeat').setStyle("display: none;");
      $('item_option_textarea').setStyle("display: none;");
      $('item_option_select').setStyle("display: inline;");
      $('item_option_post_permit').setStyle("display: inline;");
      break;
    case 'select':
      $('item_option_text').setStyle("display: none;");
      $('item_option_group').setStyle("display: inline;");
      $('item_option_group_repeat').setStyle("display: none;");
      $('item_option_textarea').setStyle("display: none;");
      $('item_option_select').setStyle("display: inline;");
      if (group_code == "") {
        $('item_option_post_permit').setStyle("display: inline;");
      }else{
        $('item_option_post_permit').setStyle("display: none;");
      }
      break;
    case 'display':
      $('item_option_text').setStyle("display: none;");
      $('item_option_group').setStyle("display: none;");
      $('item_option_group_repeat').setStyle("display: none;");
      $('item_option_textarea').setStyle("display: none;");
      $('item_option_select').setStyle("display: none;");
      $('item_option_post_permit').setStyle("display: none;");
      break;
    case 'group':
      $('item_option_text').setStyle("display: none;");
      $('item_option_group').setStyle("display: inline;");
      $('item_option_group_repeat').setStyle("display: inline;");
      $('item_option_textarea').setStyle("display: none;");
      $('item_option_select').setStyle("display: none;");
      $('item_option_post_permit').setStyle("display: none;");
      break;
    }
  }
  check_option_display();
//]]>
</script>
<%= observe_field "item_group_code", :function => " check_group_display();" %>
<script type="text/javascript">
//<![CDATA[
  var browser = navigator.appName;
  function check_group_display() {
    question_type = $("item_question_type").value;
    group_code = $("item_group_code").value;
    group_display(group_code, question_type);
  }

  function group_display(idx, question_type) {
    if (idx == '') {
      if (question_type != 'group') {
        $('item_option_post_permit').setStyle("display: inline;");
      }
    } else {
      $('item_option_post_permit').setStyle("display: none;");
    }
    if (idx==""){
      if(browser == "Microsoft Internet Explorer") {
        $('item_sort_no_tr').setStyle("display : block;");
      }else {
        $('item_sort_no_tr').setStyle("display : table-row;");
      }
      $('item_group_sort_no_tr').setStyle("display : none;");
      $('n_sort_no').disabled = false;
      $('g_sort_no').disabled = true;
    }else{
      if (question_type == 'group'){
        if(browser == "Microsoft Internet Explorer") {
          $('item_sort_no_tr').setStyle("display : block;");
        }else {
          $('item_sort_no_tr').setStyle("display : table-row;");
        }
        $('item_group_sort_no_tr').setStyle("display : none;");
        $('n_sort_no').disabled = false;
        $('g_sort_no').disabled = true;
      }else{
        $('item_sort_no_tr').setStyle("display : none;");
        if(browser == "Microsoft Internet Explorer") {
          $('item_group_sort_no_tr').setStyle("display : block;");
        }else {
          $('item_group_sort_no_tr').setStyle("display : table-row;");
        }
        $('n_sort_no').disabled = true;
        $('g_sort_no').disabled = false;
      }
    }
  }
  check_group_display();
//]]>
</script>