<div class="bbsDocList circular">
<div class="pieceHeader"><h2 class="pieceTitle"><%=@system_title%></h2></div>

<div class="pieceBody">
<%= render :partial => 'header' %>

<%= form_for :item, :url => questionnaire_menu_form_field_path(@title,@item) ,:html => {:method=>:put , :multipart => true, :id => 'itemForm'} do |f| %>

<%= f.error_messages %>

<%= render :partial => 'form', :locals => {:f => f} %>

<%= submit_for(f,{:caption=>'保存する'}) %>

<% end %>
</div>
</div>
