<%
  array_help = get_enquete_help
%>
<div class="bbsDocList circular">
<div class="pieceHeader"><h2 class="pieceTitle"><%=@system_title%></h2></div>

<div class="pieceBody">
<%= render :partial => 'header' %>
<div class="editingBox">
  <span class="btEdit"><%=link_to('編集', edit_questionnaire_menu_form_field_path(@title,@item)) %></span>
 <%if @title.answer_count.blank?%>
  <!--回答で新規作成あるまで-->
  <span class="btDestroy"><%=link_to '削除', questionnaire_menu_form_field_path(@title,@item), :confirm => '削除をすると元に戻せません。削除しますか', :method => :delete %></span>
  <span class="docLink"></span>
 <%end%>
</div>

<table class="show">
<tr><th>状態</th>
<td><%= @item.state_name%></td></tr>
<tr><th>設問内容</th>
<td><%= hbr @item.title%></td></tr>
<tr><th>並び順</th>
<td><%= h @item.sort_no%></td></tr>
<tr><th>設問形式<span class="help"><%=show_enquete_help(3,array_help)%></span></th>
<td><%= h @item.question_type_name%></td></tr>

<%unless @item.group_code.blank? %>
<tr><th>グループ番号</th>
<td><%= @item.group_code%></td></tr>
<%end%>

<%unless @item.group_repeat.blank? %>
<tr><th>グループ行数</th>
<td><%= @item.group_repeat%></td></tr>
<%end%>

<%if @item.is_question_type_text%>
<tr><th>テキスト枠の長さ</th>
<td><%= h @item.field_cols%></td></tr>
<%end%>

<%if @item.question_type == 'textarea'%>
<tr><th>表示行数</th>
<td><%= h @item.field_rows%></td></tr>
<%end%>

<%if @item.group_code.blank? %>
<%unless @item.question_type == 'display'%>
<tr><th>必須入力チェック</th>
<td><%= h @item.required_entry_state_name%></td></tr>
<tr><th>投稿許可設定<span class="help"><%=show_enquete_help(4,array_help)%></span></th>
<td>
<%unless @item.permit.blank?%>
<%= h @item.permit.title%> &nbsp;の選択値が&nbsp;<%= h @item.post_permit_value%>&nbsp;の時に許可する
<%end%>
</td></tr>
<%end%>
<%end%>

</table>

<%= option_view @item unless @item.is_question_type_text%>

<div class="btReturn"><%=link_to("設問構成一覧へ戻る", questionnaire_menu_form_fields_path(@title)) %></div>

</div>
</div>