<%
@format ||= @schedule_settings["#{@view}_view_dayhead_format"]
@header_each ||= @schedule_settings[:header_each].to_i
show_week_header = render '/gw/admin/schedules/show_week_header'
sd = @s_date
ed = @e_date
sdt = @s_time
edt = @e_time
sd_s = @s_day
ed_s = @e_day
all_day = @all_day

@schedule_move_ab =
  [[sd.months_ago(1),   "前月","last_month"      ],
   [sd-7,               "前週","last_week"       ],
   [sd-1,               "前日","yesterday"       ],
   [Date.today,         "今日","today"           ],
   [sd+1,               "翌日","tomorrow"        ],
   [sd+7,               "翌週","following_week"  ],
   [sd.months_since(1), "翌月","following_month" ]]

period = ed == sd ? 0 : ed-sd

move_ab = ''
cnt = 0
@schedule_move_ab.each{|x|
  cnt += 1
  @href = "/gw/schedule_search_blanks/"
  @href += "show_week?st_date=#{(x[0]).strftime('%Y%m%d')}"
  @href += "&st_time=#{sdt.strftime('%H:%M')}"
  @href += "&ed_date=#{(x[0]+period).strftime('%Y%m%d')}"
  @href += "&ed_time=#{edt.strftime('%H:%M')}"
  @href += "&uids=#{@uids.join(':')}"
  @href += "&allday=#{all_day}"
  @href += "&st_day=#{sd_s.strftime('%Y%m%d')}"
  @href += "&ed_day=#{ed_s.strftime('%Y%m%d')}"

  move_ab += ' ' unless cnt == 1
  move_ab += %Q(<a href="#{@href}" #{x[2] == '' ? '' : "class=" + x[2]}>#{x[1]}</a>)
}

%>
<div class="piece schedulePiece weekview">
<div class="pieceHeader">
  <%= render '/gw/admin/schedule_search_blanks/piece_header_search_blank', piece_head_title: @piece_head_title -%>
</div>
<div class="pieceBody">
<div class="pieceBodyHeader">
  <%= render '/gw/admin/schedule_search_blanks/bt_box', mode: 'week' %>
  <div class="attention">※予定があるユーザーを赤字で表示しています。</div>
  <div class="lineBox">
    <%= render 'piece_show_header_date', mode: 'week' %>
    <div class="scheduleMove">
      <%= hidden_field_tag :my_url, @href.sub(/st_date=[0-9]+/,"st_date=%d").sub(/ed_date=[0-9]+/,"ed_date=%d") %>
      <%= form_for :item, :url => '', :html => {multipart: true, id: "schedule_header"} do |f| %>
        <%= move_ab.html_safe %>
        <input type="hidden" class="datepicker_for_redirect" />
      <% end %>
    </div>
  </div>
</div><!--pieceBodyHeader-->

<div class="pieceBodyBody">
<% if @show_flg %>
<table summary="スケジュール詳細" class="scheduleTable ">
  <tbody>
    <% @users.each_with_index do |user, iuser| %>
      <%= show_week_header if iuser == 0 || @header_each != 0 && iuser % @header_each == 0 -%>
      <%
      cg_user = params[:cgid].present? ? user.users_custom_groups.first : nil
      user_schedules = @schedules.select {|s| s.schedule_users.any?{|su| su.uid == user.id} }
      %>
      <tr class="scheduleTableBody lineNo1">
        <th class="scheduleUser">
          <div class="leftHeader <%= "userIcon#{cg_user.icon}" if cg_user -%>">
            <% if cg_user.present? -%>
            <div class="title"><%= cg_user.title -%></div>
            <% end -%>
            <div class="username">
              <span style="<%= 'color: red;' if search_blank_class(@sdt, @edt, user.id) %>"><%= user.name_and_code -%></span>
              <% if @link_box %>
              <span class="linkBox">
                <a href="/gw/schedules/<%= @calendar_first_day.strftime("%Y%m%d") -%>?uid=<%= user.id -%>" class="dayLink">日表示</a>
                <a href="/gw/schedules/show_month?s_date=<%= @calendar_first_day.strftime("%Y%m01") -%>&uid=<%= user.id -%>" class="monthLink">月表示</a>
                <a href="/gw/schedule_lists/?uid=<%= user.id -%>&s_year=<%= @calendar_first_day.year -%>&s_month=<%= @calendar_first_day.month -%>" class="listsLink">一覧</a>
              </span>
              <% end %>
            </div>
          </div>
        </th>
        <% 7.times do |i| %>
          <%
          week_add_day = @calendar_first_day + i
          schedules = user_schedules.select {|s| s.date_between?(week_add_day) }
          %>
          <td class="<%= create_month_class(week_add_day, @st_date, @holidays, params) -%>">
            <%= render '/gw/admin/schedules/show_week_one', schedules: schedules, week_add_day: week_add_day, display_prop: nil if schedules.present? %>
          </td>
        <% end %>
      </tr>
    <% end %>
    <%= show_week_header if @users.length > 1 -%>
  </tbody>
</table>
<% else -%>
  <%= show_notice -%>
<% end %>
</div>
<div class="pieceBodyFooter" align="center">
  <input onclick="window.close();" type="button" value="閉じる" />
</div>
</div>
</div>

<script type="text/javascript">
(function($) {
  $(function() {
    $('input.datepicker_for_redirect').datepicker({
      onSelect: function(dateText) {
        location.href = $('#my_url').val().replace(/%d/, dateText.replace(/-/g, ''));
      }
    });
  });
})(jQuery);
</script>
