<% unless @files.blank? %>
<div class="docsInnerBox2">
<table class="gwboardAttachlist">
<tr>
  <th colspan="2">添付ファイル名</th>
  <th class="remark">備考</th>
</tr>
<%
for item in @files
  #全ての処理に同じ対応が済むまで(掲示板のみ)
  case item.system_name.to_s
  when "gwbbs", "gwfaq"
    case @title.upload_system
    when 1..4
      download_url = "#{item.file_uri(item.system_name)}"
    else
      download_url = "/_admin/gwboard/receipts/#{item.id}/download_object?system=#{item.system_name}&title_id=#{item.title_id}"
    end
  else
    download_url = "/_admin/gwboard/receipts/#{item.id}/download_object?system=#{item.system_name}&title_id=#{item.title_id}"
  end
%>
<tr>
  <td style="width:30px;" class="attachIcon"><%= link_to '', download_url, :class => item.icon_type %></td>
  <td><%= link_to(%Q[#{item.filename} (#{item.eng_unit})],download_url) %></td>
  <td class="remark">
  <%# 書庫・電子図書で編集権があれば、添付ファイルの備考欄編集を表示 %>
  <% if @is_editable %>
    <% case item.system_name %>
    <% when 'gwbbs' %>
      <%= link_to '編集', "#{item.edit_memo_path(@title,@item)}#{gwbbs_params_set}" %>
    <% when 'doclibrary' %>
      <%= link_to '編集', "#{item.edit_memo_path(@title,@item)}#{doclib_params_set}" %>
    <% when 'digitallibrary' %>
      <%= link_to '編集', "#{item.edit_memo_path(@title,@item)}#{doclib_params_set}" if @item.doc_alias == 0 %>
    <% end %>
  <% end %>
  <%= item.memo %>
  </td>
</tr>
<% end %>
</table>
</div>
<% end %>