<%
array_help = get_enquete_help
%>
<%= raw(gw_js_include_full) %>
<%= required_head %>

<table class="show">
<tr><th>形式選択</th>
<td>
<%if @item.state == 'public'%>
  <%=@item.enquete_division_state_name%><%= hidden_field_tag(:enquete_division, @item.enquete_division) %>
<%else%>
  <%= f.select :enquete_division, @item.enquete_division_states , :class => 'select'%><span class="help"><%=show_enquete_help(0,array_help)%></span>
<%end%>
</td></tr>
<tr><th>記事管理設定</th>
<td><%= f.select :admin_setting, @item.admin_setting_name , :class => 'admin_setting'%><span class="help"><%=show_enquete_help(1,array_help)%></span></td></tr>
<tr><th>一覧に表示</th>
<td><%= f.select :include_index, @item.include_index_states , :class => 'admin_setting'%><span class="help"><%=show_enquete_help(2,array_help)%></span></td></tr>
<tr><th>公開用タイトル<%= required('※') %></th>
<td><%= f.text_field :title, :class => 'string title' %></td></tr>
<tr><th>注意事項</th>
<td><%= f.text_area  :remarks , :cols=>80 ,:rows=>5 %></td></tr>
<tr><th>注意事項　表示</th>
<td><%= f.select :remarks_setting, @item.remarks_state , :class => 'admin_setting'%><span class="help"><%=show_enquete_help(5,array_help)%></span></td></tr>
</table>

<table class="show">
<tr><th>回答期限日時<%= required('※') %></th>
<td>
<%
  dd = Gw.date8_to_date(params[:expiry_date], :default=>'')
  # date_picker は、f.text_field をそのまま呼ぶため、nil 渡しで DB 値を読んでくれるが、
  # date_picker2 は、text_field_tag 利用のため、value はセット済で呼んでやる必要がある。
  # 現時点では必ずフォーマット済日付をわたすようにしている。
  d_load_org = params[:expiry_date].nil? ? nil : dd == '' ? nil : Gw.datetime_str(dd)
  d_load = Gw.datetime_str(d_load_org.nil? ? @item.expiry_date : d_load_org)
  #concat "#{date_picker3 f, 'expiry_date', d_load, :errors=>@item.errors}"
%>
<%= f.calendar_date_select :expiry_date, :value=>d_load, :popup => "force", :time=>true%>
</td></tr>
</table>

<%= hidden_field_tag("item[state]", @item.state, :id=>"item_state") %>

<script type="text/javascript">
//<![CDATA[
var my_submit = function(state) {
    var st = $('item_state');
    st.value = state;
    $('itemForm').submit();
  }
//]]>
</script>
