<div class="piece AdminSetting">
<%= render :partial => 'header_str' %>

<div class="pieceBody">
<%= render :partial => 'menu', :locals => {:d => @st_date, :mode => 'month'} %>
<%= render :partial => 'header_new_botton' %>

<% if !@parent.blank? %>
  <%= render :partial => 'header_navi' %>
<% end %>

<%= div_notice %>
<% if @items.count == 0 %>
<div class="notice">表示対象がありません。</div>
<% else %>
<table class="index">
  <tr>
  <th class="action"><%# 展開 %></th>
  <th class="action"><%# 詳細 %></th>
  <th class="state">公開</th>
  <th class="state">状態</th>
  <th class="sort" colspan="2" >並び順</th>
  <th class="title">表示名</th>
  <% if @p_level_no >= 2 %>
  <th class="url">リンク先URL</th>
  <th class="ext">接続先区分</th>
  <th class="sso">SSO利用</th>
  <th class="mode">表示モード</th>
  <% end %>
  </tr>
  <% @items.each_with_index do |item,idx| %>
    <% uid = did = 0 %>
    <% uid = @items[idx-1].id if idx >= 1 %>
    <% did = @items[idx+1].id if idx <= @items.length-2 %>
    <%
      f_expand = true
      if @parent.level_no == 3
        f_expand = false
      end
    %>
    <%
      if item.state == 'enabled'
        item_state_color = ''
      else
        item_state_color = 'class="required"'
      end
      if item.published == 'opened'
        item_published_color = ''
      else
        item_published_color = 'class="required"'
      end
      if item.state == 'enabled' and item.published == 'opened'
        item_name_color = ''
      else
        item_name_color = 'class="required"'
      end
    %>
  <tr class="<%= cycle '', 'cycle' %>">
    <td><%= link_to '展開' , "/gw/edit_link_pieces?pid=#{item.id}"  if f_expand == true %></td>
    <td><%= link_to '詳細' , "/gw/edit_link_pieces/#{item.id}?pid=#{@parent.id}" %></td>
    <td><span <%=raw item_published_color %> ><%= Gw::EditLinkPiece.published_show(item.published) %></span></td>
    <td><span <%=raw item_state_color %> ><%= Gw::EditLinkPiece.state_show(item.state) %></span></td>
    <td class="up" ><%= link_to '▲'   , "/gw/edit_link_pieces/#{item.id}/swap?pid=#{@parent.id}&sid=#{uid}"   if uid != 0 %></td>
    <td class="down" ><%= link_to '▼'   , "/gw/edit_link_pieces/#{item.id}/swap?pid=#{@parent.id}&sid=#{did}" if did != 0 %></td>
    <td><span <%= item_name_color %> ><%=raw item.name %></span></td>
    <% if @parent.level_no >= 2 %>
    <td><%= item.link_url %></td>
    <td><%= Gw::EditLinkPiece.external_show(item.class_external) %></td>
    <td><%= Gw::EditLinkPiece.sso_show(item.class_sso) %></td>
    <td><%= item.mode_label %></td>
    <% end %>
  </tr>
  <% end %>
</table>
<%= paginate @items %>
<% end %>

</div>
</div>
