<div class="piece AdminSetting">
<%= render :partial => 'header_str' %>

<div class="pieceBody">
<%= render :partial => 'menu', :locals => {:d => @st_date, :mode => 'month'} %>
<%= render :partial => 'header_new_botton' %>
<%= render :partial => 'header_navi' %>

<div class="editingBox">
  <span class="btEdit">
  <%= link_to '編集', "/gw/edit_link_pieces/#{@item.id}/edit?pid=#{@parent.id}" %>
  </span>
  <span class="btDestroy">
  <%= link_to_destroy @item.id, nil, :qs=>"pid=#{@parent.id}" %>
  </span>
</div>

<%= div_notice %>
<table class="show">
  <tr>
    <th>公開</th>
    <td><%= Gw::EditLinkPiece.published_show(@item.published) %></td>
  </tr>
  <tr>
    <th>状態</th>
    <td><%= Gw::EditLinkPiece.state_show(@item.state) %></td>
  </tr>
  <tr>
    <th>表示名</th>
    <td><%=raw @item.name %></td>
  </tr>
  <tr>
    <th>並び順</th>
    <td><%= @item.sort_no %></td>
  </tr>
  <% if @item.level_no == 1 %>
  <tr>
    <th>タブキー</th>
    <td><%= @item.tab_keys %></td>
  </tr>
  <% end %>
</table>

<% if @parent.level_no >= 2 %>
<table class="show">
  <tr>
    <th>表示モード</th>
    <td><%= @item.mode_label %></td>
  </tr>
  <tr>
    <th>CSS（アイコン）</th>
    <td><%= @item.icon.css_name if !@item.icon.blank? %></td>
  </tr>
  <tr>
    <th>CSS</th>
    <td><%= @item.css.css_name if !@item.css.blank? %></td>
  </tr>
  <tr>
    <th>権限判定関数</th>
    <td><%= @item.display_auth %></td>
  </tr>
  <tr>
    <th>リンク先URL</th>
    <td><%= @item.link_url %></td>
  </tr>
  <tr>
    <th>接続先区分</th>
    <td><%= Gw::EditLinkPiece.external_show(@item.class_external) %></td>
  </tr>
  <tr>
    <th>SSO利用</th>
    <td><%= Gw::EditLinkPiece.sso_show(@item.class_sso) %></td>
  </tr>
  <tr>
    <th>アカウント項目名</th>
    <td><%= @item.field_account %></td>
  </tr>
  <tr>
    <th>パスワード項目名</th>
    <td><%= @item.field_pass %></td>
  </tr>
  <tr>
    <th>リンク用アイコンパス</th>
    <td><%= @item.icon_path %></td>
  </tr>
</table>
<% end %>

</div>
</div>
