<div class="gwsub sb04">
<%= render 'gwsub/admin/sb04/sb04_piece_header' %>
<div class="pieceBanner">
<%= render 'gwsub/admin/sb04/sb04_subfunction_select_menu' %>
<%= render 'gwsub/admin/sb04/sb04helps/menu' %>
<div class="showMenu">
  <%= link_to '詳細', "/gwsub/sb04/05/sb04helps/#{@item.id}?#{@qs}" %>
</div>
</div>
<div class="pieceBody">
<% @action = "edit" %>
<%= form_for :item, :url => "/gwsub/sb04/05/sb04helps/#{@item.id}?#{@qs}" ,:action=>:update, :html => {:method => :put, :multipart => true} do |f| %>
  <%= render 'form', f: f %>
<% end %>
</div>
</div>
