<%# app/views/gwsub/admin/sb04/sb04helps/new %>
<div class="gwsub sb04">
<%= render :partial => 'gwsub/admin/sb04/sb04_piece_header' %>
<div class="pieceBanner">
<%= render :partial => 'gwsub/admin/sb04/sb04_subfunction_select_menu' %>
<%= render :partial => 'gwsub/admin/sb04/sb04helps/menu' %>
</div>
<div class="pieceBody">
<%= div_notice %>
<% @action = "create" %>
<%= form_for :item, :url => "/gwsub/sb04/05/sb04helps?#{@qs}" ,:action=>:create ,:method=>:post , :html => {:multipart => true} do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
<% end %>
</div>
</div>
