<%
categories = Gw.yaml_to_array_for_select("gwsub_sb04_help_categories")
category = categories.rassoc(@item.categories)
if category.present?
  category_name = category[0]
else
  category_name == ""
end
-%>
<div class="gwsub sb04">
  <%= render :partial => 'gwsub/admin/sb04/sb04_piece_header' %>
  <div class="pieceBanner">
    <%= render :partial => 'gwsub/admin/sb04/sb04_subfunction_select_menu' %>
    <%= render :partial => 'gwsub/admin/sb04/sb04helps/menu' %>
    <div class="showMenu">
    <%= link_to '編集' , "/gwsub/sb04/05/sb04helps/#{@item.id}/edit?#{@qs}" %>
    <%= link_to '削除' , "/gwsub/sb04/05/sb04helps/#{@item.id}?#{@qs}",:method=>:delete,:confirm=>'ヘルプURLの登録を削除します。ヘルプの内容は削除されません。よろしいですか？'   if @u_role==true %>
    </div>
  </div>
  <div class="pieceBody">
    <%= div_notice %>
    <table class="show">
      <tbody>
        <tr>
          <th>記事分類</th>
          <td><%= category_name -%></td>
        </tr>
        <tr>
          <th>タイトル</th>
          <td><%= category_name -%></td>
        </tr>
        <tr>
          <th>URL</th>
          <td><%= link_to @item.bbs_url, @item.bbs_url, {:target => "_blank", :title => '別ウィンドウ・別タブで開きます。' } -%></td>
        </tr>
        <tr>
          <th>備考</th>
          <td><%= @item.remarks -%></td>
        </tr>
      </tbody>
    </table>
    <div class="btReturn">
    <%= link_to '一覧に戻る',"/gwsub/sb04/05/sb04helps/?#{@qs}" %>
    </div>
  </div>
</div>
