<%
params[:cond] = 'already' if @item && @item.is_a?(Gwmonitor::Doc) && @item.state.in?(%w(public qNA))
current1 = controller_name.in?(%w(menus docs)) && (params[:cond] == 'unread' || params[:cond].blank?)
current2 = controller_name.in?(%w(menus docs)) && params[:cond] == 'already'
current3 = controller_name.in?(%w(builders results csv_exports file_exports))
%>
<div class="tabBox">
<table class="tabtable">
  <tr>
    <td class="spaceLeft"></td>
    <td class="tab <%= 'current' if current1 %>"><%= link_to "未回答一覧", "/gwmonitor/" %></td>
    <td class="spaceCenter"></td>
    <td class="tab <%= 'current' if current2 %>"><%= link_to "回答済一覧", "/gwmonitor/?cond=already" %></td>
    <td class="spaceCenter"></td>
    <td class="tab <%= 'current' if current3 %>"><%= link_to Gwmonitor::Control.is_sysadm? ? '管理者' : '作成した設問', "/gwmonitor/builders" %></td>
    <td class="spaceRight"></td>
  </tr>
</table>
</div>
