<div class="bbsDocList circular">
<div class="pieceHeader">
<h2 class="pieceTitle"><%= @system_title %></h2>
<div class="btsHeaderLeft">
<span class="btNew"><%= link_to '新規作成', "/gwmonitor/builders/new" %></span>
</div>
<div class="btsHeadeRight"><%= raw(gwmonitor_settings) %></div>
</div><!--pieceHeader-->
<div class="pieceBody">
<%= render :partial => 'header' %>

<table class="index">
<tr>
<th style="width:70px;">状態</th>
<th style ="width: 60px;text-align: center;">回答状況</th>
<th style="width:120px;">回答期限</th>
<th style="width:auto;">タイトル</th>
<th style="width:220px;">作成者</th>
<th style="width:120px;">最終更新日時</th>
</tr>
<% for item in @items %>
 <tr class="<%= cycle 'article', 'article cycle' %>">
 <td style="width:70px;"><%= link_to raw(item.status_name), item.show_path %></td>
 <td><%= item.control.commission_info %></td>
 <td><%= raw(disp_expiry_date(item.expiry_date, item.control)) %></td>
 <td><%= link_to item.control.title, item.show_path %></td>
 <td><%= item.control.section_name %></td>
 <td><%= item.latest_updated_at.strftime('%Y-%m-%d %H:%M').to_s unless item.latest_updated_at.blank? %></td>
 </tr>
<% end %>
</table>

</div><!--pieceBody-->
</div><!--piece-->
