<%
cat_medias = [['新聞',1],['ラジオ',2],['メルマガ',4]]
#media_id = 1 if @media.blank?
#media_id = @media.id unless @media.blank?
media_id = @item.media_id
%>
<%= f.error_messages %>
<%= required_head %>
<table class="show">
  <tr>
    <th>媒体<%= required %></th>
    <td><%= f.select :media_id ,options_for_select( cat_medias ,media_id.to_i ) %></td>
  </tr>
  <tr>
    <th>週<%= required %></th>
    <td>
    <%= f.check_box :w1 %>第１
    <%= f.check_box :w2 %>第２
    <%= f.check_box :w3 %>第３
    <%= f.check_box :w4 %>第４
    <%= f.check_box :w5 %>第５
    </td>
  </tr>
  <tr>
    <th>曜日<%= required %></th>
    <td>
    <%= f.check_box :d0 %>日曜日
    <%= f.check_box :d1 %>月曜日
    <%= f.check_box :d2 %>火曜日
    <%= f.check_box :d3 %>水曜日
    <%= f.check_box :d4 %>木曜日
    <%= f.check_box :d5 %>金曜日
    <%= f.check_box :d6 %>土曜日
    </td>
  </tr>
  <tr>
    <th>期間開始日<%= required %></th>
    <td><%= f.datepicker :st_at %></td>
  </tr>
  <tr>
    <th>期間終了日<%= required %></th>
    <td><%= f.datepicker :ed_at %></td>
  </tr>
</table>
<div class="preserve">
  <%= f.submit '保存' %>
</div>
