<div class="gwsub sb05">
<%= render 'gwsub/admin/sb05/sb05_piece_header' %>
<div class="pieceBanner">
<%= render 'gwsub/admin/sb05/sb05_desired_date_conditions/menu' %>
</div>
<div class="pieceBody">
<%= render 'gwsub/admin/sb05/sb05_desired_date_conditions/body_title' %>

<% if @items.blank? %>
<div class="notice">表示する項目はありません。</div>
<% else %>
<table class="index">
  <tr>
    <th></th>
    <th>媒体</th>
    <th>週</th>
    <th>曜日</th>
    <th>期間開始日</th>
    <th>期間終了日</th>
  </tr>
  <% @items.each do |item| %>
  <tr <%= cycle '' , 'class="cycle"' %> >
    <td><%= link_to_show item.id %></td>
    <td><%= item.m_rel.media_name %></td>
    <td><%= sb05_diplay_weekno(item) %></td>
    <td><%= sb05_diplay_weekday(item) %></td>
    <td><%= Gw.date_str(item.st_at) %></td>
    <td><%= Gw.date_str(item.ed_at) %></td>
  </tr>
  <% end %>
</table>
<% end %>
<%= paginate @items %>
</div>
</div>
