<div class="gwsub sb05">
<%= render 'gwsub/admin/sb05/sb05_piece_header' %>
<div class="pieceBanner">
<%= render 'gwsub/admin/sb05/sb05_desired_date_conditions/menu' %>
</div>
<div class="pieceBody">
<%= render 'gwsub/admin/sb05/sb05_desired_date_conditions/body_title' %>

<div class="showMenu">
  <%= link_to_edit     @item.id  %>
  <%= link_to_destroy  @item.id  %>
  <%= link_to "一括設定","#{@index_uri}#{@item.id}/expand_date" ,:confirm=>"一括登録します。よろしいですか？" %>
</div>
  <table class="show">
    <tr>
      <th></th>
      <td>この条件で掲載可能日を一括登録します。</td>
    </tr>
    <tr><th>媒体</th><td><%= safe{@item.m_rel.media_name} %></td></tr>
    <tr><th>週</th><td><%= sb05_diplay_weekno(@item) %></td></tr>
    <tr><th>曜日</th><td><%= sb05_diplay_weekday(@item) %></td></tr>
    <tr><th>期間開始日</th><td><%= Gw.date_str(@item.st_at) %></td></tr>
    <tr><th>期間終了日</th><td><%= Gw.date_str(@item.ed_at) %></td></tr>
  </table>
</div>
</div>
