<div class="piece AdminSetting">
<%= render 'header_str' %>
<div class="pieceBody">
<%= render 'menu' %>
<div class="btReturn">
  <%= link_to '詳細に戻る', {action: :show} %>
</div>

<%= form_for :item, :url => {action: :update}, :html => {method: :put, id: "itemForm", multipart: true} do |f| %>
  <%= render 'form', f: f %>
<% end %>

</div>
</div>
