<div class="piece AdminSetting">
<%= render 'gw/admin/portal_adds/header_str' %>
<div class="pieceBody">
<%= render 'gw/admin/portal_adds/menu' %>

<div class="editingBox">
  <div class="btEdit"><%= link_to "編集", {action: :edit, id: 0} -%></div>
</div>

<table class="show">
  <tr>
    <th>表示形式</th>
    <td><%= Gw::PortalAdd.pattern_show(@pattern_item.options_value) %></td>
  </tr>
</table>

<% Gw::PortalAdd.place_select.each_with_index do |place, i| %>
  <table class="show">
    <tr>
      <th colspan="2"><%= place[0] %>　表示設定</th>
    </tr>
    <% unless (@pattern_item.options_value >= 2 && place[1] == 2) || (@pattern_item.options_value >= 3 && place[1] == 3) %>
    <tr id="option_limit">
      <th>表示件数</th>
      <td><%= @num_item.options_value[i][0] %>件</td>
    </tr>
    <% end %>
    <tr id="option_publish">
      <th>広告表示</th>
      <td><%= Gw::PortalAdd.publish_state(@option_item.options_value[i][0]) %></td>
    </tr>
  </table>
<% end %>

</div>
</div>
