<div class="piece AdminSetting">
<%= render 'header_str' %>
<div class="pieceBody">
<%= render 'gw/admin/portal_adds/menu' %>

<div class="editingBox">
  <span class="btEdit">
    <%= link_to '編集', {action: :edit} %>
  </span>
  <span class="btDestroy">
    <%= link_to '削除', {action: :destroy}, confirm: "削除してよろしいですか？", method: :delete %>
  </span>
</div>

<table class="show">
  <tr><th>表示件数</th><td><%= @item.options_num %></td></tr>
  <tr><th>広告表示</th><td><%= @item.publish_name %></td></tr>
</table>

<div class="btReturn">
  <%= link_to '一覧', {action: :index} -%>
</div>

</div>
</div>
