<%
users = System::User.find(:all,:order=>"ldap ASC , id ASC").collect {|u| ["#{u.name}(#{u.code})", u.id]}
groups = System::Group.select_dd_tree
%>
<%= required_head %>
<table class="show">
  <tr>
    <% case params[:action] %>
    <% when 'edit', 'update' %>
      <th>ユーザー</th>
      <td><%= safe{@item.user.name} %><%= f.hidden_field :user_id, :value => @item.user_id %></td>
    <% else %>
      <th>ユーザー<%= Gw.required %></th>
      <td><%= f.select(:user_id, options_for_select(users,@item.user_id), :include_blank => true) %></td>
    <% end %>
  </tr>
  <tr>
    <th>所属グループ<%= Gw.required %></th>
    <td><%= f.select(:group_id, options_for_select(groups, @item.group_id), :include_blank => true) %></td>
  </tr>
  <tr>
    <th>本務・兼務<%= Gw.required %></th>
    <td><%= f.radio_buttons :job_order, Gw.yaml_to_array_for_select('system_ugs_job_orders'), :class => 'job_order' %></td>
  </tr>
  <tr>
    <th>配属開始日<%= Gw.required %></th>
    <td><%= f.calendar_date_select :start_at, :time => false %></td>
  </tr>
  <tr>
    <th>配属終了日</th>
    <td><%= f.calendar_date_select :end_at, :time => false %></td>
  </tr>
</table>
<%= raw(gw_js_include_full) %>
