<%
sid  = params[:_session_id]
%>
<hr class="borderDash"/>
<p class="mobileMemo">
<img src="/_common/themes/gw/files/mobile/ic-mobile-memo.gif">
<%= link_to @item.is_finished? ? "未読に戻す" : "既読にする", {action: :finish} %>
</p>
<% if !@item.is_finished? && @item.uid == Core.user.id %>
<%= link_to "編集", {action: :edit} %>
<% end %>
<%= link_to "引用作成", {action: :quote} %>
<%= link_to '削除', {action: :confirm} %><br />
時刻　<%= Gw.date_common(@item.ed_at) %><br />
所属/担当/社名　<%if !@item.fr_group.blank?%><%= convert_for_mobile_body(@item.fr_group, sid) %>の<%end%><br />
担当者　<%if !@item.fr_user.blank?%><%= convert_for_mobile_body(@item.fr_user, sid) %>様から<%end%><br />
伝言　<%= convert_for_mobile_body(@item.title, sid) %><br />
備考　<%= convert_for_mobile_body(@item.body, sid) if @item.body.present? %><br />
<br />
送り先<br />
<% @item.memo_users.each do |mu| %>
<%= mu.class_id_label %>：<%= "#{mu.uname} (#{mu.ucode})" %><br />
<% end %>
<hr class="borderDash"/>
<p class="leftPad2">
<%= link_to "戻る", {action: :index} %>
</p>
