<%
sid  = params[:_session_id]
%>
<div class="piece memo index">
<div class="pieceHeader">
<%= render '/gw/admin/memos/piece_header' %>
</div>
<div class="pieceBody">
<div class="pieceBodyHeader">
<%= render 'search' %>
<%= render 'tabmenu' %>
<div id="contentTable">

<div class="editingBox">
  <% if !@item.is_finished? && @item.uid == Core.user.id %>
  <span class="btEdit"><%= link_to '編集', {action: :edit} %></span>
  <% end %>
  <span class="btQuote"><%= link_to '引用作成', {action: :quote} %></span>
  <span class="<%= @item.is_finished? ? "btUnread" : "btRead" %>"><%= link_to @item.is_finished? ? "未読に戻す" : "既読にする", {action: :finish} %></span>
  <span class="btDestroy"><%= link_to "削除する", {action: :destroy}, :method => :delete, :confirm => "この連絡メモを削除します。よろしいですか？" %></span>
</div>

<table class="show">
  <tr>
    <th>時刻</th>
    <td><%=l @item.ed_at if @item.ed_at %></td>
  </tr>
  <tr>
    <th>所属/担当/社名</th>
    <td><%if !@item.fr_group.blank?%><%= convert_for_mobile_body(@item.fr_group, sid) %>の<%end%></td>
  </tr>
  <tr>
    <th>担当者</th>
    <td><%if !@item.fr_user.blank?%><%= convert_for_mobile_body(@item.fr_user, sid) %>様から<%end%></td>
  </tr>
  <tr>
    <th>伝言</th>
    <td><%= convert_for_mobile_body(@item.title, sid) %></td>
  </tr>
  <tr>
    <th>備考</th>
    <td><%= convert_for_mobile_body(@item.body, sid) if @item.body.present? %></td>
  </tr>
</table>
<br />

<table class="show">
  <tr>
    <th colspan="2">送り先</th>
  </tr>
  <% @item.memo_users.each do |mu| %>
  <tr>
    <th><%= mu.class_id_label %></th>
    <td><%= "#{mu.uname} (#{mu.ucode})" %></td>
  </tr>
  <% end %>
</table>

</div>
</div>
<div class="pieceBodyBody"></div>
<div id="loadImg" style="display: none;">Now Loading...</div>
</div>
</div>
