<%
roles = 
  if @is_dev
    System::RoleName.all.order(sort_no: :asc)
  else
    System::RoleName.where.not(table_name: "gwsub").order(sort_no: :asc)
  end
privs = System::PrivName.where(state: "public").order(sort_no: :asc)
%>

<%= required_head %>
<table class="show">
  <tr>
    <th>機能名<%= required %></th>
    <td><%= f.collection_select :role_id, roles, :id, :display_name, {selected: @item.role_id} %></td>
  </tr>
  <tr>
    <th>権限名<%= required %></th>
    <td><%= f.collection_select :priv_id, privs, :id, :display_name, {selected: @item.priv_id} %></td>
  </tr>
</table>
