<div class="piece AdminMessage">
<%= render 'header' %>
<div class="pieceBody">
<%= render 'system/admin/roles/header_menu' %>

<div class="editingBox">
  <span class="btEdit"><%= link_to "編集", {action: :edit} if @item.editable? %></span>
  <span class="btDestroy"><%= link_to "削除", {action: :destroy}, confirm: "削除してよろしいですか？", method: :delete if @item.deletable? %></span>
</div>

<table class="show">
  <tr>
    <th>機能名</th>
    <td><%= @item.role.display_name if @item.role %></td>
  </tr>
  <tr>
    <th>権限名</th>
    <td><%= @item.priv.display_name if @item.priv %></td>
  </tr>
</table>

<!--戻るボタン-->
<div class="btReturn">
  <%= link_to '戻る', {action: :index} %>
</div>

</div>
</div>
