<% _path = '/_attachs/gwcircular/'%>
<%
  if @item.blank?
    mce_base_url = ''
  else
    mce_base_url = _path + sprintf("%06d", @item.title_id) + '/' + @item.name + "/" unless @item.name.blank?
  end
%>
<%= init_ckeditor baseHref: mce_base_url %>

<table class="show bbsText">
  <tr>
    <th>回覧件名<%= required('※') %> ( 記事件名は140文字以内で入力してください )</th>
  </tr>
  <tr>
    <td><%= f.text_area :title, :cols => '140', :rows=>"1", :style => 'width:100%; height:45px'%></td>
  </tr>
</table>

<%= render 'form_wiki_select', f: f %>

<table class="show bbsText" id="nomal_body_table" style="<%= 'display: none;' if @item.wiki_enabled? -%>">
  <tr>
    <th>回覧記事</th>
  </tr>
  <tr>
    <td class="mceEditor"><%= f.text_area :body, :class => 'mceEditor body ckeditor', :style => 'width:100%' %></td>
  </tr>
</table>

<table class="show bbsText" id="wiki_body_table" style="<%= 'display: none;' unless @item.wiki_enabled? -%>">
  <tr>
    <th>回覧記事</th></tr><tr>
    <td class="wikiEditor">
      <%= f.text_area :wiki_body, {:rows => 20, :cols => 40, :class => 'wikiEditor', :style => 'width:100%'} %>
    </td>
  </tr>
</table>

<%= render 'gwcircular/admin/tool/attachments/form', f: f, item: @item %>

<%= hidden_field_tag "item[state]", @item.state, id: "item_state" %>

<table class="show">
  <tr>
    <th>回覧期限日時<%= required '※' %></th>
    <td><%= f.datetimepicker :expiry_date %></td>
  </tr>
</table>

<table class="show">
  <tr>
    <th>既読にする形式</th>
    <td><%= f.select :confirmation, @item.confirmation_name, :class => 'confirmation' %></td>
  </tr>
</table>

<%= render 'form_commissions' %>

<%= hidden_field_tag :cond, params[:cond] if params[:cond].present? %>

<script type="text/javascript">
//<![CDATA[
  function chageDisp(obj,changeObjId) {
    var display = document.getElementById(changeObjId).style.display;
    if (display == '') {
      obj.innerHTML = '開く▼';
    } else if (display == 'none') {
      obj.innerHTML = '閉じる▲';
    }
    Element.toggle($(changeObjId));
  }
//]]>
</script>

<script type="text/javascript">
//<![CDATA[
  var selected_log = <%= @item.wiki.to_i -%>;
  function change_body_table() {
    idx = radio_selected('item[wiki]');
    if (selected_log == idx-1) {
      return false; // 処理を中止
    }
    msg = "記事入力方式を切り替えることにより、現在の記事の内容は失われます。よろしいですか？";
    if(window.confirm(msg)){ // 確認ダイアログを表示
//    return true; // 「OK」時は送信を実行
      selected_log = idx-1;
    } else { // 「キャンセル」時の処理
      if (selected_log == 1) {
        $('item_wiki_1').checked = true;
      } else {
        $('item_wiki_0').checked = true;
      }
      return false; // 処理を中止
    }

    //alert(idx);
    files_uri = "<%= gwcircular_attachments_path(@item.id) -%>"

    if (idx == 2) {
      Element.hide($('nomal_body_table'));
      Element.show($('wiki_body_table'));
      files_uri = files_uri + "?wiki=1"
      Element.show($('wiki_help'));
    } else {
      Element.show($('nomal_body_table'));
      Element.hide($('wiki_body_table'));
      Element.hide($('wiki_help'));
    }
    tinyMCE.getInstanceById('item_body').setContent('');
    $('item_wiki_body').value = "";
    var ifm = $('file_attach_form');
    ifm.src = files_uri;
  }
//]]>
</script>

<%= render '/gwboard/admin/docs/script_wiki_attach_insert' %>
