<table class="index">
<tr class="headIndex">
<th style="width:60px;">状態</th>
<th class="docTitle">回覧件名</th>
<th style="width:120px;">回覧期限日時</th>
<th style="width:120px;">最終更新日時</th>
</tr>
<% for item in @items %>
  <tr class="<%= cycle 'article', 'article cycle' %>">
  <td style="width:60px;"><%= raw(status_name(item)) %></td>
  <td class="docTitle"><%= link_to item.title, show_path(item) %></td>
  <td class="update"><%= item.expiry_date.strftime('%Y-%m-%d %H:%M') %></td>
  <td class="update"><%= item.display_editdate %></td>
  </tr>
<% end %>
</table>
