<div class="tabBox">
<table class="tabtable">
  <tr>
    <td class="spaceLeft"></td>
    <td class="tab <%= 'current' if params[:cond] == 'unread' || params[:cond].blank? %>"><%= link_to "未読の回覧", "/gwcircular/" %></td>
    <td class="spaceCenter"></td>
    <td class="tab <%= 'current' if params[:cond] == 'already' %>"><%= link_to "既読の回覧", "/gwcircular/?cond=already" %></td>
    <td class="spaceCenter"></td>
    <td class="tab <%= 'current' if params[:cond] == 'owner' %>"><%= link_to "作成した回覧", "/gwcircular/?cond=owner" %></td>
    <% if @title.is_admin? %>
    <td class="spaceCenter"></td>
    <td class="tab <%= 'current' if params[:cond] == 'admin' %>"><%= link_to "管理者", "/gwcircular/?cond=admin" %></td>
    <% end %>
    <td class="spaceRight"></td>
  </tr>
</table>
</div>
