<div class="bbsDocList circular">
<%= render 'piece_header', hide_new_action: true %>
<%= render 'piece_banner' %>

<div class="pieceBody">
<%= render 'gwcircular/admin/menus/tabbox' %>

<%= form_for :item, :url => {action: :update, id: @item.id}, :html => {method: :put, multipart: true, id: 'itemForm'} do |f| %>
  <%= f.error_messages %>
  <%= render 'form', f: f %>
  <div class="submitters">
  <% if @item.state_was == 'public' %>
    <%= submit_for_update f, js_submitter: "my_submit('public')", caption: '配信' %>
    <span style="color:red;">既に配信されているユーザーに対しては，記事の内容が変更されるのみとなり，<br />再配信（リマインダー表示）は行われません。</span>
  <% else %>
    <div align="center">
    <table>
      <tr>
        <td><%= submit_for_update f, js_submitter: "my_submit('public')", caption: '配信', id: 'item_submit' %></td>
        <td><%= submit_for_update f, js_submitter: "my_submit('draft')", caption: '下書き', id: 'item_submit_draft' %></td>
      </tr>
    </table>
    </div>
  <% end %>
  </div>
<% end %>

</div><!--pieceBody-->
</div><!--bbsDocList circular-->
