<h2 class="mobileCircular">
<img src="/_common/themes/gw/files/mobile/ic-rem-circulation.gif">回覧板
</h2>

<p class="leftPad2 midashi2">
<% if params[:cond]=='unread' %>
未読 |
<%= link_to '既読', "/gwcircular?cond=already" -%>
<% elsif params[:cond]=='already' %>
<%= link_to '未読', "/gwcircular?cond=unread" -%>
| 既読
<% end %>
</p>

<% if @items.blank? %>
表示する内容はありません。
<% else %>

<% @items.each do |item| %>
<p class="list">
・<%= link_to item.title, item.show_path %><br />
<span><%=l item.expiry_date if item.expiry_date %></span>
</p>
<% end %>
<%= paginate @items %>

<% end %>
