<%#*<p>Find me in app/views/gwsub/admin/sb01/sb01_training_schedule_conditions/form.html.erb</p>%>
<%
times_st   = Gwsub::Sb01TrainingScheduleCondition.select_times
times_ed   = Gwsub::Sb01TrainingScheduleCondition.select_times_end
times_min  = Gwsub::Sb01TrainingScheduleCondition.select_times_min
prop_kinds = Gwsub::Sb01TrainingScheduleCondition.prop_kind_select
%>
<%= hidden_field_tag 'limit', @limits %>
<%= f.hidden_field :training_id , :value=>@item.training_id %>
<%= f.hidden_field :title       , :value=>@item.title %>
<%= f.hidden_field :state       , :value=>@item.state %>
<%= f.hidden_field :member_id ,   :value=>@item1.member_id %>
<%= f.hidden_field :group_id ,   :value=>@item1.group_id %>

<%= f.error_messages %>
<%= raw(required_head) %>
<table class="show">
<tr>
  <th>繰り返し<%= raw(required) %></th>
  <td>
  <%= raw(radio(f,:repeat_flg,Gwsub::Sb01TrainingScheduleCondition.repeat_flgs, :value=>@item.repeat_flg , :class=>'state' ,:onclick=>'sel_class1()'))%>
  </td>
</tr>
<tr>
  <th>開催日<%= raw(required) %></th>
  <td>
  <%= f.text_field :from_at ,:value=>Gw.date_str(@item.from_at) %>
  <button type="button" id="item_from_at_bt" onclick="showCalendar('item_from_at_bt','item_from_at')" class="show_cal_bt"></button> から<br />
  <div id="repeat_date">
    <%= f.text_field :to_at ,:value=>Gw.date_str(@item.to_at) %>
    <button type="button" id="item_to_at_bt" onclick="showCalendar('item_to_at_bt','item_to_at')" class="show_cal_bt"></button> まで
  </div>
  </td>
</tr>
<tr>
  <th>開催時刻<%= raw(required) %></th>
  <td>
<%= f.select :from_start ,options_for_select(times_st,@item.from_start.to_s) %>　：
<%= f.select :from_start_min ,options_for_select(times_min,@item.from_start_min.to_s) %>　～　
<%= f.select :from_end ,options_for_select(times_ed,@item.from_end.to_s) %>　：
<span class="<%= 'fieldWithErrors' if @item.errors[:from_end] %>">
<%= f.select :from_end_min ,options_for_select(times_min,@item.from_end_min.to_s) %>
</span>
</tr>
<tr id = "repeat_rule">
  <th>繰返し設定<%= raw(required) %></th>
  <td>
  <%= raw(radio(f,:repeat_class_id,Gwsub::Sb01TrainingScheduleCondition.repeat_rules, :value=>@item.repeat_class_id , :class=>'state' ,:onclick=>'sel_class2()')) %>
  <table id="repeat_condition"  style="border: medium none; width: 600px;"><tr><td>
    繰り返す曜日をチェックしてください。<br />
    <%= raw(check_boxes2("item","repeat_weekday"  , Gw.yaml_to_array_for_select('gwsub_sb01_training_schedule_repeat_weekday_checkboxes', :sort_by => nil), :form_type=>:name ,:selected_str=>@item.repeat_weekday)) %>
    <br />
  </td>
  </tr>
  </table>
  </td>
</tr>
<tr>
  <th>場所<%= raw(required) %></th>
  <td><%= f.text_field :prop_name,:size=>80 %></td>
</tr>
<tr><th>定員<%= raw(required) %></th>
<td><%= f.text_field :members_max ,:size=>30 %>人</td>
</tr>
</table>
<div class="preserve">
<%= f.submit '確定' %>
</div>
<%= raw(gw_js_include_full) %>
<script language = "JavaScript" type="text/javascript">
<!--
// 結果理由
  var sel_class1 = function() {
    idx =  radio_selected('item[repeat_flg]')
    r_idx =  radio_selected('item[repeat_class_id]')
    switch (idx) {
    case 0:
      Element.hide($('repeat_date'))
      Element.hide($('repeat_rule'))
      Element.hide($('repeat_condition'))
      break;
    case 1:
      Element.show($('repeat_date'))
      Element.show($('repeat_rule'))
      if (r_idx == 2){
        Element.show($('repeat_condition'))
      }else{
        Element.hide($('repeat_condition'))
      }
      break;
    }
  }
  sel_class1();

  var sel_class2 = function() {
    idx =  radio_selected('item[repeat_class_id]')
    switch (idx) {
    case 0:
      Element.hide($('repeat_condition'))
      break;
    case 1:
      //$('repeat_condition').setStyle("display : none;");
      Element.hide($('repeat_condition'))
      break;
    case 2:
      //$('repeat_condition').setStyle("display : inline;");
      Element.show($('repeat_condition'))
      break;
    }
  }
  sel_class2();

-->
</script>
