<%#*<p>Find me in app/views/gwsub/admin/sb01/sb01_training_schedule_conditions/new.html.erb</p>%>
<%
@action = "create"
@create_path = "#{@public_uri}"
-%>
<div class="gwsub sb01">
<div class="pieceHeader">
<h2>研修申込・受付</h2>
</div>
<div class="pieceBanner">
<%= render :partial => 'gwsub/admin/sb01/sb01_training_plans/menu' %>
</div>
<div class="pieceBody">
<br/>
<%= render :partial => 'gwsub/admin/sb01/sb01_training_schedule_conditions/form_training_show' %>
<%= raw(%Q(<div class="notice">#{flash[:notice]}</div>)) unless flash[:notice].blank? %>
<%= form_for :item, :url => @create_path ,:action=>:create ,:method=>:post , :html => {:multipart => true, :class=>'leftSide'} do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
<% end  %>
<div class="btReturn">
  <%= link_to '条件一覧に戻る' ,url_for("#{@public_uri}/#{@item1.id}")  -%>
</div>
</div>
</div>