<%#*<p>Find me in app/views/gwsub/admin/sb01/sb01_training_schedule_conditions/show.html.erb</p>%>
<%
week_day = Gwsub::Sb01TrainingScheduleCondition.weekday_show(@item.repeat_weekday)
editor_role = Gwsub::Sb01Training.is_editor?(@item1.group_code,Site.user_group.code)
docs_editor = editor_role || @u_role
docs_editor=false if @item1.state.to_i > 2
delete_path = "#{@public_uri}/#{@item.id}"

-%>
<div class="gwsub sb01">
<div class="pieceHeader">
<h2>研修申込・受付</h2>
</div>
<div class="pieceBanner">
<%= render :partial => 'gwsub/admin/sb01/sb01_training_plans/menu' %>
</div>
<div class="pieceBody"><br/>
<div class="titleLine"><p class="date_title">研修内容</p></div>
<%= render :partial => 'gwsub/admin/sb01/sb01_training_schedule_conditions/training_show' %>
<div class="titleLine"><p class="date_title">研修枠作成条件</p></div>
<div class="editingBox leftSide">
<%if docs_editor==true%>
<span class="btEdit"><%= link_to_edit @item.id -%></span>
<span class="btDestroy"><%= link_to '削除' , url_for(delete_path),:confirm=>"削除します。この条件で作成した研修枠も削除されますが、よろしいですか？",:method=>:delete %></span>
<%end%>
</div>
<%= raw(%Q(<div class="notice">#{flash[:notice]}</div>)) unless flash[:notice].blank? %>
<table class="show leftSide">
<tr>
<%if @item.repeat_flg.to_i == 1 %>
  <th>研修日	</th>
<%else%>
  <th>期間開始日 </th>
<%end%>
  <td><%=h @item.from_at.strftime('%Y-%m-%d') unless @item.from_at.blank?%><%=" (#{Gw.weekday(@item.from_at.wday)})" unless @item.from_at.blank?%></td>
</tr>
<tr>
  <th>開始時刻</th>
  <td><%=h @item.from_start %>：<%=h @item.from_start_min %></td>
</tr>
<tr>
  <th>終了時刻</th>
  <td><%=h @item.from_end %>：<%=h @item.from_end_min %></td>
</tr>
<tr>
  <th>場所</th>
  <td><%=h @item.prop_name%></td>
</tr>
<tr>
  <th>定員</th>
  <td><%=h @item.members_max%></td>
</tr>
<tr>
  <th>登録所属</th>
  <td><%=h @item.training_rel.group_name%></td>
</tr>
<tr>
  <th>登録者</th>
  <td><%=h @item.training_rel.member_name%></td>
</tr>
<tr>
  <th>繰返し</th>
  <td><%=h ass{@item.repeat_label} %><%if @item.repeat_flg.to_i == 2 %>／<%=h ass{@item.repeat_class_label} %><%end%></td>
</tr>
<%if @item.repeat_class_id.to_i == 3%>
<tr>
  <th>曜日指定</th>
  <td><%=h week_day %></td>
</tr>
<%end%>
<%if @item.repeat_flg.to_i == 2 %>
<tr>
  <th>繰返し期間終了日</th>
  <td><%=h @item.to_at.strftime('%Y-%m-%d') unless @item.to_at.blank?%><%=" (#{Gw.weekday(@item.to_at.wday)})"%></td>
</tr>
<%end%>
</table>
<div class="btReturn">
  <%= link_to '条件一覧に戻る' ,url_for("/gwsub/sb01/sb01_training_plans/#{@item1.id}")  -%>
</div>
</div>
</div>
