<div class="bbsDocList workflow setting">
<%= render 'piece_header' %>

<div class="pieceBody">
<div class="pieceBodyHeader">
<div class="titleLine">
  <span class="title">ワークフロー 削除設定</span>
</div>
</div>
<div class="pieceBodyBody">

<%= form_for :item, url: {action: :update}, html: {method: :put, multipart: true, id: 'itemForm'} do |f| %>
  <%= f.error_messages %>
  <%= render 'form', f: f %>
  <div class="submitters">
    <%= f.submit "保存" %>
  </div>
<% end %>

</div><!--pieceBodyBody-->
<!--戻るボタン-->
<div class="btReturn">
  <%= link_to '管理者設定へ戻る', '/gw/config_settings?c1=1&c2=7' %>
</div>

</div><!--pieceBody-->
</div>
