<table class="index">
  <colgroup class="id"></colgroup>
  <colgroup class="section_id"></colgroup>
  <colgroup class="section_code"></colgroup>
  <colgroup class="section_name"></colgroup>
  <colgroup class="registedno"></colgroup>
  <colgroup class="registed_at"></colgroup>
  <colgroup class="externalmediakind_id"></colgroup>
  <colgroup class="equipmentname"></colgroup>
  <colgroup class="user_id"></colgroup>
  <colgroup class="user"></colgroup>
  <colgroup class="categories"></colgroup>
  <colgroup class="ending_at"></colgroup>
  <colgroup class="remarks"></colgroup>
  <colgroup class="last_updated_at"></colgroup>
  <tbody>
  <tr>
    <th>登録番号</th><th>所属ID</th><th>所属コード</th><th>所属</th><th>H20まで登録番号</th><th>登録日</th><th>外部媒体区分ID</th><th>媒体名</th><th>保有者ID</th><th>保有者</th><th>分類</th><th>廃棄年月日</th><th>備考</th><th>最終更新日</th>
  </tr>
  <% @items.each do |item| %>
  <tr class="<%= cycle 'article', 'article cycle' %>">
    <td><%=sprintf('%06d',item.new_registedno)%></td>
    <td><%=item.section_id%></td>
    <td><%=item.section_code%></td>
    <td><%=item.section_name%></td>
    <td><%=item.registedno%></td>
    <td><%=item.registed_at.strftime('%Y-%m-%d %H:%M') unless item.registed_at.blank?%></td>
    <td><%=item.externalmediakind_id%></td>
    <td><%=item.equipmentname%></td>
    <td><%=item.user_id%></td>
    <td><%=item.user%></td>
    <td><%=item.categories_status_show[item.categories.to_i]%></td>
    <td><%=item.ending_at.strftime('%Y-%m-%d %H:%M') unless item.ending_at.blank?%> </td>
    <td><%=item.remarks%></td>
    <td><%=item.last_updated_at.strftime('%Y-%m-%d %H:%M') unless item.last_updated_at.blank?%></td>
  </tr>
<% end %>
</tbody>
</table>
