<div class="gwsub sb09">
<div class="pieceHeader">
<h2>その他の外部記録媒体登録管理台帳</h2>
</div>
<div class="pieceBanner">
<%= render 'header' %>
</div>
<div class="pieceBody">
<%= render 'show_menu' %>

<table class="show">
<tbody>
<tr><th>管理所属</th>
<td><%=@item.section_name%></td></tr>
<tr><th>登録番号</th>
<td><%=sprintf('%06d',@item.new_registedno)%></td></tr>
<tr><th>H20まで登録番号</th>
<td><%=@item.registedno%></td></tr>
<tr><th>登録日</th>
<td><%=@item.registed_at.strftime('%Y-%m-%d') unless @item.registed_at.blank?%></td></tr>
<tr><th>媒体名</th>
<td><%=@item.equipmentname%></td></tr>
<tr><th>保有者</th>
<td><%=@item.user%></td></tr>
<tr><th>分類</th>
<td><%=@item.categories_status_show[@item.categories.to_i]%></td></tr>
<tr><th>廃棄年月日</th>
<td><%=@item.ending_at.strftime('%Y-%m-%d') unless @item.ending_at.blank?%></td></tr>
<tr><th>備考</th>
<td><%=@item.remarks%></td></tr>
</tbody>
</table>

<br />

</div>
</div>
