<div class="piece AdminSetting">
<%= render :partial => '/gw/admin/config_settings/header_str' %>

<div class="pieceBanner">
</div>

<div class="pieceBody">
<%= render :partial => '/gw/admin/config_settings/menu' if @u_role==true %>

<%if @u_role == true %>
  <% if @admin_role == true %>
    <%= render :partial => '/gw/admin/config_settings/tabs_admin' %>
  <% else %>
    <%= render :partial => '/gw/admin/config_settings/tabs_editor' %>
  <% end %>
<% end %>

<%= div_notice %>

</div>
</div>
