<div class="piece AdminSetting">
<%= render :partial => '/gw/admin/config_settings/header_str' %>

<div class="pieceBanner">
</div>

<div class="pieceBody">
<%= render :partial => '/gw/admin/config_settings/menu' if @u_role==true %>

<%if @u_role == true %>
  <% if @admin_role == true %>
    <%= render :partial => '/gw/admin/config_settings/tabs_admin' %>
  <% else %>
    <%= render :partial => '/gw/admin/config_settings/tabs_editor' %>
  <% end %>
<% end %>

<%= div_notice %>
<% if @admin_role == true %>
<div class="titleLine">
  <p class="title">連絡メモの携帯等転送設定状況</p>
</div>
<div><p><%= Time.now.strftime('%Y-%m-%d %H:%M') %>　現在</p></div>
<table class="show">
  <tr>
    <th>携帯等転送設定数</th><td><%= @set_counts %></td>
  </tr>
  <tr>
    <th>うち　有効数</th><td><%= @set1_counts %></td>
  </tr>
  <tr>
    <th>うち　無効数</th><td><%= @set2_counts %></td>
  </tr>
</table>
<% end %>

</div>
</div>
