<div class="piece AdminSetting">

<%= render :partial => 'header_str' %>

<div class="pieceBody">
<%= show_notice %>

<% form_for :item, :url => "/gw/plus_update_settings" ,:html => {:method=>:post , :multipart => true, :id => 'itemForm'} do |f| %>

<%= f.error_messages %>

<%= render :partial => 'form', :locals => {:f => f} %>

<div class="submitters"><%=f.submit("保存")%></div>

<% end %>

<!--戻るボタン-->
<div class="btReturn">
  <%=link_to "管理設定へ戻る", "/gw/config_settings" %>
</div>
</div>
</div>
