<%#
@cabinet_title は、Doclibrary::Public::GroupFoldersController で初期化しています。
%>
<div class="piece docLibrary">
<div class="pieceHeader">
<h2><%= @cabinet_title %></h2>
</div>
<div class="pieceBody">
<%= render :partial => 'header' %>
<table class="index">

<tr>
<th class="blueIndex" style="width: 60px; text-align: center;">　</th>
<th class="blueIndex" style="width: 60px; text-align: center;">　</th>
<th class="blueIndex" style="width: 60px; text-align: right;">ID</th>
<th class="blueIndex" style="width: 60px; text-align: right;">並び順</th>
<th class="blueIndex" >フォルダ名称</th>
<th class="blueIndex" style="width: 80px; text-align: center;">システム所属状態</th>
<th class="blueIndex" style="width: 80px; text-align: center;">所属フォルダ状態</th>
</tr>

<% for item in @items %>
<tr class="<%= cycle '', 'cycle' %>">
<td style="text-align: center;"><%=link_to_list_gwboard_category item %></td>
<td style="text-align: center;"><%= link_to '編集', item.edit_path %></td>
<td style="text-align: right;"><%=item.id %></td>
<td style="text-align: right;"><%= item.sort_no%></td>
<td><%= item.name%></td>
<td style="text-align: center;"><%= item.status_name[item.use_state] unless item.use_state.blank? %></td>
<td style="text-align: center;"><%= item.status_name[item.state] %></td>
</tr>
<% end %>

</table>
<%= paginate @items %>
</div>
</div>
