<%#
@cabinet_title は、Doclibrary::Public::GroupFoldersController で初期化しています。
%>
<div class="piece docLibrary">
<div class="pieceHeader">
<h2><%= @cabinet_title %></h2>
</div>
<div class="pieceBody">
<%= render :partial => 'folder_name' %>

<%= form_for :item, :url => "#{doclibrary_group_folders_path}?title_id=#{params[:title_id]}&state=#{params[:state]}&cat=#{params[:cat]}&grp=#{params[:grp]}&gcd=#{params[:gcd]}", :html => {:multipart => true, :id => 'itemForm'} do |f| %>

  <%= f.error_messages %>

  <%= render :partial => 'form', :locals => {:f => f} %>

  <%= submit_for(f,{:caption=>"編集する"}) %>

<% end %>
</div>
</div>
