<%= raw(gw_js_include_full) %>
<%= raw(required_head) %>
<% bg_select = [["背景色を使用する", ""],["背景画像を使用する", "1"]] %>

<table style="display:none;" class="show">
<%#*GW2.0では設定が反映されない項目%>
<tr>
  <th>状態</th>
  <td><%=radio f, :state, @item.states, :class => 'state' %></td>
</tr>
<tr>
  <th>所属管理者用画面</th>
  <td><%= f.select :create_section_flag, @item.use_section_admin, :class => 'select default_limit'%></td>
</tr>
</table>

<table class="show">
<tr style="display:none;">
<%#*GW2.0では設定が反映されない項目%>
  <th>承認機能</th>
  <td><%= radio f, :recognize, @item.recognize_states, :class => 'radio recognize' %></td>
</tr>

<tr>
  <th>回覧板タイトル<%= required('※') %></th>
  <td><%= f.text_field :title, :class => 'string title' %></td>
</tr>
<tr>
  <th>一覧表示行数</th>
  <td><%= f.select :default_limit, @item.default_limit_circular, :class => 'select default_limit' %></td>
</tr>
</table>
<table class="show">
<tr>
  <th>回覧期限日初期値<%= required('※') %></th>
  <td class="IMEoff"><%= f.text_field :default_published, :size => 3 %>日間</td>
</tr>
<tr>
<th>回覧人数制限<%= required('※') %></th>
<td class="IMEoff"><%= f.text_field :commission_limit, :size => 3 %> 人</td>
</tr>
<tr>
  <th>期限切れ削除設定</th>
  <td><%= f.select :limit_date, @item.delete_date_name, :class => 'limit_date' %></td>
</tr>

<tr style="display:none;">
<%#*GW2.0では設定が反映されない項目%>
  <th>画像 総容量制限<%= required('※') %></th>
  <td class="IMEoff">
  <%= f.text_field :upload_graphic_file_size_capacity, :size => 3 %>
  <%= f.select :upload_graphic_file_size_capacity_unit, @item.size_unit_name %>
  <%= @image_message%>
  </td>
</tr>
<tr style="display:none;">
<%#*GW2.0では設定が反映されない項目%>
  <th>添付 総容量制限<%= required('※') %></th>
  <td class="IMEoff">
  <%= f.text_field :upload_document_file_size_capacity, :size => 3 %>
  <%= f.select :upload_document_file_size_capacity_unit, @item.size_unit_name %>
  <%= @document_message%>
  </td>
</tr>


<tr>
  <th>画像サイズ制限<%= required('※') %></th>
  <td class="IMEoff"><%= f.text_field :upload_graphic_file_size_max, :size => 3 %> MB</td>
</tr>
<tr>
  <th>添付サイズ制限<%= required('※') %></th>
  <td class="IMEoff"><%= f.text_field :upload_document_file_size_max, :size => 3 %> MB</td>
</tr>
</table>

<table style="display:none;" class="show">
<%#*GW2.0では設定が反映されない項目%>
<tr>
  <th>並び順指定<%= required('※') %></th>
  <td class="IMEoff"><%= f.text_field :sort_no, :size => 6 %></td>
</tr>
<tr>
  <th>タイトル一覧表示</th>
  <td><%= f.select :view_hide, @item.list_view_name %></td>
</tr>
<tr>
  <th>利用説明<br />(HTML形式可)</th>
  <td><%= f.text_area :caption , :cols => 84, :rows => 2 , :class => 'string caption'%></td>
</tr>
</table>

<%= render :partial => 'form_s' %>

<% if false %>
<%#*GW2.0では設定が反映されない項目%>
<%= render :partial => 'notes', :locals => {:f => f} %>
<% end %>

