<%= raw(gw_js_include_full) %>
<%= raw(required_head) %>
<%
  bg_select = [["背景色を使用する", ""],["背景画像を使用する", "1"]]
%>
<table class="show">
<tr>
  <th>承認機能</th>
  <td><%= radio f, :recognize, @item.recognize_states, :class => 'radio recognize' %></td>
</tr>
<tr>
  <th>一覧表示行数</th>
  <td><%= f.select :default_limit, @item.default_limit_line, :class => 'select default_limit' %></td>
</tr>
<tr>
  <th>初期表示状態</th>
  <td><%= f.select :default_mode, @item.default_mode_name, :class => 'default_mode_name' %></td>
</tr>
</table>
<table class="show">
<tr>
  <th>重要度使用区分</th>
  <td><%= radio f, :importance, @item.importance_states, :class => 'radio importance' %></td>
</tr>
<tr>
  <th>分類使用区分</th>
  <td><%=radio f, :category, @item.category_states, :class => 'radio category' %></td>
</tr>
<tr>
  <th>分類呼称設定</th>
  <td><%= f.text_field :category1_name, :class => 'string category1_name' %></td>
</tr>
<tr>
  <th>1行コメント機能</th>
  <td><%= radio f, :one_line_use, @item.one_line_use_states, :class => 'radio one_line_use' %></td>
</tr>
</table>
<table class="show">
<tr>
  <th>掲載期間 初期値<%= required('※') %></th>
  <td class="IMEoff"><%= f.text_field :default_published, :size => 3 %>ヶ月間</td>
</tr>
</table>
<table class="show">
<tr>
  <th>利用説明<br />(HTML形式可)</th>
  <td><%= f.text_area :caption , :cols => 84, :rows => 2 , :class => 'string caption'%></td>
</tr>
</table>
<table class="show">
<tr>
  <th>件数表示形式</th>
  <td><%= f.select :left_index_pattern, @item.left_index_pattern_name %></td>
</tr>
<tr>
  <th>分類件数表示</th>
  <td><%= f.select :categoey_view, @item.list_view_name %></td>
</tr>
<tr>
  <th>所属件数表示</th>
  <td><%= f.select :group_view, @item.list_view_name %></td>
</tr>
<tr>
  <th>月別件数表示</th>
  <td><%= f.select :monthly_view, @item.list_view_name %></td>
</tr>
<tr>
  <th>月別件数行数<br />(0で全件表示)</th>
  <td class="IMEoff"><%= f.text_field :monthly_view_line, :size => 3 %></td>
</tr>
</table>

<%= render :partial => '/gwboard/admin/adms/form_s' %>
