<div class="bbsDocList circular">
<%= render :partial => 'piece_header' %>

<div class="pieceBody">
<%= form_for :item, :url => "/gwcircular/basics/#{@item.id}", :html => {:method => :put, :multipart => true, :id => 'itemForm'} do |f| %>

<%= f.error_messages %>

<%= render :partial => 'form', :locals => {:f => f} %>

<%#このsubmitはJSを呼んで更新処理をかけているので変更してはいけない%>
<%= submit_for_update(f, :js_submitter => 'my_submit()') %>

<% end %>

</div><!--pieceBody-->
</div><!--bbsDocList circular-->
