<%str_page = "?page=#{params[:page]}" unless params[:page].blank?%>
<div class="piece bbs">
<div class="pieceHeader">
<h2>掲示板記事削除</h2>
</div>
<div class="pieceBody">
<div class="editingBox">
<span class="docLink"><%=link_to('管理者設定 >>', '/gw/config_settings?c1=1&c2=7') %></span>
</div>
<table class="index">
<tr>
<th style="width: 60px; text-align: right;">管理番号</th>
<th style="width: 40px; text-align: right;">並び順</th>
<th>タイトル</th>
<th style="width: 80px; text-align: center;">ステータス</th>
<th style="width: 60px; text-align: center;">一覧表示</th>
<th style="width: 60px; text-align: right;">公開記事</th>
<th style="width: 60px; text-align: right;">期限切れ</th>
<th style="width: 60px; text-align: center;">自動削除</th>
<th style="width: 40px; text-align: center;">削除</th>
</tr>

<%for item in @items%>
<%
  begin
  str_auto_del = ''
  if item.board_limit_date == 'use'
    str_auto_del = 'する'
  else
    str_auto_del = item.delete_fix[item.board_limit_date]
  end unless item.board_limit_date.blank?
  rescue
  end
%>
<tr class="<%= cycle '', 'cycle' %>">
<td style="text-align: right;"><%=item.id %></td>
<td style="text-align: right;"><%=item.board_sort_no%></td>
<td style="text-align: left;"><%=item.board_title%></td>
<td style="text-align: center;"><%=item.board_state%></td>
<td style="text-align: center;"><%=item.board_view_hide%></td>
<td style="text-align: right;"><%=item.public_doc_count%></td>
<td style="text-align: right;"><%=item.void_doc_count%></td>
<td style="text-align: center;"><%=str_auto_del%></td>
<td style="text-align: center;"><%= link_to '削除', "#{gwbbs_itemdelete_path(item.title_id)}#{str_page}", :confirm => '削除をすると元に戻せません。削除しますか', :method => :delete %></td>
</tr>
<%end%>
</table>
<%=paginate @items %>
</div>
<div class="btReturn">
  <%=link_to('処理選択へ戻る', gwbbs_itemdeletes_path) %>
</div>
</div><!--piece gwbbs-->
