<div class="gwsub sb09">
<div class="pieceHeader">
<h2>USBメモリ登録管理台帳</h2>
</div>
<div class="pieceBanner">
<%= render 'header' %>
</div>
<div class="pieceBody">
<%= render 'display_name' %>
<%= render 'gwsub/admin/search' %>

<table class="index">
<colgroup class="action"></colgroup>
<colgroup class="code"></colgroup>
<colgroup class="name"></colgroup>
<tbody>
<tr><th></th><th>単位区分</th><th>単位</th>  </tr>

<% @items.each do |item| %>
 <tr class="<%= cycle 'article', 'article cycle' %>">
 <td><%= link_to('詳細',item.show_path) %></td>
 <td><%= item.code %></td>
 <td><%= item.name %></td>
 </tr>
<% end %>

</tbody>
</table>

<%= paginate @items %>

</div>
</div>
