<div class="gwsub sb09">
<div class="pieceHeader">
<h2>USBメモリ登録管理台帳</h2>
</div>
<div class="pieceBanner">
<%= render 'header' %>
</div>
<div class="pieceBody">
<%= render 'display_name' %>
<%= render "gwsub/public/sb09/#{@menu_header}/header" if @menu_header %>

<%= form_for :item, :url => {:action => :create}, :html => {:method => :post, :multipart => true} do |f| %>
  <%= render 'form', f: f %>
<% end %>

</div>
</div>
