<%
  left_dsp = true
  left_dsp = false if @title.restrict_access && !@title.is_admin?
%>
<div class="sideMenu">
<div class="menuBody">
<%=raw @title.other_system_link if @title.other_system_link.present? %>
<% if left_dsp %>
  <% unless @title.left_index_use == '0' %>
    <%= render 'search' %>
    <%#所属の時は、所属-分類-月別%>
    <% case params[:state] %>
    <% when "GROUP" %>
      <%= render 'groups'     if @title.group_view %>
      <%= render 'categories' if @title.categoey_view %>
      <%= render 'monthlies'  if @title.monthly_view %>
    <%#分類の時は、分類-所属-月別%>
    <% when "CATEGORY" %>
      <%= render 'categories' if @title.categoey_view %>
      <%= render 'groups'     if @title.group_view %>
      <%= render 'monthlies'  if @title.monthly_view %>
    <%#上記以外の時は、最新10件-月別-分類%>
    <% else %>
      <%= render 'monthlies'  if @title.monthly_view %>
      <%= render 'categories' if @title.categoey_view %>
      <%= render 'groups'     if @title.group_view %>
    <% end %>
  <% end %>
<% end %>
</div>
</div>
