<% 
@format ||= @schedule_settings["#{@view}_view_dayhead_format"]
@header_each ||= @schedule_settings[:header_each].to_i
show_week_header = render 'gw/admin/schedules/event_week_header', d: @calendar_first_day
%>
<table class="scheduleTable <%= @custom_group.name_en.gsub(" ", "_").camelize(:lower) if @custom_group %>">
  <tbody>
    <% @groups.each_with_index do |group, igroup| %>
      <%
      group_events = @schedule_events.select {|ev|
        ((group[:collect_by_parent] && ev.parent_gid == group[:id]) ||
        (!group[:collect_by_parent] && ev.gid == group[:id]))
      }
      %>
      <%= show_week_header if igroup == 0 || @header_each != 0 && igroup % @header_each == 0 -%>
      <tr class="scheduleTableBody lineNo1">
        <th class="scheduleUser">
          <div class="leftHeader">
            <div class="username"><%= group[:name] %></div>
          </div>
        </th>
        <% @calendar_first_day.upto(@calendar_end_day).each do |week_add_day| %>
          <%
          events = group_events.select {|ev| ev.st_at.to_date == week_add_day }
          %>
          <td class="<%= create_month_class(week_add_day, @st_date, @holidays, params) %>">
            <% events.each do |event| %>
              <div title="<%= event.schedule.display_tooltip(params[:s_genre], @is_pm_admin) %>" class="ind tooltip">
                <a href="/gw/schedules/<%= event.schedule.id %>/show_one">
                  <% event.event_display("week").split("\n").each do |str| %>
                    <span style="display: block;"><%= str %></span>
                  <% end %>
                </a>
              </div>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
    <%= show_week_header if @groups.length > 1 -%>
  </tbody>
</table>
