<%

@inquire_to_err_flg = false
allday_radio_id = 1
@inquire_to = ""

form_kind_id = 0 # フォーム切り替え用変数
if !params[:item].blank?
  allday_radio_id = params[:item][:allday_radio_id].to_i
  form_kind_id = params[:item][:form_kind_id].to_i
  @inquire_to = params[:item][:inquire_to]
end
repeat_mode = get_repeat_mode params # 通常：1、繰り返し：2

d_load_st, d_load_ed = case params[:action]
when 'edit', 'quote'
  # 引用時、会議等開催表示の承認済まで引っ張ってくるため、修正
  if params[:action] == 'quote' && @item.guide_state == 2
    @item.guide_state = 1
  end

  allday_radio_id = nz(@item.allday, 1).to_i

  if params[:action] == 'quote'

    @inquire_to = ""
  else

    @inquire_to  = @item.inquire_to
  end
  if !@item.schedule_props.blank?
    form_kind_id = 1
  end
  if nz(@item.todo, 0) == 1
    form_kind_id = 2
  end
  if repeat_mode == 1
    [@item.st_at, @item.ed_at]
  else
    raise "呼び出しが不正です(repeat_mode=#{repeat_mode})" if @item.repeat.nil?
    # note/100222/nkoshiba: edit 時の値ロードのため手抜き
    params[:item] ={}
    @item.repeat.attributes.reject{|k,v| /_at$/ =~ k || 'id' == k}.each{|k,v|
      params[:item]["repeat_#{k}".to_sym] = v
    }
    # main return value for d_loat_st/ed
    [Gw.datetime_merge(@item.repeat.st_date_at, @item.repeat.st_time_at),
      Gw.datetime_merge(@item.repeat.ed_date_at, @item.repeat.ed_time_at)]
  end
when 'new'
  dd = Gw.date8_to_date(params[:s_date], :default=>'')
  form_kind_id = 2 if params[:link] == 'todo'
  now = Time.now
  hour = now.hour # 時間
  if now.min > 55 && hour <= 22 # 時間繰り上がり用
    hour = hour + 1
  end
  if now.min > 55
    min = 0
  else
    divmod = now.min.divmod(5)
    if divmod[1] > 0 # 分（5分刻み用）
      min = (divmod[0] + 1) * 5
    else
      min = now.min
    end
  end

  _wrk_st = !dd.blank? ? Gw.date_to_time(dd) : Time.local(now.year, now.month, now.day, hour, min, 0)
  [_wrk_st, _wrk_st + 60*60]
when 'create', 'update'

  form_kind_id = params[:item][:form_kind_id].to_i
  allday_radio_id = params[:item][:allday_radio_id].to_i

  if repeat_mode == 1
    [Gw.to_time(params[:item][:st_at]), Gw.to_time(params[:item][:ed_at])]
  else
    [Gw.datetime_merge(params[:item][:repeat_st_date_at], params[:item][:repeat_st_time_at]),
      Gw.datetime_merge(params[:item][:repeat_ed_date_at], params[:item][:repeat_ed_time_at])]
  end
else
  raise "呼び出しが不正です(action=#{params[:action]})"
end
%>

<%=render :partial => '/gw/admin/schedules/form_participant', :locals => {:f => f}%>
<table class="show">
<tr id="start_tr_1"><th>開始日時<span class="textRed">※</span></th></tr>
<tr id="start_tr_2"><td><%= date_picker_smartphone f, 'st_at', :errors=>@item.errors, :mode=>:datetime, :value=>d_load_st, :minute_interval=>'5' %></td></tr>
<tr><th><span id="ed_set_str">終了日時</span><span class="textRed">※</span></th></tr>
<tr><td>
<%= date_picker_smartphone f, 'ed_at', :errors=>@item.errors, :mode=>:datetime, :value=>d_load_ed, :minute_interval=>'5' %>
<%=f.hidden_field :ed_at%>

</td></tr>
<tr id="allday_id_1"><th>
時間未定：<%= f.check_box("allday", {:onClick => 'allday_check(this)'},"1", "") %></th></tr>
<tr id="allday_id_2"><td>
<%= radio(f, 'allday_radio_id', Gw.yaml_to_array_for_select('allday_radio_ids'), :selected=> nz(allday_radio_id, 0).to_i, :force_tag=>1) %>
</td></tr>
</table>
<table class="show">
<tr><th><span id="title_title">件名（用務名等）</span><span class="textRed">※</span></th></tr>
<tr><td>
<span id="title_category">
<%= f.select(:title_category_id, Gw.yaml_to_array_for_select('gw_schedules_title_categories', :include_blank=>1), :selected=>@item.title_category_id) %>
</span>
<br />
<%= f.text_area  :title, :style=>"width: 100%;" ,:rows=>5   %></td></tr>
<tr><th>場所</th></tr>
<tr><td><%= f.text_area  :place, :style=>"width: 100%;" ,:rows=>5   %></td></tr>
<tr><th>メモ</th></tr>
<tr><td><%= f.text_area  :memo, :style=>"width: 100%;" ,:rows=>5   %></td></tr>
</table>
<%=render :partial => '/gw/admin/schedules/form_public', :locals => {:f => f}%>

<%#携帯用パラメータ%>
<%= hidden_field_tag "item[form_kind_id]", form_kind_id.to_s %>
<%= hidden_field_tag "init[repeat_mode]", "1" %>
<%= hidden_field_tag "init[st_at][mode]", "datetime" %>
<%= hidden_field_tag "init[ed_at][mode]", "datetime" %>

<%= hidden_field_tag "item[creator_uid]", Site.user.id %>
<%= hidden_field_tag "item[creator_uname]", Site.user.name %>
<%= hidden_field_tag "item[creator_ucode]",  Site.user.code %>
<%= hidden_field_tag "item[creator_gid]", Site.user_group.id %>
<%= hidden_field_tag "item[created_at]", Time.now %>

<%= hidden_field_tag "item[guide_state]","0" %>
<%= hidden_field_tag "item[guide_ed_at]","0" %>

<%= hidden_field_tag "init[ucls]", "1" %>
<%= hidden_field_tag "init[uid]", Site.user.id %>
<%= hidden_field_tag "init[uname]",  Site.user.display_name %>

<%= hidden_field_tag "item[schedule_users][user_type_id]" ,"_belong" %>
<%= hidden_field_tag "item[schedule_users][child_gid]" ,"child_group_18" %>

<%= hidden_field_tag "item[owner_uid]" , Site.user.id %>
<%= hidden_field_tag "item[owner_udisplayname]" ,  Site.user.display_name %>
<%= hidden_field_tag "item[schedule_props][prop_type_id]", "other:other" %>
<script type="text/javascript">
//<![CDATA[

var allday_check = function(obj) {
  if (obj.checked) { // チェックボックスはチェックされています
    item_time_disabled(true);
    item_allday_radio_true_false(false);
 } else { // チェックボックスはチェックされていません
    item_time_disabled(false);
    item_allday_radio_true_false(true);
  }
}

var item_time_disabled = function(flg) {
  //alert(flg);
  $('item_st_at_4i').disabled = flg;
  $('item_st_at_5i').disabled = flg;
  $('item_ed_at_4i').disabled = flg;
  $('item_ed_at_5i').disabled = flg;
}

var item_allday_radio_true_false = function(flg) {
  $('item_allday_radio_id_1').disabled = flg;
  $('item_allday_radio_id_2').disabled = flg;
}
var is_public_select = function (idx) {
  // 公開範囲
  // idx：item[is_public]
  if (idx == 1) {
    $('item_is_public_3').click();
  } else {
    $('item_is_public_1').click();
  }
}
var is_public_click = function () {
  // 公開範囲
  idx = radio_selected('item[is_public]');
  //alert(idx);
  if (idx == 1) {
    Element.show($('public_groups'));
  } else {
    Element.hide($('public_groups'));
  }
}

// Todo用
var item_st_at_all_disabled = function(flg) {
  $('item_st_at_1i').disabled = flg;
  $('item_st_at_2i').disabled = flg;
  $('item_st_at_3i').disabled = flg;
  $('item_st_at_4i').disabled = flg;
  $('item_st_at_5i').disabled = flg;
}
var item_st_at_day_disabled = function(flg) {
  $('item_st_at_1i').disabled = flg;
  $('item_st_at_2i').disabled = flg;
  $('item_st_at_3i').disabled = flg;
}
var item_st_at_time_disabled = function(flg) {
  $('item_st_at_4i').disabled = flg;
  $('item_st_at_5i').disabled = flg;
}
var item_ed_at_all_disabled = function(flg) {
  $('item_ed_at_1i').disabled = flg;
  $('item_ed_at_2i').disabled = flg;
  $('item_ed_at_3i').disabled = flg;
  $('item_ed_at_4i').disabled = flg;
  $('item_ed_at_5i').disabled = flg;
}
var item_ed_at_day_disabled = function(flg) {
  $('item_ed_at_1i').disabled = flg;
  $('item_ed_at_2i').disabled = flg;
  $('item_ed_at_3i').disabled = flg;
}
var item_ed_at_time_disabled = function(flg) {
  $('item_ed_at_4i').disabled = flg;
  $('item_ed_at_5i').disabled = flg;
}

var update_item_st_at = function() {
  /*mode = $('init_ed_at_mode').value;
  if (mode == 'datetime' || mode == 'date')
    ymd = $('item_ed_at_1i').value + '-' + $('item_ed_at_2i').value + '-' + $('item_ed_at_3i').value;
  if (mode == 'datetime' || mode == 'time')
    hn = $('item_ed_at_4i').value + ':' + ("0" + $('item_ed_at_5i').value).slice(-2);
  switch(mode) {
  case 'datetime': ret = ymd + ' ' + hn; break;
  case 'date': ret = ymd; break;
  case 'time': ret = hn; break;
  }
  $('item_ed_at').value = ret;*/
  //update_prop_cand();


}

var update_item_ed_at = function() {
  mode = $('init_ed_at_mode').value;
  if (mode == 'datetime' || mode == 'date')
    ymd = $('item_ed_at_1i').value + '-' + $('item_ed_at_2i').value + '-' + $('item_ed_at_3i').value;
  if (mode == 'datetime' || mode == 'time')
    hn = $('item_ed_at_4i').value + ':' + ("0" + $('item_ed_at_5i').value).slice(-2);
  switch(mode) {
  case 'datetime': ret = ymd + ' ' + hn; break;
  case 'date': ret = ymd; break;
  case 'time': ret = hn; break;
  }
  $('item_ed_at').value = ret;
  //update_prop_cand();


}

var my_load = function() {
  allday_check( $('item_allday') );
  update_item_ed_at();
}
my_load();
//]]>
</script>
