<%
@quote = true

if @quote == true || params[:quote].present?
  class_str = "schedule quote"
else
  class_str = ""
end
%>

<div class="piece schedulePiece form">
  <div class="pieceHeader">
    <%= raw(render(:partial => '/gw/admin/schedules/piece_header')) -%>
  </div>
  <div class="pieceBody">
    <div class="pieceBodyHeader">
      <%= raw(render(:partial => '/gw/admin/schedules/schedule_bt_box', :locals=>{:d=>Date.today, :mode=>'form'})) %>
    </div>
    <div class="pieceBodyBody scheduleform">
      <%= form_for :item,
        :url => "/gw/schedules?s_date=#{params[:s_date]}&ref=#{params[:ref]}&prop_id=#{params[:prop_id]}&s_genre=#{params[:s_genre]}&o=#{params[:o]}",
        :html => {:class => class_str, :multipart => true, :id => 'itemForm'} do |f| %>
      
      <%= f.error_messages %>
      <%= render(:partial => 'form', :locals => {:f => f}) %>

      <%= quote_attrs(params) %>

      <%= raw(submit_for_create(f, :js_submitter => 'my_submit()', :class=>:mockblock)) %>
      <% end %>
    </div>
  </div>
</div>