<%
if @sp_mode == :prop
  raise ArgumentError, 'piece_header 呼び出し前に d/@st_date を設定してください。' if d.nil?
  raise ArgumentError, 'piece_header 呼び出し前に params[:s_genre] を設定してください。' if params[:s_genre].nil?
end
%>
<%
if @sp_mode == :prop
  bt_box = '/gw/admin/schedule_props/bt_box'
else
  bt_box = '/gw/admin/schedules/schedule_bt_box'
end
%>
<%= render bt_box, d: d, mode: mode -%>

<% if @custom_group -%>
<div class="scheduleTableTitle"><%= @custom_group.name -%></div>
<% end -%>
<% if @show_flg -%>
  <%= render '/gw/admin/schedules/schedule_line_box', d: d, mode: mode, move_mode: :header -%>
  <% if @line_box.present? && @schedule_move_url_directive %>
    <%= raw(hidden_field_tag('my_url', @schedule_move_url_directive.sub('%q', "#{@schedule_move_qs}"))) %>
  <% end %>
<% end %>

<%= render 'gw/admin/schedule_props/pm_legends' %>
<script type="text/javascript">
//<![CDATA[

(function($) {
  $(function() {
    $('.draggableSchedule').draggable({
        containment: 'scheduleTable',
        opacity: 0.5,
        helper: 'clone'
    });
    $('.droppableTd').droppable({
      accept: '.draggableSchedule',
      tolerance: 'fit',
      activeClass: 'active',
      hoverClass: 'draggableHover',
      drop: function( event, ui ) {
        var lockDiv = $('<div />').attr("id", "lockScreen");
        lockDiv.css("z-index", "999")
              .css("position", "absolute")
              .css("top", "0px")
              .css("left", "0px")
              .css("right", "0px")
              .css("bottom", "0px")
              .css("background-color", "gray")
              .css("opacity", "0.5");
        $('body').append(lockDiv);
        var schedule_id = ui.draggable.attr("id");
        var date_id = $(this).attr("id");
        var id = schedule_id.replace(/user-schedule-/, '');
        id = id.replace(/\d+_/g, "");
        var todate = date_id.replace(/schedule-td-/,'');
        var fromdate = ui.draggable.closest("td").attr("id").replace(/schedule-td-/,'');
        todate = todate.replace(/\d+_/g, "")
        fromdate = fromdate.replace(/\d+_/g, "")
        url = '<%=url_for({controller: '/gw/admin/schedules' ,action: :index})%>/' + id + '/update_date';
        $.ajax({
          url: url,
          type:'POST',
          dataType: 'json',
          data : {
            authenticity_token: '<%= form_authenticity_token %>',
            to_day: todate,
            from_day: fromdate
          },
          success: function(data) {
            if (data.result == "not-modified"){
              alert("移動元と移動先の日付が同じです。");
            }else if (data.result == "moved"){
              alert("すでに移動された予定です、ページを更新して確認してください。");
            }else if(data.result == "ok"){
              $('#' + schedule_id).insertBefore('#' + date_id + ' > a' );
            }else if(data.result == "over"){
              location.reload();
              /*var regexp = new RegExp('user-schedule-' + id + '$')
              var dateList = []
              $(".draggableSchedule").each(function(i, elem) {
                if($(elem).attr("id").match(regexp)){
                  dateList.push($(elem).attr("id"));
                }
               });
               $.each(data.range,
                    function(n, e) {
                      if(dateList[n]){
                        if($('#schedule-td-' + e).length){
                          $('#' + dateList[n]).insertBefore('#schedule-td-' + e + ' > a' );
                        }else{
                          $('#' + dateList[n]).remove();
                        }
                      }
                  });*/
            }else if(data.result == "ng"){
              alert("パラメータが不正のため、移動できませんでした。");
            }
            $("#lockScreen").remove();

          },
          error: function(XMLHttpRequest, textStatus, errorThrown) {
             alert("このスケジュールは移動できません。");
             $("#lockScreen").remove();
           }
        });
      }
    });
  });
})(jQuery);

//]]>
</script>
