<%
raise ArgumentError, 'piece_header 呼び出し前に d/@st_date を設定してください。' if d.nil?
today = Date.today
class_str = "dateShow"

case mode

when 'day', 'week'
  class_str.concat " today" if d == today
  date_format_name = 'week'
  if @schedule_move_url_directive.blank?
    @schedule_move_url_directive = %Q(#{request.path_translated}#{mode == 'day' ? '%d?%q' :
      @sp_mode == :schedule ? '?s_date=%d&%q' :
      @sp_mode == :event ? 'event_week?s_date=%d' : 'show_week?s_date=%d&%q'})

    @schedule_move_ab = if @sp_mode == :event
      [
        [@st_date.months_ago(1), '前月'],
        [@st_date - 7, '前週'],
        [Date.today, '今日'],
        [@st_date + 7, '翌週'],
        [@st_date.months_since(1), '翌月']
      ]
    else
      [
        [d.months_ago(1), '前月'],
        [d-7, '前週'],
        [d-1, '前日'],
        [Date.today, '今日'],
        [d+1, '翌日'],
        [d+7, '翌週'],
        [d.months_since(1), '翌月']
      ]
    end
  end

when 'month'
  raise ArgumentError, 'piece_header 呼び出し前に params[:prop_id] を設定してください。' if @sp_mode == :prop && params[:prop_id].nil?
  class_str.concat " today" if d.year == today.year && d.month == today.month
  date_format_name = 'month'
  if @schedule_move_url_directive.blank?
    @schedule_move_url_directive = %Q(#{request.path_info}?s_date=%d&%q)

    @schedule_move_ab = if @sp_mode == :event
      [
        [Date::new(@st_date.year - 1, @st_date.month, 1), '前年'],
        [@st_date.month == 1 ? Date::new(@st_date.year - 1, 12, 1) : Date::new(@st_date.year, @st_date.month - 1, 1), '前月'],
        [today, '今月'],
        [@st_date.month == 12 ? Date::new(@st_date.year + 1, 1, 1) : Date::new(@st_date.year, @st_date.month + 1, 1), '翌月'],
        [Date::new(@st_date.year + 1, @st_date.month, 1), '翌年']
      ]
    else
      [
        [Date::new(d.year - 1, d.month, 1), '前年'],
        [d.month == 1 ? Date::new(d.year - 1, 12, 1) : Date::new(d.year, d.month - 1, 1), '前月'],
        [today, '今月'],
        [d.month == 12 ? Date::new(d.year + 1, 1, 1) : Date::new(d.year, d.month + 1, 1), '翌月'],
        [Date::new(d.year + 1, d.month, 1), '翌年']
      ]
    end
  end

  case @sp_mode
  when :schedule
    unless @uid == Core.user.id
      user_name_s = Gw::Model::Schedule.get_uname(:uid=>@uid)
      user_name_s = %Q(<span class="nobr"> - #{user_name_s}</span>)
    end
  when :prop
    prop_id = Gw::Model::Schedule.get_prop_ids(params)[0]
    user_name_s = Gw::Model::Schedule.get_prop(prop_id, params).name
    user_name_s = %Q(<span class="nobr"> - #{user_name_s}</span>)
  end
end

if @sp_mode == :prop
  prop_id_str = "&prop_id=#{params[:prop_id]}" if !params[:prop_id].blank?
  type_id_str = "&type_id=#{params[:type_id]}" if !params[:type_id].blank?
  other_admin_gid_str = "&s_other_admin_gid=#{params[:s_other_admin_gid]}" if !params[:s_other_admin_gid].blank?
  @schedule_move_url_directive.concat "#{prop_id_str}#{type_id_str}#{other_admin_gid_str}"
end

### main
    object_name = :item
    name = "calendar_move_#{move_mode}"
    tag_name = "#{object_name}[#{name}]" rescue name
    tag_id = Gw.idize(tag_name)
    options_calendar_date_select = {
      :hidden => 1, :id=>tag_id, :time=> false,
      :onchange => "calendar_schedule_redirect($F(this));",
      :image=>'/_common/themes/gw/files/icon/ic_act_calendar.gif',
    }
# 通常スケジューラーの個人スケジューラーの場合、下部のリンクは出さないようにする。
%>
<div class="lineBox">
  <% if move_mode != :header -%>
  <% else -%>
    <div class="dayInformation <%= class_str -%>">
      <%= date_format(schedule_settings["#{date_format_name}_view_piecehead_format"], d) -%>
      <%= raw(user_name_s) -%>
    </div>
  <% end -%>
  <div class="scheduleMove">
    <%= form_for :item, :url => '', :html => {:multipart => true, :id => "schedule_#{move_mode}"} do |f| -%>
    <%= raw(Gw::Model::Schedule.show_schedule_move_core(@schedule_move_ab, @schedule_move_url_directive, @schedule_move_qs)) -%>
    <%= raw(calendar_date_select_tag(tag_name, d, options_calendar_date_select)) -%>
    <% end -%>
  </div>
</div>
