<%
@view = "day"
@dis = nz(params[:dis],'week')
link_params = "?gid=#{params[:gid]}&uid=#{Site.user.id}&cgid=#{params[:cgid]}&dis=#{@dis}"
%>
<p class="leftPad2"><%=link_to("前日", %Q(/gw/schedules/#{date_format(@link_format, @st_date - 1)}#{link_params})) -%>|
<%=link_to("翌日", %Q(/gw/schedules/#{date_format(@link_format, @st_date + 1)}#{link_params})) -%>
</p>

<% for user in @users %>
  <%
  key = "user_#{user.id}"
  user_schedule = @user_schedules[key]
  %>
  <% if (params[:gid].blank? && params[:cgid].blank?) && user_schedule[:schedule_len] == 0 -%>
    <%= no_schedule_show  %>
  <% else -%>
    <% if user_schedule[:schedule_len] > 0 -%>
      <%= user.display_name -%><br />
    <% end -%>
    <% for schedule in user_schedule[:schedules] -%>
      <%
      public =  schedule.is_public_auth?(@is_gw_admin)
      %>
<div class="<%= schedule.get_category_class -%>">
  <p class="leftPad1">
    <%= schedule.show_time(@st_date, :mobile) -%><br />
  </p>
  <p class="leftPad1">
    <% if public -%>
    &nbsp;&nbsp;<%= link_to schedule.title ,%Q(/gw/schedules/#{schedule.id}/show_one#{link_params}&topdate=#{@topdate}) -%>
    <%else%>
    &nbsp;&nbsp;<span style="color: #999999;">[非公開予定]</span>
    <%end%>
  </p>
</div>
    <% end -%><%#  for schedule in @user_schedules[key][:schedules] -%>
  <% end -%><%#  if (params[:gid].blank? && params[:cgid].blank?) -%>
<% end -%><%# for user in @users -%>


<p class="leftPad2"><%=link_to("前日", %Q(/gw/schedules/#{date_format(@link_format, @st_date - 1)}#{link_params})) -%>|
<%=link_to("翌日", %Q(/gw/schedules/#{date_format(@link_format, @st_date + 1)}#{link_params})) -%>
</p>


