<%
week_first_day = @calendar_first_day
@format ||= schedule_settings["#{@view}_view_dayhead_format"]
@header_each ||= @schedule_settings[:header_each] rescue 5
header_each = nz(@header_each, 5).to_i
show_week_header = render(:partial => '/gw/admin/schedules/show_week_header')

%>
<div class="piece schedulePiece weekview">
  <div class="pieceHeader">
    <%= render(:partial => '/gw/admin/schedules/piece_header', :locals=>{:piece_head_title => @piece_head_title}) -%>
  </div>
  <div class="pieceBody">
    <div class="pieceBodyHeader">
      <%= render(:partial => '/gw/admin/schedules/schedule_header', :locals=>{:d=>@st_date, :mode=>'week', :show_flg => @show_flg}) -%>
    </div>

    <div class="pieceBodyBody">
      <table summary="スケジュール詳細" class="scheduleTable ">
        <tbody>
          <% if @show_flg %>

          <% @users.each_with_index do |user, user_cnt| %>

          <% if header_each == 0 && user_cnt == 0 || header_each != 0 && user_cnt % header_each == 0 %>
          <%= show_week_header -%>
          <% end %><%# header End %>

          <%
          user_title = ""
          if params[:cgid].present?
            users_custom_group = System::UsersCustomGroup.find(:first,
              :conditions =>"user_id = #{user.id} and custom_group_id = #{params[:cgid]}")
            usericon = " userIcon#{users_custom_group.icon}"
            user_title = users_custom_group.title
          else
            usericon = ""
          end
          %>

          <tr class="scheduleTableBody lineNo1">
            <th class="scheduleUser">
              <div class="leftHeader<%= usericon -%>">
                <% if user_title.present? -%>
                <div class="title"><%= user_title -%></div>
                <% end -%>
                <div class="username">
                  <span><%= user.name_and_code -%></span>
                  <span class="linkBox">
                    <a href="/gw/schedules/<%= @calendar_first_day.strftime("%Y%m%d") -%>?uid=<%= user.id -%>" class="dayLink">日表示</a>
                    <a href="/gw/schedules/show_month?s_date=<%= @calendar_first_day.strftime("%Y%m01") -%>&uid=<%= user.id -%>" class="monthLink">月表示</a>
                    <a href="/gw/schedule_lists/?uid=<%= user.id -%>&s_year=<%= @calendar_first_day.year -%>&s_month=<%= @calendar_first_day.month -%>" class="listsLink">一覧</a>
                  </span>
                </div>
              </div>
            </th>
            <% 7.times do |i| %>
            <%
            week_add_day = week_first_day + i
            class_str = create_month_class(week_add_day, @st_date, @holidays, params)

            %>
            <td class="<%= class_str -%>">
            <% @schedules.each_with_index do |schedule, j| %>
            <%
            schedule_id = "sche#{schedule.id}_#{i}_#{j}_#{user_cnt}"
            if schedule.date_between(week_add_day)
              participant = false
              schedule.schedule_users.each do |schedule_user|
                break if participant
                participant = schedule_user.uid == user.id
              end

              if participant
            %>

            <%= render(:partial => '/gw/admin/schedules/show_week_one',
              :locals=>{:schedule => schedule, :week_add_day => week_add_day, :schedule_id => schedule_id}) -%>

            <%
              end # participant
            end # date_between
            %>
            <% end %><!-- schedule End -->

            <% if user.id == Site.user.id %>
            <% @todos.each do |todo| %>
            <%
            if todo.ed_at.present? && todo.ed_at.to_date == week_add_day
            %>
              <div title="<%= create_todo_tooltip(todo, @ie) -%>" class="ind" id="todo<%= todo.id -%>">
                <a class="category800" href="/gw/todos/<%= todo.id -%>">
                  <%= todo.title -%>
                </a>
              </div>
            <% end %><%# if todo.ed_at.present? End %>
            <% end %><%# Todo End %>
            <% end %><%# if @user.id == Site.user.id End %>

            <% if @edit -%>
            <%= show_schedule_edit_icon(week_add_day, :uid=>user.id) -%>
            <% end -%>
            </td>

            <% end %><!-- 7 End -->
          <% end %><!-- user End -->
          </tr>
          <% if @users.length > 1 -%>
          <%= show_week_header -%>
          <% end -%>

          <% else -%>
          <%= show_notice -%>
          <% end %>

        </tbody>
      </table>
    </div>
    <div class="pieceBodyFooter">
      <%= render(:partial => '/gw/admin/schedules/schedule_footer', :locals=>{:d=>@st_date, :mode=>'week', :show_flg => @show_flg}) -%>
    </div>
  </div>
</div>

<%= raw(gw_js_ind_popup) -%>
<script type="text/javascript">
//<![CDATA[
  var my_load = function() {
    gw_js_ind_popup();
  }
  window.onload = my_load;
//]]>
</script>
