<%
@view = "day"
@dis = nz(params[:dis],'week')
link_params = "?gid=#{params[:gid]}&uid=#{Site.user.id}&cgid=#{params[:cgid]}&dis=#{@dis}"
# テーブル文 追加 matsuki 100420 end
%>


<div class="pieceBodyBody">
  <table summary="スケジュール詳細" class="scheduleTable">
    <tr>
      <th class="date">
      <% unless @st_date.blank? -%>
      <%= @st_date.strftime('%Y年%m月%d日') -%>(<%= Gw.weekday(@st_date.wday) -%>)
      <% end -%>
      </th>
      <th class="new">
<%=link_to(image_tag('/_common/themes/gw/files/smartphone/other/ic_add.gif', { :border => '0', :alt => '新規作成', :title => '新規作成', :class=>'menu_new'}),
   %Q(/gw/schedules/new?s_date=#{@st_date.strftime('%Y%m%d')}#{link_params}&topdate=#{@topdate})) unless @st_date.blank?%>
      </th>
    </tr>
<% for user in @users %>
  <%
  key = "user_#{user.id}"
  user_schedule = @user_schedules[key]
  %>
  <% if (params[:gid].blank? && params[:cgid].blank?) && user_schedule[:schedule_len] == 0 -%>
  <%= no_schedule_show_smartphone -%>
  <% else -%>
    <% if user_schedule[:schedule_len] > 0 -%>
    <tr>
      <td class="user" colspan="2">
        <%= user.display_name -%>
      </td>
    </tr>
    <% end -%>
    
    <% for schedule in user_schedule[:schedules] -%>
      <%
      public =  schedule.is_public_auth?(@is_gw_admin)
      %>
    <tr>
      <td class="<%= schedule.get_category_class -%>" colspan="2">
      <% if public -%>
        <% title = "#{schedule.show_time(@st_date, :smart_phone)}<br />#{schedule.title}" -%>
        <%= link_to raw(title), %Q(/gw/schedules/#{schedule.id}/show_one#{link_params}&topdate=#{@topdate}) -%>
      <% else -%>
      <span style="color: #999999;">[非公開予定]</span>
      <%end%>
      </td>
    </tr>
    <%end%>
  <%end%>
<%end%>
  </table>
</div>
