<%if @show_flg%>
<%
@format ||= schedule_settings["week_view_dayhead_format"]

uid = nz(params[:uid], Site.user.id)
link_params = "gid=#{params[:gid]}&uid=#{uid}&cgid=#{params[:cgid]}&dis=#{@dis}"
mode = 'week'
#uid = nz(params[:uid], Site.user.id)
#link_params = Gw.a_to_qs(["gid=#{params[:gid]}", "uid=#{uid}", "cgid=#{params[:cgid]}","dis=#{@dis}"])
@format = "%Y年%m月%d日（%_wd）"
@day_format= "%Y-%m-%d"
%>
<div class="pieceBodyBody"><table summary="スケジュール詳細" class="scheduleTable">
<%7.times { |i|
week_add_day = @st_date + i
date_class = create_month_class(week_add_day, @st_date, @holidays, params)
%>
<tr>
  <th class="date <%=date_class%>">
<%=link_to(%Q(#{date_format(@format, @st_date+i)}), %Q(/gw/schedules/#{(@st_date+i).strftime('%Y%m%d')}?#{link_params}&topdate=#{@topdate}))%>
  </th>
  <th class="new <%=date_class%>">
<%=link_to(image_tag('/_common/themes/gw/files/smartphone/other/ic_add.gif', { :border => '0', :alt => '新規作成', :title => '新規作成', :class=>'menu_new'}),
   %Q(/gw/schedules/new?s_date=#{(@st_date+i).strftime('%Y%m%d')}&#{link_params}&topdate=#{@topdate}))%>
  </th>
</tr>
<% @users.each do |user| -%>
<% if (params[:gid].present?) -%>
  <%= %Q(#{user.name}（#{user.code}）) -%><br />
<% end -%>
<%
  @schedules.each do |schedule|
    if schedule.date_between(week_add_day)
      if schedule.is_public_auth?(@is_gw_admin)
-%>

    <tr>
      <td class="<%= schedule.get_category_class -%> <%= date_class -%>" colspan="2">
        <%
        lnk_time_str = schedule.show_time(week_add_day, :smart_phone)
        %>
        <%= link_to raw("#{lnk_time_str}<br />#{schedule.title}") ,%Q(/gw/schedules/#{schedule.id}/show_one?#{link_params}&topdate=#{@topdate}) -%>
      </td>
    </tr>
      <% else -%><%# public else %>
    <tr>
      <td class="category0 <%= date_class -%>" colspan="2">
        <font style="color: #999999;">[非公開予定]</font>
      </td>
    </tr>
      <% end -%><%# public end %>
    <% end -%><%# date_between end %>
  <% end -%><%# @schedules.each end %>

  <% if user.id == Site.user.id -%>
  <% @todos.each do |todo| -%>
  <% if todo.ed_at.present? && todo.ed_at.to_date == week_add_day -%>
  <tr>
  <td class="category800 <%= date_class -%>" colspan="2">
    <span>[Todo] <%= todo.title -%></span>
  </td>
  </tr>
  <% end -%><%# todo.ed_at end %>
  <% end -%><%# @todos.each end %>
  <% end -%><%# if user.id == Site.user.id end -%>

  <% @holidays.each do |holiday| %>
  <% if holiday.st_at.present? && holiday.st_at.to_date == week_add_day %>
  <tr>
  <td class="<%= date_class -%>" colspan="2">
    <span class="textRed"><%=holiday.title%></span>
  </td>
  </tr>
  <% end -%><%# holiday.st_at end %>
  <% end -%><%# @holidays.each end %>

<% end -%><%# @users.each %>

<%}%>
</table>
</div>

<% else -%>
表示する項目はありません。
<% end -%>

