<%if @show_flg%>
<%
link_params = Gw.a_to_qs(["gid=#{params[:gid]}", "uid=#{@uid}", "cgid=#{params[:cgid]}","dis=#{@dis}"], {:no_entity => true})
@format = "%Y年%m月%d日（%_wd）"

@day_format= "%Y-%m-%d"
%>
<hr class="borderDash"/>
<p class="mobileSchedule"><%=link_to("新規作成", %Q(/gw/schedules/new#{link_params}&s_date=#{date_format(@link_format, @st_date)}))%></p>
<%=render(:partial => '/gw/admin/schedules/mobile_header')%>
<% 7.times { |i| %>
<%
week_add_day = @st_date + i
%>
└<%=link_to(%Q(#{date_format(@format, @st_date+i)}), %Q(/gw/schedules/#{(@st_date+i).strftime('%Y%m%d')}#{link_params}&topdate=#{@topdate}))%>
<br/>
<% @users.each do |user| %>
<% if (params[:gid].present?) -%>
  <%= %Q(#{user.name}（#{user.code}）) -%><br />
<% end -%>
<%
@schedules.each do |schedule|
if schedule.date_between(week_add_day)
%>
<div class="<%= schedule.get_category_class -%>">
<p class="leftPad1">
       <%= schedule.show_time(week_add_day, :mobile) %><br />
  <p class="leftPad1">
    <%if schedule.is_public_auth?(@is_gw_admin) %>
    &nbsp;&nbsp;<%= link_to (schedule.title) ,%Q(/gw/schedules/#{schedule.id}/show_one#{link_params}&topdate=#{@topdate}) -%>
    <% else -%>
    &nbsp;&nbsp;<font style="color: #999999;">[非公開予定]</font>
    <% end -%>
   </p>
</div>
<% end -%>
<% end -%>

<% if user.id == Site.user.id -%>
<% @todos.each do |todo| %>
<% if todo.ed_at.present? && todo.ed_at.to_date == week_add_day %>
<div class="category800">
<p class="leftPad1">
<span class="">
<%=todo.title%><br />
</span>
</p>
</div>
<% end -%><%# ed_at else %>
<% end -%><%# todo else %>
<% end -%><%# if user.id == Site.user.id end -%>

<% @holidays.each do |holiday| %>
<% if holiday.st_at.present? && holiday.st_at.to_date == week_add_day %>
<div class="">
<p class="leftPad1">
<span class="textRed">
<%=holiday.title%><br />
</span>
</p>
</div>
<% end -%><%# st_at else %>
<% end -%><%# holiday else %>
<% end -%>
<%}%>
<hr class="borderDash"/>
<p class="leftPad2"><%=link_to("<<次週", %Q(/gw/schedules/#{link_params}&s_date=#{date_format(@link_format, @st_date+7)}&dis=#{@dis}))%></p>
<p class="leftPad2"><%=link_to("先週>>", %Q(/gw/schedules/#{link_params}&s_date=#{date_format(@link_format, @st_date-7)}&dis=#{@dis}))%></p>

<% else -%>
表示する項目はありません。
<% end -%>

