<% # app/views/gw/admin/schedules/edit.html.erb
#concat render '/gw/admin/schedules/header'
schedule_prop = @item.schedule_prop
prop_id = ''
prop_name = ''
if !schedule_prop.blank? && (schedule_prop.prop_type == 'Gw::PropMeetingroom' || schedule_prop.prop_type == 'Gw::PropRentcar')
  if !schedule_prop.prop.blank?
    prop = schedule_prop.prop
    prop_id = prop.id
    prop_name = prop.name
  end
end

text_style = 'width:30em;'
if params[:item].blank?
  guide_place_id = @item.guide_place_id
  if nz(@item.guide_state, '0').to_i > 0
    guide_state_check = true
  else
    guide_state_check = false
  end
else
  guide_place_id = nz(params[:item][:guide_place_id], '0').to_i
  if nz(params[:item][:guide_state], '0').to_i > 0
    guide_state_check = true
  else
    guide_state_check = false
  end
end

#管財の名前、もしくは会議開催案内の場所を取得
if prop_id.blank?
  guide_place = ''
else
  if (nz(@item.guide_state, 0).to_i > 0)
    guide_place = @item.guide_place
  else
    meeting_guide_place = Gw::MeetingGuidePlace.find_by_prop_id(prop_id)
    if !meeting_guide_place.blank?
      guide_place = meeting_guide_place.place
    else
      guide_place = prop_name
    end
  end
end
select_index = -1
if !params[:prop_id].blank? && params[:s_genre] == 'meetingroom'
  _meeting_place = Gw::MeetingGuidePlace.where(:prop_id=>params[:prop_id])
  _meeting_place = []
  select_index = _meeting_place.blank? ? -1 : _meeting_place.id
end
%>
<div class="piece schedulePiece form">
  <div class="pieceHeader">
<%= render 'piece_header'%>
  </div>
  <div class="pieceBody">
    <div class="pieceBodyBody">
      <%= get_form_title_div params %>

      <% unless @reason.blank? %>
      <table class="show">
      <tbody><tr><td colspan="2"><span style="color:red; font-weight: bold"><%= @reason %></span></td>
      </tr></tbody></table>
      <% end %>
<%= form_for :item, :url => "/gw/schedules/#{@item.id}/edit_1#{@edit_params}", :html => {:method => :put, :multipart => true, :id => 'itemForm'} do |f| %>
  <%= f.error_messages %>
    <%= f.hidden_field :st_at, :value => @item.st_at %>
    <%= f.hidden_field :ed_at, :value => @item.ed_at %>
    <%= hidden_field_tag 'item[allday_radio_id]'  , @item.allday -%>
    <%= hidden_field_tag('item[updated_at]', 'now()') %>
    <%= hidden_field_tag('init[prop_id]', "#{prop_id}") %>
    <%#= hidden_field_tag('init[prop_name]', "#{prop_name}") %>

    <%= render '/gw/admin/schedules/form_participant', f: f %>
    <%
    help_links = Gw::Property::ScheduleHelpConfig.first_or_new.help_links
    %>

    <% if prop_id.blank? %>

      <table id="guide_table" class="show">
      <tr><th>会議等案内表示 <span class="help"><%=safe{help_links[1].html_safe} %></span><br /><%= required '（本庁舎1階モニターに表示）' %></th><td>
      <%= f.check_box(:guide_state, { :onclick=>'guide_state_onclick("click");'}, '1', '0') %>会議等案内システムに表示する<br />
      開催場所選択：<%= f.select(:guide_place_id, Gw::MeetingGuidePlace.place_for_select( nz(@item.guide_place_id, select_index).to_i ).html_safe ) %>
      　<%= f.check_box(:guide_ed_at, { }, '1', '0') %>終了時間を表示しない
      </td></tr>
      </table>

    <% end %>

    <%  if @is_pm_admin && !@item.schedule_prop.blank? && @item.schedule_prop.prop_type  != 'Gw::PropOther' %>
    <table class="show">
    <tr><th>管理者メモ</th><td>
    <%= form_text_area f, :admin_memo %>
    </td></tr>
    </table>
    <% end %>

    <%= submit_for_update(f, :caption => "確定する", :js_submitter => 'return my_submit();', :class=>:mockblock) %>

  <%#= render '/gw/admin/schedules/show_one', _item: @item %>

<%
  end
%>
    </div>
  </div>
</div>

<%= render 'form_script' %>

<script type="text/javascript">
//<![CDATA[

var prop_place_equal = function() {
  // 予約施設と予約場所が一致するかどうか確認
  prop_id = $('init_prop_id').value;
  var place = $('item_guide_place_id');
  place_id = place.options[place.selectedIndex].value;
  if (place_id == '0' || prop_id == '' || $('item_guide_state').checked == false) { // prop_id == '-1' は、会議室がなかったことになるため
    ret = true;
  } else {
    title_id = place.options[place.selectedIndex].title;
    ret = title_id == prop_id;
  }
  return ret;
}

var my_load = function() {

  my_load_core('user');
  <% if prop_id.blank? %>
  guide_state_onclick("load");
  <% end %>
  item_schedule_users_child_gid_true_false();

}
var my_submit = function() {
  var fr = $('item_schedule_users_add_buf');
  if (fr.options.length == 0) {
    alert('参加者が選択されていません。');
    return false;
  }

<% if @item.guide_state == 2 -%>
  if(window.confirm('確定すると，会議等案内表示の承認が取り消されます。よろしいですか？')){// 「OK」時の処理終了
  } else {
    return false;
  }
<% end -%>

  <% if prop_id.blank? %>
  if ($('item_guide_state').checked == true) {
    var guide_place_id = $('item_guide_place_id');
    guide_place = guide_place_id.options[guide_place_id.selectedIndex].text;
    place_value = guide_place_id.options[guide_place_id.selectedIndex].value;
    if (place_value == '') {
      alert('会議等案内システムで表示する開催場所が選択されていません。');
      return false;
    }
    if (place_value == '0') {
      confirm_str = '会議等案内システムで表示する開催場所に、' + '　「' + guide_place + '」　'+ 'が選択されています。\n開催場所は　「<%= @item.place -%>」　となっています。よろしいですか？';
    } else {
      confirm_str = '会議等案内システムで表示する開催場所に、' + '　「' + guide_place + '」　'+ 'が選択されています。よろしいですか？';
    }
    if(window.confirm(confirm_str)){// 「OK」時の処理終了
    } else {
      return false;
    }
  }
  <% end %>

  var ary = [];
  for (var i = 0; i < fr.options.length; i++)
    ary.push([fr[i].title, fr[i].value, fr[i].innerHTML]);
  var to = $('item_schedule_users_json');
  to.value = Object.toJSON(ary);
  fr.selectedIndex = -1; // fr の送信を抑止

  $('itemForm').submit();
}

<% if prop_id.blank? %>
var guide_state_onclick = function(action) {

  guide_state = $('item_guide_state');
  if (action == 'click' && guide_state.checked == true) {
    confirm_str = "この予定は，本庁舎1階の会議案内モニターに表示されます。よろしいですか？\n(本庁舎又は管財課管理の会議室で開催される予定のみチェックしてください)";
    if(window.confirm(confirm_str)){// 「OK」時の処理終了
    } else {
      guide_state.checked = false;
      return false;
    }
  }
  if (guide_state.checked == false) {
    // 場所のボックス有効化・無効化
    $('item_guide_place_id').disabled = true;
    $('item_guide_ed_at').disabled = true;
  } else {
    // 場所のボックス有効化・無効化
    $('item_guide_place_id').disabled = false;
    $('item_guide_ed_at').disabled = false;
  }
}
<% end %>

window.onload = my_load;
//]]>
</script>
