<div class="piece schedulePiece form">
<div class="pieceHeader">
<%= render '/gw/admin/schedules/piece_header' %>
</div>
<div class="pieceBody">
<div class="pieceBodyHeader">
  <%= render '/gw/admin/schedules/schedule_bt_box', d: Date.today, mode: 'form' %>
</div>
<div class="pieceBodyBody scheduleform">
<%= form_for :item, :url => "/gw/schedules/#{@item.id}#{"?ref=sh" if !params[:ref].blank?}&o=#{params[:o]}",
    :html => {method: :put, multipart: true, id: 'itemForm'} do |f| -%>
  <%= f.error_messages -%>
  <% if @prop_type && @prop_type.restricted == 1 %>
    <%= render 'form_restricted', f: f -%>
  <% else %>
    <%= render 'form', f: f -%>
  <% end %>
  <%=raw submit_for_update(f, :caption => "確定する" ,:js_submitter => 'return my_submit();', :class=>:mockblock) -%>
<% end %>
</div>
</div>
</div>
