
<div class="piece schedulePiece form">
  <div class="pieceHeader">
    <%= render(:partial => '/gw/admin/schedules/piece_header') %>
  </div>
  <div class="pieceBody">
    <div class="pieceBodyHeader">
      <%= raw(render(:partial => '/gw/admin/schedules/schedule_bt_box', :locals=>{:d=>Date.today, :mode=>'form'})) %>
    </div>
    <div class="pieceBodyBody scheduleform">
      <%= form_for :item, :url => "/gw/schedules/#{@item.id}#{"?ref=sh" if !params[:ref].blank?}&o=#{params[:o]}", 
        :html => {:method => :put, :multipart => true, :id => 'itemForm'} do |f| -%>
      
      <%= f.error_messages -%>
      <%= render(:partial => 'form', :locals => {:f => f}) -%>
      <%= raw(submit_for_update(f, :caption => "確定する" ,:js_submitter => 'my_submit()', :class=>:mockblock)) -%>
      <% end %>
    </div>
  </div>
</div>