<div class="piece schedulePiece weekview">
<div class="pieceHeader">
  <%= render '/gw/admin/schedules/piece_header', d: @st_date, mode: 'week' -%>
</div>
<div class="pieceBody">
<div class="pieceBodyHeader">
  <%= render '/gw/admin/schedules/schedule_header', d: @st_date, mode: 'week' -%>
</div>
<div class="pieceBodyBody">
<% if @is_ev_admin || @is_csv_put_user %>
  <div class="functionBox">
    <%= link_to "CSV出力", "/gw/schedules/event_week.csv?s_date=#{@st_date.strftime('%Y%m%d')}" %>
  </div>
<% end %>
<% if @show_flg %>
  <%= render '/gw/admin/schedules/event_week_part' %>
<% else %>
  <%= show_notice %>
<% end %>
</div>
<div class="pieceBodyFooter">
  <%= render '/gw/admin/schedules/schedule_footer', d: @st_date, mode: 'week' %>
</div>
</div>
</div>
