<% link_params = Gw.a_to_qs(["gid=#{params[:gid]}", "uid=#{Core.user.id}", "cgid=#{params[:cgid]}","dis=#{@dis}"]) %>

<div id="schedule_part">
<%= render '/gw/admin/schedules/smartphone_header' %>
<%= render '/gw/admin/schedules/schedule_line_box', d: @st_date, mode: 'week', move_mode: :header %>
<% if params[:gid].blank? %>
  <% if params[:cgid].blank? %>
    <% if @dis=="day" %>
      <%= render '/gw/admin/schedules/show_days' %>
    <% elsif @dis=="week" %>
      <%= render '/gw/admin/schedules/show_week', link_params: link_params %>
    <% else %>
      <%= render '/gw/admin/schedules/show_week', link_params: link_params %>
    <% end %>
  <% else %>
  <%= render '/gw/admin/schedules/show_days' %>
  <% end %>
<% else %>
<%= render '/gw/admin/schedules/show_days' %>
<% end %>
<%= render '/gw/admin/schedules/schedule_line_box', d: @st_date, mode: 'week', move_mode: :footer %>
</div><!--schedule_part-->
