<%
u = Site.user
uid = u.id
link_params = "?gid=#{params[:gid]}&uid=#{uid}&cgid=#{params[:cgid]}&dis=#{@dis}"
schedule_users_select_path = list_gw_mobile_schedules_path({:gid=>params[:gid],:uid=>params[:uid],:cgid=>params[:cgid],:dis=>@dis,:view=>"quote",:link=>params[:link],:memo_id=>@item.id})

@create_path = gw_schedules_path({:gid=>params[:gid],:uid=>params[:uid],:cgid=>params[:cgid],:dis=>@dis})
@create_path.concat %Q(&s_date=#{params[:s_date].to_s}sh=#{params[:sh].to_s}&prop_id=#{params[:prop_id].to_s}&s_genre=#{params[:s_genre].to_s})
s_date = nil
s_date = Gw.date8_to_date params['s_date'] unless params['s_date'].blank?
@st_date = nz(s_date, Time.now)
%>
<div id="schedule_part">
<%=render(:partial => '/gw/admin/schedules/smartphone_header')%>
<%= form_for :item, :url =>@create_path , :html => { :id => 'itemForm'} do |f|%>
<%=f.error_messages%>
<div class="userSelect">
<%=link_to image_tag("/_common/themes/gw/files/smartphone/btn/ic_act_sanka-userchoice.gif"), schedule_users_select_path%>
<span class="textRed">最低1人、10人まで</span>
</div>
<%=render(:partial => 'form', :locals => {:f => f})%>
<%=submit_for_create f, :caption=>"登録する"%>
<%end%>
<p class="leftPad2">
<%=link_to("<戻る", %Q(/gw/schedules/#{link_params}&st_date=#{@topdate}))%>
</p>
</div><!--schedule_part-->