<%wdays = ["日", "月", "火", "水", "木", "金", "土"]
link_params = "&gid=#{params[:gid]}&uid=#{Site.user.id}&cgid=#{params[:cgid]}&dis=#{@dis}"
%>
<hr class="borderDash"/>
<p class="mobileSchedule"><%=link_to("新規作成", %Q(/gw/schedules/new?s_date=#{date_format(@link_format, @st_date)}#{link_params}))%></p>
<%=render(:partial => '/gw/admin/schedules/mobile_header')%>
<p class="bgYellow"><%=@st_date.strftime('%Y年%m月%d日') unless @st_date.blank?%>(<%=wdays[@st_date.wday]%>)</p>
<% # app/views/gw/admin/schedules/show.html.erb
concat render(:partial => '/gw/admin/schedules/show_day_mobile')
%>
<hr />
<p class="leftPad2"><%=link_to("<戻る", %Q(/gw/schedules/?s_date=#{@topdate}#{link_params}))%></p>
