<%
uid = Core.user.id
link_params = Gw.a_to_qs(["gid=#{params[:gid]}", "uid=#{uid}", "cgid=#{params[:cgid]}","dis=#{@dis}"])
if @item.st_at.blank?
  link_d = Time.now
else
  link_d = @item.st_at
end
@st_date = link_d

dts = @item.st_at.to_datetime
dte = @item.ed_at.to_datetime
%>
<div id="schedule_part">
<%= render '/gw/admin/schedules/smartphone_header' %>

<table class="show">
  <tr>
    <th class="date">
    <% if @item.todo == 1 && @item.schedule_todo %>
      <% if @item.schedule_todo.todo_st_at_id.to_i == 2 %>
        <% if @item.schedule_todo.todo_ed_at_id.to_i != 2 %>
          <%=l @item.ed_at, format: :date_wday2_ja if @item.ed_at %>
        <% end %>
      <% else %>
        <%=l @item.st_at, format: :date_wday2_ja if @item.st_at %>
      <% end %>
    <% else %>
      <%=l @item.st_at, format: :date_wday2_ja if @item.st_at %>
    <% end %>
    </th>
    <th class="new">
      <%= link_to "/gw/schedules/new?s_date=#{link_d.strftime('%Y%m%d')}#{link_params}&topdate=#{@topdate}" do %>
        <%= image_tag '/_common/themes/gw/files/smartphone/other/ic_add.gif', border: '0', alt: '新規作成', title: '新規作成', class: 'menu_new' %>
      <% end %>
    </th>
  </tr>
  <%
  # 開始日時、終了日時の文字列
  if @item.allday.blank?
    st_at_s = dts.strftime('%H:%M')
    ed_at_s = dte.strftime('%H:%M')
    time_str =  "#{st_at_s}-#{ed_at_s}"
    if dts.to_date != dte.to_date
      time_str.concat "（終了日：#{@item.ed_at.strftime('%Y年%m月%d日')}）"
    end
  elsif @item.allday == 1
    st_at_s = "時間未定"
    ed_at_s = "時間未定"
    time_str = st_at_s
  elsif @item.allday == 2
    st_at_s = "終日"
    ed_at_s = "終日"
    time_str = st_at_s
  end
  # Todo
  if @item.todo == 1 && @item.schedule_todo
    # 開始日時
    if @item.schedule_todo.todo_st_at_id == 1
      st_at_s = st_at_s
    elsif @item.schedule_todo.todo_st_at_id == 2
      st_at_s = '期限なし'
    end
    # 終了日時
    if @item.schedule_todo.todo_ed_at_id.to_i == 0
      ed_at_s = dte.strftime('%H:%M')
    elsif @item.schedule_todo.todo_ed_at_id.to_i == 1
      ed_at_s = "終日"
    elsif @item.schedule_todo.todo_ed_at_id.to_i == 2
      ed_at_s = '期限なし'
    end
    time_str = ed_at_s
  end
  destroy_confirm_s = '削除してよろしいですか？'
  if @item.schedule_users.any? {|su| su.uid != Core.user.id }
    destroy_confirm_s = "この予定は、複数の参加者が登録されています。この予定は、参加者全員のスケジューラーからも削除されます。#{destroy_confirm_s}"
  end
  if @item.repeated?
    destroy_confirm_repeated_s = "\nなお、繰り返し期間に属している場合、その繰り返しに属する全ての予定が削除されますので、ご注意ください。"
  else
    destroy_confirm_repeated_s = ""
  end
  %>
  <tr>
    <td class="<%= "category#{@item.title_category_id.to_i}" if @item.title_category_id.present? %>" colspan="2">
      <%= time_str %>
    </td>
  </tr>
  <tr>
    <td class="<%= "category#{@item.title_category_id.to_i}" if @item.title_category_id.present? %>" colspan="2">
      <%= @item.title_with_category %>
    </td>
  </tr>
</table>

<div class="editingBox">
  <% if @item.schedule_props.present? %>
    <p class="textRed">施設を予約した予定は、編集・削除を行うことができません。</p>
  <% else %>
    <% if @auth_level[:edit_level] == 1 %>
      <span class="btEdit"><%= link_to '編集', "/gw/schedules/#{@item.id}/edit" %></span>
    <% end %>
    <% if @item.is_quotable? %>
      <span class="btQuote"><%= link_to '引用作成', "/gw/schedules/#{@item.id}/quote?sh=#{params[:sh]}" %></span>
    <% end %>
    <% if @auth_level[:delete_level] == 1 %>
      <span class="btDestroy"><%= link_to "削除", gw_schedule_path(@item, dis: params[:dis], gid: params[:gid], cgid: params[:cgid], s_date: params[:s_date]), method: :delete, confirm: destroy_confirm_s %></span>
      <% if @item.repeated? %>
        <span class="btRDestroy"><%= link_to "繰返一括削除", destroy_repeat_gw_schedule_path(@item, dis: params[:dis], gid: params[:gid], cgid: params[:cgid], s_date: params[:s_date]), method: :get, confirm: "#{destroy_confirm_s}#{destroy_confirm_repeated_s}" %></span>
      <% end %>
    <% end %>
    <% if @item.todo == 1 && @item.schedule_todo && (@is_gw_admin || @item.is_creator_or_participant?(Core.user)) %>
      <% unless @item.schedule_todo.is_finished? %>
        <span class="btFinish"><%= link_to '完了する', "/gw/schedule_todos/#{@item.schedule_todo.id}/finish?link=show_one&topdate=#{@topdate}" %></span>
      <% else %>
        <span class="btUnfinish"><%= link_to '未完了に戻す', "/gw/schedule_todos/#{@item.schedule_todo.id}/finish?link=show_one&topdate=#{@topdate}" %></span>
      <% end %>
    <% end %>
  <% end %>
</div>

<table class="show">
  <tr><th>場所</th><td><%=hbr @item.place%></td></tr>
  <tr><th>メモ</th><td><%=hbr @item.memo %></td></tr>
  <tr>
    <th>添付ファイル</th>
    <td>
      <%= render 'gw/admin/files/attachments/file_list'%>
    </td>
  </tr>
  <tr><th>公開</th><td><%= @item.is_public_label %></td></tr>
  <% if @item.is_public == 2 %>
    <tr><th>公開所属</th><td><%=raw Gw.join([@item.public_groups_display], '<br />') %></td></tr>
  <% end %>
</table>

<%= render '/gw/admin/schedules/show_participant', item: @item %>

<table class="show">
  <tr><th colspan="2">施設</th></tr>
  <% @item.schedule_props.each do |sp| %>
    <% if prop = sp.prop %>
      <tr>
        <th><%= prop.prop_type.name if prop.prop_type -%></th>
        <td><%= prop.name -%></td>
      </tr>
    <% end %>
  <% end %>
</table>

<%
if params[:gid].blank?
  link_str = "/gw/schedules/#{@item.st_at.strftime('%Y%m%d')}#{link_params}&topdate=#{@topdate}"
else
  link_str = "/gw/schedules/#{@item.st_at.strftime('%Y%m%d')}#{link_params}&topdate=#{@topdate}"
end
%>
<p class="leftPad2"><%= link_to "<戻る", link_str %></p>

<% if @dis == "week" %>
<p class="leftPad2">
  <%= link_to "<<週表示へ", "/gw/schedules/#{link_params}&st_date=#{@topdate}" %>
</p>
<% end %>
</div><!--schedule_part-->
