<div class="bbsDocList circular">
<%= render :partial => 'piece_header', :locals => {:hide_new_action => true} %>
<%= render :partial => 'piece_banner' %>

<div class="pieceBody">

<%= form_for :item, :url => "/gwcircular/custom_groups/#{@item.id}", :html => {:method => :put, :multipart => true, :id => 'itemForm'} do |f| %>

<%= f.error_messages %>
<%= render :partial => 'form', :locals => {:f => f} %>

<div class="submitters">
<%= raw(submit_for_update(f, :js_submitter => "my_submit()",:caption => '登録する')) %>
</div>

<% end %>

</div><!--pieceBody-->
</div><!--bbsDocList circular-->
