<div class="bbsDocList circular">
<%= render 'piece_header' %>
<%= render 'piece_banner' %>

<div class="pieceBody">
<%= form_tag url_for(action: :sort_update), {method: :put} do %>
  <%= hidden_field_tag :page, params[:page] if params[:page].present? %>
  <%= hidden_field_tag :limit, params[:limit] if params[:limit].present? %>
  <%= unique_error_messages_for @items %>
  <table class="index">
  <colgroup style="width:100px;"></colgroup>
  <colgroup class="name"></colgroup>
  <colgroup style="width:200px;"></colgroup>
  <colgroup style="width:100px;"></colgroup>
  <colgroup style="width:80px;"></colgroup>
  <colgroup style="width:80px;"></colgroup>
  <tr>
    <th>並び順<input id="item_submit" name="commit" type="submit" value="更新" /></th>
    <th>名称</th>
    <th>最終更新日時</th>
    <th>状態</th>
    <th></th>
    <th></th>
  </tr>
  <% @items.each do |item| %>
    <%= fields_for 'items[]', item do |f| %>
      <tr>
        <td><%= item.sort_prefix %>&nbsp;<%= f.text_field :sort_no, class: 'string sort_no', style: 'width: 40px;', size: 5, maxlength: 4 %></td>
        <td><%= item.name %></td>
        <td><%=l item.updated_at if item.updated_at %></td>
        <td><%= item.state == 'enabled' ? '有効' : '無効' %></td>
        <td><%= link_to_edit item.id %></td>
        <td><%= link_to_destroy item.id %></td>
      </tr>
    <% end %>
  <% end %>
</table>

<% end %>

<%= paginate @items %>
<!--戻るボタン-->
<div class="btReturn">
  <%=link_to '回覧板 機能設定へ戻る', "/gwcircular/settings" %>
</div>

</div><!--pieceBody-->
</div><!--bbsDocList circular-->
