<% _path = '/_common/modules/gwfaq/'%>
<%
if @item.blank?
mce_base_url = ''
else
mce_base_url = _path + sprintf("%06d", @item.title_id) + '/' + @item.name + "/" unless @item.name.blank?
end
%>
<%= tool_tiny_mce(mce_base_url, {:leftbar_mode=>true}) %>

<%= required_head %>

<table class="show">
<tr>
<th>記事管理課<%= required('※') %></th>
<td>
<%= f.select(:section_code, Gwboard::Group.level3_all.collect{|i|
[i.name, i.code]}, :include_blank => '記事の管理課を選択してください') %>
</td>
</tr>
</table>

<%if @title.category == 1 %>
<table class="show">
<tr>
<th>
<%= @title.category1_name unless @title.category1_name.blank? %><%= required('※') %>
</th>
<td>
<%= f.select(:category1_id, @categories1.collect{|i|
[i.name, i.id]}, :include_blank => '分類を選択してください') %>
</td>
</tr>
</table>
<%end%>

<table class="show">
<tr>
<th>質問<%= required('※') %></th></tr><tr>
<td><%= f.text_area :title, :cols => '140', :rows=>"2", :style => 'width:100%; height:45px'%></td>
</tr>
</table>

<table class="show">
<tr>
<th>回答</th></tr><tr>
<td class="mceEditor"><%= f.text_area :body, :class => 'mceEditor', :style => 'width:100%' %></td>
</tr>
</table>

<script type="text/javascript">
//<![CDATA[
function chageDisp(obj,changeObjId) {
var display = document.getElementById(changeObjId).style.display;
if (display == '') {
obj.innerHTML = '開く▼';
} else if (display == 'none') {
obj.innerHTML = '閉じる▲';
}
Element.toggle($(changeObjId));
}
//]]>
</script>

<%if attach_use_old%>
  <%=gwboard_image_form(f, @item, 'item_body')%>
  <%=gwboard_attach_form(f, @item)%>
<%else%>
  <%=gwboard_attachments_form(f, @item)%>
<%end%>
