<table class="index">
  <tr class="headIndex">
    <th class="docTitle">記事タイトル</th>
    <th class="category"><%= @title.category1_name %></th>
    <th class="update">最終更新日時</th>
  </tr>
  <% brk_key = nil %>
  <% @items.each do |item| %>
    <% if brk_key != item.section_code %>
    <tr class="subIndex">
      <th class="docTitle"><%= item.section_name %></th>
      <th class="category"></th>
      <th class="update"></th>
    </tr>
    <% end %>
    <tr class="<%= cycle 'article', 'article cycle' %>">
      <td class="doctitle"><%= link_to hbr(item.title), gwfaq_doc_path(item, title_id: item.title_id) + "&grp=#{params[:grp]}" + gwfaq_params_set %></td>
      <td class="category"><%= item.category.try(:name) %></td>
      <td class="update"><%=l item.latest_updated_at if item.latest_updated_at %></td>
    </tr>
    <% brk_key = item.section_code %>
  <% end %>
</table>
