<%
#medias = Gwsub::Sb05MediaType.select_dd_media_id( nil )
cat_medias = Gwsub::Sb05MediaType.select_dd_media_group(nil,'code')
location = "/gwsub/sb05/sb05_desired_dates/making"
%>
<div class="gwsub sb05">
<%= render 'gwsub/admin/sb05/sb05_piece_header' %>
<div class="pieceBanner">
<%= render 'gwsub/admin/sb05/sb05_desired_dates/menu' %>
</div>
<div class="pieceBody">

<div class="titleLine">
<p class="title">掲載日　一括設定</p>
</div>
<div class="explain">
<span style="color:blue">
媒体に対応した掲載予定日を、指定期間の範囲で一括登録します。
</span>
</div>
<%= form_tag location, {:method=>:post , :multipart => true} do %>
<%= hidden_field_tag('item[opt]','make') %>
<table class="show">
  <tr>
    <th></th>
    <td>登録条件を選択して実行してください</td>
  </tr>
  <tr>
    <th>媒体</th>
    <td><%= select_tag( 'item[m_cd]',options_for_select( cat_medias ,@media.media_code )) %></td>
  </tr>
  <tr>
    <th>週</th>
    <td><%= check_box_tags 'item[chks1]', Gw.yaml_to_array_for_select('gwsub_sb05_desired_dates_monthly_checkboxes', :sort_by => nil) %></td>
  </tr>
  <tr>
    <th>曜日</th>
    <td><%= check_box_tags 'item[chks2]', Gw.yaml_to_array_for_select('gwsub_sb05_desired_dates_weekday_checkboxes', :sort_by => nil) %></td>
  </tr>
  <tr>
    <th>期間開始日</th>
    <td><%= text_field_tag 'item[range_start_at]', '', :class => 'datepicker' %></td>
  </tr>
  <tr>
    <th>期間終了日</th>
    <td><%= text_field_tag 'item[range_end_at]', '', :class => 'datepicker' %></td>
  </tr>
</table>
<%= submit_tag '一括設定' %>
<% end %>
</div>
</div>
