<%
options= {  'table_name' => 'gwsub_sb05_desired_dates'}
%>

<div class="gwsub sb05">
<%= render 'gwsub/admin/sb05/sb05_piece_header' %>
<div class="pieceBanner">
<%= render 'gwsub/admin/sb05/sb05_desired_dates/menu' %>
</div>
<div class="pieceBody">

<div class="editingBox">
  <span class="btEdit"><%= link_to_edit     @item.id  %></span>
  <span class="btDestroy"><%= link_to_destroy  @item.id  %></span>
</div>

<table class="show">
  <tr>
    <th>媒体</th>
    <td><%= safe{@item.m_rel.media_name}%></td>
  </tr>
  <tr>
    <th>掲載日</th><td><%=safe{Gw.date_str(@item.desired_at)}%></td>
  </tr>
  <tr>
    <th>曜日</th>
    <td><%=safe{@item.select_weekday_show}%></td>
  </tr>
  <tr>
    <th>週</th>
    <td><%=safe{@item.select_monthly_show}%></td>
  </tr>
  <tr>
    <th>編集期限</th>
    <td><%=Gw.datetime_str(@item.edit_limit_at)%></td>
  </tr>
</table>


<%#= render 'gwsub/admin/sb05/sb05_common_info_show' %>
</div>
</div>
