<%= f.error_messages %>
<%= required_head %>

<table class="show">
<tr>
<th>媒体区分<%= required %></th>
<td><%= f.text_field :kind  ,:size=>80 ,:class=>'name'  %>※50文字以内</td>
</tr>
<tr>
<th>名称<%= required %></th>
<td><%= f.text_field :name  ,:size=>80 ,:class=>'name' %>※50文字以内</td>
</tr>
<tr>
<th>表示順<%= required %></th>
<td><%= f.text_field :sort_order      ,:class=>'num'  %>※半角数字５桁以内</td>
</tr>
</table>
<br />
<div class="preserve">
<%= f.submit '保存' %>
</div>
<br />
