<%
# リンク先url
l01 = url_for(action: :index)
l02 = url_for(action: :new)
l03 = url_for(action: :csvput)
l04 = url_for(action: :csvup)
l05 = "/gwsub/sb13/externalmedias/admin_index?sort=E&usage=s"
# メニュータイトル
t01 =%Q(<span>一覧</span>)
t02 =%Q(<span>登録</span>)
t03 =%Q(<span>CSV出力</span>)
t04 =%Q(<span>CSV登録</span>)
t05 =%Q(<span>管理者メニューへ戻る</span>)
# 選択位置判定
case @l4_current
when '01'
  t01 =%Q(<span class="gwsub_current_menu">一覧</span>)
when '02'
  t02 =%Q(<span class="gwsub_current_menu">登録</span>)
when '03'
  t03 =%Q(<span class="gwsub_current_menu">CSV出力</span>)
when '04'
  t04 =%Q(<span class="gwsub_current_menu">CSV登録</span>)
else
end
%>
<div class="menu">
<%= link_to t01.html_safe, l01 -%>
<%= link_to t02.html_safe, l02 -%>
<%= link_to t03.html_safe, l03 -%>
<%= link_to t04.html_safe, l04 -%>
<%= link_to t05.html_safe, l05 -%>
</div>
