<div class="gwsub sb09">
<div class="pieceHeader">
<h2>その他の外部記録媒体登録管理台帳</h2>
</div>
<div class="pieceBanner">
<%= render 'header' %>
</div>
<div class="pieceBody">
<%= render 'display_name' %>

<div class="explain">
<h4>ＣＳＶ登録</h4>
  <span>登録対象ＣＳＶファイルを指定して実行してください</span><br />
  <span style="color:red">登録済データを、すべて削除し、新規登録となります。</span>
  <%= error_messages_for @item %>
</div>
<%= form_for :item, url: url_for(action: :csvup), html: {method: :post, multipart: true} do |f| %>
  <table class="show">
    <tr>
      <th>文字コード</th>
      <td><%= f.radio_buttons :encoding, @item.encoding_options %></td>
    </tr>
    <tr>
      <th>対象ファイル</th>
      <td><%= f.file_field :file, :size => 60, :accept => 'text/csv' %></td>
    </tr>
  </table>
  <br />
  <div class="submitters">
    <%= f.submit 'CSV登録' %>
  </div>
<% end %>
<br />

</div>
</div>
