<div class="gwsub sb09">
<div class="pieceHeader">
<h2>その他の外部記録媒体登録管理台帳</h2>
</div>
<div class="pieceBanner">
<%= render 'header' %>
</div>
<div class="pieceBody">
<%= render 'display_name' %>
<%= render 'gwsub/admin/search' %>

<table class="index">
<colgroup class="action"></colgroup>
<colgroup class="sort_order_int"></colgroup>
<colgroup class="kind"></colgroup>
<colgroup class="name"></colgroup>
<tbody>
<tr><th></th><th>表示順</th><th>媒体区分</th><th>名称</th>  </tr>

<% @items.each do |item| %>
 <tr class="<%= cycle 'article', 'article cycle' %>">
 <td><%= link_to('詳細',item.show_path) %></td>
 <td><%= item.sort_order %></td>
 <td><%= item.kind %></td>
 <td><%= item.name %></td>
 </tr>
<% end %>
</tbody>
</table>

</div>
</div>
