<div class="gwsub sb09">
<div class="pieceHeader">
<h2>その他の外部記録媒体登録管理台帳</h2>
</div>
<div class="pieceBanner">
<%= render 'header' %>
</div>
<div class="pieceBody">
<%= render 'display_name' %>

<div class="showMenu">
  <%= link_to '編集', {action: :edit} %>
  <%= link_to '削除', {action: :destroy}, confirm: '削除してよろしいですか？', method: :delete %>
</div>

<table class="show">
<tr>
  <th><%= @item.locale :kind %></th>
  <td><%= @item.kind %></td>
</tr>
<tr>
  <th><%= @item.locale :name %></th>
  <td><%= @item.name %></td>
</tr>
<tr>
  <th><%= @item.locale :sort_order %></th>
  <td><%= @item.sort_order %></td>
</tr>
</table>

<br />
</div>
</div>
