<%
  _form_id = 'item_body'  #デフォルト値
  _form_id = params[:form_id].to_s unless params[:form_id].blank?
%>
<%= form_for :item, :url => {:action => :create, :system => params[:system],:title_id => params[:title_id]}, :html => {:multipart => true} do |f| %>
  <%= raw(@capacity_message) %>
  <% unless @disk_full %>
    <p>
    <label for="item">ファイル指定::</label>
    <%= f.file_field :upload%><%= submit_tag 'ファイルを登録する' %>
    <%= raw(@max_file_message) %>
    </p>
  <% end %>
  <%= div_notice %>
  <input type="hidden" name="system" value='<%="#{params[:system]}"%>' />
  <input type="hidden" name="title_id" value='<%="#{params[:title_id]}"%>' />
<% end -%>

<hr />

<script type="text/javascript">
//<![CDATA[
  function mceInsertContent(value) {
    parent.tinyMCE.execInstanceCommand('<%= _form_id %>', 'mceInsertContent', true, value);
  }

  function selectAction() {
    var filesForm = document.filesForm;
    var selectFile;
    for (var i=0; i<filesForm.elements.s_item.length; i++) {
      if (filesForm.elements.s_item[i].checked == true) {
        var element = document.getElementById("link_attach" + filesForm.elements.s_item[i].value);
        alert(element.getAttribute("onclick"));
      }
    }
  }
//]]>
</script>

<table class="list">
<tr>
  <th style="width: 25px; text-align: center;"></th>
  <th style="text-align: left;">ファイル名</th>
  <th style="width: 120px; text-align: center;">サイズ（幅x高さ）</th>
  <th style="width: 40px; text-align: center;">添付</th>
  <th style="width: 60px; text-align: center;">画像貼付</th>
  <th style="width: 40px; text-align: center;">削除</th>
</tr>
<% for item in @items %>
<tr>
  <% if item.is_image %>
    <td style="text-align: center;"><img src="<%= item.file_uri(params[:system]) %>" style="<%= item.gwbd_reduced_size(:width => 80, :height => 40, :output => :css) %>" alt= ''/></td>
  <% else %>
    <td><%= link_to '', item.file_uri(params[:system]), :class => item.icon_type, :target => '_blank' %></td>
  <% end %>
  <td>
  <% if item.is_image %>
    <%= link_to "#{item.filename} (#{item.eng_unit})", item.file_uri(params[:system]), :target => '_blank' %>
  <% else %>
    <%= link_to "#{item.filename} (#{item.eng_unit})", item.file_uri(params[:system]) %>
  <% end %>
  </td>
  <td style="text-align: center;"><%= item.eng_unit %><%=raw item.graphic_size %></td>
  <td style="text-align: center;">
    <% content = link_to "#{item.filename} (#{item.eng_unit})", item.file_uri(params[:system]), :class => item.icon_type %>
    <%= link_to '添付', '#', :id => "link_attach#{item.id}", :onclick => "mceInsertContent('#{escape_javascript(content)}'); return false;" %>
  </td>
  <td style="text-align: center;">
  <% if item.is_image %>
    <%
      if item.is_big_width
        if @title.system_name == 'doclibrary'
          #書庫のみ画像幅680pc
          rst = item.regulate_size(700)
        else
          rst = item.regulate_size
        end
        content = %Q(<img src="#{item.file_uri(params[:system])}" alt="#{item.filename}" height="#{rst[:height]}" width="#{rst[:width]}" />)
      else
        content = %Q(<img src="#{item.file_uri(params[:system])}" alt="#{item.filename}" />)
      end
    %>
    <a href="#" onclick="mceInsertContent('<%=escape_javascript content %>'); return false;">貼付</a>
  <% end %>
  </td>
  <td style="width: 30px; text-align: center;">
    <%= link_to '削除', {:action => :destroy, :id => item, :system => params[:system], :title_id => item.title_id}, :confirm => '削除してよろしいですか？', :method => :delete %>
  </td>
</tr>
<% end %>
</table>