<%
  wiki_state = false
  wiki_state = true if params[:wiki] == "1"
  _form_id = 'item_body'  #デフォルト値
  _form_id = params[:form_id].to_s unless params[:form_id].blank?
%>
<%= form_for :item, :url => {:action => :create, :wiki => params[:wiki], :system => params[:system], :title_id => params[:title_id]}, :html => {:multipart => true, :name => 'itemForm'} do |f| %>
  <%= f.error_messages %>
  <%- if @title.upload_graphic_file_size_full? -%>
    <div style="color: red;">
      <%= @title.upload_graphic_file_size_capacity_message %><br />
      <span>制限を超過しています。不要なファイルを削除するか、管理者にご連絡ください。</span>
    </div>
  <%- else -%>
    <div><%= @title.upload_graphic_file_size_capacity_message %></div>
  <%- end -%>
  <%- if @title.upload_document_file_size_full? -%>
    <div style="color: red;">
      <%= @title.upload_document_file_size_capacity_message %><br />
      <span>制限を超過しています。不要なファイルを削除するか、管理者にご連絡ください。</span>
    </div>
  <%- else -%>
    <div><%= @title.upload_document_file_size_capacity_message %></div>
  <%- end -%>
  <% unless @title.upload_file_size_full? %>
    <p>
    <label for="item">ファイル指定::</label>
    <%= f.file_field :upload %>
    <%= submit_tag 'ファイルを登録する', :type => 'button', :onclick => "check_extension()" %><br />
    <%= @title.upload_graphic_file_size_max_message %>
    <%= @title.upload_document_file_size_max_message %>
    </p>
  <% end %>
  <input type="hidden" name="system" value='<%="#{params[:system]}"%>' />
  <input type="hidden" name="title_id" value='<%="#{params[:title_id]}"%>' />
<% end -%>

<hr />

<script type="text/javascript">
//<![CDATA[
  function mceInsertContent(value) {
    parent.tinyMCE.execInstanceCommand('<%= _form_id %>', 'mceInsertContent', true, value);
  }

  function selectAction() {
    var filesForm = document.filesForm;
    var selectFile;
    for (var i=0; i<filesForm.elements.s_item.length; i++) {
      if (filesForm.elements.s_item[i].checked == true) {
        var element = document.getElementById("link_attach" + filesForm.elements.s_item[i].value);
        alert(element.getAttribute("onclick"));
      }
    }
  }

  function check_extension() {
    <% if (extensions = Gw::AdminCheckExtension.enabled_extensions).size > 0 %>
    var filename = document.getElementById("item_upload").value;
    if (filename.match(/\.(<%= extensions.join('|') -%>)$/i)) {
      if (!window.confirm('<%=t 'gw.admin.admin_check_extensions.messages.extension_warning' -%>')) {
        return false;
      }
    }
    <% end %>
    document.itemForm.submit();
  }

  function wikiInsert(text){
    parent.wiki_attach_insert(text);
  }

//]]>
</script>

<table class="list">
<tr>
  <th style="width: 25px; text-align: center;"></th>
  <th style="text-align: left;">ファイル名</th>
  <th style="width: 120px; text-align: center;">サイズ（幅x高さ）</th>
  <th style="width: 40px; text-align: center;">添付</th>
  <th style="width: 60px; text-align: center;">画像貼付</th>
  <th style="width: 40px; text-align: center;">削除</th>
</tr>
<% @items.each do |item| %>
<tr>
  <% if item.is_image %>
    <td style="text-align: center;"><img src="<%= item.file_uri(params[:system]) %>" style="<%= item.reduced_size(:width => 80, :height => 40, :output => :css) %>" alt= ''/></td>
  <% else %>
    <td><%= link_to '', item.file_uri(params[:system]), :class => item.icon_type, :target => '_blank' %></td>
  <% end %>
  <td>
  <% if item.is_image %>
    <%= link_to "#{item.filename} (#{item.eng_unit})", item.file_uri(params[:system]), :target => '_blank' %>
  <% else %>
    <%= link_to "#{item.filename} (#{item.eng_unit})", item.file_uri(params[:system]) %>
  <% end %>
  </td>
  <td style="text-align: center;"><%= item.eng_unit %><br /><%= item.graphic_size_label %></td>
  <td style="text-align: center;">
   <%
   if wiki_state == true
     attach_onclick = "wikiInsert('<UN>>" + '\n' + "<a href=" + item.file_uri(params[:system]) + " class=\"" + item.icon_type + "\">" + %Q[#{item.filename} (#{item.eng_unit})] + "</a>" + '\n' + "<<UN>'); return false;"
   else
     attach_onclick = "mceInsertContent('<a href=\"" + item.file_uri(params[:system]) + "\" class=\"" + item.icon_type + "\">" + %Q[#{item.filename} (#{item.eng_unit})] + "</a>'); return false;"
   end
   %>
   <%=link_to '添付', '#', :id => "link_attach#{item.id}", :onclick => attach_onclick %>
  </td>
  <td style="text-align: center;">
   <% if item.is_image %>
     <%
     if item.width > 720
        if @title.system_name == 'doclibrary'
          rst = item.regulate_size(700)
        else
          rst = item.regulate_size(720)
        end
        img_tag = "<img src=\\'#{item.file_uri(params[:system])}\\' alt=\\'#{item.filename}\\' height=\\'#{rst[:height]}\\' width=\\'#{rst[:width]}\\'>"
        %>
        <% if wiki_state == true %>
          <a href="#" id="link_image_regulate" onclick="wikiInsert('<UN>>\n<%= img_tag -%>\n<<UN>'); return false;">貼付</a>
        <% else %>
          <a href="#" id="link_image_regulate" onclick="mceInsertContent('<%= img_tag -%>'); return false;">貼付</a>
        <% end %>
     <% else %>
       <% if wiki_state == true %>
         <a href="#" id="link_image_regulate" onclick="wikiInsert('<%= "[[#{item.filename}|#{item.file_uri(params[:system])}]]" -%>'); return false;">貼付</a>
       <% else %>
         <a href="#" id="link_image" onclick="mceInsertContent('<img src=\'<%="#{item.file_uri(params[:system])}"%>\' alt=\'<%= item.filename %>\'>'); return false;">貼付</a>
       <% end %>
     <% end %>
   <% end %>
  </td>
  <td style="width: 30px; text-align: center;">
    <%= link_to '削除', {:action => :destroy, :id => item, :wiki => params[:wiki], :system => params[:system], :title_id => item.title_id}, :confirm => '削除してよろしいですか？', :method => :delete %>
  </td>
</tr>
<% end %>
</table>
