<div class="gwsub sb04">
<%= render 'gwsub/admin/sb04/sb04_piece_header' %>
<div class="pieceBanner">
<%= render 'gwsub/admin/sb04/sb04_subfunction_select_menu' %>
<%= render 'gwsub/admin/sb04/sb04_level3menu_header' %>
<%= render 'gwsub/admin/sb04/sb04sections/display_name' %>
</div>
<div class="pieceBody">
<%= render 'gwsub/admin/sb04/search_with_fyear' %>
<% if @items.blank? %>
  <%= show_notice -%>
<% else %>
  <%= render 'index_table' -%>
<% end %>
<%= paginate @items %>
</div>
</div>
