<div class="gwsub sb04">
<%= render :partial => 'gwsub/admin/sb04/sb04_piece_header' %>
<div class="pieceBanner">
<%= render :partial => 'gwsub/admin/sb04/sb04_subfunction_select_menu' %>
<%= render :partial => 'gwsub/admin/sb04/sb04_level3menu_header' %>
<%= render :partial => 'gwsub/admin/sb04/sb04sections/display_name' %>
</div>
<div class="pieceBody">
<%= render :partial => 'gwsub/admin/sb04/search_with_fyear' %>
<%= div_notice %>
<% if @items.blank? %>
  <%= Gw.div_notice("表示する項目はありません。") -%>
<% else %>
  <%= render :partial => 'index_table' -%>
<% end %>
<%= paginate @items %>
</div>
</div>
