<%# 担当未設定一覧  %>

<div class="gwsub sb04">
<%= render :partial => 'gwsub/admin/sb04/sb04_piece_header' %>
<div class="pieceBanner">
<%= render :partial => 'gwsub/admin/sb04/sb04_subfunction_select_menu' %>
<%= render :partial => 'gwsub/admin/sb04/sb04_level3menu_header' %>
<%= render :partial => 'gwsub/admin/sb04/sb04sections/display_name2' %>
</div>
<div class="pieceBody">
<%= div_notice %>
<% if @items.blank? %>
    <%= Gw.div_notice("表示する項目はありません。") -%>
<% else %>
  <div style="margin-left:15px; padding-bottom:10px; font-size:12pt;"><%= "#{@items[0].fyear_markjp}年度 #{@items.size}件"  -%></div>
  <%= render :partial => 'index_table' -%>
<% end %>
<%#= paginate @items %>
</div>
</div>
