<%
help_select = [['表示する','0'],['表示しない','1']]
%>
<script type="text/javascript">
//<![CDATA[
  function notesForm(obj,changeObjId) {
    var display = document.getElementById(changeObjId).style.display;
    if (display == 'none') {
      obj.innerHTML = '閉じる▲';
    } else if (display == '') {
      obj.innerHTML = '開く▼';
    }
    Element.toggle($(changeObjId));
  }
//]]>
</script>

<table class="show">
  <tr>
    <th class="blueIndex">拡張項目</th>
    <td>
      <a href="#" onclick="notesForm(this,'notes_field_form');return false;">開く▼</a>
    </td>
  </tr>
</table>

<table id="notes_field_form" border="0" class="show" style="display: none;">
<%if @is_sysadm%>
  <tr>
    <th class="blueIndex">データベース指定<%= required('<br/>※通常は変更不可') %></th>
    <td><%= f.text_field :dbname, :class=>'mockblock' %></td>
  </tr>
<%else%>
  <%=hidden_field_tag(:dbname, @item.dbname) %>
<%end%>
  <tr>
    <th class="blueIndex">右上バナー指定<br />(HTML形式)</th>
    <td><%= f.text_area :banner , :cols => 84, :rows => 4 , :class => 'string banner'%></td>
  </tr>
  <tr>
    <th class="blueIndex">左上バナー指定<br />(HTML形式)</th>
    <td><%= f.text_area :left_banner , :cols => 84, :rows => 4 , :class => 'string left_banner'%></td>
  </tr>
  <tr>
    <th class="blueIndex">背景色指定</th>
    <td><%= f.text_field :left_index_bg_color, :size => '8', :class => 'left_index_bg_color' %></td>
  </tr>
  <tr>
    <th class="blueIndex">画面形式選択</th>
    <td><%= f.select :form_name, @item.use_form_name %></td>
  </tr>
  <tr>
    <th class="blueIndex">他シス連携指定<br />(HTML形式)</th>
    <td><%= f.text_area :other_system_link , :cols => 84, :rows => 2 , :class => 'string other_system_link'%></td>
  </tr>
  <tr>
    <th class="blueIndex">特殊一覧表示設定</th>
    <td><%= f.text_field :special_link, :class => 'string special_link'%></td>
  </tr>
  <tr>
    <th class="blueIndex">左リスト表示<br />(通常は表示する)</th>
    <td><%= f.select :left_index_use, @item.index_view_name %></td>
  </tr>
  <tr>
    <th class="blueIndex">画像 現在の利用サイズ<br /><%= required('障害時のみ編集') %></th>
    <td><%= f.text_field :upload_graphic_file_size_currently, :size=>13 %></td>
  </tr>
  <tr>
     <th class="blueIndex">添付 現在の利用サイズ<br /><%= required('障害時のみ編集') %></th>
     <td><%= f.text_field :upload_document_file_size_currently, :size=>13 %></td>
  </tr>
  <tr>
    <th class="blueIndex">ヘルプリンク</th>
    <td><%= f.select  :help_display, options_for_select(help_select,@item.help_display) %></td>
  </tr>
  <tr>
    <th class="blueIndex">ヘルプ　URL</th>
    <td><%= f.text_field :help_url, :size => '80' %></td>
  </tr>
  <tr>
    <th class="blueIndex">管理者ヘルプ　URL</th>
    <td><%= f.text_field :help_admin_url, :size => '80' %></td>
  </tr>
</table>
