<%#
@cabinet_title は、Doclibrary::Public::CabinetsController で初期化しています。
%>
<div class="piece docLibrary">
<div class="pieceHeader">
<h2><%= @cabinet_title %></h2>
</div>
<div class="pieceBody">
<%= form_for :item, :url => doclibrary_cabinet_path(@item), :method=>:put, :html => {:multipart => true, :id => 'itemForm'} do |f| %>

<%= f.error_messages %>

<%= render :partial => 'form', :locals => {:f => f} %>

<%#このsubmitはJSを呼んで更新処理をかけているので変更してはいけない%>
<%= submit_for(f, {:js_submitter => 'my_submit()', :caption=>"編集する"}) %>

<% end %>
</div>
</div>