<%# app/views/gwsub/admin/sb01/sb01_training_plans/_form %>
<%
groups = System::Group.find(:all, :conditions=>"state='enabled' and level_no = 3", :order => [:level_no,:code].join(',') )
users = System::User.get_user_select(Site.user_group.id)
mce_base_url = ''
%>
<%= f.hidden_field :fyear_id %>
<%= f.hidden_field :fyear_markjp %>
<%= f.hidden_field :categories %>
<%= f.hidden_field :state %>
<%= f.hidden_field :bbs_doc_id %>
<%= f.hidden_field :bbs_url %>
<%= hidden_field_tag 'v', @v %>
<%= hidden_field_tag 'limit', @limits %>
<%= hidden_field_tag 'fyed_id', @fyed_id %>
<%= hidden_field_tag 'pre_fyear', @fyed_id %>

<%= f.error_messages %>
<%= raw(required_head) %>
<script src="/javascripts/prototype.js" type="text/javascript"></script>
<%= tool_tiny_mce mce_base_url%>
<table class="show">
<tr><th>研修名<%= raw(required) %></th></tr>
<tr><td><%= f.text_field :title ,:size=>80 %></td></tr>
</table>
<table class="show bbsText">
<tr><th>研修案内<%= raw(required) %></th></tr>
<tr>
<td class="mceEditor"><%= f.text_area :body, :class => 'mceEditor', :style => 'width:100%' %></td>
</tr>
</table>
<%= gwsub_attaches_sb01_training_form(f, @item) %>

<table class="show">
<tr><th>企画所属<%= raw(required) %></th></tr>
<tr><td><%= select_tag("item[group_id]", Gw.options_for_select(groups.collect{|x| ["(#{x.code})#{x.name}", x.id]}, Site.user_group.id)) %></td></tr>
<tr><th>企画者<%= raw(required) %></th></tr>
<tr><td><%= select_tag("item[member_id]", Gw.options_for_select(users, Site.user.id)) %></td></tr>
<tr><th>連絡先電話番号<%= raw(required) %></th></tr>
<tr><td><%= f.text_field :member_tel ,:size=>20 %></td></tr>
</table>
<div class="preserve">
<%= f.submit '確定' %>
</div>

<%= raw(gw_js_include_full) %>
<%= observe_field "item_group_id", :function => "get_user();" %>
<script language = "JavaScript" type="text/javascript">
//<![CDATA[
  var end_cnt = -1;
  var ed_str = '';
  function get_user() {
    g_id = $("item_group_id").value;
    document.body.style.cursor = 'wait';
    end_cnt = 0;
    new Ajax.Request("<%= @public_uri + '/' %>user_fields.csv?g_id=" + g_id, {method:'get', onComplete: function(x){
      $('item_member_id').update(x.responseText);
      end_cnt = end_cnt + 1;
      if (end_cnt == 1) {
        document.body.style.cursor = 'default';
      }
    }})
  }
  function chageDisp(obj,changeObjId) {
    var display = document.getElementById(changeObjId).style.display;
    if (display == '') {
      obj.innerHTML = '開く▼';
    } else if (display == 'none') {
      obj.innerHTML = '閉じる▲';
    }
    Element.toggle($(changeObjId));
  }
//]]>
</script>
