<%#*<p>Find me in app/views/gwsub/admin/sb01/sb01_training_plans/show.html.erb</p>%>
<%
editor_role = Gwsub::Sb01Training.is_editor?(@item.group_code.slice(0,6),Site.user_group.code)
docs_editor = editor_role || @u_role
#docs_editor = false if @u_role!=true and @item.state=='3' # 締切

close_path    = "#{@public_uri}/#{@item.id}/closed"
expired_path  = "#{@public_uri}/#{@item.id}/expired"
prepare_path  = "#{@public_uri}/#{@item.id}/prepared"

#受講者が登録されている場合は準備中に戻せない
preparable = true
unless @ts.blank?
  @ts.each do |ts|
    preparable = false if ts.members.size != 0
  end
end


# 予約条件取得
tc = Gwsub::Sb01TrainingScheduleCondition.new
tc.training_id = @item.id
tc.order  "from_at"
tcs = tc.find(:all)
cond_path = "/gwsub/sb01/sb01_training_schedule_conditions/new?t_id=#{@item.id}"
options2 ={  'table_name' => 'gwsub_sb01_training_schedule_conditions' ,  :action=>'index' ,  'link_to_show'=>0  }
options2['field_td_criteria'] = {
  'id' => Proc.new{|item|
  %Q(<a href="/gwsub/sb01/sb01_training_schedule_conditions/#{item.id}?t_id=#{@item.id}">詳細</a>)},
  'repeat_flg' => Proc.new{|item|
    if item.repeat_flg.to_i == 1
       %Q{#{h ass{item.repeat_label}}}
    else
      %Q{#{h ass{item.repeat_label}}／#{h ass{item.repeat_class_label}} }
    end
  },
  'from_at' => Proc.new{|item|
    wday = Gw.weekday(item.from_at.wday)
    if item.from_at.blank?
      ""
    else
      %Q{#{item.from_at.strftime("%Y-%m-%d")} (#{Gw.weekday(item.from_at.wday)})}
    end
  },
  'from_start'=> Proc.new{|item|
    %Q(#{item.from_start}:#{item.from_start_min})
  },
  'from_end'=> Proc.new{|item|
    %Q(#{item.from_end}:#{item.from_end_min})
  }
}
#最終開催日が過ぎているか判定
skd = Gwsub::Sb01TrainingSchedule.find(:first, :conditions => ['training_id = ?', @item.id], :order => 'IF( ISNULL( from_start ) , 1, 0 ) ASC , from_start DESC')
expiry = false
today = Time.now
unless skd.blank?
  #期限切れ判定
  expiry = true if skd.from_start < today and @item.state == '2' unless skd.from_start.blank? unless today.blank?
end
%>
<div class="gwsub sb01">
<div class="pieceHeader">
<h2>研修申込・受付</h2>
</div>
<div class="pieceBanner">
<%= render :partial => 'gwsub/admin/sb01/sb01_training_plans/menu' %>
</div>
<div class="pieceBody">
  <br/>
<div class="titleLine"><p class="date_title">研修内容</p></div>
<%= raw(%Q(<div class="notice">#{flash[:notice]}</div>)) unless flash[:notice].blank? %>
<% if docs_editor==true -%>
<%if expiry == true%>
  <span class="required">最終開催日が過ぎています。研修を締切にしてください。</span><br /><br />
<%end%>
<div class="editingBox leftSide">
<%if @item.state == '3'%>
<span class="btReturnReceipt"><%= link_to '締切解除'    , url_for(close_path)   ,:confirm=>"この研修を受付中に戻します。よろしいですか？"    if docs_editor and @item.state=='3' -%></span>
<%else%>
<span class="btEdit"><%= link_to_edit @item.id if docs_editor==true -%></span>
<span class="btDestroy"><%= link_to_destroy @item.id if docs_editor==true and @item.state == '1'-%></span>
<span class="btStartReceipt"><%= link_to '受付開始'    , url_for(prepare_path) ,:confirm=>"この研修の受付を開始します。よろしいですか？"    if docs_editor and @item.state=='1' -%></span>
<span class="btPrepare"><%= link_to '準備中に戻す' , url_for(prepare_path) ,:confirm=>"この研修を準備中に戻します。よろしいですか？"    if docs_editor and  @item.state=='2' and expiry == false and preparable==true-%></span>
<span class="btClosed"><%= link_to '締切'        , url_for(close_path)   ,:confirm=>"この研修の受付を締め切ります。よろしいですか？"  if docs_editor and @item.state=='2' -%></span>
<%#= link_to '終了'        , url_for(expired_path)   ,:confirm=>"この研修を終了します。よろしいですか？"  if docs_editor and @item.state=='3' -%>
<%end%>
</div>
<% end -%>
<%= render :partial => 'gwsub/admin/sb01/sb01_training_plans/training_show' %>
<%#= render :partial => 'gwsub/admin/sb01/sb01_training_plans/upload_index' %>
<br />
<div class="titleLine"><p class="date_title">研修枠作成条件</p></div>
<div class="editingBox leftSide"></span>
<span class="btAddPlan"><%= link_to '開催日程追加' , url_for(cond_path) unless @item.state == '3'-%></span>
</div>
<%= raw(table_to_index2(tcs, options2)) %>
<br />
<%unless @ts.blank?%>
<div class="titleLine"><p class="date_title">開催日程一覧</p></div>
<%= render :partial => 'gwsub/admin/sb01/sb01_training_plans/training_schedules' %>
<%end%>
</div>
</div>