<div class="bbsDocList circular">
<%= render :partial => 'header' %>

<div class="pieceBody">
<%= render :partial => 'header_tab' %>
<%= render :partial => 'title_info' %>

<%= form_for :item, :url => questionnaire_template_previews_path(@title) ,:action=>:create ,:html => {:method=>:post , :multipart => true, :id => 'itemForm'} do |f| %>

<%= f.error_messages %>

<%= render :partial => 'form', :locals => {:f => f} %>

<%= submit_for(f ,:caption=>'回答する') %>

<% end %>


<div class="btReturn">
<%=link_to('テンプレート管理一覧へ戻る', "#{@system_path}") %>
<%if @title.admin_setting== 1 %>
<%=link_to('テンプレートを公開する', "/questionnaire/templates/#{@title.id}/open")  if @is_sysadm  %>
<%else%>
<%=link_to('テンプレートを公開する', "/questionnaire/templates/#{@title.id}/open") %>
<%end%>

</div>
