<div class="piece AdminSetting AdminUsers">
<%= render :partial => 'header' %>
  <div class="pieceBody">
    <%= render :partial => '/system/admin/users/header_menu' %>
    <%= render :partial => 'menu' %>

	<% if @items %>
      <div class="editingBox">
	    <span class="btNew"><%= link_to '新規作成', system_ldap_temporaries_path + '?do=create', :confirm => '中間データを作成します' %></span>
	  </div>
	  <%= render :partial => 'list' %>
	<% end %>

	<% if params[:do] == 'preview' %>
	  <p>通信テスト</p>
	  <%= render :partial => 'preview' %>
	<% end %>

  </div>
</div>

