<div class="gwsub sb04">
<%= render :partial => 'gwsub/admin/sb04/sb04_piece_header' %>
<div class="pieceBanner">
  <%= render :partial => 'gwsub/admin/sb04/sb04_subfunction_select_menu' %>
  <%= render :partial => 'menu' -%>
  <%= render :partial => 'display_name' -%>
</div>

<div class="pieceBody">

  <div class="pieceBodyBody">
    <% if @items.blank? -%>
      <%= Gw.div_notice('表示する項目はありません。初期設定を確認してください。') -%>
    <% else -%>
    <%= div_notice -%>
    <table class="index">
      <tr>
      <th></th>
      <th>種別</th>
      <th>表示行数</th>
      <th>更新日</th>
      </tr>
      <% @items.each do | item| -%>
      <tr class="<%= cycle '', 'cycle' -%>">
        <td><%= link_to '詳細' , "/gwsub/sb04/09/sb04_limit_settings/#{item.id}" -%></td>
        <td><%= item.get_type_name -%></td>
        <td><%= item.limit -%> 行</td>
        <td><%= item.updated_at.strftime('%Y-%m-%d %H:%M') -%></td>
      </tr>
      <% end %>
    </table>
    <% end -%>
  </div>
    <%= paginate @items -%>
</div>

</div>
