<div class="gwsub sb04">
<%= render :partial => 'gwsub/admin/sb04/sb04_piece_header' %>
<div class="pieceBanner">
  <%= render :partial => 'gwsub/admin/sb04/sb04_subfunction_select_menu' %>
  <%= render :partial => 'menu' %>
  <%= render :partial => 'display_name' -%>
    <div class="showMenu">
      <%= link_to '編集' , "#{@public_uri}/#{@item.id}/edit" %>
    </div>
</div>

<div class="pieceBody">
  <div class="pieceBodyBody">
    <%= div_notice -%>
    <table class="show">
      <tr>
        <th>種別</th><td><%= @item.get_type_name  -%></td>
      </tr>
      <tr>
        <th>表示行数</th><td><%= @item.limit -%> 行</td>
      </tr>
      <tr>
        <th>更新日</th><td><%= @item.updated_at.strftime('%Y-%m-%d %H:%M') -%></td>
      </tr>
    </table>
  </div>
  <div class="btReturn">
    <%=link_to '一覧に戻る', "#{@public_uri}" -%>
  </div>
</div>

</div>
