<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">

<head>

<meta http-equiv="content-type" content="text/html;charset=<%= request.mobile.default_charset %>" />
<meta http-equiv="content-style-type" content="text/css" />
<meta http-equiv="content-script-type" content="text/javascript" />
<title><%= Page.title || @page_title %> - <%= Site.title -%></title>
<link rel="stylesheet" type="text/css" href="/layout/memo/mobile.css" />


</head>

<body id="page-gw-memos">
<div id="container">
<%= render :partial => 'layouts/admin/gw/piece_header' %>



<%= yield %>

<hr class="borderDouble"/>

<%= render :partial => 'layouts/admin/gw/piece_footer' %>
<p class="footer"><img src="/_common/themes/gw/files/mobile/footer.gif" border="0" /></p>
</div>
</body>
</html>