<%
cat_medias = Gwsub::Sb05MediaType.select_dd_media_group( nil ,'code' )
@media.blank? ? code = '1' : code = @media.media_code
dates  = Gwsub::Sb05Request.select_dd_dates( nil , 4 , code)
%>
<div class="gwsub sb05">
<%= render 'gwsub/admin/sb05/sb05_piece_header' %>
<div class="pieceBanner">
<%= render 'gwsub/admin/sb05/sb05_requests_put/menu' %>
<%#= render 'gwsub/admin/sb05/sb05_requests_put/csvput' %>
</div>
<div class="pieceBody">
<div class="titleLine">
<p class="title">処理済に変更する</p>
</div>
<div>
<span class="explanation">
<span style="color:blue">
未処理の依頼を処理済にします。<br />「未処理」に戻すことはできません。<br />変更後は「処理済」一覧に表示されます。
</span>
</span>
</div>

<%= form_tag url_for(action: :finished), {method: :get, :multipart: true} do %>
<%= hidden_field_tag 'item[state]', 'finished' %>
<%= hidden_field_tag 'item[r_status]', '4' %>
<table class="show">
  <tr>
    <th></th>
    <td>抽出条件を選択して実行してください</td>
  </tr>
  <tr>
    <th>媒体</th>
    <td><%= select_tag 'item[media_code]', options_for_select(cat_medias, code), onchange: "get_selects();" %></td>
  </tr>
  <tr>
    <th>希望日</th>
    <td>※媒体の変更にあわせて希望日の表示が変わります。<br />
    <%= select_tag 'item[start_date]', options_for_select(dates, @start_at) %></td>
  </tr>
</table>
<br />
<div class="preserve">
<%= submit_tag '処理済に変更' %>
</div>
<% end %>
</div>
</div>

<script type="text/javascript">
//<![CDATA[
  var end_cnt = -1;
  function get_selects() {
    // start_at
    r_status    = $("item_r_status").value
    media_cd  = $("item_media_code").value
    if (end_cnt == -1) {
      document.body.style.cursor = 'wait';
      end_cnt = 0;
    }
    new Ajax.Request("<%= @index_uri%>start_fields?r_status=4" + "&media_cd=" + media_cd, {method:'get', onComplete: function(x){
      $('item_start_date').update(x.responseText);
      end_cnt = end_cnt + 1;
      if (end_cnt == 1) {
        document.body.style.cursor = 'default';
      }
    }})
  }
//]]>
</script>
