<table class="show">
  <caption>実績情報</caption>
  <tr>
    <th>貸出日時 <%= required %></th>
    <td><%= f.datetimepicker :start_at %></td>
  </tr>
  <tr>
    <th>返却日時 <%= required %></th>
    <td><%= f.datetimepicker :end_at %></td>
  </tr>
  <tr>
    <th>利用者 <span class="required">※</span></th>
    <td><%= @item.driver_user_name -%></td>
  </tr>
  <tr>
    <th>利用者所属</th>
    <td><%= @item.driver_group_name %></td>
  </tr>
  <tr>
    <th>使用目的</th>
    <td><%= f.text_field :title, style: 'width:10em;' %></td>
  </tr>
</table>
