<div class="menu">
<a href="/gw/prop_<%=@genre%>s?cls=<%=@cls%>"><span><%=@item_name%>マスタ</span></a>
<a href="/gw/prop_extras?s_genre=<%=@genre%>&cls=<%=@cls%>"><span class="current_menu"><%=@item_name%>管理</span></a>
<a href="/gw/schedule_props/show_guard?s_genre=<%=@genre%>&cls=<%=@cls%>"><span><%=@item_name%>衛視用画面</span></a>
<a href="/gwbbs/docs/2/?title_id=38" target="_blank"><span>連絡事項</span></a>
<a href="/gwbbs/docs/3/?title_id=38" target="_blank"><span>注意事項</span></a>
<a href="/gwbbs/docs/?title_id=38" target="_blank"><span>ヘルプ</span></a>
</div>
<% if @title_line %>
<div class="titleLine"><span class="title"><%= @title_line %></span></div>
<% end %>
