<%
ps = @item.prop.prop_stat if @item.prop
prop_stat_s = I18n.t('enum.gw/prop_extra_pm_common.prop_state')[ps] || ps
bill_stat_s = I18n.t('enum.gw/prop_extra_pm_rentcar_actual.bill_state')[@item.bill_state.to_i]
case genre
when :rentcar
  genre_str1 = "レンタカー"
  genre_str2 = "車庫用"
  pm_url = "/gw/prop_extra_pm_rentcars"
  model = Gw::PropRentcar
when :meetingroom
  genre_str1 = "会議室"
  genre_str2 = "衛視室"
  pm_url = "/gw/prop_extra_pm_meetingrooms"
  model = Gw::PropMeetingroom
end
prop_item = model.find_by_id(@item.car_id) unless model.blank?
%>

<span class="showMenu">
  <%= link_to '貸出', "/gw/prop_extras/#{item.schedule_prop_id}/rent" if rentcar_rentable?(ps) && @extra_genre == :pm && !@item.schedule.blank? && !@item.prop.blank? && !prop_item.blank? %>
  <%= link_to '返却/編集', "/gw/prop_extra_pm_#{genre}s/#{@item.id}/edit" if ![2,3,4,5].index(ps).nil? && @extra_genre == :pm && !@item.schedule.blank? && !@item.prop.blank? && !prop_item.blank?%>
  <%= link_to '削除', "/gw/prop_extra_pm_#{genre}s/#{@item.id}/delete_prop", :confirm=>"この予定、および実績情報が削除されます。よろしいでしょうか？" if ![2,3].index(ps).nil? && @extra_genre == :pm  %>
</span>
<span class="showLink">
  <%= link_to "#{genre_str1}詳細画面へ", "/gw/schedules/#{@item.schedule_id}/show_one" %>
  <%= link_to "　#{genre_str1}実績一覧画面へ", pm_url if genre == :rentcar %>
  <%= link_to "　#{genre_str1}#{genre_str2}画面へ", "/gw/schedule_props/show_guard?s_date=#{@item.start_at.strftime('%Y%m%d')}&cls=pm&s_genre=#{genre}"  if genre == :rentcar && @item.start_at %>
  <%= link_to "　#{genre_str1}スケジュール画面へ", "/gw/schedule_props/show_week?s_date=#{@item.start_at.strftime('%Y%m%d')}&cls=pm&s_genre=#{genre}"  if genre == :rentcar && @item.start_at %>
</span>

<% case mode %>
<% when :show %>
  <% case genre %>
  <% when :rentcar %>
  <table class="show">
    <caption>実績情報</caption>
    <tbody>
      <tr><th>出発時メーター</th><td><%= actual_print @item.start_meter, ' km' %></td></tr>
      <tr><th>帰着時メーター</th><td><%= actual_print @item.end_meter, ' km' %></td></tr>
      <tr><th>利用開始日時</th><td><%=l @item.start_at if @item.start_at %></td></tr>
      <tr><th>利用終了日時</th><td><%=l @item.end_at if @item.end_at %></td></tr>
      <tr><th>請求先担当者</th><td><%= "#{@item.driver_user_name} (#{@item.driver_user_code})" %></td></tr>
      <tr><th>請求先所属</th><td><span style="<%= 'color:red;' unless @item.driver_group %>"><%= @item.driver_group_name %></span></td></tr>
      <tr><th>利用者</th><td><%= @item.user_uname %></td></tr>
      <tr><th>利用者所属</th><td><%= @item.user_gname %></td></tr>
      <tr><th>通行料</th><td><%= actual_print @item.toll_fee, ' 円' %></td></tr>
      <tr><th>ガソリン補給量</th><td><%= actual_print @item.refuel_amount, ' リットル' %></td></tr>
      <tr><th>行き先</th><td><%= safe{schedule_to_go(@item.to_go)} %></td></tr>
      <tr><th>使用目的</th><td><%= @item.title %></td></tr>
    </tbody>
  </table>
  <% when :meetingroom %>
  <table class="show">
    <caption>実績情報</caption>
    <tbody>
      <tr><th>会議室</th><td><%=l @item.start_at if @item.start_at %></td></tr>
      <tr><th>利用終了日時</th><td><%=l @item.end_at if @item.end_at %></td></tr>
      <tr><th>担当者</th><td><%= "#{@item.driver_user_name} (#{@item.driver_user_code})" %></td></tr>
      <tr><th>所属</th><td><%= @item.driver_group_name %></td></tr>
      <tr><th>使用目的</th><td><%= @item.title %></td></tr>
    </tbody>
  </table>
  <% end %>
<% when :edit %>
  <%= form_for :item, :url => "/gw/prop_extra_pm_#{genre}s/#{@item.id}", :html => {method: :put, multipart: true, id: 'itemForm'} do |f| %>
    <%= f.error_messages %>
    <%= render 'form', f: f %>
    <%= submit_for f, caption: "実績を確定する", style: "width: 130px;" %>
  <% end %>
<% end %>

<% unless prop_item.blank? %>
  <% case genre %>
  <% when :rentcar %>
  <table class="show">
    <caption>設備情報</caption>
    <tr><th>車名</th><td><%= prop_item.car_model %></td></tr>
    <tr><th>号車</th><td><%= prop_item.name %></td></tr>
    <tr><th>車種</th><td><%= prop_item.type_id_show %></td></tr>
    <tr><th>登録番号</th><td><%= prop_item.register_no %></td></tr>
    <tr><th>走行距離</th><td><%= prop_item.meter.blank? ? 0 : prop_item.meter.travelled_km %></td></tr>
  </table>
  <% when :meetingroom %>
  <table class="show">
    <caption>設備情報</caption>
    <tr><th>会議室等名称</th><td><%= prop_item.name %></td></tr>
    <tr><th>区分</th><td><%= prop_item.type_id_show %></td></tr>
    <tr><th>収容可能人数</th><td><%= prop_item.max_person %></td></tr>
  </table>
  <% else %>
    <% raise ArgumentError, '不明なジャンルです' %>
  <% end %>
<% else %>
  <table class="show">
    <caption>設備情報</caption>
    <tr><td><%= required "施設マスタは削除されています。" %></td></tr>
  </table>
<% end %>

<% if schedule = @item.schedule %>
  <table class="show">
    <caption>予約情報</caption>
    <% unless schedule.todo_flg %>
    <tr>
      <th>開始日時</th>
      <td><%= schedule.time_show_str[:st_at_s] %></td>
    </tr>
    <% end %>
    <tr>
      <th>終了日時</th>
      <td><%= schedule.time_show_str[:ed_at_s] %></td>
    </tr>
    <tr>
      <th>件名（用務名等）</th>
      <td><%= schedule.title_with_category %></td></tr>
    </tr>
    <tr>
      <th>作成者</th>
      <td><%= schedule.creator_uname %></td>
    </tr>
    <tr>
      <th>作成所属</th>
      <td><%= schedule.creator_gname %></td>
    </tr>
  </table>
<% else %>
  <table class="show">
    <caption>予約情報</caption>
    <tr><td><%= required "スケジュールは削除されています。" %></td></tr>
  </table>
<% end %>
<br/>

<%= render 'gw/admin/schedules/show_participant', item: @item.schedule if @item.schedule %>
