<%= form_tag '', :method => :get, :class => 'changeCategory' do %>
  <%= hidden_field_tag(:title_id, params[:title_id]) unless params[:title_id].blank? %>
  <%= hidden_field_tag(:state, params[:state]) unless params[:state].blank? %>
  <%= hidden_field_tag(:gcd, params[:gcd]) unless params[:gcd].blank? %>
  <span>分類選択</span>
  <%= select_tag :cat, options_for_select([['全て', '']] + @title.readable_public_folder_options, params[:cat].to_i), :onchange => 'submit();' %>
  <%= hidden_field_tag(:kwd, params[:kwd]) unless params[:kwd].blank? %>
  <%= hidden_field_tag(:limit, params[:limit]) unless params[:limit].blank? %>
<!-- end .search --><% end %>
