<%= form_tag '', :method => :get, :class => 'changeGroup' do %>
  <%= hidden_field_tag(:title_id, params[:title_id]) unless params[:title_id].blank? %>
  <%= hidden_field_tag(:state, params[:state]) unless params[:state].blank? %>
  <%= hidden_field_tag(:cat, params[:cat]) unless params[:cat].blank? %>
  <span>所属選択</span>
  <%= select_tag(:gcd, "<option value=''>全て</option>#{options_from_collection_for_select(@select_groups, :code, :name, params[:gcd].to_s)}".html_safe, :onchange => 'submit();') %>
  <%= hidden_field_tag(:kwd, params[:kwd]) unless params[:kwd].blank? %>
  <%= hidden_field_tag(:limit, params[:limit]) unless params[:limit].blank? %>
<!-- end .search --><% end %>