 <div class="contentMenu qa">
  <span class="btNew "><%=link_to 'QAを作成する', '/gwqa/makers/new/' if @is_sysadm %></span>
</div>
 <div class="tabBox">
 <table class="tabtable">
  <tbody>
   <tr>
    <td class="spaceLeft"></td>
    <td class="tab<%= ' current' unless params[:state] == 'HIDE'%>"><%=link_to '管理可能QA', '/gwqa/controls' %></td>
    <td class="spaceCenter"></td>
    <td class="tab<%= ' current' if params[:state] == 'HIDE'%>"><%=link_to '管理可能QA（非表示）', '/gwqa/controls?state=HIDE' %></td>
    <td class="spaceCenter"></td>
    <td class="tab"><%=link_to 'QA一覧', '/gwqa' %></td>
    <td class="spaceRight"></td>
   </tr>
  </tbody>
 </table>
</div>
