<%= Gw.required_head %>
<table class="show">
  <tr>
    <th>状態<%= Gw.required %></th>
    <td>
      <%- if @item.root? -%>
      <%= System::UsersGroup.state_show(@item.state) %>
      <%- else -%>
      <%= f.radio_buttons :state, @item.class.state_options %>
      <%- end -%>
    </td>
  </tr>
  <tr>
    <th>グループID<%= Gw.required %></th>
    <td><%= f.text_field :code, :class => 'num name' %></td>
  </tr>
  <tr>
    <th>グループ名<%= Gw.required %></th>
    <td><%= f.text_field :name, :class => 'name' %></td>
  </tr>
  <tr>
    <th>グループ名（英）</th>
    <td><%= f.text_field :name_en, :class => 'name' %></td>
  </tr>
  <tr>
    <th>メールアドレス</th>
    <td><%= f.text_field :email, :class => 'string email', :style => 'width: 400px;' %></td>
  </tr>
  <tr>
    <th>表示順</th>
    <td><%= f.text_field :sort_no, :class => 'num' %></td>
  </tr>
  <tr>
    <th>適用開始日<%= Gw.required %></th>
    <td><%= f.datepicker :start_at %></td>
  </tr>
  <tr>
    <th>適用終了日</th>
    <td><%= f.datepicker :end_at %></td>
  </tr>
  <tr>
    <th>階層レベル</th>
    <td><%= @item.level_no %></td>
  </tr>
  <tr>
    <th>親グループ</th>
    <td><%= safe{@item.parent.ou_name} %></td>
  </tr>
</table>
