<%= required_head %>
<table class="show">
  <tr>
    <th>グループID<%= required %></th>
    <td><%= f.text_field :code, class: 'num name' %></td>
  </tr>
  <tr>
    <th>グループ名<%= required %></th>
    <td><%= f.text_field :name, class: 'name' %></td>
  </tr>
  <tr>
    <th>グループ名(英語表記)</th>
    <td><%= f.text_field :name_en, class: 'name' %></td>
  </tr>
  <tr>
    <th>メールアドレス</th>
    <td><%= f.text_field :email, class: 'string email', style: 'width: 400px;' %></td>
  </tr>
  <tr>
    <th>表示順</th>
    <td><%= f.text_field :sort_no, class: 'num' %></td>
  </tr>
</table>

<table class="show">
  <tr>
    <th>状態<%= required %></th>
    <td><%= f.radio_buttons :state, @item.class.state_options %></td>
  </tr>
  <tr>
    <th>LDAP同期<%= required %></th>
    <td><%= f.radio_buttons :ldap, @item.class.ldap_options %></td>
  </tr>
  <tr>
    <th>適用開始日<%= required %></th>
    <td><%= f.datepicker :start_at %></td>
  </tr>
  <tr>
    <th>適用終了日</th>
    <td><%= f.datepicker :end_at %></td>
  </tr>
</table>
