<div class="piece AdminSetting AdminGroups">
<%= render 'header' %>

<div class="pieceBody">
<%= render '/system/admin/users/header_menu' %>
<%= render 'switching' %>
<%= render 'navi' %>

<div class="editingBox">
  <span class="btNew"><%= link_to '新規作成', {action: :new} %></span>
</div>

<%= render 'search' %>

<% if @items.blank? %>
  <div class="notice">表示する項目はありません。</div>
<% else %>
<table class="index">
  <tbody>
    <tr>
      <th></th>
      <th></th>
      <th>グループID</th>
      <th>グループ名</th>
      <th>メールアドレス</th>
      <th>状態</th>
      <th>LDAP同期</th>
      <th>適用開始日</th>
      <th>適用終了日</th>
    </tr>
    <% @items.each do |item| %>
    <tr class="<%= cycle '', 'cycle' %>">
      <td><%= link_to '展開', {action: :index, parent: item.id} %></td>
      <td><%= link_to '詳細', {action: :show, id: item.id} %></td>
      <td><%= item.code %></td>
      <td><%= item.name %></td>
      <td><%= item.email %></td>
      <td><%= System::UsersGroup.state_show(item.state) %></td>
      <td><%= System::UsersGroup.ldap_show(item.ldap) %></td>
      <td><%=l item.start_at, format: :date if item.start_at %></td>
      <td><%=l item.end_at, format: :date if item.end_at %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @items %>
<% end %>

</div>
</div>
