<div class="piece todo setting">

<%= render :partial => 'header_str' %>
<div class="pieceBody">
<div class="pieceBodyHeader">
<div class="titleLine">
<span class="title">ToDo削除設定</span>
</div>
</div>

<div class="pieceBodyBody">
<%= div_notice %>
<% @key = 'admin_deletes' %>
<a name="<%= @key %>"></a>
<%= form_for :item, :url => "/gw/todo_settings/edit_#{@key}", :html => {:method=>:put, :multipart => true} do |f| %>
<table class="show">
  <tr><th>削除対象</th><td>
    <%= select_by_list(f, :todos_admin_delete, Gw.yaml_to_array_for_select('gw_todos_admin_delete_term', :for_select_by_list => 1),
        {}, @item[:todos_admin_delete].to_i) %>　経過したToDoを削除</td></tr>
</table>
<%= submit_for(f, {:caption => '保存', :id=>"item_submit_#{@key}"}) %>
<% end %>
</div>

</div>
</div>