<%= hidden_field_tag 'limit', @limits %>

<%= f.error_messages %>
<%= required_head %>
<table class="show">
<tr><th>処理権限コード<%= required %></th>
<td><%= f.text_field :code, :class=>'num' %></td>
</tr>
<tr><th>処理権限名<%= required %></th>
<td><%= f.text_field :name, :class=>'name' %></td>
</tr>
</table>
<div class="preserve">
<%= f.submit '保存' %>
</div>
<%#= render 'gwsub/admin/sb04/sb04_common_info_form', f: f %>
