<div class="gwsub sb06">
<div class="pieceHeader">
<h2>予算担当登録</h2>
</div>
<div class="pieceBanner">
<%= render 'gwsub/admin/sb06/sb06_subfunction_select_menu' %>
<%= render 'gwsub/admin/sb06/sb0605menu/sb06_budget_admin_submenu' %>
<%= render 'gwsub/admin/sb06/sb06_level3menu_header' %>
</div>
<div class="pieceBody">
<%= render 'gwsub/admin/sb06/sb06_common_showMenu' %>
<%= table_to_show2(@item, { 'table_name' => 'gwsub_sb06_budget_roles' }).html_safe %>
<%#= render 'gwsub/admin/sb04/sb04_common_info_show' %>
</div>
</div>
