<table class="index">
  <tr class="headIndex">
    <th style="width: 120px;">国通知日</th>
    <th class="category">分類</th>
    <th class="docName">文書名</th>
  </tr>
  <% brk_code = '' %>
  <% @items.each do |item| %>
    <% unless brk_code == item.inpfld_002.to_s %>
      <% brk_code = item.inpfld_002.to_s %>
      <tr><th style="text-align: left;"colspan="3"><%= item.inpfld_002 %></th></tr>
    <% end %>
    <tr class="<%= cycle 'article', 'article cycle' %>">
      <td class="date"><%= link_to item.inpfld_006, "#{item.show_path}#{gwbbs_params_set}" %></td>
      <td class="category"><%= link_to gwbd_category_name(@d_categories, item.category1_id), "#{item.show_path}#{gwbbs_params_set}" %></td>
      <td class="docName"><%= link_to item.title, "#{item.show_path}#{gwbbs_params_set}" %></td>
    </tr>
  <% end %>
</table>
