<p class="bgYellow">国通知日</p>
<p class="leftPad1"><%= Gwboard.fyear_to_namejp_ymd(@item.inpfld_006d) %></p>
<p class="bgAsh">国文書番号</p>
<p class="leftPad1"><%= @item.inpfld_001 %></p>
<p class="bgAsh">担当別</p>
<p class="leftPad1"><%= @item.inpfld_002 %></p>
<p class="bgAsh">文書名</p>
<p class="leftPad1"><%= @item.title %></p>
<p class="bgAsh">摘要</p>
<p class="leftPad1"><%= @item.inpfld_003 %></p>
<p class="bgAsh">備考</p>
<p class="leftPad1"><%= convert_for_mobile_body(@item.inpfld_004, params[:_jgw_session]) %></p>
<p class="bgAsh">参考</p>
<p class="leftPad1"><%= @item.inpfld_005 %></p>
