<% _path = '/_common/modules/doclibrary/'%>
<%
  if @item.blank?
    mce_base_url = ''
  else
    mce_base_url = _path + sprintf("%06d", @item.title_id) + '/' + @item.name + "/" unless @item.name.blank?
  end
%>
<%= tool_tiny_mce(mce_base_url, {:leftbar_mode=>true}) %>

<% if @title.is_admin? && @item.state != 'preparation' && @item.state_was != 'preparation' -%>
<table class="bbsFile">
  <tr>
    <th>記事の更新日時</th>
    <td>
      <%= f.check_box :skip_updating_updated_at, {checked: !@item.skip_updating_updated_at}, 0, 1 %>
      <%= f.label :skip_updating_updated_at, '更新する' %>
    </td>
  </tr>
</table>
<% end -%>

<% if @title.recognize == 2 %>
<table class="bbsFile" style="margin-top: 10px;">
  <tr>
    <th>記事の承認</th>
    <td><%= f.radio_buttons :category4_id, [["承認なし",0],["承認あり",1]] %></td>
  </tr>
</table>
<% end %>

<% if @title.use_recognize? %>
<div id="recognizers_form" style="<%= 'display:none;' if @title.recognize == 2 && @item.category4_id == 0 %>" >
  <%= render 'gwboard/admin/recognizers/form', f: f, item: @item %>
</div>
<% end %>

<%= f.hidden_field :state %>
<div class="submitters">
  <% case @title.recognize %>
  <% when 1 %>
    <%= f.submit '承認待ち', id: 'commit_recognize' %>
    <%= f.submit '下書き保存', id: 'commit_draft' unless @title.draft_forbidden %>
  <% when 2 %>
    <%= f.submit '公開', id: 'commit_public', style: "#{@item.category4_id == 0 ? '' : 'display:none;'}" %>
    <%= f.submit '承認待ち', id: 'commit_recognize', style: "#{@item.category4_id == 1 ? '' : 'display:none;'}" %>
    <%= f.submit '下書き保存', id: 'commit_draft' unless @title.draft_forbidden %>
  <% else %>
    <%= f.submit '公開', id: 'commit_public' %>
    <%= f.submit '下書き保存', id: 'commit_draft' unless @title.draft_forbidden %>
  <% end %>
</div>

<script type="text/javascript">
(function($) {
  $(function() {
    var supressBeforeUnload = false;
    window.onbeforeunload = function(event) {
      if (!supressBeforeUnload) {
        var e = event || window.event;
        e.returnValue = "保存していない場合、編集中の内容は失われます";
        return e.returnValue;
      }
    }
    $('#commit_public').on('click', function() { $('#item_state').val('public'); supressBeforeUnload = true; });
    $('#commit_recognize').on('click', function() { $('#item_state').val('recognize'); supressBeforeUnload = true; });
    $('#commit_draft').on('click', function() { $('#item_state').val('draft'); supressBeforeUnload = true; });
  });
})(jQuery);
</script>

<% if @title.recognize == 2 %>
<script type="text/javascript">
(function($) {
  $(function() {
    $('input[name="item[category4_id]"]').on('click', function() {
      if ($(this).val() == 0) {
        $('#commit_public').show();
        $('#commit_recognize, #recognizers_form').hide();
      } else {
        $('#commit_public').hide();
        $('#commit_recognize, #recognizers_form').show();
      }
    });
  });
})(jQuery);
</script>
<% end %>

<%= render 'hidden_form' %>
