<%= render 'folder_name' unless @title.form_name == 'form002' %>

<%
params_set = ""
state = params[:state]
if state=='GROUP'
  params_set = "&state=#{state}&grp=#{params[:grp]}&gcd=#{params[:gcd]}"
else
  params_set = "&state=#{state}&cat=#{params[:cat]}"
end
%>
<div class="contentMenu bbs">
<div class="editingBox">
  <% if @item.is_editable? %>
    <% unless @title.use_recognize? %><%#承認機能使用しない%>
      <span class="btEdit"><%=link_to '編集', edit_doclibrary_doc_path(@item,{:title_id => @title.id}) + params_set %></span>
    <% else %>
      <% if @item.category4_id == 1 %>
        <span class="btAppEdit"><%= link_to '承認あり編集', edit_doclibrary_doc_path(@item, {:title_id => @title.id}) + params_set %></span>
      <% else %>
        <span class="btEdit"><%= link_to '編集', edit_doclibrary_doc_path(@item, {:title_id => @title.id}) + params_set %></span>
      <% end %>
    <% end %>
    <span class="btDestroy"><%= link_to '削除', doclibrary_doc_path(@item, {:title_id => @title.id}) + params_set, :confirm => '削除をすると元に戻せません。削除しますか', :method => :delete %></span>
  <% end %>
  <% if @item.is_recognizable? && @item.state == 'recognize' %>
    <span class="btRecognize"><%= link_to '承認', "#{recognize_update_doclibrary_doc_path(@item,{:title_id=>@title.id})}#{gwbbs_params_set}" %></span>
  <% end %>
  <% if @item.is_publishable? && @item.state == 'recognized' %>
    <span class="btPublish"><%= link_to '公開', "#{publish_update_doclibrary_doc_path(@item,{:title_id=>@title.id})}#{gwbbs_params_set}" %></span>
  <% end %>
</div>
</div>

<table class="docCreator">
  <tr>
    <th style="width: 60px; text-align: left;">作成者</th>
    <td style="width: 120px; text-align: left;"><%= @item.createdate %></td>
    <td style="text-align: left;"><%= @item.createrdivision %></td>
    <td style="width: 150px; text-align: left;"><%= @item.creater %></td>
  </tr>
  <tr>
    <th style="width: 60px; text-align: left;">編集者</th>
    <td style="width: 120px; text-align: left;"><%= @item.editdate %></td>
    <td style="text-align: left;"><%= @item.editordivision %></td>
    <td style="width: 150px; text-align: left;"><%= @item.editor %></td>
  </tr>
</table>

<div class="doclibDocform">
<%= render @title.doclib_form_name + 'show' %>
</div>
<% if @title.use_old_upload_system? %>
  <%= render '/gwboard/admin/docs/upload_index', files: @item.display_files %>
<% else %>
  <%= render '/gwboard/admin/docs/library_index', files: @item.display_files %>
<% end %>

<% if @title.use_recognize? %>
  <%= render 'recognize_users' if @item.state.in?(%w(draft recognize recognized)) %>
<% end %>

<div class="docListFunctions">
  <div class="link_to_clip">
    <a href="javascript:void(0)" onclick="display_clip(); return false;">お知らせリンク作成</a>
  </div>
  <% if @item.display_files.present? %>
  <div class="link_export_file">
    <%= link_to "添付ファイル一括ダウンロード(ファイル数：#{@item.display_files.length})", "#{@item.file_exports_path}" -%>
  </div>
  <% end %>
  <div id="copy_document" style="display: none;">
    <div style="display: block;">
      <%= text_area_tag 'copy_clip', "機能名：書庫\n件名：#{@item.title}\nURL：#{request.url}" %>
    </div>
    <a href="javascript:void(0)" onclick="copy_clip(); return false;">コピー</a>
  </div>
</div>

<script type="text/javascript">
//<![CDATA[
var display_clip = function(){
  var current_style = document.getElementById("copy_document").style.display;
  if ( current_style == 'none' ){
    document.getElementById("copy_document").style.display="block";
  } else {
    document.getElementById("copy_document").style.display="none";
  }
}

var copy_clip = function() {
  var copyTarget = document.getElementById("copy_clip");
  copyTarget.select();
  if( document.execCommand("Copy")) {
    alert("記事の情報をクリップボードにコピーしました。");
  } else {
    alert("クリップボードへのコピーに失敗しました。");
  }
}
//]]>
</script>
