<hr class="borderDash"/>
<% @items.each do |item| %>
  <p class="leftPad2"><%= link_to item.section_name, "#{item.show_path}#{gwbbs_params_set}" %></p>
  <p class="leftPad1">職：<%= item.inpfld_001 %></p>
  <p class="leftPad1">氏名：<%= item.title %></p>
  <p class="leftPad1">電話番号：<%= item.body %></p>
  <p class="leftPad1">メールアドレス：</p>
  <p class="leftPad1"><%= item.inpfld_002 %></p>
<% end %>
