<table class="index">
<% @items.each do |item| %>
  <tr class="article">
    <td class="docTitle leftLine<%=title_read_flag(@title, item)%>" colspan="2">
      <%= link_to item.section_name, "#{item.show_path}#{gwbbs_params_set}" %>　
      <%= link_to "#{item.inpfld_001}　#{item.title}", "#{item.show_path}#{gwbbs_params_set}" %>
    </td>
  </tr>
  <tr class="article">
    <td class="leftLine"><%= link_to item.body, "#{item.show_path}#{gwbbs_params_set}" %></td>
    <td><%= link_to item.inpfld_002, "#{item.show_path}#{gwbbs_params_set}" %></td>
  </tr>
<% end %>
</table>
