<div class="piece prop index">
  <div class="pieceHeader">
    <%= render :partial => 'piece_header' -%>
  </div>
  <div class="pieceBody">
    <div class="pieceBodyHeader">
    <%= render(:partial => '/gw/admin/prop_others/prop_master_menu') %>
    <%= render(:partial => 'titleline') %>
    </div>
    <div class="pieceBodyBody">
      <% if @items.blank? -%>
        <%= Gw.div_notice('表示する項目はありません。') -%>
      <% else -%>
        <%= div_notice -%>
        <table class="index">
          <tr>
            <th></th>
            <th>カテゴリ名</th>
            <th>並び順</th>
          </tr>
          <% @items.each do | item| -%>
            <tr class="<%= cycle '', 'cycle' -%>">
              <td><%= link_to('詳細', :action => :show, :id => item.id) -%></td>
              <td><%= item.name -%></td>
              <td><%= item.sort_no -%></td>
            </tr>
          <% end %>
        </table>
      <% end -%>
    </div>
    <%=  nz(paginate(@items)) %>

  </div>
</div>