<div class="piece prop index">

  <div class="pieceHeader">
    <%= render :partial=>'piece_header' %>
  </div>
  <div class="pieceBody">
    <div class="pieceBodyHeader">
    </div>
    <%= render(:partial => '/gw/admin/prop_others/prop_master_menu') %>
    <%= render(:partial => 'titleline') %>

    <div class="pieceBodyBody">
      <%= div_notice %>
      <div class="editingBox">
        <span class="btEdit"><%= link_to "編集", :action => :edit, :id => @item.id %></span>
        <span class="btDestroy"><%= link_to_destroy @item.id, :confirm => "カテゴリを削除した場合、そのカテゴリに属する施設は予約できなくなります。削除してよろしいですか？" %></span>
      </div>

      <table class="show">
        <tr>
          <th>カテゴリ名</th><td><%= @item.name %></td>
        </tr>
        <tr>
          <th>並び順</th><td><%= @item.sort_no %></td>
        </tr>
      </table>
      <div class="btReturn">
        <%= link_to '一覧へ戻る', '/gw/prop_types' %>
      </div>
    </div>
  </div>
</div>
