<%
categories = Gwsub::Sb05MediaType.select_dd_categories_id(nil,nil)
if @item.media_id.blank?
  media_id   = @media_id
else
  media_id  = @item.media_id
end
%>
<%= hidden_field_tag 'limit', @limit %>
<%= f.error_messages %>
<%= required_head %>
<table class="show">
  <tr>
    <th>媒体・分類<%= required %></th>
    <td><%= f.select( :media_id ,options_for_select( categories ,media_id.to_i )) %></td>
  </tr>
  <tr>
    <th>注意事項</th>
    <td><%= f.text_area :sample, :rows=>20 , :cols=>50  %></td>
  </tr>
  <tr>
    <th>入力書式</th>
    <td ><%= f.text_area :form_templates, :rows=>20 , :cols=>50 %></td>
  </tr>
  <tr>
  <th colspan="2">管理者</th>
  </tr>
  <tr>
    <th>メモ</th>
    <td><%= f.text_area :admin_remarks, :rows=>5 , :cols=>50  %></td>
  </tr>
</table>
<div class="preserve">
<%= f.submit '保存' %>
</div>
