<%
options = {
  'link_to_show'    => 1,
  'table_name'      => 'gwsub_sb05_notices' ,
  :action => 'index',
  'field_td_criteria' => {
    '_media'=> Proc.new{|item|
      item.media_name+'('+item.categories_name+')'
    }
  }
}
%>
<div class="gwsub sb05">
<%= render 'gwsub/admin/sb05/sb05_piece_header' %>
<div class="pieceBanner">
<%= render '/gwsub/admin/sb05/sb05_notices/menu' %>
</div>
<div class="pieceBody">
<%= render '/gwsub/admin/sb05/sb05_notices/search_with_id' %>
<%= table_to_index2(@items,options) %>
<%= paginate @items %>
</div>
</div>
