<%
options = {
  'table_name'  => 'gwsub_sb05_notices',
  :action       =>'show',
  'field_td_criteria' => {
    '_media'=> Proc.new{|item|
      item.media_name+'('+item.categories_name+')'
    }
  }
}
%>
<div class="gwsub sb05">
<%= render 'gwsub/admin/sb05/sb05_piece_header' %>
<div class="pieceBanner">
<%= render 'gwsub/admin/sb05/sb05_notices/menu' %>
</div>
<div class="pieceBody">
<div class="editingBox">
  <span class="btEdit"><%= link_to_edit     @item.id  %></span>
  <span class="btDestroy"><%= link_to_destroy  @item.id  %></span>
</div>
<%= table_to_show2 @item ,options %>
</div>
</div>
