<!--<%= @admin_users_json -%>-->
<%=  hidden_field_tag('init[schedule_admin_users_json]',
  (params[:item] && params[:item][:schedule_admin_users_json] ? params[:item][:schedule_admin_users_json] : nz(@admin_users_json) )) -%> 

<%
if @item.id.blank?
  u = Site::user
  ucls = 1
  uid = u.id
  uname = u.name
else
  ucls = nil
  uid = nil
  uname =nil
end
%>

<%= hidden_field_tag('init[admin_user_ucls]', ucls) -%>
<%= hidden_field_tag('init[admin_user_uid]', uid) -%>
<%= hidden_field_tag('init[admin_user_uname]', uname) -%>

<%= f.fields_for :schedule_admin_users do |schedule_user| %>
<table border="0" id="schedule_admin_users_table">
  <tr>
    <td class="userChange">
<%= select_tag 'item[schedule_admin_users][user_type_id]', Gw.options_for_select(
  System::Group.get_group_select('','group_', :add_conditions=>"level_no = 3"), 'group_'+Site.user_group.id.to_s, :title=>1), :size=>1,
  :style => 'width:300px;', :onchange => 'update_admin_user_cand();', :multiple => false -%>
      <br />
<%= select_tag 'item[schedule_admin_users][uid]', Gw.options_for_select(
  System::User.get_user_select(Site.user_group.id), Site.user.id, :title=>1), :size=>10,
  :style => 'width:300px;', :multiple => true, :ondblclick => 'add_admin_users()' -%>
    </td>
    <td>
      <%= button_to_function '追加 →', 'add_admin_users()' -%><br /><br />
      <%= button_to_function '← 削除', 'del_admin_users()' -%>
    </td>
    <td>
      <br />
      <%= select_tag 'item[schedule_admin_users_add_buf]', '', :size=>10, :style => 'width:300px;', :multiple => true, :ondblclick => 'del_admin_users()' -%>
      <%= hidden_field_tag 'item[schedule_admin_users_json]', '' -%>
    </td>
  </tr>
</table>
<% end %>

<%#= javascript_include_tag :defaults %>



