<table border="0">
  <tr>
    <td class="userChange">
      <%= select_tag :group_user_group_id, options_for_select(System::Group.enabled_group_options, Core.user_group.id) %><br />
      <%= select_tag :group_users, options_for_select(Core.user_group.enabled_user_options, Core.user.id), size: 10, style: 'width:300px;', multiple: true %>
    </td>
    <td>
      <%= button_tag "追加 ↓", type: :button, id: 'add_group_user', style: 'width:60px;' %>
    </td>
    <td></td>
  </tr>
  <tr>
    <td colspan="3">
      <%= render 'form_users_table', f: f %>
    </td>
  </tr>
</table>

<script type="text/javascript">
(function($) {
  $(function() {
    $('#group_user_group_id').on('change', function() {
      $.get('<%= url_for(action: :get_users) %>', {group_id: $(this).val()}, function(data) {
        $('#group_users').html(data);
      });
    });
    $('#add_group_user').on('click', function() {
      addSelectedUser('#group_users', '#schedule_users_table');
    });
    $('#group_users').on('dblclick', function() {
      addSelectedUser('#group_users', '#schedule_users_table');
    });
    function addSelectedUser(from, to) {
      var from = $(from);
      var to = $(to);
      from.find('option:selected').each(function() {
        if (to.find('tr[data-user-id=' + $(this).val() + ']').length == 0) {
          var clone = $('#template').clone();
          clone.removeAttr('id').removeAttr('style').attr('data-user-id', $(this).val());
          clone.find('input[id$=user_id]').val($(this).val());
          clone.find('td.u_name').text($(this).text());

          var num = to.find('tr').length - 1;
          var attrs = ['id', 'name', 'for'];
          clone.find('input, select, label').each(function() {
            for (var i=0; i<attrs.length; i++) {
              var val = $(this).attr(attrs[i]);
              if (val) { $(this).attr(attrs[i], val.replace(/0/, new String(num))); }
            }
          });
          to.append(clone);
        }
      });
    }
    $('form').on('submit', function() {
      $('#template').remove();
    });
  });
})(jQuery);
</script>
