<div class="sb06_assigned_conference_form601">
<div class="sb06_assigned_conference_formStyleNo">（様式第 ６ 号）</div>
<div class="sb06_assigned_conference_date">
  <%= Gwsub.fyear_to_namejp2(@item.conf_at) %>
  <%= %Q(　　　　年　　　月　　　日) if @item.conf_at.blank?%>
</div>
<div class="sb06_assigned_conference_group_to"><%= @item.c_kind.conf_to_name + '　殿' unless @item.c_kind.conf_to_name.blank? %></div>
<div class="sb06_assigned_conference_group_from">執行機関名　<%= @item.group_name %></div>
<div class="sb06_assigned_conference_title"><%= @item.c_kind.conf_title %></div>
<div class="left"><%= @item.c_kind.conf_body %></div>
<!-- table width="60%" align="center" border="1" -->
<% unless @members.blank? %>
<table class="index">
  <tr>
    <td style="text-align:center;">名称</td>
    <td style="text-align:center;">職<br />（担当名）</td>
    <td style="text-align:center;">氏名<br />連絡先電話番号</td>
    <td style="text-align:center;">備考</td>
  </tr>
  <% @members.each do |item| %>
  <tr>
    <td>
    <div><%= item.c_item.item_title unless item.conf_item_id.to_i==0 %></div>
    </td>
    <td>
      <%= item.official_title_name %>
      <br />
      <%= item.user_job_name %>
    </td>
    <td>
      <%= item.user_name %>
      <br />
      <%= item.extension %>
    </td>
    <td>
      <%= item.remarks %>
    </td>
  </tr>
  <% end %>
</table>
<% end %>
</div>
