<%
fyear_order = "published_at DESC"
fyears = Gwsub::Sb04EditableDate.find(:all,:order=>fyear_order).collect{|x| [x.fy_rel.markjp,x.fyear_id]}
%>
<%= f.hidden_field :fyear_markjp %>
<%= hidden_field_tag 'limit', @limits %>
<%= hidden_field_tag 'fyed_id', @fyed_id %>
<%= hidden_field_tag 'pre_fyear', @fyed_id %>
<%= f.error_messages %>
<%= required_head %>
<table class="show">
<tr><th><%= required %>年度</th>
<td><%= f.select(:fyear_id, options_for_select(fyears ,@item.fyear_id.to_i) ) %></td>
</tr>
<tr><th><%= required %>見出し</th>
<td><%= f.text_field :title ,:size=>80 %></td>
</tr>
<tr><th><%= required %>座席表掲示板URL</th>
<td><%= f.text_field :bbs_url ,:size=>80 %></td>
</tr>
<tr><th>備考</th>
<td><%= f.text_field :remarks ,:size=>80 %></td>
</tr>
</table>
<div class="preserve"><%= f.submit '保存' %></div>
