<%
case @v
when '2'
  render_path = 'gwsub/admin/sb04/sb04_seating_lists/bbs_view'
  locals ={:link_to_action => nil ,:link_to_show => 0}
else
  render_path = 'gwsub/admin/sb04/sb04_seating_lists/index_view'
  @u_role==true ? locals ={:link_to_action => nil,:link_to_show => 1} : locals ={:link_to_action => nil ,:link_to_show => 0}
end
-%>
<div class="gwsub sb04">
<%= render :partial => 'gwsub/admin/sb04/sb04_piece_header' -%>
<div class="pieceBanner">
<% if @v=='2' %>
  <%# 一般メニュー -%>
  <%= render :partial => 'gwsub/admin/sb04/sb04_submenu' -%>
<% else %>
  <%# コード管理メニュー -%>
  <%= render :partial => 'gwsub/admin/sb04/sb04_subfunction_select_menu' -%>
  <%= render :partial => 'gwsub/admin/sb04/sb04_level3menu_header' -%>
<% end %>
<% unless @v=='2' -%>
  <%= render :partial => 'gwsub/admin/sb04/sb04_seating_lists/display_name' -%>
<% end -%>
</div>
<div class="pieceBody">
  <% if @items.blank? -%>
    <%= show_notice -%>
  <% else %>
    <%= div_notice -%>
    <%= render :partial => render_path , :locals => locals -%>
  <% end -%>
</div>
</div>