<div class="gwsub sb04">
  <%= render :partial => 'gwsub/admin/sb04/sb04_piece_header' %>
  <div class="pieceBanner">
    <%= render :partial => 'gwsub/admin/sb04/sb04_subfunction_select_menu' %>
    <%= render :partial => 'menu' %>
    <%= render :partial => 'gwsub/admin/sb04/sb04stafflistview_masters/display_name' %>
  </div>
  <div class="pieceBody">
  <div class="pieceBodyBody">
    <%=  render(:partial => 'search') -%>
    <%#= @content_for_search -%>
    <%= div_notice -%>
    <% if @items.blank? -%>
      <%= Gw.div_notice('表示する項目はありません。') -%>
    <% else -%>
    <table class="index">
      <tr>
      <th></th>
      <th><%= sort_link '年度', @sort_keys, "#{@public_uri}/", "fyear_id_sb04", @qs %></th>
      <th><%= sort_link '主管課担当者 所属課', @sort_keys, "#{@public_uri}/", "management_gcode", @qs %></th>
      <th>主管課担当者</th>
      <th><%= sort_link '所属', @sort_keys, "#{@public_uri}/", "division_gcode", @qs %></th>
      <th>作成日</th>
      <th>更新日</th>
      </tr>
      <% @items.each do | item| %>
      <%
        fyear_markjp = ""
        fyear = Gwsub::Sb04EditableDate.find_by_fyear_id(item.fyear_id_sb04)
        fyear_markjp = fyear.fyear_markjp if !fyear.blank?

        management_uid_sb04_name = ""
        staff = Gwsub::Sb04stafflist.find_by_id(item.management_uid_sb04)
        management_uid_sb04_name = "#{staff.name}" if !staff.blank?

        management_gid_sb04_name = ""
        section = Gwsub::Sb04section.find_by_id(item.management_gid_sb04)
        management_gid_sb04_name = "#{section.name}" if !section.blank?

        division_gid_sb04_name = ""
        section = Gwsub::Sb04section.find_by_id(item.division_gid_sb04)
        division_gid_sb04_name = "#{section.name}" if !section.blank?
      %>
      <tr class="<%= cycle '', ' cycle' %>">
        <td><%= link_to('詳細', "#{@public_uri}/#{item.id}#{@params_set}") %></td>
        <td><%= fyear_markjp -%></td>
        <td><%= management_gid_sb04_name -%></td>
        <td><%= management_uid_sb04_name -%></td>
        <td><%= division_gid_sb04_name -%></td>
        <td><%= item.created_at.strftime('%Y-%m-%d %H:%M') -%></td>
        <td><%= item.updated_at.strftime('%Y-%m-%d %H:%M') -%></td>
      </tr>
      <% end %>
    </table>
    <% end -%>
  </div>
    <%=  nz(paginate(@items)) %>
  </div>
</div>

<script language = "JavaScript" type="text/javascript">
//<![CDATA[

var search_submit = function () {
  document.forms['search'].submit();
}
//]]>
</script>