<div class="gwsub sb04">
<div class="pieceHeader">
  <%= render :partial => 'gwsub/admin/sb04/sb04_piece_header' %>
</div>
<div class="pieceBanner">
  <%= render :partial => 'gwsub/admin/sb04/sb04_subfunction_select_menu' %>
  <%= render :partial => 'menu' %>
  <%= render :partial => 'gwsub/admin/sb04/sb04stafflistview_masters/display_name' %>
</div>
<div class="pieceBody">
<%= div_notice %>
<% @action = "create" %>
<%= form_for :item, :url => "#{@public_uri}#{@params_set}",:action=>:create ,:method=>:post, :html => {:multipart => true} do |f| %>
  <%= f.error_messages %>
  <%= render :partial => 'form', :locals => {:f => f} %>
<%= submit_for_create f, :caption => '保存' %>
<% end  %>
</div>
</div>
