<%
  categ_name = '分類'
  categ_name = @title.category1_name unless @title.category1_name.blank?
%>
<div class="sideMenu">
<div class="menuBody">
  <%=render(:partial => 'search')%>
<%=raw @title.other_system_link unless @title.other_system_link.blank? %>

  <%# 所属の時は、月別リンク->分類リンク->所属内容%>
  <%unless @title.left_index_use == '0' %>
    <%if params[:state] == "GROUP"%>
    <h3 class="iconSideMonth"><%=link_to('月別を選択', "#{gwqa_docs_path({:title_id=>@title.id})}&state=DATE") if @title.monthly_view %></h3>
    <%if @title.category == 1%>
     <h3 class="iconSideCategory"><%=link_to("#{categ_name}別を選択", "#{gwqa_docs_path({:title_id=>@title.id})}&state=CATEGORY") if @title.categoey_view %></h3>
    <%end%>
    <%=render(:partial => 'groups')%>
  <%end%>

  <%#分類の時は、月別リンク->所属リンク->分類内容%>
  <%if params[:state] == "CATEGORY"%>
    <h3 class="iconSideMonth"><%=link_to('月別を選択', "#{gwqa_docs_path({:title_id=>@title.id})}&state=DATE") if @title.monthly_view %></h3>
    <h3 class="iconSideGroup"><%=link_to('所属別を選択', "#{gwqa_docs_path({:title_id=>@title.id})}&state=GROUP") if @title.group_view %></h3>
    <%=render(:partial => 'categories') if @title.categoey_view %>
  <%end%>

  <%#上記以外の時は、分類リンク->所属リンク->月別内容-分類%>
  <%unless params[:state] == "GROUP"%>
    <%if @title.category == 1%>
     <h3 class="iconSideCategory"><%=link_to("#{categ_name}別を選択", "#{gwqa_docs_path({:title_id=>@title.id})}&state=CATEGORY") if @title.categoey_view %></h3>
    <%end%>
    <h3 class="iconSideGroup"><%=link_to('所属別を選択', "#{gwqa_docs_path({:title_id=>@title.id})}&state=GROUP") if @title.group_view %></h3>
    <%=render(:partial => 'monthlies') if @title.monthly_view %>
  <%end unless params[:state] == "CATEGORY"%>
<!--</div>-->

 <%end%>
</div>
</div>