<%
help_kinds    = Gwsub::Sb06BudgetNotice.help_kind(nil)
help_states   = Gwsub::Sb06BudgetNotice.help_state(nil)
%>
<%= hidden_field_tag 'limit', @limits %>
<%= f.error_messages %>
<%= required_head %>
<table class="show">
<tr><th>対象分類</th>
<td><%= radio f, :kind ,help_kinds %></td>
</tr>
<tr><th>見出し<%= required %></th>
<td><%= f.text_field :title ,:size=>80 %></td>
</tr>
<tr><th>説明 掲示板URL<%= required %></th>
<td><%= f.text_field :bbs_url ,:size=>80 %></td>
</tr>
<tr><th>備考</th>
<td><%= f.text_field :remarks ,:size=>80 %></td>
</tr>
<tr><th>状態</th>
<td><%= radio f, :state ,help_states %></td>
</tr>
</table>
<div class="preserve">
<%= f.submit '保存' %>
</div>
<%#= render 'gwsub/admin/sb04/sb04_common_info_form', f: f %>

