<%
editable=false
case @v
when '2'
  render_path = 'gwsub/admin/sb06/sb06_budget_notices/bbs_view'
  locals ={:link_to_show => 0}
  # ログインユーザーに編集権限があること
  # 一般ユーザーの場合、登録・編集が可能な期限日あり。
  editable =  Gwsub::Sb06BudgetRole.budget_editable?( Core.user.id , Time.now )
  if editable == true
    t02 = %Q(担当者を登録する)
    l02 = "/gwsub/sb06/sb06_budget_assigns/new"
  else
    t02 = ""
    l02 = ""
  end
else
  t02 = ""
  l02 = ""
  render_path = 'gwsub/admin/sb06/sb06_budget_notices/index_view'
  if @u_role==true
    locals ={:link_to_show => 1}
  else
    locals ={:link_to_show => 0}
  end
end
-%>
<div class="gwsub sb06">
<div class="pieceHeader">
<h2>予算担当登録</h2>
</div>
<div class="pieceBanner">
<%= render 'gwsub/admin/sb06/sb06_subfunction_select_menu' %>
<%= render 'gwsub/admin/sb06/sb0605menu/sb06_budget_admin_submenu'  unless @v=='2' %>
<%= render 'gwsub/admin/sb06/sb06_submenu' if @v=='2' %>
<%= render 'gwsub/admin/sb06/sb06_level3menu_header' unless @v=='2' %>
</div>
<div class="pieceBody">
<% if editable==true %>
<div class="act_charge"><%= link_to t02,l02 %></div>
<% end %>

<%= %Q(<div class="attention">事前に、該当するヘルプを、必ずお読みください。</div>) if editable==true -%>
<%= render render_path, locals %>
</div>
</div>
