<div class="gwsub sb06">
<div class="pieceHeader">
<h2>予算担当登録</h2>
</div>
<div class="pieceBanner">
<%= render 'gwsub/admin/sb06/sb06_subfunction_select_menu' %>
<%= render 'gwsub/admin/sb06/sb0605menu/sb06_budget_admin_submenu' %>
<%= render 'gwsub/admin/sb06/sb06_submenu' if @v=='2' %>
<%= render 'gwsub/admin/sb06/sb06_level3menu_header' unless @v=='2' %>
</div>
<div class="pieceBody">
<%#= render 'gwsub/admin/sb04/sb04_common_showMenu' %>
<div class="showMenu">
<%= link_to_edit(@item.id) %>
<%= link_to_destroy(@item.id) if @u_role==true %>
</div>
<%= table_to_show2(@item, { 'table_name' => 'gwsub_sb06_budget_notices' }).html_safe %>
<%#= render 'gwsub/admin/sb04/sb04_common_info_show' %>
</div>
</div>
