<table class="show bbsText">
  <tr>
    <th>記事件名<%= required('※') %> ( 記事件名は140文字以内で入力してください )</th>
  </tr>
  <tr>
    <td><%= f.text_area :title, :cols => '140', :rows=>"1", :style => 'width:100%; height:45px'%></td>
  </tr>
  <tr>
    <th>本文</th>
  </tr>
  <tr>
    <td class="mceEditor"><%= f.text_area :body, :class => 'mceEditor', :style => 'width:100%' %></td>
  </tr>
</table>

<%if attach_use_old%>
  <%=gwboard_image_form(f, @item, 'item_body')%>
  <%=gwboard_attach_form(f, @item)%>
<%else%>
  <%=gwboard_attachments_form(f, @item)%>
<%end%>
