<% brk_key = nil %>
<table class="index">
  <% @items.each do |item| %>
    <% unless brk_key == item.category1_id %>
    <tr class="subIndex">
      <th colspan="<%= @title.importance == 1 ? 2 : 1 %>" class="docTitle"><%= item.category.try(:name) %></th>
    </tr>
    <% end %>
    <tr class="<%= cycle 'article', 'article cycle' %>">
      <% if @title.importance == 1 %>
        <td class="bbsImportant leftLine" style="text-align: center;" rowspan="2"><%=raw retstr_important_span(item.importance) %></td>
      <% else %>
        <% title_class = "leftLine" %>
      <% end %>
      <td class="docTitle <%= title_class %>">
        <%= link_to item.show_path  + gwbbs_params_set do %>
          <%=hbr item.title %><%=raw '<span class="new">new</span>' if @title.id == 1 && item.new_mark_flg %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td class="group <%= title_class %>"><span><%= item.section_name %></span></td>
    </tr>
    <% brk_key = item.category1_id %>
  <% end %>
</table>
