<table class="index">
  <tr class="headIndex">
    <% if @title.importance == 1 %>
    <th class="item"></th>
    <% end %>
    <th class="docTitle"><%= @title.form_name == 'form009' ? 'システム名' : '記事件名' %></th>
    <th class="item"></th>
    <th class="item"></th>
    <th class="group">記事管理所属</th>
    <th class="update">最終更新日時</th>
  </tr>
  <% brk_key = nil %>
  <% @items.each do |item| %>
    <% if brk_key != item.category1_id %>
    <tr class="subIndex">
      <th colspan="<%= @title.importance == 1 ? 6 : 5 %>" class="docTitle"><%= gwbd_category_name(@d_categories, item.category1_id) %></th>
    </tr>
    <% end %>
    <tr class="<%= cycle 'article', 'article cycle' %>">
      <% if @title.importance == 1 %>
      <td class="bbsImportant" style="text-align: center;"><%=raw retstr_important_span(item.importance) %></td>
      <% end %>
      <td class="docTitle"><%= link_to hbr(item.title), item.show_path  + gwbbs_params_set %><%=raw '<span class="new">new</span>' if @title.id == 1 && item.new_mark_flg %></td>
      <td class="bbsAttach"><%=raw retstr_attache_span(item.attachmentfile) %></td>
      <td class="bbsBalloon"><%=raw retstr_balloon_span(item) %></td>
      <td class="group"><%= link_to item.section_name.to_s, "#{@title.docs_path}&state=GROUP&grp=#{item.section_code}" %></td>
      <td class="update"><%=l item.latest_updated_at if item.latest_updated_at %></td>
    </tr>
    <% brk_key = item.category1_id %>
  <% end %>
</table>
