<div class="piece AdminSetting AdminUsersGroups">
<%= render 'header' %>

<div class="pieceBody">
<%= render '/system/admin/users/header_menu' %>
<%= render 'switching' %>
<%= render '/system/admin/groups/navi' %>
<%= render '/system/admin/users/list_table' %>

</div>
</div>
