<div class="piece AdminSetting AdminUsersGroups">
<%= render :partial => 'header' %>
  <div class="pieceBody">
    <%= render :partial => '/system/admin/users/header_menu' %>
    <%= render :partial => 'switching' %>
    <%= render :partial => '/system/admin/groups/navi' %>
    <%= render :partial => '/system/admin/users/list_table' %>
  </div>
</div>
