<div class="piece AdminSetting AdminUsersGroups">
<%= render 'header' %>

<div class="pieceBody">
<%= render '/system/admin/users/header_menu' %>
<%= render 'switching' %>
<%= render '/system/admin/groups/navi' %>

<div class="editingBox">
  <span class="btEdit">
    <%= link_to '編集', {action: :edit} if @item.editable? %>
  </span>
  <span class="btDestroy">
    <%= link_to '削除', {action: :destroy}, method: :delete, confirm: '削除してよろしいですか？' if @item.deletable? %>
  </span>
</div>

<table class="show">
  <tbody>
    <tr>
      <th>ユーザー</th>
      <td><%= @item.user.name if @item.user %></td>
    </tr>
    <tr>
      <th>所属グループ</th>
      <td><%= @item.show_group_name %></td>
    </tr>
    <tr>
      <th>役職</th>
      <td><%= @item.user.official_position if @item.user %></td>
    </tr>
    <tr>
      <th>本務・兼務</th>
      <td><%= System::UsersGroup.job_order_show(@item.job_order) %></td>
    </tr>
    <tr>
      <th>配属開始日</th>
      <td><%=l @item.start_at, format: :date if @item.start_at %></td>
    </tr>
    <tr>
      <th>配属終了日</th>
      <td><%=l @item.end_at, format: :date if @item.end_at %></td>
    </tr>
    <tr>
      <th>状態</th>
      <td><%= System::UsersGroup.state_show(@item.user.state) if @item.user %></td>
    </tr>
  </tbody>
</table>

<div class="btReturn">
  <%= link_to '戻る', {action: :index} %>
</div>

</div>
</div>
