<%#*<p>Find me in app/views/gw/admin/year_mark_jp/edit.html.erb</p>%>
<%
  @edit_path = "/gw/year_mark_jps/#{@item.id}?#{@qs}"
%>
<div class="piece YearMarkJp">

<%= render :partial => 'header' %>
<div class="pieceBody">
<%= form_for :item, :url => @edit_path, :html => {:method => :put, :multipart => true} do |f| %>
<%= render :partial => 'form', :locals => {:f => f} %>
<%= raw(submit_for(f, {:caption => '保存'}) ) %>
<% end %>
<div class="btReturn">
  <%=link_to '戻る', "/gw/year_mark_jps/#{@item.id}?#{@qs}" %>
</div>
</div>

</div>
