<%#*<p>Find me in app/views/gw/admin/year_mark_jp/index.html.erb</p>%>
<div class="piece YearMarkJp">
<%= render :partial => 'header' %>

<div class="pieceBody">
<%= render :partial => 'menu' %>

<%= render :partial => 'search' %>
<%
  #path_index = Gw.chop_with("#{Site.current_node.public_uri}",'/')
  path_index = "/gw/year_mark_jps"
  #link_to_action = nil
  link_to_show = 1
  options = {
   'table_name' => 'gw_year_mark_jps' ,
   'sort_link_options' => {
    'sort_keys' => @sort_keys,
    'path_index' => path_index,
    'other_query_string' => @qs
    },
    'link_to_show'    => nz(link_to_show,1)
  }
%>
<br/>
<%= raw(table_to_index2 @items, options) %>
<br/>
<%= paginate @items %>
<br/>
</div>

</div>
