<div class="sb06_assigned_conference_form103">
<div class="sb06_assigned_conference_date">
  <%= Gwsub.fyear_to_namejp2(@item.conf_at) %>
  <%= %Q(　　　　年　　　月　　　日) if @item.conf_at.blank?%>
</div>
<div class="sb06_assigned_conference_group_to"><%= @item.c_kind.conf_to_name + '　殿' unless @item.c_kind.conf_to_name.blank? %></div>
<div class="sb06_assigned_conference_group_from"><%= @item.group_name %></div>
<div class="sb06_assigned_conference_title"><%= @item.c_kind.conf_title %></div>
<div class="left"><%= @item.c_kind.conf_body %></div>
<!-- table width="60%" align="center" border="1" -->
<table class="index">
  <tr>
    <td rowspan="2" width="25%">
      <%= @members[0].c_item.item_title unless @members.blank? %>
    </td>
    <td width="15%">職名</td>
    <% @members.each do |item| %>
    <td>
      <%= item.official_title_name %>
    </td>
    <% end %>
  </tr>
  <tr>
    <td>氏名</td>
    <% @members.each do |item| %>
    <td><%= item.user_name  %></td>
    <% end %>
  </tr>
</table>
</div>
