<%
doc_link = %Q(#{@item1.title})
state = Gwsub::Sb01TrainingSchedule.state_show(@ts.state)
-%>
<table class="show leftSide">
  <tr>
    <th>研修名</th>
    <td><%= doc_link %></td>
  </tr>
  <tr>
    <th valign="top">開催日時</th>
    <td style="align: left;">
      <%= safe{@ts.from_start.strftime('%Y年%m月%d日')} %><%=safe{" (#{Gw.weekday(@ts.from_start.wday)}) "}%>
      <%= safe{@ts.from_start.strftime('%H:%M')} %>～<%= safe{@ts.from_end.strftime('%H:%M')} %>まで
      <table style="width: 600px;">
        <tr>
          <td>場所</td><td>状況</td><td>定員</td><td>受付</td>
        </tr>
        <tr>
          <td><%= @ts.prop_name %></td>
          <td><%= state %></td>
          <td><%= @ts.members_max %></td>
          <td><%= @ts.members_current %></td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <th>企画所属</th>
    <td><%= @item1.group_name %></td>
  </tr>
  <tr>
    <th>企画者</th>
    <td><%= @item1.member_name %></td>
  </tr>
  <tr>
    <th>連絡先電話番号</th>
    <td><%= @item1.member_tel %></td>
  </tr>
  <tr>
    <th>最終更新日</th>
    <td><%= safe{@ts.updated_at.strftime('%Y-%m-%d')} %></td>
  </tr>
</table>
