<%#= render 'gwsub/admin/sb01/sb01_trainings/menu' %>
<div class="gwsub sb01">
<div class="pieceHeader">
<h2>研修申込・受付</h2>
</div>
<div class="pieceBanner">
<%= render 'gwsub/admin/sb01/sb01_training_guides/menu' %>
</div>
<div class="pieceBody">
<div class="editingBox leftSide">
<span class="btEdit"><%= link_to_edit @item.id %></span>
<span class="btDestroy"><%= link_to_destroy @item.id %></span>
</div>
<br />
<table class="show leftSide">
<tbody>
  <tr><th>年度</th><td><%= @item.fyear_markjp%></td></tr>
  <tr><th>記事分類</th><td><%= safe{@item.category_label}%></td></tr>
  <tr><th>記事名</th><td><%= @item.title%></td></tr>
  <tr><th>記事内容(url)</th><td><%= @item.bbs_url%></td></tr>
  <tr><th>備考</th><td><%= @item.remarks%></td></tr>
</tbody>
</table>

<br />
</div>
</div>