<div class="docsInnerBox">

<table class="bbsExpirydate">
  <tr>
    <td>　期限日時 : </td>
    <td class="space"></td>
    <td><%=l @item.expired_at if @item.expired_at %></td>
  </tr>
</table>

<div class="bbsCreatorInf">
<table>
  <tr>
    <td>作成 : &nbsp;</td>
    <td><%= @item.creater_gname %></td>
    <td class="space"></td>
    <td><%= @item.creater_name %></td>
    <td class="space"></td>
    <td><%=l @item.applied_at if @item.applied_at %></td>
  </tr>
</table>
</div>

<div class="bbsUserform">
<table class="bbsUserformBody">
  <tr><td class="docTitle"><span><%=hbr @item.title %></span></td></tr>
  <tr><td class="spaceBottom"></td></tr>
  <tr><td><%=raw @item.body %></td></tr>
</table>
</div>

</div><!--docsInnerBox-->

<% if @item.files.present? %>
<div class="docsInnerBox">
<table class="bbsUserformBody">
  <tr>
    <td>
      <% @item.files.each do |f| %>
        <%= link_to f.filename, f.file_uri('gwworkflow'), class: f.icon_type %>
      <% end %>
    </td>
  </tr>
</table>
</div>
<% end %>

<table class="index">
  <tr class="headIndex">
    <th style="width:30px;">順番</th>
    <th style="width:60px;">承認者</th>
    <th class="group">状態</th>
    <th class="docTitle">コメント</th>
    <th style="width:120px;">更新日時</th>
  </tr>
  <% @item.steps.each.with_index do |step, i| %>
    <tr class="<%= cycle 'article', 'article cycle' %>">
      <td><%= i + 1 %></td>
      <td class="group"><%= step.committee.user_name %></td>
      <td style="width:60px;"><%=raw step.committee.state_str if @item.real_state != :draft %></td>
      <td class="docTitle"><%=hbr step.committee.comment %></td>
      <td class="docTitle"><%=l step.committee.decided_at if step.committee.decided_at %></td>
    </tr>
  <% end %>
</table>
