<%
 if !@item.blank?
    mce_base_url = ''
  else
    mce_base_url = '/_attachs/gwworkflow/' + sprintf("%06d", @item.title_id) + '/' + @item.name + "/" unless @item.name.blank?
  end
%>
<%= tool_tiny_mce(mce_base_url) %>

<table class="show bbsText">
  <tr>
    <th>タイトル<%= required %> ( 記事件名は140文字以内で入力してください )</th>
  </tr>
  <tr>
    <td><%= f.text_area :title, cols: '140', rows: "1", style: 'width:100%; height:45px' %></td>
  </tr>
  <tr>
    <th>内容</th>
  </tr>
  <tr>
    <td class="mceEditor"><%= f.text_area :body, class: 'mceEditor', style: 'width:100%; height: 300px;' %></td>
  </tr>
</table>

<%= render 'attachment', f: f, item: @item %>

<table class="show bbsText">
  <tr>
    <th>期限日<%= required %></th>
    <td><%= f.datetimepicker :expired_at %></td>
  </tr>
</table>

<%= render '/gwworkflow/admin/share/custom_route_users_route_editor', f: f %>

<%= f.hidden_field :current_number %>
