<%
this_uri = "/gwworkflow/docs"
%>
<div class="tabBox">
<table class="tabtable">
<tbody>
  <tr>
    <td class="spaceLeft"></td>
    <td class="tab <%= 'current' if params[:cond].blank? || params[:cond] == 'committed' %>"><%= link_to "申請一覧", "#{this_uri}?cond=committed" %></td>
    <td class="spaceCenter"></td>
    <td class="tab <%= 'current' if params[:cond] == 'processing' %>"><%= link_to "承認待ち一覧", "#{this_uri}?cond=processing" %></td>
    <td class="spaceCenter"></td>
    <td class="tab <%= 'current' if params[:cond] == 'processed' %>"><%= link_to "承認済み一覧", "#{this_uri}?cond=processed" %></td>
    <td class="spaceRight"></td>
  </tr>
</tbody>
</table>
</div>
