<div class="piece AdminSetting AdminGroups">
<%= render :partial => 'header' %>
  <div class="pieceBody">
    <%= render :partial => 'navi' %>
<%= form_for @item, :as => :item, :url => {:action => :create} do |f| %>
  <%= f.error_messages %>
  <%= render :partial => 'form', :locals => {:f => f} %>
  <%= button_tag '戻る', :type => :button, :onclick => "document.location='#{url_for(:action => :index)}';" %>
  <%= f.submit 'この内容で登録する' %>
<% end %>

</div>
</div>