<div class="sb06_assigned_conference_form303">
<div class="sb06_assigned_conference_markNo"><%= @item.conf_mark %>第　<%= @item.conf_no %>号</div>
<div class="sb06_assigned_conference_date">
  <%= Gwsub.fyear_to_namejp2(@item.conf_at) %>
  <%= %Q(　　　　年　　　月　　　日) if @item.conf_at.blank?%>
</div>
<div class="sb06_assigned_conference_group_to"><%= @item.c_kind.conf_to_name + '　殿' unless @item.c_kind.conf_to_name.blank? %></div>
<div class="sb06_assigned_conference_group_from"><%= @item.group_name %></div>
<div class="sb06_assigned_conference_title"><%= @item.c_kind.conf_title %></div>
<div class="left"><%= @item.c_kind.conf_body %></div>
<!-- table width="60%" align="center" border="1" -->
<% unless @members.blank? %>
<table class="index">
  <tr>
  <% @members.each do |item| %>
    <td colspan="2">
    <div style="text-align:center;"><%= item.c_item.item_title unless item.conf_item_id.to_i==0 %></div>
    </td>
  <% end %>
  </tr>
  <tr>
  <% @members.each do |item| %>
  <td>職</td><td>氏名</td>
  <% end %>
  </tr>
  <tr>
    <% @members.each do |item| %>
    <td><%= item.official_title_name %></td><td><%= item.user_name %></td>
    <% end %>
  </tr>
  <tr>
    <% @members.each do |item| %>
      <td>電話番号</td>
      <td><%= item.extension %></td>
    <% end %>
  </tr>
  <tr>
    <% @members.each do |item| %>
      <td>メールアドレス</td>
      <td><%= %Q(<a href="mailto:#{item.user_mail}">#{item.user_mail}</a>) %></td>
    <% end %>
  </tr>
</table>
<% end %>
</div>
