<div class="piece prop index">
<div class="pieceHeader">
<%= render 'piece_header' %>
</div>
<div class="pieceBody">
<div class="pieceBodyHeader">
</div>
<%= render '/gw/admin/prop_others/prop_master_menu' %>
<%= render 'titleline' %>

<div class="pieceBodyBody">
<div class="editingBox">
  <span class="btEdit"><%= link_to "編集", :action => :edit, :id => @item.id %></span>
  <span class="btDestroy"><%= link_to_destroy @item.id, :confirm => "メッセージを削除します。よろしいですか？" %></span>
</div>

<table class="show">
  <tr>
    <th>公開</th>
    <td><%= @item.state_show %></td>
  </tr>
  <tr>
    <th>メッセージ</th>
    <td><%=sanitize @item.body.html_safe %></td>
  </tr>
  <tr>
    <th>並び順</th>
    <td><%= @item.sort_no %></td>
  </tr>
</table>

<div class="btReturn">
  <%= link_to '一覧へ戻る', url_for({:action=>:index}) %>
</div>
</div>
</div>
</div>
