<%
  s_cond = ''
  s_cond = '?cond=noread' if params[:cond] == 'noread'
  s_cond = '?cond=already' if params[:cond] == 'already'
  if @item.state == "unread" or @item.state = "mobile"
    form_state = "mobile"
  else
    form_state = "already"
  end
%>
<h2 class="mobileCircular"><img src="/_common/themes/gw/files/mobile/ic-rem-circulation.gif">回覧板</h2>

<%= form_for :item, :url => @item.update_path ,:html => {method: :put, multipart: true, id: 'itemForm'} do |f| %>
  <%= f.error_messages %>
  <p class="docTitle"><span><%=hbr @parent.title %></span></p>
  <table class="bbsExpirydate">
    <tr>
      <td>回覧期限 : </td>
      <td><%=l @parent.expiry_date if @parent.expiry_date %></td>
    </tr>
  </table>
  <div class="docsInnerBox">
  <div class="bbsUserform">
  <table class="bbsUserformBody">
    <tr>
      <% if @parent.wiki_enabled? -%>
        <td class="wiki"><%= wiki_show(@parent.body) -%></td>
      <% else -%>
        <td><%= @parent.body -%></td>
      <% end -%>
    </tr>
  </table>
  </div>
  </div>
  <hr class="borderDash" />
  <table class="show bbsText">
    <tr>
      <td>返信欄</td>
    </tr>
    <tr>
      <td><%= f.text_area :body, :cols => '140', :rows=>"1", :style => 'width:100%; height:45px' %></td>
    </tr>
  </table>
  <div class="submitters replyRead">
    <input id="<%= f.object_name %>_submit" name="commit" type="submit" value="返信・既読" />
    <input id="<%= f.object_name %>_state" name="<%= f.object_name %>[state]" type="hidden" value="<%= form_state %>" />
  </div>
<% end %>

<hr class="borderDash" />
<!--戻るボタン-->
<p class="leftPad2"><%= link_to '詳細画面へ戻る', "/gwcircular/docs/#{@item.id}#{s_cond}" %></p>
<p class="leftPad2"><%= link_to '回覧板一覧へ戻る', "#{@title.menus_path}#{s_cond}" %></p>
