<div class="bbsDocList circular">
<%= render :partial => 'gwcircular/admin/menus/piece_header' %>
<%= render :partial => 'gwcircular/admin/menus/piece_banner' %>

<div class="pieceBody">
<%= render :partial => 'header' %>

<%= form_for :item, :url => "/gwcircular/docs/#{@item.id}", :html => {:method => :put, :multipart => true, :id => 'itemForm'} do |f| %>
<%= f.error_messages %>

<div class="docsInnerBox">
<div class="bbsUserform">
<table class="bbsUserformBody">
<tr><td class="docTitle"><span><%= hbr(@parent.title) %></span></td></tr>
<tr><td class="spaceBottom"></td></tr>
<tr><td><%= raw(@parent.body) %></td></tr>
</table>
</div>
</div>

<%= render :partial => 'form', :locals => {:f => f} %>

<div class="submitters">
  <input id="<%= f.object_name %>_submit" name="commit" onclick="document.getElementById('<%= f.object_name %>_state').value='already';" type="submit" value="返信・既読" />
  <input id="<%= f.object_name %>_state" name="<%= f.object_name %>[state]" type="hidden" value="" />
</div>

<% end %>

</div><!--pieceBody-->
</div><!--bbsDocList circular-->
