<%
  s_cond = ''
  s_cond = '?cond=noread' if params[:cond] == 'noread'
  s_cond = '?cond=already' if params[:cond] == 'already'
%>
<div class="bbsDocList circular">
<%= render :partial => 'gwcircular/admin/menus/piece_header' %>
<%= render :partial => 'gwcircular/admin/menus/piece_banner' %>

<div class="pieceBody">
<%= render :partial => 'header' %>
  
<div class="docsInnerBox">

<table class="bbsExpirydate">
  <tr>
    <td>　回覧期限日時 : </td>
    <td class="space"></td>
    <td><%= @parent.expiry_date.strftime('%Y-%m-%d %H:%M') unless @parent.expiry_date.blank? %></td>
  </tr>
</table>

<div class="bbsCreatorInf">
<table>
<tr>
<td>回覧作成 : &nbsp;</td>
<td><%= @parent.createrdivision %></td>
<td class="space"></td>
<td><%= @parent.creater %></td>
<td class="space"></td>
<td><%= @parent.createdate %></td>
</tr>
</table>
</div>

<div class="bbsUserform">
<table class="bbsUserformBody">
<tr><td class="docTitle"><span><%= hbr(@parent.title) %></span></td></tr>
<tr><td class="spaceBottom"></td></tr>
<tr><td><%= raw(@parent.body) %></td></tr>
</table>
</div>

</div><!--docsInnerBox-->

<% if @item.state == 'unread' %>
  <div class="centerText"><%= link_to "回覧内容について、確認しました", @item.doc_state_already_update, :class => 'btConfirmed' %></div>
<% end %>

<table class="index">
<tr class="headIndex">
<% if @item.state == 'unread' %>
  <th style="width:80px;">状態</th>
<% else %>
  <th style="width:60px;">状態</th>
<% end %>
<th class="group">受信者名</th>
<th class="docTitle">返信欄</th>
<th style="width:120px;">確認日時</th>
<th style="width:120px;">最終更新日時</th>
</tr>
<tr class="<%= cycle 'article', 'article cycle' %>">
<td><%= raw(status_name(@item)) %></td>
<td class="group"><%= "#{@item.target_user_name}(#{@item.target_user_code})" %></td>
<% if @item.body.blank? %>
  <td>
  <%= link_to "返信欄を編集する", doc_edit_path(@item), :class => 'btText' %>
  </td>
<% else %>
  <td class="docTitle">
  <%= link_to @item.body ,doc_edit_path(@item) %>
  </td>
<% end %>
<td class="update"><%= @item.display_opendocdate %></td>
<td class="update"><%= @item.display_editdate %></td>
</tr>
<% for item in @commissions %>
  <tr class="<%= cycle 'article', 'article cycle' %>">
  <td style="width:65px;"><%= raw(status_name(item)) %></td>
  <td class="group"><%= "#{item.target_user_name}(#{item.target_user_code})" %></td>
  <td class="docTitle"><%= item.already_body %></td>
  <td class="update"><%= item.display_opendocdate %></td>
  <td class="update"><%= item.display_editdate  %></td>
  </tr>
<% end %>
</table>

<%= paginate @commissions %>

<!--戻るボタン-->
<div class="btReturn">
  <%= link_to '回覧板一覧へ戻る', "#{@title.menus_path}#{s_cond}" %>
</div>

</div><!--pieceBody-->
</div><!--bbsDocList circular-->

