<div class="piece AdminSetting">
<%= render 'header' %>

<div class="pieceBody">

<% if @items.length == 0 %>
<div class="notice">表示する内容はありません。</div>
<% else %>
<table class="index">
  <tr>
    <th style="width:80px;"></th>
    <th style="width:60px;">状態</th>
    <th>表示名</th>
  </tr>
  <% @items.each_with_index do |item, idx| %>
    <tr class="<%= cycle '', 'cycle' %>">
      <td><%= link_to (item.state == 'enabled' ? '非表示にする' : '表示する'), {action: :toggle_state, id: item.id} %></td>
      <td><span style="<%= 'color:red;' if item.state == 'disabled' %>"><%= item.show_state %></span></td>
      <td><%= item.title %></td>
    </tr>
  <% end %>
</table>
<%= paginate @items %>
<% end %>

</div>
</div>
