<div class="piece AdminSetting">
<%= render 'header' %>

<div class="pieceBody">
<%= render 'menu' %>

<%= form_for :item, :url => {action: :new}, :html => {method: :post} do |f| %>
  <%= f.error_messages %>
  <%= required_head %>
  <%= render 'form', f: f %>
<% end %>

</div>
</div>
