<div class="piece AdminSetting">
<%= render 'header' %>

<div class="pieceBody">
<%= render 'menu' %>

<table class="show">
  <tr>
    <th>状態</th>
    <td><span style="<%= 'color:red;' if @item.state == 'disabled' %>"><%= @item.show_state %></span></td>
  </tr>
  <tr>
    <th>並び順</th>
    <td><%= @item.sort_no %></td>
  </tr>
  <tr>
    <th>表示名</th>
    <td><%= @item.title %></td>
  </tr>
  <tr>
    <th>モデル名</th>
    <td><%= @item.name %></td>
  </tr>
  <tr>
    <th>CSSクラス名</th>
    <td><%= @item.css_name %></td>
  </tr>
</table>

<%= render 'button_return' %>

</div>
</div>
