<div class="piece AdminSetting">
<%= render 'header_str' %>
<div class="pieceBody">
<%= render 'menu' %>

<% if @items.length == 0 -%>
  <%= show_notice -%>
<% else -%>
<%= form_tag url_for(action: :sort_update), {method: :put} do %>
  <%= hidden_field_tag :page, params[:page] if params[:page].present? %>
  <%= hidden_field_tag :limit, params[:limit] if params[:limit].present? %>
  <table class="index">
    <tr>
      <th class="action"></th>
      <th class="published">公開</th>
      <th class="sort">並び順<input id="item_submit" name="commit" type="submit" value="更新" /></th>
      <th class="file_path">ファイル名パス</th>
      <th class="file_name">ファイル名</th>
      <th class="img">画像</th>
      <th class="background_color">背景色</th>
      <th class="area">地域</th>
      <th class="caption">キャプション</th>
    </tr>
    <% @items.each_with_index do |item, idx| -%>
      <%= fields_for 'items[]', item do |f| %>
        <tr class="<%= cycle '', 'cycle' %>">
          <td><%= link_to '詳細', {action: :show, id: item.id} %></td>
          <td><span style="<%= 'color:red;' if item.published != 'opened' %>"><%= item.published_label %></span></td>
          <td><%= f.text_field :sort_no, class: 'string sort_no', style: 'width: 40px;', size: 5, maxlength: 4 %></td>
          <td><%= item.file_path %></td>
          <td><%= item.file_name %></td>
          <td><img src="<%= item.file_path -%>" width="100" /></td>
          <td><%= item.background_color_label %></td>
          <td><%= item.area_label %></td>
          <td><%= item.caption %></td>
        </tr>
      <% end -%>
    <% end -%>
  </table>
  <%= paginate @items %>
<% end -%>
<% end -%>

</div>
</div>
