<div class="piece bbs">
<div class="pieceHeader">
<h2>掲示板</h2>
</div><!--pieceHeader-->
<div class="pieceBody">
<%= render :partial => 'header' %>
<%=div_notice%>
<table class="index">

  <tr>
    <th style="width: 60px; text-align: center;">　</th>
    <th style="width: 60px; text-align: right;">並び順</th>
    <th >名称</th>
    <th style="width: 60px; text-align: center;">　</th>
  </tr>

  <% for item in @items %>
  <tr class="<%= cycle '', 'cycle' %>">
    <td style="text-align: center;"><%= link_to '編集', edit_gwbbs_category_path(item,{:title_id=>item.title_id}) %></td>
    <td style="text-align: right;"><%= item.sort_no %></td>
    <td><%=h item.name %></td>
    <td style="width: 60px; text-align: center;"><%= link_to '削除', gwbbs_category_path(item,{:title_id=>item.title_id}), :confirm => '削除をすると元に戻せません。削除しますか', :method => :delete %></td>
  </tr>
  <% end %>

</table>

<%= paginate @items %>
</div><!--pieceBody-->
</div><!--piece bbs-->
