<% # app/views/gw/admin/prop_extra_group_rentcar_masters/_form.html.erb
#style = 'width:30em;'
my_parent_id = Core.user_group.parent_id
my_gid = Core.user_group.id
my_uid = Core.user.id

d_groups_l2 = Gwboard::Group.level2_top_blank
#m_groups_l3 = Gwboard::Group.level3(nz(@item.management_parent_gid, my_parent_id))
m_groups_l3 = Gwsub.grouplist4(nil, nil , true , nil)
d_groups_l3 = Gwboard::Group.level3(nz(@item.division_parent_gid, my_parent_id))
user_groups = Gwboard::Group.level

%>

<%=  Gw.required_head %>
<div class="title">主管課担当者</div>
<table class="show">
<tr>
  <th>主管課担当者 所属 <%= required %></th>
  <td>
    <%= f.select("management_gid" , options_for_select(m_groups_l3 , nz(@item.management_gid, my_gid).to_i ) , {}, {:onchange=>'update_management_grp_cand();'}) %>
  </td>
</tr>
<tr>
  <th>主管課担当者 <%= required %></th>
  <td>
    <%= f.select("management_uid" , options_for_select(System::User.get_user_select(@item.management_gid) , nz(@item.management_uid, my_uid).to_i ) , {:include_blank=>false}) %>
  </td>
</tr>
</table>

<div class="title">主管課担当範囲</div>
<table class="show">
<tr>
  <th>範囲 <%= required %></th>
  <td>
    <%= f.radio_buttons :range_class_id, I18n.a('enum.gw/section_admin_master.range_class_id'), {selected: nz(@item.range_class_id, '1').to_i}, {onclick: 'range_class();'} %>
  </td>
</tr>
<tr>
  <th>部局 <%= required %></th>
  <td><%= f.select("division_parent_gid" , options_for_select(d_groups_l2, nz(@item.division_parent_gid, my_parent_id).to_i ) , {}, {:onchange=>'update_division_parent_gid_cand();'}) %></td>
</tr>
<tr>
  <th>所属</th>
  <td>
    <%= f.select("division_gid" , options_for_select(d_groups_l3 , nz(@item.division_gid, my_gid ).to_i ) , {:include_blank=>false}) %>
  </td>
</tr>
</table>

<script language = "JavaScript" type="text/javascript">
<!--
  var update_management_grp_cand = function () {
    var fr = $('item_management_gid');
    var g_id = fr.options[fr.selectedIndex].value;
    url = '/gw/schedule_users/user_fields?g_id=' + g_id;
    var to = $('item_management_uid');
    end_cnt = 0;
    new Ajax.Request(url, {method:'get', onComplete: function(x){
      to.update(x.responseText);
      end_cnt = end_cnt + 1;
      if (end_cnt == 1) {
        document.body.style.cursor = 'default';
      }
    }})
  }

  var update_division_parent_gid_cand = function (fr) {
    var fr = $('item_division_parent_gid');
    var p_id = fr.options[fr.selectedIndex].value;
    url = '/gw/schedule_users/group_fields?p_id=' + p_id;
    var to = $('item_division_gid');
    new Ajax.Request(url, {method:'get', onComplete: function(x){
      to.update(x.responseText);
      end_cnt = end_cnt + 1;
      if (end_cnt == 1) {
        document.body.style.cursor = 'default';
      }
    }})
  }

  var range_class = function () {
    class1 = $('item_range_class_id_1').checked
    class2 = $('item_range_class_id_2').checked
    var to = $('item_division_gid');
    if (class1) {
      to.disabled = true;
    } else if (class2) {
      to.disabled = false;
    }
  }

var my_load = function() {
//  $('item_repeat_allday').checked = $('item_allday').checked;
  range_class();
}
window.onload = my_load;
-->

</script>