<div class="piece schedulePiece index">
  <div class="pieceHeader">
  <%= render 'piece_header' %>
  </div>
  <div class="pieceBody">
  <div class="pieceBodyHeader">
     <%= render '/gw/admin/schedule_props/bt_box', d: Date.today -%>
     <%= render '/gw/admin/prop_extras/header' %>
  </div>
  <div class="pieceBodyBody">
    <%= form_for :item, :url => "#{@public_uri}#{@item.id}#{@params_set}", :html => {:method => :put, :multipart => true, :id => 'itemForm'} do |f| %>
      <%= f.error_messages %>
      <%= render 'form', f: f %>
      <%= submit_for_create f, :caption => '保存' %>
    <% end %>
  </div>
</div>
