<div class="piece AdminMessage">
<%= render :partial => 'header' %>

<div class="pieceBody">
<div class="editingBox">
  <span class="btNew"><%= link_to '新規作成', "/system/roles/new?#{@qs}" %></span>
  <% if @is_dev %>
    <span class="docLink"><%= link_to '開発者権限設定', system_role_developers_path %></span>
    <span class="docLink"><%= link_to '対象権限追加',  system_priv_names_path %></span>
    <span class="docLink"><%= link_to '機能名設定',  system_role_names_path %></span>
    <span class="docLink"><%= link_to '機能権限設定', system_role_name_privs_path %></span>
  <% end %>
</div>
<%= render :partial => 'search' %>

<table class="index">
  <tbody>
    <tr>
      <th style="width: 60px;"></th>
      <th>機能名</th>
      <th style="width: 150px; text-align: center;">対象権限  </th>
      <th style="width: 60px; text-align: center;">優先順位</th>
      <th style="width: 60px; text-align: center;">種別</th>
      <th>ユーザ/グループ</th>
      <th style="width: 60px; text-align: center;">許可</th>
    </tr>
    <% for item in @items %>
    <tr class="<%= cycle '', 'cycle' %>">
      <td style="text-align: center;"><%= link_to '詳細', "/system/roles/#{item.id}?#{@qs}" %></td>
      <td><%= item.role_name.display_name %></td>
      <td style="text-align: center;"><%= safe{item.priv_user.display_name} %></td>
      <td style="text-align: center;"><%= item.idx %></td>
      <td style="text-align: center;"><%= item.class_id_label %></td>
      <td><%= item.uid_label %></td>
      <td style="text-align: center;"><%= item.priv_label %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br/>
<%= paginate @items %>
<br/>

</div>
</div>