<%
states = Gwsub::Sb05MediaType.sb05_media_state
medias = Gwsub::Sb05MediaType.select_dd_media_group(nil,'code')
%>
<%= f.hidden_field :media_code      , :value=>@item.media_code        if @action=='edit' %>
<%= f.hidden_field :media_name      , :value=>@item.media_name        if @action=='edit' %>
<%= f.hidden_field :categories_code , :value=>@item.categories_code   if @action=='edit' %>
<%= f.error_messages %>
<%= required_head %>
<table class="show">
  <tr>
    <th>状態</th>
    <td><%= f.radio_buttons :state, states %></td>
  </tr>
  <tr>
    <th>媒体名称<%= required unless @action=='edit' %></th>
    <td>
      <%= f.select :media_code ,options_for_select(medias,@item.media_code)  unless @action=='edit' %>
      <%= @item.media_name if @action=='edit' %>
    </td>
  </tr>
  <tr>
    <th>分類<%= required if @action!='edit' %></th>
    <td>
      <%= f.text_field :categories_code ,:class=>'num' unless @action=='edit' %>
      <%= @item.categories_code if @action=='edit' %>
    </td>
  </tr>
  <tr>
    <th>分類名称<%= required %></th>
    <td><%= f.text_field :categories_name ,:class=>'name' %></td>
  </tr>
  <% if @item.categories_name == 'イベント情報' %>
  <tr>
    <th>画像サイズ上限(MB)<%= required %></th>
    <td><%= f.text_field :max_size ,:class=>'num' ,:value=>@item.max_size %></td>
  </tr>
  <% end %>
</table>
<div class="preserve">
<%= f.submit '保存' %>
</div>
