<div class="gwsub sb05">
<%= render 'gwsub/admin/sb05/sb05_piece_header' %>
<div class="pieceBanner">
<%= render 'gwsub/admin/sb05/sb05_media_types/menu' %>
</div>
<div class="pieceBody">
<%if @items.blank?%>
<%= show_notice %>
<%else%>
<table class="index">
  <tr>
    <th></th><th>状態</th><th>媒体</th><th>媒体名称</th><th>分類</th><th>分類名称</th><th>画像サイズ上限(MB)</th>
  </tr>
  <% @items.each do |item| %>
    <tr>
      <td><%=link_to_show item%></td>
      <td><%=Gwsub::Sb05MediaType.sb05_media_state_show(item.state)%></td>
      <td><%=item.media_code%></td>
      <td><%=item.media_name%></td>
      <td><%=item.categories_code%></td>
      <td><%=item.categories_name%></td>
      <td><%=item.max_size%></td>
    </tr>
  <%end%>
</table>
<%end%>

</div>
</div>
