<%
if @item.media_name=='メルマガ' && @item.categories_name=='イベント情報'
options= {  'table_name' => 'gwsub_sb05_media_types',:action=>'show_size'}
else
options= {  'table_name' => 'gwsub_sb05_media_types',:action=>'show'}
end
options['field_td_criteria'] = {
  'state' => Proc.new{|item| Gwsub::Sb05MediaType.sb05_media_state_show(item.state)}
  }
%>

<div class="gwsub sb05">
<%= render 'gwsub/admin/sb05/sb05_piece_header' %>
<div class="pieceBanner">
<%= render 'gwsub/admin/sb05/sb05_media_types/menu' %>
</div>
<div class="pieceBody">

<div class="editingBox">
  <span class="btEdit"><%= link_to_edit     @item.id  %></span>
  <span class="btDestroy"><%= link_to_destroy  @item.id  %></span>
</div>
<table class="show">
  <tr>
    <th>状態</th>
    <td><%=Gwsub::Sb05MediaType.sb05_media_state_show(@item.state)%></td>
   </tr><tr>
      <th>媒体</th>
      <td><%=@item.media_code%></td>
   </tr><tr>
      <th>媒体名称</th>
      <td><%=@item.media_name%></td>
   </tr><tr>
      <th>分類</th>
      <td><%=@item.categories_code%></td>
   </tr><tr>
      <th>分類名称</th>
      <td><%=@item.categories_name%></td>
   </tr>
   <% if @item.categories_name == 'イベント情報' %>
   <tr>
      <th>画像サイズ上限(MB)</th>
      <td><%=@item.max_size%></td>
   </tr>
   <% end %>
</table>

</div>
</div>
