<%
# スケジュラーメニューのパラメーター
d = Time.now
@st_date = Time.now.strftime('%Y%m%%d')
mode = 'only_directors'
view_mode = "normal"
view_state = Gw::PrefConfig.where(:state => "enabled", :option_type => 'directors', :name => "admin").first
if view_state.blank?
  view_mode = "normal"
  view_str = ""
else
  view_mode="admin"
  view_str = view_state.options
end
%>
<div id="contentBody">
<div class="piece schedulePiece assembly">
<div class="pieceHeader"><h2 class="pieceTitle">在庁表示</h2>
</div>
<div class="pieceBody">

<div class="pieceBodyHeader">
<%= render "gw/admin/schedules/schedule_bt_box", d: d, mode: mode %>
<span class="presentTime"><%= render "gw/admin/pref_directors/display_time" %></span>
<div class="pageLink">
<% @item_links.each do |l| %>
<a href="#<%= l.parent_g_code %>"><%= l.parent_g_name %></a>
<% end %>
</div>
</div><!--pieceBodyHeader-->

<div class="pieceBodyBody">
<% if view_mode == "normal" %>
  <%= render 'gw/admin/pref_directors/index', d: d, mode: mode, disable_switch: true %>
<% else %>
  <% if @u_role %>
    <%= render 'gw/admin/pref_directors/index_prepare', d: d, mode: mode, view_str: "#{view_str}(現在工事中表示になっています)" %>
    <%= render 'gw/admin/pref_directors/index', d: d, mode: mode, disable_switch: true %>
  <% else %>
    <%= render 'gw/admin/pref_directors/index_prepare', d: d, mode: mode, view_str: view_str %>
  <% end %>
<% end %>
</div><!--pieceBodyBody-->

</div><!--pieceBody-->
</div><!--schedulePiece-->
</div><!--contentBody-->
