<%
selected_public_group_options = @item.selected_public_group_options
%>
<table class="show">
  <tr>
    <th>公開所属</th>
    <td>
      <table border="0">
        <tr>
          <td class="userChange">
            <%= select_tag :public_group_parent_id, options_for_select(System::Group.enabled_group_options_without_leaf, Core.user_group.parent_id) -%><br />
            <%= select_tag :public_groups, options_for_select(Core.user_group.parent.self_and_enabled_children.map{|g| [g.name, g.id]}), :size => 10, :style => 'width:250px;', :multiple => true -%>
          </td>
          <td>
            <%= button_tag '追加 →', :type => :button, :id => 'mv1' -%><br /><br />
            <%= button_tag '← 削除', :type => :button, :id => 'mv2' -%>
          </td>
          <td>
            <br />
            <%= select_tag :selected_public_groups, options_for_select(selected_public_group_options), :size => 10, :style => 'width:250px;', :multiple => true -%>
            <%= f.select :selected_public_group_ids, options_for_select(selected_public_group_options, selected_public_group_options.map{|o| o[1]}), {}, {:multiple => true, :style => 'display: none;'} -%>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<script type="text/javascript">
(function($) {
  $(function() {
    $('#public_group_parent_id').on('change', function() {
      $.get('<%= url_for(action: :getajax) %>', {group_id: $(this).val()}, function(data) {
        $('#public_groups').html(data);
      });
    });
    $('#public_groups').on('dblclick', function() {
      moveSelectedOptions('#public_groups', '#selected_public_groups');
    });
    $('#mv1').on('click', function() {
      moveSelectedOptions('#public_groups', '#selected_public_groups');
    });
    $('#selected_public_groups').on('dblclick', function() {
      moveSelectedOptions('#selected_public_groups', '#public_groups');
    });
    $('#mv2').on('click', function() {
      moveSelectedOptions('#selected_public_groups', '#public_groups');
    });

    function moveSelectedOptions(from, to) {
      var from = $(from);
      var to = $(to);
      from.find('option:selected').each(function() {
        if (to.find('option[value=' + $(this).val() + ']').length == 0) {
          to.append($(this).removeAttr('selected'));
        } else {
          $(this).remove();
        }
      });
      var clone_options = $('#selected_public_groups').find('option').clone().attr('selected', 'selected');
      $('#item_selected_public_group_ids').empty().append(clone_options);
    }

    $('form').on('submit', function() {
      if ($('input[name="item[is_public]"]').val() == 1) {
        if ($('#item_selected_public_group_ids').find('option').length == 0) {
          alert('公開所属を選択してください。'); return false;
        }
      }
    });
  });
})(jQuery);
</script>
