<%= f.hidden_field :sort_no -%>
<%= f.hidden_field :state -%>

<%= required_head %>
<table class="show">
  <tr>
    <th>並び順<%= required %></th>
    <td><%= f.text_field :sort_no, :size => 40 %></td>
  </tr>
  <tr>
    <th>機能名<%= required -%></th>
    <td>
      <% if params[:action] == 'edit' -%>
        <%= @item.func_name -%>
      <% else -%>
        <%= f.text_field :func_name, :size => 80 -%>
      <% end -%>
    </td>
  </tr>
  <tr>
    <th>表示名<%= required -%></th>
    <td><%= f.text_field :name, :size => 80 -%></td>
  </tr>
</table>
