<div class="piece sectionAdminMasters show">
<div class="pieceHeader">
  <%= render 'piece_header' -%>
</div>
<div class="pieceBody">

<div class="pieceBodyBody">

<%= form_for :item, :url => {:action => :update}, :html => {:id => "itemForm", :method => :put, :multipart => true} do |f| %>
  <%= f.error_messages %>
  <%= render 'form', f: f %>
  <div class="submitters">
    <%= f.submit '保存' %>
  </div>
<% end %>
</div>

</div>
</div>
