<%
 fyear_order = "published_at DESC"
 fyears = Gwsub::Sb04EditableDate.find(:all,:order=>fyear_order).collect{|x| [x.fy_rel.markjp,x.fyear_id]}
-%>
<%= hidden_field_tag 'fyed_id'  ,@fyed_id %>
<%= hidden_field_tag 'limit'    ,@limits %>
<%= hidden_field_tag 's_keyword',@s_keyword %>

<%= f.error_messages %>
<%= required_head %>
<table class="show">
<tr><th><%= required %>年度</th>
<td><%= f.select(:fyear_id, options_for_select(fyears,@fyed_id.to_i) ) %></td>
</tr>
<tr><th><%= required %>職名コード</th>
<td><%= f.text_field :code    ,:class=>'IMEoff' %></td>
</tr>
<tr><th><%= required %>職名</th>
<td><%= f.text_field :name    ,:class=>'name' %></td>
</tr>
<tr><th>備考</th>
<td><%= f.text_field :remarks ,:class=>'name' %></td>
</tr>
</table>
<div class="preserve"><%= f.submit '保存' %></div>
