<div class="gwsub sb04">
<%= render :partial => 'gwsub/admin/sb04/sb04_piece_header' %>
<div class="pieceBanner">
<%= render :partial => 'gwsub/admin/sb04/sb04_subfunction_select_menu' %>
<%= render :partial => 'gwsub/admin/sb04/sb04_level3menu_header' %>
<%= render :partial => 'gwsub/admin/sb04/sb04officialtitles/display_name' %>
</div>
<div class="pieceBody">
<%= render :partial => 'gwsub/admin/sb04/search_with_fyear' %>
  <% if @items.blank? -%>
    <%= show_notice -%>
  <% else %>
    <%= div_notice -%>
    <table class="index">
      <tr>
        <th></th>
        <th>年度</th>
        <th>職名コード</th>
        <th>職名</th>
        <th>備考</th>
      </tr>
      <% @items.each do |item|  %>
      <tr class="<%= cycle '', 'cycle' %>">
        <td><%= link_to '詳細' , "/gwsub/sb04/04/sb04officialtitles/#{item.id}?#{@qs}" %></td>
        <td><%= item.fyear_markjp %></td>
        <td><%= item.code %></td>
        <td><%= item.name %></td>
        <td><%= item.remarks %></td>
      </tr>
      <% end %>
    </table>
  <% end -%>
<%= paginate @items %>
</div>
</div>
