<div class="gwsub sb04">
<%= render :partial => 'gwsub/admin/sb04/sb04_piece_header' %>
<div class="pieceBanner">
<%= render :partial => 'gwsub/admin/sb04/sb04_subfunction_select_menu' %>
<%= render :partial => 'gwsub/admin/sb04/sb04_level3menu_header' %>
<%= render :partial => 'gwsub/admin/sb04/sb04officialtitles/display_name' %>
<%= render :partial => 'gwsub/admin/sb04/sb04_index_csv_confirm' %>
</div>
<div class="pieceBody">
<%= render :partial => 'gwsub/admin/sb04/search_check_view' %>
<%= div_notice %>
<% if @items.length == 0 %>
  <%= Gw.div_notice("表示する項目はありません。") -%>
<% else %>
  <table class="index">
    <tr>
      <th></th>
      <th>年度</th>
      <th>職名コード</th>
      <th>職名</th>
      <th>備考</th>
    </tr>
    <% @items.each do |item|  %>
    <tr class="<%= cycle '', 'cycle' %>">
      <td><%= link_to '詳細' , "#{@csv_base_url}/#{item.id}/show_csv?#{@qs}" %></td>
      <td><%= item.fyear_markjp %></td>
      <td><%= item.code %></td>
      <td><%= item.name %></td>
      <td><%= item.remarks %></td>
    </tr>
    <% end %>
  </table>
<% end %>
<%= paginate @items %>
</div>
</div>
