<%
_add_empty_row  = Proc.new do |count|
  empty_rows = []
  unless count <= 0
    for i in 0..count - 1
      empty_rows << Questionnaire::TemplateFieldOption.new
    end
  end
  empty_rows
end

_input = Proc.new do |index, name, width, imeoff|
  _name = f.object_name.to_s + "[_options][#{index}][#{name}]"
  value = ""
  if ass{params[f.object_name][:_options][index.to_s]}
    value = params[f.object_name][:_options][index.to_s][name]
  else
    eval("value = ass{item.options[#{index}].#{name}}") if value == "" && item.options && item.options[index]
  end

  style = ""
  if imeoff
    style = "width: #{width}px;" + "ime-mode:disabled;"
  else
    style = "width: #{width}px"
  end
  text_field_tag _name, value, :style => style
end

_hidden = Proc.new do |index, name|
  _name = f.object_name.to_s + "[_options][#{index}][#{name}]"
  value = ""
  if ass{params[f.object_name][:_options][index.to_s]}
    value = params[f.object_name][:_options][index.to_s][name]
  else
    eval("value = ass{item.options[#{index}].#{name}}") if value == "" && item.options && item.options[index]
  end

  hidden_field_tag _name, value
end


if ass{params[f.object_name][:_options]}
  temp_options = params[f.object_name][:_options]
else
  temp_options = item.options
end
options_size = temp_options.size

#empty row
options_new_forms = []
_new_is = true
if item.id
  _new_is = false
  if (leftover = 10 - options_size) > 0
    options_new_forms += _add_empty_row.call(leftover)
  end
end

#add row
_addrow_is = false
if params[:command] && params[:command]['addrow']
  _addrow_is = true
  options_new_forms += _add_empty_row.call(5)
end

%><table class="show">
  <tr>
    <th>オプション<%= required('※') %></th>
    <td>ラジオボタン・チェックボックス・セレクトボックス時の選択肢を入力してください。</td>
  </tr>
</table>
<table class="index">
  <tr>
    <th style="text-align: center; width:30px;"></th>
    <th style="text-align: center;">選択肢</th>
  </tr>
  <% i = -1
     for option in temp_options
       i = i + 1
  %>
    <tr>
      <td style="text-align: right;"><%= (i+1).to_s %><%= _hidden.call(i, 'id') %><%= _hidden.call(i, 'field_id') %><%= _hidden.call(i, 'value') %></td>
      <td style="text-align: left;">
        <span class="<%= 'fieldWithErrors' if @item.errors["オプション: ラベル(#{i+1}行目)"] %>"><%= _input.call(i, 'title', 900) %></span>
      </td>
    </tr>
  <% end %>
  <% if !_new_is || _addrow_is
       i = options_size - 1
       for new_form in options_new_forms
         i = i + 1
  %>
    <tr>
      <td style="text-align: right;"><%= (i+1).to_s %><%= _hidden.call(i, 'field_id') %><%= _hidden.call(i, 'value') %></td>
      <td style="text-align: left;"><%= _input.call(i, 'title', 900) %></td>
    </tr>
  <%   end
     end
  %>
  <tr>
    <td style="text-align: right;">...</td>
    <td><%= command_addrows %></td>
  </tr>
</table>
