<%= form_tag url_for(action: :select_approval_open), method: :post, id: 'listForm' do %>
<%= render 'index_submit' if @is_ev_operator %>

<table class="index">
  <tr>
    <% if @is_ev_operator %>
    <th class="check"></th>
    <% end %>
    <th></th>
    <th>承認</th>
    <th>公開</th>
    <th>開始日</th>
    <th>表示イメージ</th>
    <th>種別</th>
    <th><%= link_with_sort_keys '所属', {action: :index}, :gid %></th>
    <th><%= link_with_sort_keys '登録者', {action: :index}, :uid %></th>
    <th><%= link_with_sort_keys '登録日時', {action: :index}, :created_at %></th>
    <th><%= link_with_sort_keys '承認日時', {action: :index}, "#{@pattern}_approved_at" %></th>
    <th><%= link_with_sort_keys '公開日時', {action: :index}, "#{@pattern}_opened_at" %></th>
  </tr>
  <% @items.each do |item| %>
    <tr class="<%= cycle '', 'cycle' %>">
      <% if @is_ev_operator %>
      <td><%= check_box_tag "ids[]", "#{item.id}" %></td>
      <% end %>
      <td><%= link_to '詳細', {action: :show, id: item.id} %></td>
      <td><%= item.approved?(@pattern) ? "済" : "未" %></td>
      <td><%= item.opened?(@pattern) ? "済" : "未" %></td>
      <td><%=l item.st_at, format: :date_wday if item.st_at %></td>
      <td><%=hbr item.event_display(@pattern) %></td>
      <td><%= item.event_kind_str %></td>
      <td><%= item.gname %></td>
      <td><%= item.uname %></td>
      <td><%=l item.created_at, format: :date_wday_time if item.created_at %></td>
      <td>
        <%-
          approved_at = item.approved_at(@pattern)
          approval_user_group = [item.approval_user(@pattern), item.approval_group(@pattern)].reject(&:blank?).join('<br />')
        -%>
        <%=l approved_at, format: :date_wday_time if approved_at %>
        <%=raw '<br />' if approved_at && approval_user_group.present? %>
        <%=raw approval_user_group %>
      </td>
      <td>
        <%- opened_at = item.opened_at(@pattern) -%>
        <%=l opened_at, format: :date_wday_time if opened_at %>
      </td>
    </tr>
  <% end %>
</table>
<%= render 'index_submit' if @is_ev_operator %>
<% end %>

<%= paginate @items %>

<script type="text/javascript">
//<![CDATA[
function List_Form() {
}

List_Form.checkAll   = _List_Form_checkAll;

function _List_Form_checkAll(formId, itemId, value) {
  form = document.getElementById(formId);
  for (var i = 0; i < form.elements.length; i++) {
    pattern = new RegExp('^' + itemId + '\\[.*\\]');
    if(form.elements[i].name.match(pattern)) {
      form.elements[i].checked = value;
    }
  }
}
//]]>
</script>
