<table class="show">
  <tr>
    <th>未承認/承認済</th>
    <td><%= @item.approved?(@pattern) ? "承認済" : "未承認" %></td>
  </tr>
  <tr>
    <th>承認日時</th>
    <td>
      <% approved_at = @item.approved_at(@pattern) %>
      <%=l approved_at, format: :date_wday_time if approved_at %>
    </td>
  </tr>
  <tr>
    <th>承認者所属</th>
    <td><%= @item.approval_group(@pattern) %></td>
  </tr>
  <tr>
    <th>承認者</th>
    <td><%= @item.approval_user(@pattern) %></td>
  </tr>
</table>

<table class="show">
  <tr>
    <th>未公開/公開済</th>
    <td><%= @item.opened?(@pattern) ? "公開済" : "未公開" %></td>
  </tr>
  <tr>
    <th>公開日時</th>
    <td>
      <% opened_at = @item.opened_at(@pattern) %>
      <%=l opened_at, format: :date_wday_time if opened_at %>
    </td>
  </tr>
</table>

<table class="show">
  <tr>
    <th>表示種別</th>
    <td><%= @title_piece %></td>
  </tr>
  <tr>
    <th>タイトル</th>
    <td><%= @item.title %></td>
  </tr>
  <tr>
    <th>場所</th>
    <td><%= @item.place %></td>
  </tr>
  <tr>
    <th>所属</th>
    <td><%= @item.gname %></td>
  </tr>
  <tr>
    <th>登録者</th>
    <td><%= @item.uname %></td>
  </tr>
  <tr>
    <th>登録日時</th>
    <td><%=l @item.created_at, format: :date_wday_time if @item.created_at %></td>
  </tr>
  <tr>
    <th>開始日時</th>
    <td><%= @item.get_at_str(:st_at) %></td>
  </tr>
  <tr>
    <th>終了日時</th>
    <td><%= @item.get_at_str(:ed_at) %></td>
  </tr>
</table>

<table class="show">
  <tr>
    <th>開始日</th>
    <td><%=l @item.st_at, format: :date_wday if @item.st_at %></td>
  </tr>
  <tr>
    <th>表示イメージ</th>
    <td><%=hbr @item.event_display(@pattern) %></td>
  </tr>
</table>

<div class="btReturn">
  <%= link_to '一覧へ戻る', {action: :index} %>
</div>
