<%
@groups = Gwboard::Group.level3_all_hash  #日付一覧所属表示用
brk_code = ''
%>
<% @items.each do |item| %>
<%
flg = false
label_str = case params[:state]
when "GROUP"
  unless brk_code == item.section_name.to_s
    flg =true
    brk_code = item.section_name.to_s
  end
when "CATEGORY"
  unless brk_code == item.category1_id.to_s
    flg = true
    brk_code = item.category1_id.to_s
    item.category.try(:name)
  end
else # when "DATE"
  unless brk_code == item.latest_updated_at.strftime('%Y-%m-%d').to_s
    flg = true
    brk_code = item.latest_updated_at.strftime('%Y-%m-%d').to_s
  end
  item.latest_updated_at.strftime('%Y-%m-%d').to_s
end
lbl_syokuin = item.inpfld_013 if item.inpfld_024 == "家族"
lbl_syokuin = item.inpfld_025 unless item.inpfld_024 == "家族"
%>
<% if flg %>
  <p class="bgAsh"><%= label_str %></p>
<% end %>
<p class="leftPad1"><%= link_to gwbd_category_name(@groups,item.inpfld_023), "#{item.show_path}#{gwbbs_params_set}" %></p>
<p class="leftPad1">職：<%= link_to item.inpfld_012, "#{item.show_path}#{gwbbs_params_set}" %></p>
<p class="leftPad1">職員名：<%= link_to lbl_syokuin, "#{item.show_path}#{gwbbs_params_set}" %></p>
<p class="leftPad1">逝去者の区分：<%= link_to item.inpfld_024, "#{item.show_path}#{gwbbs_params_set}" %></p><br />
<% end %>
