<table class="index">
<%
@groups = Gwboard::Group.level3_all_hash  #日付一覧所属表示用
%>
<% @items.each do |item| %>
  <%
  flg = false
  label_str = case params[:state]
  when "GROUP"
    unless brk_code == item.section_name.to_s
      flg =true
      brk_code = item.section_name.to_s
    end
  when "CATEGORY"
    unless brk_code == item.category1_id.to_s
      flg = true
      brk_code = item.category1_id.to_s
      gwbd_category_name(@d_categories,item.category1_id)
    end
  else # when "DATE"
    unless brk_code == item.latest_updated_at.strftime('%Y-%m-%d').to_s
      flg = true
      brk_code = item.latest_updated_at.strftime('%Y-%m-%d').to_s
    end
    item.latest_updated_at.strftime('%Y-%m-%d').to_s
  end
  lbl_syokuin = item.inpfld_013 if item.inpfld_024 == "家族"
  lbl_syokuin = item.inpfld_025 unless item.inpfld_024 == "家族"
  %>
  <% if flg %>
  <tr class="subIndex">
    <th><%= label_str %></th>
    <th>職</th>
    <th>区分</th>
  </tr>
  <% end %>
  <tr class="article">
    <td class="docTitle leftLine"><%= link_to gwbd_category_name(@groups,item.inpfld_023), "#{item.show_path}#{gwbbs_params_set}" %></td>
    <td rowspan="2"><%= link_to item.inpfld_012, "#{item.show_path}#{gwbbs_params_set}" %></td>
    <td rowspan="2"><%= link_to item.inpfld_024, "#{item.show_path}#{gwbbs_params_set}" %></td>
  </tr>
  <tr>
    <td class="group leftLine"><span>職員名：<%= link_to lbl_syokuin, "#{item.show_path}#{gwbbs_params_set}" %></span></td>
  </tr>
<% end %>
</table>
