<%
str_seikyo_d = ''
str_seikyo_d = Date.strptime(@item.inpfld_001, "%Y-%m-%d").strftime('%Y年%m月%d日').to_s unless @item.inpfld_001.blank?

str_tuya_d = ''
str_tuya_d = Date.strptime(@item.inpfld_003, "%Y-%m-%d").strftime('%Y年%m月%d日').to_s unless @item.inpfld_003.blank?
str_tuya_t = ''
str_tuya_t += "#{@item.inpfld_018}～" unless @item.inpfld_018.blank?
str_tuya_t += "#{@item.inpfld_019}" unless @item.inpfld_018.blank?  unless @item.inpfld_019.blank?

str_kokub_d = ''
str_kokub_d = Date.strptime(@item.inpfld_006, "%Y-%m-%d").strftime('%Y年%m月%d日').to_s unless @item.inpfld_006.blank?
str_kokub_t = ''
str_kokub_t += "#{@item.inpfld_020}～" unless @item.inpfld_020.blank?
str_kokub_t += "#{@item.inpfld_021}" unless @item.inpfld_021.blank?  unless @item.inpfld_020.blank?
%>

<p class="bgYellow">告別式のお知らせ</p>
<p class="leftPad1"><%= @item.inpfld_012 %>
<% if @item.inpfld_024 == "家族" %>
<%= @item.inpfld_013 %> さんの
<%= @item.inpfld_014 %>
<%= @item.inpfld_015 %>　様が
<% else %>
<%= @item.inpfld_025 %> さんが
<% end %>
<%= str_seikyo_d %>に亡くなられました。
</p>

<% unless @item.inpfld_022 == '1' %>
<p class="bgYellow">通夜は、次のとおり執り行われます。</p>
<p class="bgAsh">1 日時</p><p class="leftPad1"><%= str_tuya_d %>　<%= str_tuya_t %></p>
<p class="bgAsh">2 場所</p><p class="leftPad1"><%= @item.inpfld_004 %></p>
<p class="bgAsh">電話</p><p class="leftPad1"><%= @item.inpfld_005 %></p>
<% end %>

<p class="bgYellow">告別式は、次のとおり執り行われます。</p>
<p class="bgAsh">1 日時</p><p class="leftPad1"><%= str_kokub_d %>　<%= str_kokub_t %></p>
<p class="bgAsh">2 場所</p><p class="leftPad1"><%= @item.inpfld_007 %></p>
<p class="bgAsh">電話</p><p class="leftPad1"><%= @item.inpfld_008 %></p>
<p class="bgAsh">3 喪主</p><p class="leftPad1"><%= @item.inpfld_009 %></p>
<p class="bgAsh">4 宗派</p><p class="leftPad1"><%= @item.inpfld_010 %></p>
<p class="bgAsh">5 備考</p><p class="leftPad1"><%= convert_for_mobile_body(@item.inpfld_016, params[:_jgw_session]) %></p>
<p class="bgAsh">6 地図</p><p class="leftPad1"><span class="textRed">お使いの端末では、地図の表示はできません。</span></p>
