<%= f.hidden_field :state -%>
<%= required_head %>
<table class="show">
  <tr>
    <th>公開<%= required %></th>
    <td><%= f.radio_buttons :published, Gw::PortalAdd.published_select %></td>
  </tr>
  <tr>
    <th>並び順</th>
    <td><%= f.text_field :sort_no, :size => 30, :class => 'IMEoff' %></td>
  </tr>
  <tr>
    <th>広告タイトル<%= required %></th>
    <td><%= f.text_field :title, :size => 80 %></td>
  </tr>
  <tr>
    <th>代替テキスト</th>
    <td><%= f.text_field :body, :size => 80 %></td>
  </tr>
  <tr>
    <th>画像ファイル<%= required if @item.new_record? %></th>
    <td><%= f.file_field :file, :size => 80 %></td>
  </tr>
  <tr>
    <th>画像サイズ</th>
    <td><%= f.radio_buttons :is_large, @item.is_large_select %></td>
  </tr>
  <tr>
    <th>掲載開始日<%= required %></th>
    <td><%= f.datepicker :publish_start_at %></td>
  </tr>
  <tr>
    <th>掲載終了日<%= required %></th>
    <td><%= f.datepicker :publish_end_at %></td>
  </tr>
  <tr>
    <th>掲載位置</th>
    <td><%= f.select :place, options_for_select(Gw::PortalAdd.place_select, @item.place) %></td>
  </tr>
</table>

<table class="show">
  <tr>
    <th>リンク種別<%= required %></th>
    <td><%= f.select :class_sso, options_for_select(Gw::EditLinkPiece.sso_select, @item.class_sso), :class => 'state' %></td>
  </tr>
  <tr>
    <th>リンク先URL<%= required %></th>
    <td><%= f.text_area :url, :rows => 3, :cols => 80, :class => 'IMEoff' %><br /></td>
  </tr>
  <tr>
    <th>アカウント項目名</th>
    <td><%= f.text_field :field_account, :size => 50, :class => 'IMEoff' %><%= required %>SSOを利用する場合は必須です。</td>
  </tr>
  <tr>
    <th>パスワード項目名</th>
    <td><%= f.text_field :field_pass, :size => 50, :class => 'IMEoff' %><%= required %>SSOを利用する場合は必須です。</td>
  </tr>
</table>

<div class="preserve">
<%= submit_for f, caption: '保存' %>
</div>

<script type="text/javascript">
//<![CDATA[
function radio_reset(mod){
  obj = mod.parentNode;
  var n = 0
  while( obj.tagName != 'TD' ){
    obj = obj.parentNode;
    n += 1;
    if( n > 3 ){
      return false;
    }
  }
  if( obj.flag == mod.value ){
    mod.checked = false;
    obj.flag = '';
  }else{
    obj.flag = mod.value;
  }
}
//]]>
</script>