<div class="piece schedulePiece index">
<div class="pieceHeader">
<%= render 'piece_header' -%>
</div>
<div class="pieceBody">
<div class="pieceBodyHeader">
<%= render 'menu' -%>
<div class="titleLine">
  <span class="title">主管課マスタ</span>
  <span class="linkSpace">
  </span><!--linkSpace-->
</div>
</div>
<div class="pieceBodyBody">
<%= render 'search' -%>

<% if @items.blank? -%>
  <%= show_notice %>
<% else -%>
  <table class="index">
    <tr>
      <th></th>
      <th><%= sort_link '主管課担当者 所属部', @sort_keys, '', "management_parent_gid", @qs %></th>
      <th><%= sort_link '主管課担当者 所属課', @sort_keys, '', "management_gid", @qs %></th>
      <th>主管課担当者</th>
      <th>承認権限</th>
      <th>範囲</th>
      <th><%= sort_link '部局', @sort_keys, '', "division_parent_gid", @qs %></th>
      <th><%= sort_link '所属', @sort_keys, '', "division_gid", @qs %></th>
      <th>作成日</th>
      <th>更新日</th>
    </tr>
    <% @items.each do |item| %>
    <tr class="<%= cycle '', 'cycle' %>">
      <td><%= link_to '詳細', {action: :show, id: item.id} %></td>
      <td><%= safe{item.r_dept1.name} %></td>
      <td><%= safe{item.r_sect1.name} %></td>
      <td><%= safe{item.r_user.name} %></td>
      <td><%= item.edit_auth == 1 ? '有' : "無" %></td>
      <td><%= item.range_class_id == 1 ? '部局' : "所属" %></td>
      <td><%= safe{item.r_dept2.name} %></td>
      <td><%= safe{item.r_sect2.name} %></td>
      <td><%= item.created_at.strftime('%Y-%m-%d %H:%M') %></td>
      <td><%= item.updated_at.strftime('%Y-%m-%d %H:%M') %></td>
    </tr>
    <% end %>
  </table>
  <% end %>
</div>
<%= paginate(@items) %>
</div>
</div>

<script type="text/javascript">
//<![CDATA[
var search_submit = function () {
  document.forms['search'].submit();
}
//]]>
</script>
