<div class="piece gwfaq">
<div class="pieceHeader">
<h2>質問管理</h2>
<% if @is_admin %>
<div class="btsHeadeRight">
<span class="btManager"><%= link_to "管理者", gwqa_makers_path %></span>
</div>
<% end %>
</div>
<div class="pieceBody">
<%=render :partial => 'header'%>
<table class="index">
  <tr class="items">
    <td class="gwffaqTitle">Q&amp;A形式</td>
    <td class="explanation">説明</td>
    <td class="manager">管理</td>
    <td class="update">更新日時</td>
  </tr>
  <% for item in @items %>
  <tr class="<%= cycle 'article', 'article cycle' %>">
    <td class="gwfaqTitle"><%= link_to item.title, item.docs_path %></td>
    <td class="explanation"><%= item.caption %></td>
    <td class="manager"><%= gwbd_admin_name(item.admingrps_json,item.adms_json, item.dsp_admin_name) %></td>
    <td class="update"><%= item.docslast_updated_at.strftime('%y-%m-%d %H:%M') unless item.docslast_updated_at.blank? %></td>
  </tr>
  <% end %>
</table>
<%= paginate @items %>
</div>
</div>
