<div class="bbsDocList circular">
<div class="pieceHeader">
<h2 class="pieceTitle"><%= @system_title %></h2>
<div class="btsHeadeRight"><%= raw(gwmonitor_settings) %></div>
</div><!--pieceHeader-->

<div class="pieceBody">
<%= render :partial => 'header' %>

<div class="docsInnerBox">
概要説明
<table class="bbsExpirydate">
 <tr>
  <td>　回答期限日時 : </td>
  <td class="space"></td>
  <td><%= @item.expiry_date.strftime('%Y-%m-%d %H:%M') unless @item.expiry_date.blank? %></td>
 </tr>
</table>

<div class="bbsCreatorInf">
<table>
<tr>
<td>作成 : &nbsp;</td>
<td><%= @item.createrdivision %></td>
<td class="space"></td>
<td><%= @item.creater %></td>
<td class="space"></td>
<td><%= @item.createdate %></td>
</tr>
</table>
</div>

<div class="docsInnerBox">
<div class="bbsUserform">
<table class="bbsUserformBody">
<tr><td class="docTitle"><span><%= hbr(@title.title) %></span></td></tr>
<tr><td class="spaceBottom"></td></tr>
<tr><td><%= raw(@title.caption) %></td></tr>
</table>
</div>
</div>

</div><!--docsInnerBox-->

<%= render :partial => 'board_config' %>

<%= form_for :item, :url => @item.update_path ,:html => {:method => :put , :multipart => true, :id => 'itemForm'} do |f| %>
  <%= f.error_messages %>
  <%= render :partial => @title.gwmonitor_form_name + 'form', :locals => {:f => f} %>
  <%
    lbl_name = '受取済みに戻す'
    lbl_name = '下書き' if @item.state == 'editing'
  %>
  <div class="submitters">
  <input id="<%= f.object_name %>_submit_public" name="commit" onclick="document.getElementById('<%= f.object_name %>_state').value='public'; if (confirm('所属として回答します。よろしいですか？')){return true;}else{return false;};" type="submit" value="回答する" />
  <input id="<%= f.object_name %>_submit_qNA" name="commit" onclick="document.getElementById('<%= f.object_name %>_state').value='qNA'; if (confirm('所属として回答します。よろしいですか？')){return true;}else{return false;};" type="submit" value="該当なし" />
  <input id="<%= f.object_name %>_submit_editing" name="commit" onclick="document.getElementById('<%= f.object_name %>_state').value='editing';" type="submit" value="<%=lbl_name%>" />
  <input id="<%= f.object_name %>_state" name="<%= f.object_name %>[state]" type="hidden" value="" />
  </div>
<% end %>


</div><!--pieceBody-->
</div><!--piece-->