<%
str_tab1_class = 'tab'
str_tab2_class = 'tab'
str_tab3_class = 'tab'
str_tab1_class += ' current' if params[:cond].blank?
str_tab1_class += ' current' if params[:cond] == 'unread'
str_tab2_class += ' current' if params[:cond] == 'already'
str_tab3_class += ' current' if params[:cond] == 'owner'

public_uri = "/gwmonitor/"
%>
<%#= render :partial => 'header_help' %>
<!--掲示板タブ-->
<div class="tabBox">
<table class="tabtable">
<tbody>
<tr>
<td class="spaceLeft"></td>
<td class="<%=str_tab1_class%>"><%=link_to "未回答一覧", "#{public_uri}" %></td>
<td class="spaceCenter"></td>
<td class="<%=str_tab2_class%>"><%=link_to "回答済一覧", "#{public_uri}?cond=already" %></td>
<td class="spaceCenter"></td>
<td class="<%=str_tab3_class%>"><%=link_to "作成一覧", "#{public_uri}builders" %></td>
<td class="spaceRight">
</td></tr>
</tbody>
</table>
</div><!--tabBox-->