<div class="bbsDocList circular setting">
<div class="pieceHeader">
<h2 class="pieceTitle">回覧板 削除設定</h2>
</div><!--pieceHeader-->
<!--カラム用タグ-->
<div class="pieceBanner">
</div>
<div class="pieceBody">
<div class="pieceBodyHeader">
  <div class="titleLine">
<span class="title">回覧板 削除設定</span>
</div>
</div>
<div class="pieceBodyBody">
<%= form_for :item, :url => gwcircular_itemdelete_path, :html => {:method=>:put , :multipart => true, :id => 'itemForm'} do |f| %>

<%= f.error_messages %>

<%= render :partial => 'form', :locals => {:f => f} %>

<div class="submitters">
<%=f.submit("保存")%>
</div>

<% end %>
</div><!--pieceBodyBody-->
<!--戻るボタン-->
<div class="btReturn">
  <%=link_to '管理者設定へ戻る', config_url(:config_settings_sakujo) %>
</div>
</div><!--pieceBody-->
</div>
