<div class="gwsub sb06">
<div class="pieceHeader">
<%= render 'gwsub/admin/sb06/sb0602_piece_header' %>
</div>

<div class="pieceBanner">
<%= render 'gwsub/admin/sb06/sb0602_subfunction_select_menu' %>
<%= render 'gwsub/admin/sb06/sb0602_subfunction_l2_menu' %>
</div>
<div class="pieceBody">

<table class ="index">
  <tr>
    <th>表示</th>
    <th >選択データ名</th>
    <th>項目名</th>
  </tr>
  <tr class="<%= cycle '', 'cycle' %>">
    <td><%= link_to "一覧", "/gwsub/sb06/sb06_assigned_conf_categories"%></td>
    <td>10分類</td>
    <td>分類表示順:分類コード:分類名:選択肢表示</td>
  </tr>
  <tr class="<%= cycle '', 'cycle' %>">
    <td><%= link_to "一覧", "/gwsub/sb06/sb06_assigned_conf_groups"%></td>
    <td>20申請書管理所属</td>
    <td>年度:管理所属コード:管理所属</td>
  </tr>
  <tr class="<%= cycle '', 'cycle' %>">
    <td><%= link_to "一覧", "/gwsub/sb06/sb06_assigned_conf_kinds"%></td>
    <td>30申請書種別</td>
    <td>年度:分類:種別コード:種別名称:メニュー表示名:宛先名称:タイトル:最大明細数:選択肢表示</td>
  </tr>
  <tr class="<%= cycle '', 'cycle' %>">
    <td><%= link_to "一覧", "/gwsub/sb06/sb06_assigned_conf_items"%></td>
    <td>40申請書項目</td>
    <td>年度:申請書種別:項目表示順:項目見出し:項目最大数:選択肢表示</td>
  </tr>
</table>
</div>
</div>
<%= paginate @items %>
