<% _path = '/_attachs/gwworkflow/'%>
<%
 if !@item.blank?
    mce_base_url = ''
  else
    mce_base_url = _path + sprintf("%06d", @item.title_id) + '/' + @item.name + "/" unless @item.name.blank?
  end
%>
<%= tool_tiny_mce(mce_base_url, {:leftbar_mode=>true}) %>
<%= raw(gw_js_include_full) %>
<%= raw(%Q(
<div class="notice">
	#{flash[:notice]}
</div>
)) unless flash[:notice].blank? %>
<table class="show bbsText">
	<tr>
		<th>タイトル<%= raw(required('※')) %> ( 記事件名は140文字以内で入力してください )</th>
	</tr>
	<tr>
		<td><%= f.text_area :title, :cols => '140', :rows=>"1", :style => 'width:100%; height:45px'%></td>
	</tr>
	<tr>
		<th>内容</th>
	</tr>
	<tr>
		<td class="mceEditor"><%= f.text_area :body, :style => 'width:100%' %></td>
	</tr>
</table>

<table class="show bbsText">
	<tr>
		<th>期限日<%= raw(required('※')) %></th>
		<td> <%= f.calendar_date_select :expired_at, :value => safe{@item.expired_at.strftime("%Y-%m-%d %H:%M")}, :time => true, :popup => "force" %> </td>
	</tr>
</table>

<%= gwworkflow_attachments_form(f, @item)%>

<%= render :partial => '/gwworkflow/share/custom_route_users_route_editor', :locals => {:f => f} %>

<%= hidden_field_tag("item[quat_id]", @quat_id, :id=>"quat_id") %>
<%= hidden_field_tag("item[id]", @item.id, :id=>"item_id") %>
<%= hidden_field_tag(:cond, params[:cond]) unless params[:cond].blank? %>

<script type="text/javascript">
	//<![CDATA[
	function chageDisp(obj, changeObjId) {
		var display = document.getElementById(changeObjId).style.display;
		if (display == '') {
			obj.innerHTML = '開く▼';
		} else if (display == 'none') {
			obj.innerHTML = '閉じる▲';
		}
		Element.toggle($(changeObjId));
	}

	//]]>
</script>

