<%
  s_cond_btn = ''
  s_cond = '?cond=owner'
  s_cond = '?cond=void' if params[:cond] == 'void'
  s_cond = '?cond=admin' if params[:cond] == 'admin'
  s_cond_btn = '?cond=admin' if params[:cond] == 'admin'

  #this_path = gwworkflow_menus_path
%>
<div class="bbsDocList workflow">
<%= render :partial => 'piece_header', :locals => {:hide_new_action => true} %>
<div class="pieceBody">
	
<% if @item.creater_id.to_i == Site.user.id && (@item.real_state == :accepted || @item.real_state == :rejected || @item.real_state == :remanded) %>
<div class="editingBox">
<div class="btDestroy"><%= link_to '削除', "/gwworkflow/destroy/#{@item.id}", :confirm => '削除をすると元に戻せません。削除しますか', :method => :delete %></div>
</div>
<% end %> 

<%= render :partial => 'detail', :locals => {:hide_new_action => true} %>

<% if @item.real_state == :remanded %>
<div class="submitters">
<div align="center">
<%= button_to '再申請', {:action => :reapply, :id => @item.id}, :method => :get %>
</div>
</div>
<% end %>  
<!--戻るボタン-->
<div class="btReturn">
  <%=link_to '一覧へ戻る', "/gwworkflow" %>
</div>

</div><!--pieceBody-->
</div><!--bbsDocList workflow-->

