<div class="bbsDocList circular">
<div class="pieceHeader"><h2 class="pieceTitle"><%=@system_title%></h2></div>

<div class="pieceBody">
<%= render :partial => 'header' %>

<%= render :partial => 'title_info' %>

<table class="show">
 <tr><td><%="現在#{@title.answer_count} 件の回答があります。" %></td></tr>
</table>

<table class="index">
<tr>
<th style="width: 70px;"></th>
<th>回答者</th>
<th style="width: 120px;">回答日時</th>
</tr>
<%for item in @items%>
 <tr class="<%= cycle 'article', 'article cycle' %>">
 <td style="width:70px;text-align: center;"><%=link_to('詳細確認' ,questionnaire_answer_path(@title, item))%></td>
 <td><%=link_to("#{item.target_user_name}", questionnaire_answer_path(@title, item))%></td>
 <td><%=item.latest_updated_at.strftime('%Y-%m-%d %H:%M').to_s unless item.latest_updated_at.blank?%></td>
 </tr>
<%end%>
</table>

<%= paginate @items %>
<%admin_param = '?cond=admin' if @is_sysadm%>
<div class="btReturn"><%=link_to('アンケート管理一覧へ戻る', "/questionnaire#{admin_param}") %></div>

</div>

</div>
