<div class="titleLine">
  <p class="title"><%= @st_date.strftime("%Y年%-m月") %>のクリック数</p>
</div>
<%= form_tag "" , {:method => :get , :multipart => true, :class => 'search' } do %>
  <%= select_date @st_date, :prefix => 'st_date', :use_month_numbers => true,
    :start_year => Gw::PortalAdDailyAccess.minimum(:accessed_at).try(:year) || Time.now.year,
    :end_year => Gw::PortalAdDailyAccess.maximum(:accessed_at).try(:year) || Time.now.year,
    :discard_day => true %>
  <%= submit_tag '表示' %>
<% end %>

<p>総計： <%= @accesses.map(&:smy).sum %></p>

<table class="index" style="width: 240px;">
  <tr>
    <th style="width: 100px; text-align: right;">日</th>
    <th style="width: 140px; text-align: right;">アクセス数</th>
  </tr>
  <% (1 .. @ed_date.day).each do |day| %>
    <tr>
      <td style="text-align: right;"><%= day %>日</td>
      <td style="text-align: right;"><%= @accesses_by_day[day].try(:smy).to_i %></td>
    </tr>
  <% end %>
</table>
