<div class="piece memo setting">

<%#= render :partial => '/gw/admin/memos/piece_header' %>
<%= render :partial => 'header_str' %>

<div class="pieceBody">
<div class="pieceBodyHeader">
<div class="titleLine">
<span class="title">リマインダー表示設定</span>
</div>
</div>
<div class="pieceBodyBody">
<%= raw(%Q(<div class="notice">#{flash[:notice]}</div>)) unless flash[:notice].blank? %>
<%@key = 'reminder'%>
<a name="<%=@key%>"></a>
<%=form_for :item, :url => "/gw/memo_settings/edit_#{@key}", :html => {:method=>:put, :multipart => true} do |f|%>
<table class="show">
<tr><th>既読</th><td>
<%=select_by_list(f, :read_memos_display, Gw.yaml_to_array_for_select('gw_memos_display_term', :for_select_by_list=>1),
    {}, @item[:read_memos_display].to_i)%>
</td></tr>
<tr><th>未読</th><td>
<%=select_by_list(f, :unread_memos_display, Gw.yaml_to_array_for_select('gw_memos_display_term', :for_select_by_list=>1),
        {}, @item[:unread_memos_display].to_i)%>
</td></tr>
</table>
    <%=raw(submit_for_update(f, :id=>"item_submit_#{@key}", :caption => '保存'))%>
  <%end%>
</div>

<!--戻るボタン-->
<div class="btReturn">
  <%=link_to '連絡メモ設定へ戻る', "/gw/memo_settings" %>
</div>

  
</div>
</div>